About:
  tabTitle: "관하여"
  releaseNotes: "릴리스 정보"
  newUpdate: "새로운 업데이트 확인"
  upToDate: "Atom is up to date!"
  checkingForUpdates: "Checking for updates..."
  checkUpdatesNow: "Check now"
  automaticDownloadUpdates: "업데이트 자동으로 받기"
  restartInstall: "설치 후 다시 시작"
  license: "라이선스"
  termsOfUse: "사용 약관"
  with: " 와 "
  by: " 을 담은 "
  andTheAwesome: "그리고 끝내주는 "
  atomCommunity: "Atom 커뮤니티"
