Context:
  "atom-workspace":
    "application:inspect": "요소 검사"
  "atom-text-editor":
    "color-picker:open": "색상 선택기"
    "minimap:toggle": "미니맵 토글"
  "atom-text-editor, .overlayer":
    "core:undo": "실행 취소"
    "core:redo": "다시 실행"
    "core:cut": "오려두기"
    "core:copy": "복사"
    "core:paste": "붙이기"
    "core:delete": "삭제"
    "core:select-all": "모두 선택"
    "pane:split-up-and-copy-active-item": "위로 분할"
    "pane:split-down-and-copy-active-item": "아래로 분할"
    "pane:split-left-and-copy-active-item": "왼쪽으로 분할"
    "pane:split-right-and-copy-active-item": "오른쪽으로 분할"
    "pane:close": "분할 창 닫기"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "위로 분할"
    "pane:split-down-and-copy-active-item": "아래로 분할"
    "pane:split-left-and-copy-active-item": "왼쪽으로 분할"
    "pane:split-right-and-copy-active-item": "오른쪽으로 분할"
    "pane:close": "분할 창 닫기"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "인코딩 변경"
    "spell-check:correct-misspelling": "맞춤법 검사"
    "symbols-view:go-to-declaration": "정의로 이동"
  ".overlayer":
    "grammar-selector:show": "문법 변경"
  ".image-view":
    "image-view:reload": "이미지 새로고침"
  ".tab":
    "tabs:close-tab": "탭 닫기"
    "tabs:close-other-tabs": "다른 탭 닫기"
    "tabs:close-tabs-to-right": "오른쪽 탭 닫기"
    "tabs:close-tabs-to-left": "왼쪽 탭 닫기"
    "tabs:close-saved-tabs": "저장된 탭 닫기"
    "tabs:close-all-tabs": "모든 탭 닫기"
    "tabs:split-up": "위로 분할"
    "tabs:split-down": "아래로 분할"
    "tabs:split-left": "왼쪽으로 분할"
    "tabs:split-right": "오른쪽으로 분할"
  ".tab.texteditor":
    "tabs:open-in-new-window": "새 창에서 열기"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "임시 탭 유지"
  ".tab-bar":
    "pane:reopen-closed-item": "닫힌 탭 다시 열기"
  ".tree-view .full-menu":
    "tree-view:add-file": "새로운 파일"
    "tree-view:add-folder": "새로운 폴더"
    "tree-view:move": "이름 변경"
    "tree-view:duplicate": "복제"
    "tree-view:remove": "삭제"
    "tree-view:copy": "복사"
    "tree-view:cut": "오려두기"
    "tree-view:paste": "붙이기"
    "tree-view:open-selected-entry-up": "위로 분할"
    "tree-view:open-selected-entry-down": "아래로 분할"
    "tree-view:open-selected-entry-left": "왼쪽으로 분할"
    "tree-view:open-selected-entry-right": "오른쪽으로 분할"
    "application:add-project-folder": "프로젝트 폴더 추가"
    "tree-view:copy-full-path": "전체 경로 복사"
    "tree-view:copy-project-path": "프로젝트 경로 복사"
    "tree-view:open-in-new-window": "새 창에서 열기"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "위로 분할"
    "tree-view:open-selected-entry-down": "아래로 분할"
    "tree-view:open-selected-entry-left": "왼쪽으로 분할"
    "tree-view:open-selected-entry-right": "오른쪽으로 분할"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "새로운 파일"
    "tree-view:add-folder": "새로운 폴더"
    "tree-view:move": "이름 변경"
    "tree-view:duplicate": "복제"
    "tree-view:remove": "삭제"
    "tree-view:copy": "복사"
    "tree-view:cut": "오려두기"
    "tree-view:paste": "붙이기"
    "tree-view:open-selected-entry-up": "위로 분할"
    "tree-view:open-selected-entry-down": "아래로 분할"
    "tree-view:open-selected-entry-left": "왼쪽으로 분할"
    "tree-view:open-selected-entry-right": "오른쪽으로 분할"
    "application:add-project-folder": "프로젝트 폴더 추가"
    "tree-view:remove-project-folder": "프로젝트 폴더 삭제"
    "tree-view:copy-full-path": "전체 경로 복사"
    "tree-view:copy-project-path": "프로젝트 경로 복사"
    "tree-view:open-in-new-window": "새 창에서 열기"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Finder에서 열기"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "탐색기에서 열기"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "파일 관리자에서 열기"
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "이 디렉토리에서 검색"
  ".tree-view .multi-select":
    "tree-view:remove": "삭제"
    "tree-view:copy": "복사"
    "tree-view:cut": "오려두기"
    "tree-view:paste": "붙이기"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "트리 뷰에서 보이기"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "이름 변경"
    "tree-view:reveal-active-file": "트리 뷰에서 보이기"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Finder에서 보이기"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "탐색기에서 보이기"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "파일 관리자에서 보이기"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Finder에서 보이기"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "탐색기에서 보이기"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "파일 관리자에서 보이기"
