About:
  tabTitle: "À propos"
  releaseNotes: "Notes de version"
  newUpdate: "Nouvelle version"
  upToDate: "Atom est à jour !"
  checkingForUpdates: "Recherche de mises à jour..."
  checkUpdatesNow: "Vérifier maintenant"
  automaticDownloadUpdates: "Téléchargement automatique des mises à jour"
  restartInstall: "Redémarrer et installer"
  license: "Licence"
  termsOfUse: "Conditions d'utilisation"
  with: " avec "
  by: " sur "
  andTheAwesome: "Et l'impressionnante "
  atomCommunity: "Communauté Atom"
