Context:
  "atom-workspace":
    "application:inspect": "Inspecter l'élément"
  "atom-text-editor":
    "color-picker:open": "Sélecteur de couleurs"
    "minimap:toggle": "Activer la Minimap"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Annuler"
    "core:redo": "Refaire"
    "core:cut": "Couper"
    "core:copy": "Copier"
    "core:paste": "Coller"
    "core:delete": "Supprimer"
    "core:select-all": "Sélectionner tout"
    "pane:split-up-and-copy-active-item": "Dédoubler en haut"
    "pane:split-down-and-copy-active-item": "Dédoubler en bas"
    "pane:split-left-and-copy-active-item": "Dédoubler à gauche"
    "pane:split-right-and-copy-active-item": "Dédoubler à droite"
    "pane:close": "Fermer le panneau"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Dédoubler en haut"
    "pane:split-down-and-copy-active-item": "Dédoubler en bas"
    "pane:split-left-and-copy-active-item": "Dédoubler à gauche"
    "pane:split-right-and-copy-active-item": "Dédoubler à droite"
    "pane:close": "Fermer le panneau"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Changer l'encodage"
    "spell-check:correct-misspelling": "Corriger l'orthographe"
    "symbols-view:go-to-declaration": "Aller à la déclaration"
  ".overlayer":
    "grammar-selector:show": "Changer le langage"
  ".image-view":
    "image-view:reload": "Recharger l'image"
  ".tab":
    "tabs:close-tab": "Fermer l'onglet"
    "tabs:close-other-tabs": "Fermer les autres onglets"
    "tabs:close-tabs-to-right": "Fermer les onglets de droite"
    "tabs:close-tabs-to-left": "Fermer les onglets de gauche"
    "tabs:close-saved-tabs": "Fermer les fichiers enregistrés"
    "tabs:close-all-tabs": "Fermer tous les onglets"
    "tabs:split-up": "Dédoubler en haut"
    "tabs:split-down": "Dédoubler en bas"
    "tabs:split-left": "Dédoubler à gauche"
    "tabs:split-right": "Dédoubler à droite"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Ouvrir dans une nouvelle fenêtre"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Garder les onglets provisoires"
  ".tab-bar":
    "pane:reopen-closed-item": "Rouvrir les onglets fermés"
  ".tree-view .full-menu":
    "tree-view:add-file": "Nouveau fichier"
    "tree-view:add-folder": "Nouveau dossier"
    "tree-view:move": "Renommer"
    "tree-view:duplicate": "Dupliquer"
    "tree-view:remove": "Supprimer"
    "tree-view:copy": "Copier"
    "tree-view:cut": "Couper"
    "tree-view:paste": "Coller"
#    "tree-view:open-selected-entry-up": "Dédoubler en haut"
#    "tree-view:open-selected-entry-down": "Dédoubler en bas"
#    "tree-view:open-selected-entry-left": "Dédoubler à gauche"
#    "tree-view:open-selected-entry-right": "Dédoubler à droite"
    "application:add-project-folder": "Ajouter un dossier au projet"
    "tree-view:copy-full-path": "Copier le chemin complet"
    "tree-view:copy-project-path": "Copier le chemin du projet"
    "tree-view:open-in-new-window": "Ouvrir dans une nouvelle fenêtre"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Dédoubler en haut"
    "tree-view:open-selected-entry-down": "Dédoubler en bas"
    "tree-view:open-selected-entry-left": "Dédoubler à gauche"
    "tree-view:open-selected-entry-right": "Dédoubler à droite"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Nouveau fichier"
    "tree-view:add-folder": "Nouveau dossier"
    "tree-view:move": "Renommer"
    "tree-view:duplicate": "Dupliquer"
    "tree-view:remove": "Supprimer"
    "tree-view:copy": "Copier"
    "tree-view:cut": "Couper"
    "tree-view:paste": "Coller"
#    "tree-view:open-selected-entry-up": "Dédoubler en haut"
#    "tree-view:open-selected-entry-down": "Dédoubler en bas"
#    "tree-view:open-selected-entry-left": "Dédoubler à gauche"
#    "tree-view:open-selected-entry-right": "Dédoubler à droite"
    "application:add-project-folder": "Ajouter un dossier au projet"
    "tree-view:remove-project-folder": "Retirer un dossier du projet"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Copier le chemin complet"
    "tree-view:copy-project-path": "Copier le chemin du projet"
    "tree-view:open-in-new-window": "Ouvrir dans une nouvelle fenêtre"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Afficher dans le Finder"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Afficher dans l'Explorateur"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Afficher dans le gestionnaire de fichiers"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Chercher dans le dossier"
  ".tree-view .multi-select":
    "tree-view:remove": "Supprimer"
    "tree-view:copy": "Copier"
    "tree-view:cut": "Couper"
    "tree-view:paste": "Coller"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Montrer dans la vue arborescente"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Renommer"
    "tree-view:reveal-active-file": "Montrer dans la vue arborescente"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Afficher dans le Finder"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Afficher dans l'Explorateur"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Afficher dans le gestionnaire de fichiers"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Afficher dans le Finder"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Afficher dans l'Explorateur"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Afficher dans le gestionnaire de fichiers"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Chercher dans le dossier"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
