Welcome:
  tabTitle: "Bienvenue"
  subtitle:
    text1: "Un éditeur de texte ultra-configurable pour le 21"
    superscript: "e"
    text2: " siècle"
  help:
    forHelpVisit: "Besoin d'aide ? Visitez"
    atomDocs:
      text1: "les "
      link: "Atom docs"
      text2: " comportant des guides et les références de l'API."
      _template: "${text1}<a>${link}</a>${text2}"
    atomForum:
      text1: "Le forum d'Atom sur "
      link: "discuss.atom.io"
      text2: ""   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    atomOrg:
      text1: "Le "
      link: "Atom org"
      text2: ". C'est là que se trouvent tous les packages Atom créés sur GitHub."
      _template: "${text1}<a>${link}</a>${text2}"
  showWelcomeGuide: "Afficher le guide de bienvenue à l'ouverture d'Atom"
