About:
  tabTitle: "Pemerihalan"
  releaseNotes: "Catatan Keluaran Terkini"
  newUpdate: "Kemas Kini Baharu"
  upToDate: "Atom sudah dikemas kini!"
  checkingForUpdates: "Mencari kemas kini..."
  checkUpdatesNow: "Cari kemas kini"
  automaticDownloadUpdates: "Muat turun kemas kini secara automatik"
  restartInstall: "Tutup buka balik kemudian pasang"
  license: "Lesen"
  termsOfUse: "Terma Penggunaan"
  with: " dengan "
  by: " by "
  andTheAwesome: "And the awesome "
  atomCommunity: "Atom Community"
