About:
  tabTitle: "Про Atom"
  releaseNotes: "Примітки до релізу"
  newUpdate: "Наявні оновлення"
  upToDate: "Atom є в актуальному стані!"
  checkingForUpdates: "Перевіряю наявність оновлень..."
  checkUpdatesNow: "Перевірити зараз"
  automaticDownloadUpdates: "Авто-завантаження оновлень"
  restartInstall: "Перезавантажити та встановити"
  license: "Ліцензія"
  termsOfUse: "Умови використання"
  with: " з "
  by: " "
  andTheAwesome: "і чудовою "
  atomCommunity: "спільнотою Atom"
