Context:
  "atom-workspace":
    "application:inspect": "Інспектор елементу"
  "atom-text-editor":
    "color-picker:open": "Вибрати колір"
    "minimap:toggle": "Міні-мапа"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Скасувати"
    "core:redo": "Повторити"
    "core:cut": "Вирізати"
    "core:copy": "Копіювати"
    "core:paste": "Вставити"
    "core:delete": "Видалити"
    "core:select-all": "Виділити все"
    "pane:split-up-and-copy-active-item": "Розділити панель зверху"
    "pane:split-down-and-copy-active-item": "Розділити панель знизу"
    "pane:split-left-and-copy-active-item": "Розділити панель ліворуч"
    "pane:split-right-and-copy-active-item": "Розділити панель праворуч"
    "pane:close": "Закрити панель"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Розділити панель зверху"
    "pane:split-down-and-copy-active-item": "Розділити панель знизу"
    "pane:split-left-and-copy-active-item": "Розділити панель ліворуч"
    "pane:split-right-and-copy-active-item": "Розділити панель праворуч"
    "pane:close": "Закрити панель"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Змінити кодування"
    "spell-check:correct-misspelling": "Скоригувати правопис"
    "symbols-view:go-to-declaration": "Перейти до оголошення"
  ".overlayer":
    "grammar-selector:show": "Змінити синтаксис"
  ".image-view":
    "image-view:reload": "Перезавантажити зображення"
  ".tab":
    "tabs:close-tab": "Закрити вкладку"
    "tabs:close-other-tabs": "Закрити інші вкладки"
    "tabs:close-tabs-to-right": "Закрити вкладки праворуч"
    "tabs:close-tabs-to-left": "Закрити вкладки ліворуч"
    "tabs:close-saved-tabs": "Закрити збережені вкладки"
    "tabs:close-all-tabs": "Закрити всі вкладки"
    "tabs:split-up": "Розділити вкладку зверху"
    "tabs:split-down": "Розділити вкладку знизу"
    "tabs:split-left": "Розділити вкладку ліворуч"
    "tabs:split-right": "Розділити вкладку праворуч"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Відкрити у новому вікні"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Закріпити вкладку"
  ".tab-bar":
    "pane:reopen-closed-item": "Відкрити закриті вкладки"
  ".tree-view .full-menu":
    "tree-view:add-file": "Новий файл"
    "tree-view:add-folder": "Нова тека"
    "tree-view:move": "Перейменувати"
    "tree-view:duplicate": "Дублювати"
    "tree-view:remove": "Видалити"
    "tree-view:copy": "Копіювати"
    "tree-view:cut": "Вирізати"
    "tree-view:paste": "Вставити"
#    "tree-view:open-selected-entry-up": "Відкрити угорі"
#    "tree-view:open-selected-entry-down": "Відкрити знизу"
#    "tree-view:open-selected-entry-left": "Відкрити ліворуч"
#    "tree-view:open-selected-entry-right": "Відкрити праворуч"
    "application:add-project-folder": "Додати теку до проекту"
    "tree-view:copy-full-path": "Копіювати повний шлях"
    "tree-view:copy-project-path": "Копіювати шлях проекту"
    "tree-view:open-in-new-window": "Відкрити у новому вікні"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Відкрити угорі"
    "tree-view:open-selected-entry-down": "Відкрити знизу"
    "tree-view:open-selected-entry-left": "Відкрити ліворуч"
    "tree-view:open-selected-entry-right": "Відкрити праворуч"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Новий файл"
    "tree-view:add-folder": "Нова тека"
    "tree-view:move": "Перейменувати"
    "tree-view:duplicate": "Дублювати"
    "tree-view:remove": "Видалити"
    "tree-view:copy": "Копіювати"
    "tree-view:cut": "Вирізати"
    "tree-view:paste": "Вставити"
#    "tree-view:open-selected-entry-up": "Відкрити угорі"
#    "tree-view:open-selected-entry-down": "Відкрити знизу"
#    "tree-view:open-selected-entry-left": "Відкрити ліворуч"
#    "tree-view:open-selected-entry-right": "Відкрити праворуч"
    "application:add-project-folder": "Додати теку до проекту"
    "tree-view:remove-project-folder": "Видалити теку з проекту"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Копіювати повний шлях"
    "tree-view:copy-project-path": "Копіювати шлях проекту"
    "tree-view:open-in-new-window": "Відкрити у новому вікні"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Показати у Finder"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Показати у Провіднику"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Показати у Менеджері файлів"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Пошук у цій теці"
  ".tree-view .multi-select":
    "tree-view:remove": "Видалити"
    "tree-view:copy": "Копіювати"
    "tree-view:cut": "Вирізати"
    "tree-view:paste": "Вставити"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Показати у дереві файлів"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Перейменувати"
    "tree-view:reveal-active-file": "Показати у дереві файлів"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показати у Finder"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показати у Провіднику"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показати у Менеджері файлів"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показати у Finder"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показати у Провіднику"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показати у Менеджері файлів"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Пошук у цій теці"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
