Settings:
  "tab-title": "Параметри"
  menu: [
    {
      _label: "Core"
      value: "Основні"
    }
    {
      _label: "Editor"
      value: "Редактор"
    }
    {
      _label: "System"
      value: "Система"
    }
    {
      _label: "Keybindings"
      value: "Гарячі клавіші"
    }
    {
      _label: "Packages"
      value: "Пакунки"
    }
    {
      _label: "Themes"
      value: "Теми"
    }
    {
      _label: "Updates"
      value: "Оновлення"
    }
    {
      _label: "Install"
      value: "Встановлення пакунків"
    }
  ]
  "btn-open-config-folder": "До теки параметрів"
  sectionHeadings: [
    {_label: "Core Settings", value: "Основні параметри"}
    {_label: "Editor Settings", value: "Параметри редактора"}
    {_label: "System Settings", value: "Системні параметри"}
    {_label: "Keybindings", value: "Гарячі клавіші"}
    {_label: "Installed Packages", value: "Встановлені пакунки"}
    {_label: "Choose a Theme", value: "Вибір теми"}
    {_label: "Installed Themes", value: "Встановлені теми"}
    {_label: "Install Packages", value: "Встановити пакунок"}
    {_label: "Featured Packages", value: "Найкращі пакунки"}
    {_label: "Install Themes", value: "Встановити теми"}
    {_label: "Featured Themes", value: "Найкращі теми"}
    {_label: "Available Updates", value: "Доступні оновлення"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Приховані"}
    {_label: "Community Packages", value: "Пакунки спільноти"}
    {_label: "Core Packages", value: "Основні пакунки"}
    {_label: "Development Packages", value: "Пакунки у розробці"}
    {_label: "Git Packages", value: "Пакунки з Git"}
    {_label: "Community Themes", value: "Теми спільноти"}
    {_label: "Core Themes", value: "Основні теми"}
    {_label: "Development Themes", value: "Теми у розробці"}
    {_label: "Git Themes", value: "Теми з Git"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Це основні параметри Atom, що не впливають на роботу редактора тексту.
              Окремі пакунки можуть мати власні параметри, змінити їх можна на вкладці
              <a class="link packages-open">Список пакетів</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Ці параметри повʼязані з редагуванням тексту. Деякі з них можуть бути
              перевизначені для кожної мови. Перевірте мовні параметри пакунку,
              клацнувши на його вкладці у <a class="link packages-open">Список пакетів</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Відкривати клацнувши"
        desc: "Дозволити відкривати файли клацнувши по ньому в дереві проекту"
      }
      {
        _id: 'core.audioBeep'
        title: "Звуковий сигнал"
        desc: "Подавати звуковий сигнал, коли певні дії не можуть бути виконані або немає результатів."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Автоматичне оновлення"
        desc: "Автоматично оновлювати Atom, коли доступна нова версія."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Автоматично ховати меню"
        desc: "Автоматично приховувати панель меню та перемикати її, натискаючи Alt. Це підтримується лише у Windows &amp; Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Закривати вкладки видалених файлів"
        desc: "Закрийте відповідні вкладки, коли файл буде видалений за межами Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Закривати пусті вікна"
        desc: "Коли вікно без відкритих вкладок або панелей, то буде виконана команда 'Закрити вкладку', це закриє вікно."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Закривати порожні панелі"
        desc: "Коли остання вкладка панелі буде закрита, то панель закриється."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Виключати шляхи ігнорування VCS"
        desc: "Файли та каталоги, ігноровані системою VCS поточного проекту, будуть ігноруватися деякими пакунками, такими як нечіткий пошук, а також пошук і заміна.  Наприклад, проекти, які використовують Git, мають ці шляхи, визначені у файлі .gitignore.  Індивідуальні пакети можуть мати додаткові налаштування конфігурації для ігнорування файлів і тек VCS."
      }
      {
        _id: 'core.fileEncoding'
        title: "Кодування файлу"
        desc: "Кодування за замовчуванням для читання та запису файлів."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "Спостереження за файловою системою"
        desc: "Виберіть базову реалізацію, яка використовується для спостереження за змінами файлової системи. Емуляція змін не пропустить жодних подій, спричинених програмами, відмінними від Atom, але може запобігти збоям або зависанням."
        select:
          native: "Власним API операційної системи"
          atom: "Емулюється подіями Atom"
      }
      {
        _id: 'core.followSymlinks'
        title: "Слідувати за Symlinks"
        desc: "Слідувати за символічними посиланнями при пошуку файлів і при відкритті файлів з нечіткого пошуку."
      }
      {
        _id: 'core.ignoredNames'
        title: "Ігнорувати імена"
        desc: "Перелік <code>глобальних шаблонів імен</code>. Файли та каталоги, що відповідають цим шаблонам, будуть ігноруватися деякими пакунками, такими як нечіткий пошук і дерево файлів. Індивідуальні пакети можуть мати додаткові налаштування для ігнорування імен."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Відкривати порожній редактор при старті"
        desc: "Автоматично відкривати порожній редактор під час запуску Atom."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Пакунки з вимкненими гарячими клавішами"
      }
      {
        _id: 'core.projectHome'
        title: "Домівка проектів"
        desc: "Каталог, в якому передбачається розташування проектів. Пакунки, створені за допомогою \"Генератора Пакунків\", зберігаються тут за замовчуванням."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Кількість проектів в списку недавно закритих"
        desc: "Скільки останніх проектів буде показано в меню Відрити заново проект."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Відновити попередні вікна при старті"
        desc: "Якщо прапорець встановлений, відновлюється останнім стан всіх вікон Atom при запуску, або з командного рядка <code>atom</code>; в іншому випадку завантажується порожнє середовище."
        select:
          no: "ні"
          yes: "так"
          always: "завжди"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Надіслати телеметрію до Atom Team"
        desc: "Дозволити надсилати статистику використання та звіти про помилки до Atom Team для покращення продукту."
        select:
          limited: "Дозволити обмежену анонімну статистику використання, звітування про помилки та аварійне завершення"
          no: "Не надсилати дані телеметрії"
          undecided: "Не визначено (Atom запитає знову, при наступному запуску)"
      }
      {
        _id: 'core.titleBar'
        title: "Заголовок"
        desc: "Експериментально: <code>довільний</code> рядок заголовка, що адаптується до кольорів теми. Вибравши <code>довільний-вставка</code>, ви додасте трохи більше відступу. Заголовок може бути повністю <code>прихований</code>.<br>Примітка: Перемикання Заголовка на довільний або прихований порушить деякі функції.<br>Для цього параметра потрібний перезапуск Atom."
        select:
          native: "як є"
          custom: "довільний"
          "custom-inset": "довільний-вставка"
          hidden: "прихований"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Використовувати параметри проксі під час виклику APM"
        desc: "Використовуйте встановлені параметри проксі під час виклику <code>apm</code> інструментів командного рядка."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Закріплені версії пакунків"
        desc: "Список встановлених пакунків, які автоматично не оновлюються."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Використовувати нестандартний Заголовок"
        desc: "Використовуйте нестандартний Заголовок, що відповідає обраній темі.<br>Примітка: В даний час це не включає значок проксі-сервера.<br>Для цього параметра потрібний перезапуск Atom."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Попередити про надто великий файл"
        desc: "Попереджати, перш ніж відкривати файли, що перевищують встановлений ліміт в мегабайтах."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Атомні мʼякі відступи"
        desc: "Пропускати усю довжину табів, що передують, при рухові курсора."
      }
      {
        _id: 'editor.autoIndent'
        title: "Автовідступ"
        desc: "Автоматичний відступ курсора при вставці нового рядка."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Автовідступ при вставці"
        desc: "Автоматичний відступ вставленого тексту на основі відступу попереднього рядка."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Резервувати перед зберіганням"
        desc: "Створювати резервну копію перед зберіганням"
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Підтверджувати 'Вінок' HEAD ревізії"
        desc: "Показувати діалогове вікно підтвердження при 'Вінку' (Checkout) HEAD ревізії і відкидання змін до поточного файлу з моменту останнього фіксації."
      }
      {
        _id: 'editor.fontFamily'
        title: "Шрифт редактора"
        desc: "Імʼя шрифту, що використовується у редакторі тексту."
      }
      {
        _id: 'editor.fontSize'
        title: "Розмір шрифту"
        desc: "Висота шрифту в пікселях у редакторі тексту."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Видимість Cr"
        desc: "Символ, який використовується для показу повернення каретки
              (для закінчень рядків у стилі Microsoft), якщо параметр <code>Показати невидимі</code> увімкнуто"
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Видимість Eol"
        desc: "Символ, що використовується для показу нового рядка (\\n), якщо
               параметр <code>Показати невидимі</code> увімкнуто."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Видимість Space"
        desc: "Символ, який використовується для показу провідних та кінцевих символів пробілу,
               якщо параметр <code>Показати невидимі</code> увімкнуто."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Видимість Tab"
        desc: "Символ, який використовується для показу відступу (\\t),
              якщо параметр <code>Показати невидимі</code> увімкнуто."
      }
      {
        _id: 'editor.lineHeight'
        title: "Висота рядка"
        desc: "Висота рядків редактора, в залежності від параметрів шрифту."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Максимальна довжина рядка на екрані"
        desc: "Визначає максимальну ширину вікна редактора, перш ніж буде застосовано мʼякий переносом, у кількості символів."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Символи, які не є словом"
        desc: "Рядок символів, які не містять слова, для визначення меж слів."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Бажана довжина рядка"
        desc: "Визначає довжину рядка, яка використовується при перенесені тексту
              з включеним параметром <code>Мʼякий перенос при перевищені довжини рядка</code>,
              в кількості символів."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Прокрутка до кінця"
        desc: "Дозволити редактору прокрутку до кінця останнього рядка."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Чутливість прокрутки"
        desc: "Визначає швидкість прокручування тексту під час використання миші або трекпада."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Показати курсор на виділеному"
        desc: "Показувати курсор при виділені тексту."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Показати підказки для відступів"
        desc: "Показувати індикатори відступів в редакторі."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Показати невидимі"
        desc: "Візуалізація наповнювачів для невидимих символів (до прикладу: Cr, tabs, spaces, Eol)."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Показати номери рядків"
        desc: "Показувати номери рядків у редакторі."
      }
      {
        _id: 'editor.softTabs'
        title: "Мʼякі переноси"
        desc: "Якщо <code>Тип відступу</code> встановлено на \"авто\"
              і автоматичне визначення типу відступу з вмісту буфера не вдалося,
              то параметр визначає, чи буде вставлений ​​мʼякий перенос чи жорсткий
              при натисканні клавіші Tab."
      }
      {
        _id: 'editor.softWrap'
        title: "Мʼякий перенос"
        desc: "Переносити рядки, що перевищують ширину вікна. якщо
               <code>Мʼякий перенос при перевищенні довжини рядка</code> увімкнуто, це
               перенесе надлишкові символи, відповідно до параметра <code>Бажана довжина рядка</code>."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Мʼякий перенос при перевищенні довжини рядка"
        desc: "Замість того, щоб переносити рядки по ширині вікна, рядки будуть переноситися за
              кількістю символів за значенням, визначеним у <code>Бажана довжина рядка</code>.
              Це буде діяти, якщо параметр мʼякого переносу діє глобально або для поточної мови.
              <strong>Примітка:</strong> Якщо ви хочете приховати посібник з перенесення (вертикальний ряд),
              то можете вимкнути пакунок <code>посібник з перенесення</code>."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Додатковий відступ Мʼякого переносу"
        desc: "Якщо увімкнуто мʼякі переноси, визначається довжина додаткових відступів,
              застосованих до перенесених рядків, у кількості символів."
      }
      {
        _id: 'editor.tabLength'
        title: "Довжина відступу (Tab)"
        desc: "Кількість пробілів, що використовуються для відступу."
      }
      {
        _id: 'editor.tabType'
        title: "Тип відступу (Tab)"
        desc: "Визначає характер відступу при натисканні клавіші Tab. Можливі
               значення: \"авто\", \"мʼякий\" та \"жорсткий\". Якщо встановлено \"мʼякий\" або
               \"жорсткий\", будуть використовуватися мʼякі відступи (прогалини) або жорсткі (клавіша Tab).
               Якщо встановлено \"авто\", редактор буде автоматично визначати тип відступів по вмісту буфера обміну
               (він використовує перший відступ на рядку без коментарів), або використовує значення параметру \"Мʼякі відступи\",
               якщо не вдалося визначити автоматично."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Інтервал групування скасувань"
        desc: "Інтервал часу в мілісекундах, в якому операції редагування тексту будуть згруповані в історії скасування."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Змінювати шрифт Ctrl+Scrolling"
        desc: "Змінюйте розмір шрифту редактора при натисканні клавіші Ctrl і прокручуванням колеса миші вгору/вниз."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Зареєструвати, як обробника файлів"
        desc: "Показувати Atom в \"Відкрити за допомогою...\" для більш зручного асоціювання з файлами"
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Показати у контекстному меню файлів"
        desc: "Додати \"Відкрити за допомогою Atom\" в контекстне меню Провідника для файлів."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Показати в контекстних меню тек"
        desc: "Додати \"Відкрити за допомогою Atom\" в контекстне меню Провідника для тек."
      }
    ]
  }
  system: {
    notes: "Ці параметри визначають, як Atom інтегрується з операційною системою."
  }
  keymaps: {
    notes: {
      text1: "Ви можете змінити ці гарячі клавіші скопіювавши "
      text2: "та вставити їх у "
      text3: "Ваш файл гарячих клавіш"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Пошук гарячих клавіш"
    "table-header-keystroke": "Клавіші"
    "table-header-command": "Команди"
    "table-header-source": "Джерело"
    "table-header-selector": "Селектор"
  }
  packages: {
    searchBarText: 'Фільтрувати пакунки за імʼям'
  }
  themes: {
    notes: {
      text1: "Ви можете створити довільну тему для Atom редагуючи "
      text2: "свою таблицю стилів"
      text3: ""   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Тема користувача"
    description1: "Стилі вкладок, рядку стану, дерева файлів і списків, що випадають"
    title2: "Синтаксична тема"
    description2: "Це стиль тексту всередині редактора"
    searchBarText: 'Фільтрувати теми за назвою'
  }
  updates: {
    "check-updates": "Перевірити на оновлення"
    "update-all": "Оновити все"
    "checking-updates": "Перевірка оновлень..."
    "all-updated-message": "Усі встановлені пакунки у актуальному стані!"
  }
  install: {
    notes: {
      text1: "Пакунки публікуються на "
      text2: " і встановлюються у "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Пошук пакунків"
    "btn-packages": "Пакунки"
    "btn-themes": "Теми"
  }
  "control-btns":{
    install: "Встановити"
    update: "Оновити до"
    setting: "Параметри"
    uninstall: "Видалити"
    disable: "Вимкнути"
    enable: "Увімкнути"
  }
