# code owner will automatically be PR reviewer for specific code
# ref: https://help.github.com/articles/about-codeowners/

*   @liuderchi

def/ar/*.cson        @AmrIKhudair @atefBB

def/be/*.cson        @antikruk

def/cs/*.cson        @Heroyt @pervoj

def/de/*.cson        @Acer54 @socialmedialabs
def/de/settings.cson @Acer54  @queenar  @socialmedialabs
def/de/about.cson    @Tz3r0  @polynoman
def/de/menu_darwin.cson     @Tz3r0  @polynoman
def/de/menu_linux.cson      @polynoman
def/de/menu_win32.cson      @polynoman
def/de/settings.cson @Tz3r0  @silas229 @Henry2o1o
def/de/welcome.cson  @Tz3r0  @polynoman

def/eo/*.cson        @p2635

def/es/*.cson        @stsewd

def/fa/*.cson        @abilogos

def/fi/*.cson        @an7oine

def/fr/*.cson        @chezyann  @Vivalzar  @DThought

def/he/*.cson        @RealA10N

def/hi/*.cson       @themakerman @ankitbulchandani

def/hu/*.cson       @dominicus-75

def/it/*.cson       @francematt @LorenzoAncora

def/ja/*.cson        @shingo-uzuki @Umoxfo @ibuki2003 @juggernautjp

def/ko/*.cson        @preco21  @chibichichi  @Riyeon  @nerhis
def/ko/welcome.cson  @jonghyeok

def/kn/.cson        @sachinsshetty

def/ms/*.cson        @Thaza-Kun

def/nl/*.cson        @laurensbrand

def/pl/*.cson        @nolt

def/pt-br/*.cson     @jsolisu @rclenzi @thiagomneves @GabrielBdeC

def/ro/*.cson        @tiberiufrat

def/ru/*.cson        @Anonym0uz  @Driglu4it  @sabinich  @Glazami

def/sk/*.cson        @majko96

def/sq/*.cson        @ujdhesa

def/th/*.cson        @sitdh

def/uk/*.cson        @sashaoli

def/zh-cn/*.cson     @trifirew

def/zh-tw/*.cson     @liuderchi  @WinstonSung
