# code owner will automatically be PR reviewer for specific code
# ref: https://help.github.com/articles/about-codeowners/

*   @liuderchi

def/ar/*.cson        @AmrIKhudair

def/be/*.cson        @antikruk

def/cz/*.cson        @Heroyt

def/de/*.cson        @Acer54 @socialmedialabs
def/de/settings.cson @Acer54  @queenar  @socialmedialabs

def/es/*.cson        @stsewd
def/de/about.cson    @Tz3r0  @polynoman
def/de/menu_darwin.cson     @Tz3r0  @polynoman
def/de/menu_linux.cson      @polynoman
def/de/menu_win32.cson      @polynoman
def/de/settings.cson @Tz3r0  @silas229
def/de/welcome.cson  @Tz3r0  @polynoman

def/fi/*.cson        @an7oine

def/fr/*.cson        @chezyann  @Vivalzar  @DThought

# def/hi/*.cson

def/hu/*.cson       @dominicus-75

def/it/*.cson       @francematt @LorenzoAncora

def/ja/*.cson        @shingo-uzuki @Umoxfo

def/ko/*.cson        @preco21  @chibichichi  @Riyeon  @nerhis
def/ko/welcome.cson  @jonghyeok

def/nl/*.cson        @laurensbrand

def/pl/*.cson        @nolt

def/pt-br/*.cson     @jsolisu @rclenzi

def/ru/*.cson        @Anonym0uz  @Driglu4it

def/th/*.cson        @sitdh

def/zh-cn/*.cson     @trifirew

def/zh-tw/*.cson     @liuderchi
