About:
  tabTitle: "Acerca de"
  releaseNotes: "Notas de la Version"
  license: "Licencia"
  termsOfUse: "Términos de Uso"
  with: " con "
  by: " por "
  andTheAwesome: "Y la Increíble "
  atomCommunity: "Comunidad de Atom"
