About:
  tabTitle: "Acerca de"
  releaseNotes: "Notas de la Versión"
  newUpdate: "Nueva Actualización"
  upToDate: "Atom is up to date!"
  checkingForUpdates: "Checking for updates..."
  checkUpdatesNow: "Check now"
  automaticDownloadUpdates: "Descargar actualizaciones automáticamente"
  restartInstall: "Reiniciar e instalar"
  license: "Licencia"
  termsOfUse: "Términos de Uso"
  with: " con "
  by: " por "
  andTheAwesome: "Y la Increíble "
  atomCommunity: "Comunidad de Atom"
