About:
  tabTitle: "Acerca de"
  releaseNotes: "Notas de la Version"
  newUpdate: "New Update"
  automaticDownloadUpdates: "Automatic download updates"
  restartInstall: "Restart and install"
  license: "Licencia"
  termsOfUse: "Términos de Uso"
  with: " con "
  by: " por "
  andTheAwesome: "Y la Increíble "
  atomCommunity: "Comunidad de Atom"
