About:
  tabTitle: "About"
  releaseNotes: "Release Notes"
  newUpdate: "Nová aktualizace"
  upToDate: "Atom je aktuální!"
  checkingForUpdates: "Kontroluji nové aktualizace..."
  checkUpdatesNow: "Zkontrolovat"
  automaticDownloadUpdates: "Automatické stahování aktualizací"
  restartInstall: "Restartovat a instalovat"
  license: "Licence"
  termsOfUse: "Podmínky používání"
  with: " s "
  by: " od "
  andTheAwesome: "A úžasná "
  atomCommunity: "komunita Atomu"
