About:
  tabTitle: "درباره ما"
  releaseNotes: "درباره این نسخه"
  newUpdate: "به روزرسانی های تازه"
  upToDate: "اتم به روز است!"
  checkingForUpdates: " جستجو برای به روز رسانی ..."
  checkUpdatesNow: "همین حالا به روز رسانی کن"
  automaticDownloadUpdates: "دانلود به روز رسانی ها به صورت خودکار"
  restartInstall: "راه اندازی مجدد و نصب"
  license: "مجوز"
  termsOfUse: "شرایط استفاده"
  with: " با "
  by: " توسط "
  andTheAwesome: "و بزرگ "
  atomCommunity: "انجمن اتم"
