Settings:
  "tab-title": "تنظیمات"
  menu: [
    {
      _label: "Core"
      value: "هسته برنامه"
    }
    {
      _label: "Editor"
      value: "ویرایشگر"
    }
    {
      _label: "System"
      value: "سیستم"
    }
    {
      _label: "Keybindings"
      value: "کلیدهای میانبر"
    }
    {
      _label: "Packages"
      value: "پکیج ها"
    }
    {
      _label: "Themes"
      value: "تم"
    }
    {
      _label: "Updates"
      value: "به روز رسانی"
    }
    {
      _label: "Install"
      value: "نصب"
    }
  ]
  "btn-open-config-folder": "پوشه پیکربندی را باز کن"
  sectionHeadings: [
    {_label: "Core Settings", value: "تنظیمات هسته برنامه"}
    {_label: "Editor Settings", value: "تنظیمات ویرایشگر"}
    {_label: "System Settings", value: "تنظیمات سیستم"}
    {_label: "Keybindings", value: "کلیدهای میانبر"}
    {_label: "Installed Packages", value: "پکیج های نصب شده"}
    {_label: "Choose a Theme", value: "انتخاب یک تم"}
    {_label: "Installed Themes", value: "تم های نصب شده"}
    {_label: "Install Packages", value: "پکیج های نصب شده"}
    {_label: "Featured Packages", value: "پکیج های منتخب"}
    {_label: "Install Themes", value: "نصب تم ها"}
    {_label: "Featured Themes", value: "تم های منتخب"}
    {_label: "Available Updates", value: "به روز رسانی های موجود"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "نامریی"}
    {_label: "Community Packages", value: "پکیج های انجمن"}
    {_label: "Core Packages", value: "پکیج های هسته برنامه"}
    {_label: "Development Packages", value: "پکیج های در حال توسعه"}
    {_label: "Git Packages", value: "پکیج های گیت"}
    {_label: "Community Themes", value: "تم های انجمن"}
    {_label: "Core Themes", value: "تم های هسته برنامه"}
    {_label: "Development Themes", value: "تم های در حال توسعه"}
    {_label: "Git Themes", value: "تم های گیت"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'تنظیمات هسته اتم رفتار اتم را فارغ از ویرایشگری آن تعیین میکند. هر پکیج نیزممکن است تنظیمات مربوط به خود را داشته باشد که در <a class="link packages-open">لیست پکیج ها</a> میتوان یافت.'
      }
      {
        _id: 'editor-settings-note'
        html: 'این تنظیمات برای ویرایشگر هستند.
برخی از این تنظیمات ممکن است با توجه به زبان برنامه نویسی بازنویسی شوند.
برای مشاهده تنظیمات زبان برنامه نویسی آن را در <a class="link packages-open">لیست پکیج ها</a> بیابید.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "اجازه دادن موارد موقت در قاب"
        desc: "اجازه نمایش به موارد بدون باز کردن کامل آنها در قاب. مثلا هنگامی که بر روی موردی در نمایش درختی تک کلیک میکنید"
      }
      {
        _id: 'core.audioBeep'
        title: "صدای بیپ"
        desc: "صدای بیپ سیستم را در می آورد وقتی با خطای خاصی مواجه میشود یا نتیجه ای یافت نمیشود."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "به روز رسانی خودکار"
        desc: "وقتی انتشار جدیدی سافت، اتم را به صورت خودکار به روز میکند."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Auto Hide Menu Bar"
        desc: "به صورت خودکار نوار منو را مخفی کند با با دکمه Alt تغییر وضعییت دهد. فقط در ویندوز و لینوکس پشتیبانی میشود."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "بستن زبانه پرونده های حذف شده"
        desc: "وقتی پرونده ای خارج از اتم حذف شد، موارد مربوطه به آن را ببندد."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "بستن پنجره های خالی"
        desc: "وقتی به پنجره ای بدون زبانه یا قاب باز، فرمان -بستن پنجره- صادر شد، پنجره را ببندد."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "بستن قاب خالی"
        desc: "وقتی آخرین زبانه قابی بسته شد، قاب را نیز ببندد."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "در نظر گرفتن مسیر های نادیده گرفته در ((سیستم مدیریت نسخه))"
        desc: "پرونده و پوشه هایی که توسط ((سیستم کنترل نسخه)) نادیده گرفته میشوند، توسط برخی پکیج ها نیز نادیده گرفته میشوند،
مثل fuzzy finder یا find and replace .
برای مثال پروژه هایی که از گیت استفاده میکنند، این مسیرها را در .gitignore مشخص میکنند.
برخی پکیج ها نیز ممکن است تنظیمات اختصاصی خود را برای نادیده گرفتن یا نگرفتن مسیرهای خاص داشت باشند."
      }
      {
        _id: 'core.fileEncoding'
        title: "کدگذاری متن پرونده ها"
        desc: "مجموعه کاراکتر مورد استفاده پیشفرض برای خواندن و نوشتن پرونده ها"
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "دیدبانی تغییرات فایل سیستم"
        desc: "پیاده سازی زیرساخت را برای دیدبانی تغییرات فایل سیستم انتخاب کنید.
((شبیه سازی تغییرات)) تغییراتی که برای پرونده ها توسط برنامه ای غیر از اتم اتفاق می افتد را نمیفهمد،
ولی باعث گیر کردن و خروج از کار افتادن برنامه نمیشود."
        select:
          native: "استفاده از API های ذاتی سیستم عامل"
          atom: "شبیه سازی با رویدادهای خود اتم"
      }
      {
        _id: 'core.followSymlinks'
        title: "دنبال کردن پیوندهای نرم"
        desc: "هنگام جستجو کردن برای پرونده ها یا باز کردنشان توسط fuzzy finder از پیوندهای نرم استفاده کند (داخل میانبرها و پوشه ها و فایلهایی که آنها بدان اشاره دارند برود)"
      }
      {
        _id: 'core.ignoredNames'
        title: "نادیده گرفتن اسامی"
        desc: "لیست<code>الگوهای عمومی</code>.
پرونده و پوشه هایی که از این الگوها تبعیت کنند توسط برخی پکیج ها نادیده گرفته میشوند، مثل fuzzy finder و نمایش درختی.
پکیج های دیگر ممکن است تنطیمات مخصوص به خود را داشته باشند."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "موقع شروع، یک ویرایشگر خالی ایجاد کردن"
        desc: "موقع شروع به کار به صورت خودکار یک ویرایشگر خالی ایجاد بکند."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "پکیج هایی که میانبر کیبورد برایشان غیر فعال میباشد."
      }
      {
        _id: 'core.projectHome'
        title: "خانه پروژه ها"
        desc: "پوشه ای که فرض گرفته میشود پروژه ها آنجا قرار دارند.
پروژه هایی که که با ((پروژه ساز)) درست شوند، به صورت پیشفرض در این مکان، ساخته خواهند شد."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "تعداد منو بازکردن مجدد پروژه ها"
        desc: "چه تعداد از پروژه های اخیر، در منو باز کردن مجدد پروژه باز شوند."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "بازگردانی پنجره قبلی، موقع شروع"
        desc: "اگر انتخاب شود، هنگام شروع اتم، چه با کلیک بر روی آیکون اتم و چه به وسیله ترمینال <code>atom</code>، حالت قبلی پنجره ها بازگردانی میشود، وگرنه، یک محیط خالی باز میشود."
        select:
          no: "خیر"
          yes: "بله"
          always: "همیشه"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Send Telemetry to the Atom Team"
        desc: "اجازه دادن برای فرستادن گزارشات ((آمار های استفاده)) و ((خطا)) های برنامه برای تیم اتم، که به آنها کمک کند، محصول (انم) را بهتر سازند."
        select:
          limited: "اجازه گزارش محدود و ناشناس، آمار استفاده از ویژگی ها، خطاها و استثناها و خرابی ها"
          no: "هیچ داده دورسنجی ای را ارسال نکن"
          undecided: "تصمیم نامطمن (اتم هرباز موقع شروع به کار از شما بپرسد که کدام سیاست را پیش بگیرد)"
      }
      {
        _id: 'core.titleBar'
        title: "نوار عنوان"
        desc: "آزمایشی : با انتخاب <code>انتخابی</code> نوار عنوان، با رنگهای تم انتخابی سازگار شود.
با انتخاب <code>انتخابی الحاقی</code> مقداری فاصله اطراف نوار عنوان ایجاد میشود.
یا با <code>مخفی</code> به طور کلی میتوان مخفی نمود. 
نکته: تغییر به نوار ((انتخابی)) یا ((مخفی)) ممکن است با برخی کارایی های اتم را به خطر بندازد.
<br/>
برای اعمال این تغییرات باید اتم را بسته و باز کنید."
        select:
          native: "ذاتی"
          custom: "انتخابی"
          "custom-inset": "انتخاب الحاقی"
          hidden: "مخفی"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "برای استفاده از APM از تنظیمات پراکسی استفاده کند"
        desc: "موقع استفاده از ابزار کنسولی <code>apm</code> از تنظیمات پراکسی ای که یافت میشود استفاده کند."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "پکیج ها با نسخه های مشخص شده"
        desc: "فهرست نام پکیج هایی که نصب شده اند و موقع به روز رسانی نباید به روز شوند."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "استفاده از نوار عنوان انتخابی"
        desc: "استفاده از نوار عنوان انتخابی همراه تم. <br/>
فعلا از آیکون پراکسی نمیشود استفاده کرد. <br/>
این تغییرات برای اعمال شدن، به دوباره باز شدن اتم نیاز دارند."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "هشدار محدودیت برای باز کردن پرونده های بزرگ"
        desc: "هشدار دادن قبل از باز کردن پرونده با بیش از این مقدار مگابایت."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "تب نرم اتمی (فاصله به جای تب)"
        desc: "هنگام جا به جایی مکان نما، اگر توالی فاصله به اندازه یک ((تب)) شد، از آن بپرد."
      }
      {
        _id: 'editor.autoIndent'
        title: "فرورفتگی خودکار"
        desc: "هنگام رفتن به خط جدید، به صورت خودکار مکان نما را فرو رفته بکند."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "فرورفتگی خودکار هنگام چسباندن"
        desc: "هنگام چسباندن (بعد از کپی یا برش) ، به اندازه فرو رفتگی خط قبلی، خودکار فرورفتگی ایجاد کند."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "پشتیبان گیری قبل از ذخیره سازی"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "تاییدیه برای Checkout HEAD Revision"
        desc: "هنگام چک اوت کردن HEAD نسخه جدید، و نابود کردن تغییرات اخیری که روی فایل بوده و کامیت نشده، یک پنجره تایید نمایش داده شود."
      }
      {
        _id: 'editor.fontFamily'
        title: "خانواده قلم"
        desc: "نام خانواده قلمی که برای ویرایشگر استفاده شود."
      }
      {
        _id: 'editor.fontSize'
        title: "اندازه قلم"
        desc: "اندازه قلم به پیکسل برای نوشته های ویرایشگر"
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Carriage Return نامریی"
        desc: "اگر تنطیم <code>نمایش نامریی ها</code> را فعال کرده باشید، کاراکتری که برای نشان دادن Carriage Return (بازگشت به سرخط )‌ ( در سیستم عامل ویندوز مایکروسافت در آخر هر خط استفاده میشود) چه چیز باشد."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "نامریی Eol"
        desc: "اگر تنطیم <code>نمایش نامریی ها</code> را فعال کرده باشید، کاراکتری که برای نشان دادن End of line (پایان خط )‌ (\n) چه چیز باشد."
      }
      {
        _id: 'editor.invisibles.space'
        title: " نامریی Space"
        desc: "اگر تنطیم <code>نمایش نامریی ها</code> را فعال کرده باشید، کاراکتری که برای نشان دادن فاصله های قبل و بعد از کلمات، چه چیز باشد."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Tab نامریی"
        desc: "اگر تنطیم <code>نمایش نامریی ها</code> را فعال کرده باشید، کاراکتری که برای نشان دادن Tab (تب)‌ (\t) چه چیز باشد."
      }
      {
        _id: 'editor.lineHeight'
        title: "ارتفاع خط"
        desc: "ارتفاع خطوط درویرایشگر، به صورت مظربی از اندازه قلم تعریف میشود."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "حداکثر طول خط در صفحه"
        desc: "حداکثر تعداد کاراکتر هایی که در پنجره ویرایشگر نمایش داده شود، قبل از اعمال ((خط کشی نرم)).
            اگر  طول خط بیشتر از این مقدار شود، ویرایشگر آن را در خط بعد ((نمایش)) میدهد."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "کاراکترهای غیرکلمه ای"
        desc: "رشته ای از کاراکتر هایی که در کلمات استفاده نمیشوند، برای تعیین حد و حدود کلمات"
      }
      {
        _id: 'editor.preferredLineLength'
        title: "طول خط ترجیحی"
        desc: "مشخص کردن تعداد کاراکتر برای طول خط که در تنظیم <code>خطکشی نرم در طول خط ترجیحی</code>  با توجه به آن، ((نمایش)) به خط بعد موکول شود."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "اسکرول بعد از پایان"
        desc: "اجازه به ویرایشگر که حتی بعد از آخرین خط نیز بتواند اسکرول کند."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "حساسیت اسکرول"
        desc: "مشخص کردن سرعت اسکرول هنگامی که از ماوس یا ترک پد استفاده میشود"
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "نمایش مکان نما، هنگام انتخاب"
        desc: "حتی هنگام انتخاب قسمتی از متن، مکان نما نشان داده شود."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "نمایش خط راهنمای فرورفتگی ها"
        desc: "در ویرایشگر خطوط عمودی برای نمایش تعمق کد نشان داده شود."
      }
      {
        _id: 'editor.showInvisibles'
        title: "نمایش کاراکتر های نامریی"
        desc: "نمایش جایگاه کاراکتر های نامریی با کاراکترهای دیگر. نظیر تب یا فاصله، خط بعد"
      }
      {
        _id: 'editor.showLineNumbers'
        title: "نمایش شماره خطوط"
        desc: "نمایش شماره خطوط در حاشیه ویرایشگر"
      }
      {
        _id: 'editor.softTabs'
        title: "تب نرم"
        desc: "اگر تنظیم <code>نوع تب</code> نوع تب ، مقدار ((خودکار)) باشد، و تشخیص خودکار تب در محتوای بافر نتواند نوع تب را تشخیص دهد، آنگاه این تنظیم تعیین میکند که تب سخت ((کاراکتر تب)) یا تب نرم ((۴ فاصله)) برای کلید تب استفاده شود."
      }
      {
        _id: 'editor.softWrap'
        title: "خط کشی نرم"
        desc: "در این خط کشی، اگر طول یک خط بیشتر از اندازه پنجره شود، ادامه ((نمایش)) آن را به خط بعد میبرد. در این حالت، در پنجره ویرایشگر نیازی به اسکرول افقی نمیباشد.
اگر <code>خط کشی نرم در طول خط ترجیحی</code> فعال باشد. دیگر ادامه نمایش نیاز به رسیدن به انتهای پنجره ندارد و به محض رسیدن به <code>طول خط ترجیحی</code> ((نمایش)) به خط بعد موکول میشود."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "خط کشی نرم در طول ترجیحی"
        desc: "به جای تعیین طول خطوط با اندازه پنجره، میتوان آن را با تعداد کاراکتر مشخص کرد که در<code>طول خط ترجیحی</code> طول خط ترجیحی، تعریف شده. این تنظیم وقتی کار میکند که ((خط کشی نرم)) فعال باشد.
یک <strong>نکته:</strong> اگر میخواهید ((راهنمای خط کشی)) (خط عمودی) نشان داده نشود، میتوانید پکیج <code>wrap-guide</code> را غیر فعال کنید."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "فرورفتگی برای قسمت آویزان در خطکشی نرم"
        desc: "وقتی خطکشی نرم فعال است، چند کاراکتر فرورفتکی برای قسمت آویزان شده (قسمتی که در خط بعد نمایش داده میشود) ((نشان)) داده شود."
      }
      {
        _id: 'editor.tabLength'
        title: "طول تب"
        desc: "برای نمایش تب از چند فاصله استفاده شود."
      }
      {
        _id: 'editor.tabType'
        title: "نوع تب"
        desc: "ملاک قراردان نوع کاراکتری که با فشردن کلید تب، گذاشته میشود.
مقادیر ممکن: خودکار، نرم و سخت میباشند.
اگر مقادیر نرم (کاراکتر فاصله) یا سخت (کاراکتر تب) انتخاب شوند. مقادیر مربوط به آنها گذاشته میشوند.
اگر مقدار خودکار انتخاب شود، ویرایشگر با توجه به محتوای بافر تصمیم میگیرد. (بر اساس اولین کاراکتر نامریی که در خط کد ( غیر کامنت) ظاهر میشود.
اگر چیزی پیدا نکرد، مقدار را با توجه به تنظیم ((تب نرم)) تنظیم میکند."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "بازه زمانی یک کاسه کردن مراحل بازگشت"
        desc: "بازه زمانی تعریف شده به میلی ثانیه که اگر دو تغییر ایجاد شده در نوشتار، بیش از آن از هم فاصله داشته باشند، در حافظه تاریخچه به عنوان دو عمل مجزا برای استفاده از ((بازگشت)) ذخیره میشوند."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "تغییر بزرگنمایی هنگام Crtl با اسکرول"
        desc: "هنگام فشردن کلید کنترل و تغییر اسکرول در جهت بالا/پایین، بزرگنمایی ویرایشگر تغییر کند."
      }
      {
        _id: 'system.windows.file-handler'
        title: "ثبت به عنوان رسیدگی کننده پرونده"
        desc: "اتم را در منو \"Open With ...\" سیستم عامل به عنوان برنامه ای ثبت کند که بتوان به انوا فایل های خاصی اختصاص داد."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "نمایش در منو راست کلیک پرونده ها"
        desc: "اضافه کردن \"Open with Atom\" به File Explorer برای منو راست کلیک فایلها."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "نمایش در منو راست کلیک پوشه ها"
        desc: "اضافه کردن \"Open with Atom\" به File Explorer برای منو راست کلیک فولدرها."
      }
    ]
  }
  system: {
    notes: "این تنظیمات تعیین میکنند که اتم چگونه با سیستم عامل شما به درستی کار کند."
  }
  keymaps: {
    notes: {
      text1: "شما میتوانید برای بازنویسی این اختصاص کلید ها،کلیدها را با کپی کردن"
      text2: "و چسباندن در "
      text3: "پرونده نقشه کلید خود"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "جستجوی اختصاص کلید"
    "table-header-keystroke": "کلیدهای فشرده شونده"
    "table-header-command": "دستور"
    "table-header-source": "منبع"
    "table-header-selector": "انتخاب کننده (Selector)"
  }
  packages: {
    searchBarText: 'فیلتر کردن پکیج ها به وسیله نام شان'
  }
  themes: {
    notes: {
      text1: "همچنین با ویرایش"
      text2: "پرونده صفحه آرایی خود"
      text3: "میتوانید اتم را صفحه آرایی کنید"   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "تم رابط کاربری"
    description1: "این زبانه ها، نوار وضعییت، نمایش درختی و انتخاب های کشویی را آراسته میکند."
    title2: "تم نحو نوشتار"
    description2: "این نوشته های داخل ویرایشگر را آراسته میکند."
    searchBarText: 'فیلتر کردن تم ها با نام شان'
  }
  updates: {
    "check-updates": "جستجو برای به روز رسانی"
    "update-all": "به روز رسانی همه"
    "checking-updates": "جستجو برای به روز رسانی..."
    "all-updated-message": "همه پکیج های نصب شده به روز هستند!"
  }
  install: {
    notes: {
      text1: " پکیج ها در  "
      text2: " منتشر میشوند و در "
      text3: "نصب میشوند."   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "جستجو در پکیج ها"
    "btn-packages": "پکیج ها"
    "btn-themes": "تم ها"
  }
  "control-btns":{
    install: "نصب"
    update: "ارتقا به"
    setting: "تنظیمات"
    uninstall: "حذف کردن"
    disable: "غیر فعال کردن"
    enable: "فعال کردن"
  }
