Welcome:
  tabTitle: "خوش آمدید"
  subtitle:
    text1: " ویرایشگر متن باحال و دوست داشتنی و هک شدنی (میتونی باهاش هرکاری بکنی) برای"
    superscript: "ام"
    text2: " قرن ۲۱"
  help:
    forHelpVisit: "برای کمک گرفتن میتوانید به مکانهای زیر مراجعه کنید"
    atomDocs:
      text1: "با مراجعه به "
      link: "مستندات اتم "
      text2: "میتوان راهنمایی گرفت و به مرجع API دسترسی داشت"
      _template: "${text1}<a>${link}</a>${text2}"
    atomForum:
      text1: "برای بحث و گفتگو میتوانید "
      link: "در فوروم اتم"
      text2: "بحث کنید "   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    atomOrg:
      text1: " همچنین، سایت رسمی"
      link: " موسسه غیرانتفاعی اتم"
      text2: " جایی است که میتوانید تمام پکیج های ساخته شده در گیت هاب برای اتم را بیابید."
      _template: "${text1}<a>${link}</a>${text2}"
  showWelcomeGuide: "راهنمای خوش آمد گویی هنگام باز شدن اتم نمایش داده شود"
