About:
  tabTitle: "Atom について"
  releaseNotes: "リリースノート"
  newUpdate: "新しい更新があります"
  upToDate: "Atom は最新の状態です！"
  checkingForUpdates: "更新を確認しています..."
  checkUpdatesNow: "更新を今すぐ確認"
  automaticDownloadUpdates: "自動的に更新をダウンロード"
  restartInstall: "再起動して Atom を更新"
  license: "ライセンス"
  termsOfUse: "利用規約"
  with: " に "
  by: " を込めて "
  andTheAwesome: "と素晴らしい "
  atomCommunity: "Atom コミュニティより"
