About:
  tabTitle: "About"
  releaseNotes: "Release Notes"
  license: "License"
  termsOfUse: "Terms of Use"
  with: " with "
  by: " by "
  andTheAwesome: "And the awesome "
  atomCommunity: "Atom Community"
