Welcome:
  tabTitle: "ようこそ"
  subtitle:
    text1: "21世紀のためのハック可能なテキストエディタ"
    superscript: ""
    text2: ""
  help:
    forHelpVisit: "ヘルプについては以下をご覧ください。"
    atomDocs:
      text1: "使い方及び API リファレンスは "
      link: "Atom docs"
      text2: " へ。"
      _template: "${text1}<a>${link}</a>${text2}"
    atomForum:
      text1: "Atom のフォーラムは "
      link: "discuss.atom.io"
      text2: " へ。"   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    atomOrg:
      text1: "GitHub 上で作成された全ての Atom パッケージを見つけるには "
      link: "Atom org"
      text2: " へ。"
      _template: "${text1}<a>${link}</a>${text2}"
  showWelcomeGuide: "Atom を開いた時にウェルカムガイドを表示する"
