About:
  tabTitle: "Sobre"
  releaseNotes: "Notas de lançamento"
  newUpdate: "Nova atualização"
  automaticDownloadUpdates: "Baixar automaticamente as atualizações"
  restartInstall: "Reiniciar e instalar"
  license: "Licença"
  termsOfUse: "Termos de uso"
  with: " com "
  by: " por "
  andTheAwesome: "E o incrível "
  atomCommunity: "Comunidade do Atom"
