About:
  tabTitle: "Sobre"
  releaseNotes: "Notas De Lançamento"
  newUpdate: "Nova Atualização"
  upToDate: "Atom está atualizado!"
  checkingForUpdates: "Verificando atualizações..."
  checkUpdatesNow: "Verifique agora"
  automaticDownloadUpdates: "Baixar automaticamente as atualizações"
  restartInstall: "Reiniciar e instalar"
  license: "Licença"
  termsOfUse: "Termos de Uso"
  with: " com "
  by: " por "
  andTheAwesome: "E a incrível "
  atomCommunity: "Comunidade Do Atom"
