About:
  tabTitle: "Sobre"
  releaseNotes: "Notas De Lançamento"
  newUpdate: "Nova Atualização"
  automaticDownloadUpdates: "Baixar automaticamente as atualizações"
  restartInstall: "Reiniciar e instalar"
  license: "Licença"
  termsOfUse: "Termos de Uso"
  with: " com "
  by: " por "
  andTheAwesome: "E o incrível "
  atomCommunity: "Comunidade Do Atom"
