Menu:
  "&File":
    value: "Arquivo(&F)"
    submenu:
      "New &Window":
        value: "Nova Janela(&W)"
      "&New File":
        value: "Novo Arquivo(&N)"
      "&Open File…":
        value: "Abrir Arquivo(&O)..."
      "Open Folder…":
        value: "Abrir Pasta..."
      "Add Project Folder…":
        value: "Adicionar Pasta de Projeto..."
      "Reopen Project":
        value: "Reabrir Projeto"
        submenu:
          "Clear Project History":
            value: "Limpar Histórico de Projeto"
      "Reopen Last &Item":
        value: "Reabrir Último &Item"
      "Se&ttings":
        value: "Preferências(&T)..."
      "Config…":
        value: "Configuração..."
      "Init Script…":
        value: "Roteiro Inicial..."
      "Keymap…":
        value: "Mapa De Teclas..."
      "Snippets…":
        value: "Trechos..."
      "Stylesheet…":
        value: "Folha de Estilo..."
      "&Save":
        value: "Salvar(&S)"
      "Save &As…":
        value: "Salvar Como(&A)..."
      "Save A&ll":
        value: "Salvar Tudo(&L)"
      "&Close Tab":
        value: "Fechar Aba(&C)"
      "Close &Pane":
        value: "Fechar Painel(&P)"
      "Clos&e Window":
        value: "Fechar Janela(&E)"
      "E&xit":
        value: "Sair(&X)"
      "Close All Tabs":
        value: "Fechar Todas as Abas"
  "&Edit":
    value: "Edit(&E)"
    submenu:
      "&Undo":
        value: "Desfazer(&U)"
      "&Redo":
        value: "Refazer(&R)"
      "Cu&t":
        value: "Recortar(&T)"
      "&Copy":
        value: "Copiar(&C)"
      "Copy Pat&h":
        value: "Copiar Caminho(&H)"
      "&Paste":
        value: "Colar(&P)"
      "Paste Without Reformatting":
        value: "Colar sem Reformatar"
      "Select &All":
        value: "Selecionar Tudo(&A)"
      "&Toggle Comments":
        value: "Alternar Comentários(&T)"
      Lines:
        value: "Linhas"
        submenu:
          "&Indent":
            value: "Indentar(&I)"
          "&Outdent":
            value: "Indentar Invertido(&O)"
          "&Auto Indent":
            value: "Auto Indentar(&A)"
          "Move Line &Up":
            value: "Mover Linha para Cima(&U)"
          "Move Line &Down":
            value: "Mover Linha para Baixo(&D)"
          "Du&plicate Lines":
            value: "Duplicar Linhas(&P)"
          "D&elete Line":
            value: "Apagar Linha(&E)"
          "&Join Lines":
            value: "Unir Linhas(&J)"
      Columns:
        value: "Colunas"
        submenu:
          "Move Selection &Left":
            value: "Mover Seleção para a Esquerda(&L)"
          "Move Selection &Right":
            value: "Mover Seleção para a Direita(&R)"
      Text:
        value: "Texto"
        submenu:
          "&Upper Case":
            value: "Maiúsculo(&U)"
          "&Lower Case":
            value: "Minúsculo(&L)"
          "Delete to End of &Word":
            value: "Apagar até o Fim da Palavra(&W)"
          "Delete to Previous Word Boundary":
            value: "Apagar até o Limite Anterior da Palavra"
          "Delete to Next Word Boundary":
            value: "Apagar Até o Próximo Limite da Palavra"
          "&Delete Line":
            value: "Apagar Linha(&D)"
          "&Transpose":
            value: "Transpor(&T)"
      Folding:
        value: "Dobragem"
        submenu:
          "&Fold":
            value: "Dobrar(&F)"
          "&Unfold":
            value: "Desdobrar(&U)"
          "Unfold &All":
            value: "Desdobrar Tudo(&A)"
          "Fol&d All":
            value: "Dobrar Tudo(&D)"
          "Fold Level 1":
            value: "Dobra Nível 1"
          "Fold Level 2":
            value: "Dobra Nível 2"
          "Fold Level 3":
            value: "Dobra Nível 3"
          "Fold Level 4":
            value: "Dobra Nível 4"
          "Fold Level 5":
            value: "Dobra Nível 5"
          "Fold Level 6":
            value: "Dobra Nível 6"
          "Fold Level 7":
            value: "Dobra Nível 7"
          "Fold Level 8":
            value: "Dobra Nível 8"
          "Fold Level 9":
            value: "Dobra Nível 9"
      "Reflow Selection":
        value: "Restruturar Seleção"
      Bookmark:
        value: "Favoritos"
        submenu:
          "View All":
            value: "Ver Tudo"
          "Toggle Bookmark":
            value: "Alternar Favorito"
          "Jump to Next Bookmark":
            value: "Ir para o Próximo Favorito"
          "Jump to Previous Bookmark":
            value: "Ir para o Favorito Anterior"
          "Select to Next Bookmark":
            value: "Selecionar o Próximo Favorito"
          "Select to Previous Bookmark":
            value: "Selecionar o Favorito Anterior"
      "Select Encoding":
        value: "Selcionar Codificação"
      "Go to Line":
        value: "Ir para Linha"
      "Select Grammar":
        value: "Selecionar Gramática"
  "&View":
    value: "Ver(&V)"
    submenu:
      "Toggle &Full Screen":
        value: "Alternar Tela Cheia(&F)"
      "Toggle Menu Bar":
        value: "Ativar Barra de Menu"
      Panes:
        value: "Painéis"
        submenu:
          "Split Up":
            value: "Dividir para Cima"
          "Split Down":
            value: "Dividir para Baixo"
          "Split Left":
            value: "Dividir para a Esquerda"
          "Split Right":
            value: "Dividir para a Direita"
          "Focus Next Pane":
            value: "Focar Próximo Painel"
          "Focus Previous Pane":
            value: "Focar Painel Anterior"
          "Focus Pane Above":
            value: "Focar Painel Superior"
          "Focus Pane Below":
            value: "Focar Painel Inferior"
          "Focus Pane On Left":
            value: "Focar Painel na Esquerda"
          "Focus Pane On Right":
            value: "Focar Painel na Direita"
          "Close Pane":
            value: "Fechar Painel"
      Developer:
        value: "Desenvolvedor"
        submenu:
          "Open In &Dev Mode…":
            value: "Abrir em Modo Desenvolvedor(&D)..."
          "&Reload Window":
            value: "Reabrir Janela(&R)"
          "Run Package &Specs":
            value: "Executar Package Specs(&S)"
          "Run &Benchmarks":
            value: "Executar Benchmarks(&B)"
          "Toggle Developer &Tools":
            value: "Alternar Ferramentas de Desenvolvedor(&T)"
      "&Increase Font Size":
        value: "Aumentar Tamanho da Fonte(&I)"
      "&Decrease Font Size":
        value: "Diminuir Tamanho da Fonte(&D)"
      "Re&set Font Size":
        value: "Reiniciar Tamanho da Fonte(&S)"
      "Toggle Soft &Wrap":
        value: "Alternar Leve Quebra de Linha(&W)"
      "Toggle Command Palette":
        value: "Alternar Paleta de Comandos"
      "Toggle Tree View":
        value: "Alternar Visualização em Árvore"
  "&Selection":
    value: "Seleção(&S)"
    submenu:
      "Add Selection &Above":
        value: "Adicionar Seleção Acima(&A)"
      "Add Selection &Below":
        value: "Adicionar Seleção Abaixo(&B)"
      "S&plit into Lines":
        value: "Dividir em Linhas(&P)"
      "Single Selection":
        value: "Seleção Única"
      "Select to &Top":
        value: "Selecionar até o Topo(&T)"
      "Select to Botto&m":
        value: "Selecionar até o Fim(&M)"
      "Select &Line":
        value: "Selecionar Linha(&L)"
      "Select &Word":
        value: "Selecionar Palavra(&W)"
      "Select to Beginning of W&ord":
        value: "Selecionar até o Início da Palavra(&O)"
      "Select to Beginning of L&ine":
        value: "Selecionar até o Início da Linha(&I)"
      "Select to First &Character of Line":
        value: "Selecionar até o Primeiro Caractere da Linha(&C)"
      "Select to End of Wor&d":
        value: "Selecionar até o Fim da Palavra(&D)"
      "Select to End of Lin&e":
        value: "Selecionar até o Fim da Linha(&E)"
      "Select Inside Brackets":
        value: "Selecionar Dentro dos Colchetes"
  "F&ind":
    value: "Localizar(&I)"
    submenu:
      "Find in Buffer":
        value: "Localizar no Buffer"
      "Replace in Buffer":
        value: "Substituir no Buffer"
      "Select Next":
        value: "Selecionar Próximo"
      "Select All":
        value: "Selecionar Tudo"
      "Toggle Find in Buffer":
        value: "Alternar Localizar no Buffer"
      "Find in Project":
        value: "Localizar no Projeto"
      "Toggle Find in Project":
        value: "Alternar Localizar no Projeto"
      "Find All":
        value: "Localizar Tudo"
      "Find Next":
        value: "Localizar Próximo"
      "Find Previous":
        value: "Localizar Anterior"
      "Replace Next":
        value: "Substituir Próximo"
      "Replace All":
        value: "Substituir Tudo"
      "Clear History":
        value: "Limpar Histórico"
      "Find Buffer":
        value: "Localizar Buffer"
      "Find File":
        value: "Localizar Arquivo"
      "Find Modified File":
        value: "Localizar Arquivo Modificado"
  "&Packages":
    value: "Pacotes(&P)"
  "&Help":
    value: "Ajuda(&H)"
    submenu:
      "View &Terms of Use":
        value: "Ver Termos de Uso(&T)"
      "View &License":
        value: "Ver Licença(&L)"
      "Restart and Install Update":
        value: "Reiniciar e Instalar Atualização"
      "Check for Update":
        value: "Verificar por Atualização"
      "Checking for Update":
        value: "Verificando por Atualização"
      "Downloading Update":
        value: "Baixando Atualização"
      "&Documentation":
        value: "Documentação(&D)"
      "Frequently Asked Questions":
        value: "Perguntas Frequentes"
      "Community Discussions":
        value: "Discussões da Comunidade"
      "Report Issue":
        value: "Reportar Problema"
      "Search Issues":
        value: "Procurar Problemas"
      "About Atom":
        value: "Sobre o Atom"
      "Welcome Guide":
        value: "Guia de Boas Vindas"
