Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Sobre Atom"
      "View License":
        value: "Ver Licença"
      "Check for Update":
        value: "Verifique atualizações"
      "Preferences…":
        value: "Preferências..."
      "Config…":
        value: "Configuração..."
      "Init Script…":
        value: "Script Inicial..."
      "Keymap…":
        value: "Mapa De Teclas..."
      "Snippets…":
        value: "Trechos..."
      "Stylesheet…":
        value: "Folha de Estilo..."
      "Install Shell Commands":
        value: "Instalar Comandos Do Shell"
      "Hide Atom":
        value: "Ocultar Atom"
      "Hide Others":
        value: "Ocultar Outros"
      "Show All":
        value: "Mostre Tudo"
      Quit:
        value: "Sair"
  File:
    value: "Arquivo"
    submenu:
      "New Window":
        value: "Nova Janela"
      "New File":
        value: "Novo Arquivo"
      "Open…":
        value: "Abrir..."
      "Add Project Folder…":
        value: "Adicionar Pasta de Projeto..."
      "Reopen Project":
        value: "Reabrir Projeto"
        submenu:
          "Clear Project History":
            value: "Limpar Histórico de Projeto"
      "Reopen Last Item":
        value: "Reabrir Último Item"
      Save:
        value: "Salvar"
      "Save As…":
        value: "Salvar Como..."
      "Save All":
        value: "Salvar Tudo"
      "Close Tab":
        value: "Fechar Aba"
      "Close Pane":
        value: "Fechar Painel"
      "Close Window":
        value: "Fechar Janela"
      "Close All Tabs":
        value: "Fechar Todas as Abas"
  Edit:
    value: "Editar"
    submenu:
      Undo:
        value: "Desfazer"
      Redo:
        value: "Refazer"
      Cut:
        value: "Recortar"
      Copy:
        value: "Copiar"
      "Copy Path":
        value: "Copiar Caminho"
      Paste:
        value: "Colar"
      "Select All":
        value: "Selecionar Tudo"
      "Toggle Comments":
        value: "Alternar Comentários"
      Lines:
        value: "Linhas"
        submenu:
          Indent:
            value: "Indentar"
          Outdent:
            value: "Indentar Invertido"
          "Auto Indent":
            value: "Auto Indentar"
          "Move Line Up":
            value: "Mover Linha para Cima"
          "Move Line Down":
            value: "Mover Linha para Baixo"
          "Duplicate Lines":
            value: "Duplicar Linhas"
          "Delete Line":
            value: "Excluir Linhas"
          "Join Lines":
            value: "Unir Linhas"
      Columns:
        value: "Colunas"
        submenu:
          "Move Selection Left":
            value: "Mover Seleção para a Esquerda"
          "Move Selection Right":
            value: "Mover Seleção para a Direita"
      Text:
        value: "Texto"
        submenu:
          "Upper Case":
            value: "Maiúsculo"
          "Lower Case":
            value: "Minúsculo"
          "Delete to End of Word":
            value: "Apagar até o Fim da Palavra"
          "Delete to Previous Word Boundary":
            value: "Apagar até o Limite Anterior da Palavra"
          "Delete to Next Word Boundary":
            value: "Apagar Até o Próximo Limite da Palavra"
          "Delete Line":
            value: "Apagar linha"
          Transpose:
            value: "Transpor"
      Folding:
        value: "Dobragem"
        submenu:
          Fold:
            value: "Dobrar"
          Unfold:
            value: "Desdobrar"
          "Fold All":
            value: "Dobrar Tudo"
          "Unfold All":
            value: "Desdobrar Tudo"
          "Fold Level 1":
            value: "Dobra Nível 1"
          "Fold Level 2":
            value: "Dobra Nível 2"
          "Fold Level 3":
            value: "Dobra Nível 3"
          "Fold Level 4":
            value: "Dobra Nível 4"
          "Fold Level 5":
            value: "Dobra Nível 5"
          "Fold Level 6":
            value: "Dobra Nível 6"
          "Fold Level 7":
            value: "Dobra Nível 7"
          "Fold Level 8":
            value: "Dobra Nível 8"
          "Fold Level 9":
            value: "Dobra Nível 9"
      "Reflow Selection":
        value: "Restruturar Seleção"
      Bookmark:
        value: "Favoritos"
        submenu:
          "View All":
            value: "Ver tudo"
          "Toggle Bookmark":
            value: "Alternar Favorito"
          "Jump to Next Bookmark":
            value: "Ir para o Próximo Favorito"
          "Jump to Previous Bookmark":
            value: "Ir para o Favorito Anterior"
      "Select Encoding":
        value: "Selecionar Codificação"
      "Go to Line":
        value: "Ir para Linha"
      "Select Grammar":
        value: "Selecionar Gramática"
  View:
    value: "Ver"
    submenu:
      "Toggle Full Screen":
        value: "Alternar Tela Cheia"
      Panes:
        value: "Painéis"
        submenu:
          "Split Up":
            value: "Dividir para Cima"
          "Split Down":
            value: "Divir para Baixo"
          "Split Left":
            value: "Dividir para a Esquerda"
          "Split Right":
            value: "Dividir para a Direita"
          "Focus Next Pane":
            value: "Focar Próximo Painel"
          "Focus Previous Pane":
            value: "Focar Painel Anterior"
          "Focus Pane Above":
            value: "Focar Painel Superior"
          "Focus Pane Below":
            value: "Focar Painel Inferior"
          "Focus Pane On Left":
            value: "Focar Painel na Esquerda"
          "Focus Pane On Right":
            value: "Focar Painel da Direita"
          "Close Pane":
            value: "Fechar Painel"
      Developer:
        value: "Desenvolvedor"
        submenu:
          "Open In Dev Mode…":
            value: "Abrir em Modo Desenvolvedor..."
          "Reload Window":
            value: "Reabrir Janela"
          "Run Package Specs":
            value: "Executar Package Specs"
          "Run Benchmarks":
            value: "Executar Benchmarks"
          "Toggle Developer Tools":
            value: "Alternar Ferramentas de Desenvolvedor"
      "Increase Font Size":
        value: "Aumentar Tamanho da Fonte"
      "Decrease Font Size":
        value: "Diminuir Tamanho da Fonte"
      "Reset Font Size":
        value: "Reiniciar Tamanho da Fonte"
      "Toggle Soft Wrap":
        value: "Alternar Leve Quebra de Linha"
      "Toggle Command Palette":
        value: "Alternar Paleta de Comandos"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Alternar Visualização em Árvore"
  Selection:
    value: "Seleção"
    submenu:
      "Add Selection Above":
        value: "Adicionar Seleção Acima"
      "Add Selection Below":
        value: "Adicionar Seleção Abaixo"
      "Single Selection":
        value: "Seleção Única"
      "Split into Lines":
        value: "Dividir em Linhas"
      "Select to Top":
        value: "Selecionar até o Topo"
      "Select to Bottom":
        value: "Selecionar até o Fim"
      "Select Line":
        value: "Selecionar Linha"
      "Select Word":
        value: "Selecionar palavra"
      "Select to Beginning of Word":
        value: "Selecionar até o Início da Palavra"
      "Select to Beginning of Line":
        value: "Selecionar até o Início da Linha"
      "Select to First Character of Line":
        value: "Selecionar até o Primeiro Caractere da Linha"
      "Select to End of Word":
        value: "Selecionar até o Fim da Palavra"
      "Select to End of Line":
        value: "Selecionar até o Fim da Linha"
      "Select Inside Brackets":
        value: "Selecionar Dentro dos Colchetes"
  Find:
    value: "Procurar"
    submenu:
      "Find in Buffer":
        value: "Localizar no Buffer"
      "Replace in Buffer":
        value: "Substituir no Buffer"
      "Select Next":
        value: "Selecionar Próximo"
      "Select All":
        value: "Selecionar Tudo"
      "Toggle Find in Buffer":
        value: "Alternar Localizar no Buffer"
      "Find in Project":
        value: "Localizar no Projeto"
      "Toggle Find in Project":
        value: "Alternar Localizar no Projeto"
      "Find All":
        value: "Localizar Tudo"
      "Find Next":
        value: "Localizar Próximo"
      "Find Previous":
        value: "Localizar Anterior"
      "Replace Next":
        value: "Substituir Próximo"
      "Replace All":
        value: "Substituir Tudo"
      "Clear History":
        value: "Limpar Histórico"
      "Find Buffer":
        value: "Localizar Buffer"
      "Find File":
        value: "Localizar Arquivo"
      "Find Modified File":
        value: "Localizar Arquivo Modificado"
  Packages:
    value: "Pacotes"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Janelas"
    submenu:
      Minimize:
        value: "Minimizar"
      Zoom:
        value: "Zoom"
      "Bring All to Front":
        value: "Trazer Todos para Frente"
  Help:
    value: "Ajuda"
    submenu:
      "Terms of Use":
        value: "Termos de Uso"
      Documentation:
        value: "Documentação"
      Roadmap:
        value: "Mapa de Desenvolvimento"
      "Frequently Asked Questions":
        value: "Perguntas Frequentes"
      "Community Discussions":
        value: "Discussão da Comunidade"
      "Report Issue":
        value: "Reportar Problema"
      "Search Issues":
        value: "Procurar Problemas"
      "Welcome Guide":
        value: "Guia de Boas Vindas"
