About:
  tabTitle: "के बारे में"
  releaseNotes: "रिलीज नोट्स"
  newUpdate: "नई अपडेट"
  upToDate: "एटौम आज तक है!"
  checkingForUpdates: "अपडेट्स के लिए जांच हो रही है..."
  checkUpdatesNow: "अब जांचें"
  automaticDownloadUpdates: "स्वचालित डाउनलोड अपडेट"
  restartInstall: "स्थापित और स्थापित करें"
  license: "लाइसेंस"
  termsOfUse: "उपयोग की शर्तें"
  with: " साथ में "
  by: " द्वारा "
  andTheAwesome: "और कमाल है "
  atomCommunity: "एटम समुदाय"
