Context:
  "atom-workspace":
    "application:inspect": "इन्स्पेक्ट  एलीमेंट"
  "atom-text-editor":
    "color-picker:open": "कलर पीकर "
    "minimap:toggle": "टोग्ल मिनीमप"
  "atom-text-editor, .overlayer":
    "core:undo": "अंडू"
    "core:redo": "रीडू"
    "core:cut": "कट"
    "core:copy": "कोपी"
    "core:paste": "पेस्ट"
    "core:delete": "डिलीट"
    "core:select-all": "सलेक्ट आँल"
    "pane:split-up-and-copy-active-item": "पेन ऊपर स्पलित"
    "pane:split-down-and-copy-active-item": "पेन नीचे स्पलित"
    "pane:split-left-and-copy-active-item": "पेन बाँए स्पलित"
    "pane:split-right-and-copy-active-item": "पेन दायें स्पलित"
    "pane:close": "पेन बंद करे"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "पेन ऊपर स्पलित"
    "pane:split-down-and-copy-active-item": "पेन नीचे स्पलित"
    "pane:split-left-and-copy-active-item": "पेन बाँए स्पलित"
    "pane:split-right-and-copy-active-item": "पेन दायें स्पलित"
    "pane:close": "पेन बंद करें"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "एनकोडिंग बदलें"
    "spell-check:correct-misspelling": "स्पेलिंग ठीक करें"
    "symbols-view:go-to-declaration": "डीकलरेशन पर जाँए"
  ".overlayer":
    "grammar-selector:show": "ग्रामर बदलें" 
  ".image-view":
    "image-view:reload": "ईमेग रीलोड"
  ".tab":
    "tabs:close-tab": "टैब बंद करें"
    "tabs:close-other-tabs": "बाकी के टैब बंद करें"
    "tabs:close-tabs-to-right": "दायें टैब बंद करें"
    "tabs:close-tabs-to-left": "बाँए टैब बंद करें"
    "tabs:close-saved-tabs": "सेव हुए टैब बंद करें"
    "tabs:close-all-tabs": "सारे टैब बंद करें"
    "tabs:split-up": "टैब ऊपर स्पलित करें"
    "tabs:split-down": "टैब नीचे स्पलित करें"
    "tabs:split-left": "टैब बाँए स्पलित करें"
    "tabs:split-right": "टैब दायें स्पलित करें"
  ".tab.texteditor":
    "tabs:open-in-new-window": "नईं विंडो में टैब खोले"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Keep Pending Tab"
  ".tab-bar":
    "pane:reopen-closed-item": "Reopen Closed Tab"
  ".tree-view .full-menu":
    "tree-view:add-file": "New File"
    "tree-view:add-folder": "New Folder"
    "tree-view:move": "Rename"
    "tree-view:duplicate": "Duplicate"
    "tree-view:remove": "Delete"
    "tree-view:copy": "Copy"
    "tree-view:cut": "Cut"
    "tree-view:paste": "Paste"
    "tree-view:open-selected-entry-up": "Split Up"
    "tree-view:open-selected-entry-down": "Split Down"
    "tree-view:open-selected-entry-left": "Split Left"
    "tree-view:open-selected-entry-right": "Split Right"
    "application:add-project-folder": "Add Project Folder"
    "tree-view:copy-full-path": "Copy Full Path"
    "tree-view:copy-project-path": "Copy Project Path"
    "tree-view:open-in-new-window": "Open In New Window"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Split Up"
    "tree-view:open-selected-entry-down": "Split Down"
    "tree-view:open-selected-entry-left": "Split Left"
    "tree-view:open-selected-entry-right": "Split Right"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "New File"
    "tree-view:add-folder": "New Folder"
    "tree-view:move": "Rename"
    "tree-view:duplicate": "Duplicate"
    "tree-view:remove": "Delete"
    "tree-view:copy": "Copy"
    "tree-view:cut": "Cut"
    "tree-view:paste": "Paste"
    "tree-view:open-selected-entry-up": "Split Up"
    "tree-view:open-selected-entry-down": "Split Down"
    "tree-view:open-selected-entry-left": "Split Left"
    "tree-view:open-selected-entry-right": "Split Right"
    "application:add-project-folder": "Add Project Folder"
    "tree-view:remove-project-folder": "Remove Project Folder"
    "tree-view:copy-full-path": "Copy Full Path"
    "tree-view:copy-project-path": "Copy Project Path"
    "tree-view:open-in-new-window": "Open In New Window"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Show in Finder"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Show in Explorer"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Show in File Manager"
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Search in Directory"
  ".tree-view .multi-select":
    "tree-view:remove": "Delete"
    "tree-view:copy": "Copy"
    "tree-view:cut": "Cut"
    "tree-view:paste": "Paste"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Reveal in Tree View"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Rename"
    "tree-view:reveal-active-file": "Reveal in Tree View"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Show In Finder"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Show In Explorer"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Show In File Manager"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Show In Finder"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Show In Explorer"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Show In File Manager"
