Context:
  "atom-workspace":
    "application:inspect": "इन्स्पेक्ट  एलीमेंट"
  "atom-text-editor":
    "color-picker:open": "कलर पीकर "
    "minimap:toggle": "टोग्ल मिनीमप"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "अंडू"
    "core:redo": "रीडू"
    "core:cut": "कट"
    "core:copy": "कोपी"
    "core:paste": "पेस्ट"
    "core:delete": "डिलीट"
    "core:select-all": "सलेक्ट आँल"
    "pane:split-up-and-copy-active-item": "पेन ऊपर स्पलित"
    "pane:split-down-and-copy-active-item": "पेन नीचे स्पलित"
    "pane:split-left-and-copy-active-item": "पेन बाँए स्पलित"
    "pane:split-right-and-copy-active-item": "पेन दायें स्पलित"
    "pane:close": "पेन बंद करे"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "पेन ऊपर स्पलित"
    "pane:split-down-and-copy-active-item": "पेन नीचे स्पलित"
    "pane:split-left-and-copy-active-item": "पेन बाँए स्पलित"
    "pane:split-right-and-copy-active-item": "पेन दायें स्पलित"
    "pane:close": "पेन बंद करें"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "एनकोडिंग बदलें"
    "spell-check:correct-misspelling": "स्पेलिंग ठीक करें"
    "symbols-view:go-to-declaration": "डीकलरेशन पर जाँए"
  ".overlayer":
    "grammar-selector:show": "ग्रामर बदलें"
  ".image-view":
    "image-view:reload": "ईमेग रीलोड"
  ".tab":
    "tabs:close-tab": "टैब बंद करें"
    "tabs:close-other-tabs": "बाकी के टैब बंद करें"
    "tabs:close-tabs-to-right": "दायें टैब बंद करें"
    "tabs:close-tabs-to-left": "बाँए टैब बंद करें"
    "tabs:close-saved-tabs": "सेव हुए टैब बंद करें"
    "tabs:close-all-tabs": "सारे टैब बंद करें"
    "tabs:split-up": "टैब ऊपर स्पलित करें"
    "tabs:split-down": "टैब नीचे स्पलित करें"
    "tabs:split-left": "टैब बाँए स्पलित करें"
    "tabs:split-right": "टैब दायें स्पलित करें"
  ".tab.texteditor":
    "tabs:open-in-new-window": "नईं विंडो में टैब खोलें"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "पेनडिंग टैब खूला रकें"
  ".tab-bar":
    "pane:reopen-closed-item": "पिछला बंद टैब खोलें"
  ".tree-view .full-menu":
    "tree-view:add-file": "नईं फ़ाइल"
    "tree-view:add-folder": "नया फ़ोल्डर"
    "tree-view:move": "रीनेम"
    "tree-view:duplicate": "डूप्लिकेट"
    "tree-view:remove": "डिलीट"
    "tree-view:copy": "क़ोपी"
    "tree-view:cut": "कट"
    "tree-view:paste": "पेस्ट"
#    "tree-view:open-selected-entry-up": "उपेर की पेन में खोलें"
#    "tree-view:open-selected-entry-down": "नीचे की पेन में खोलें"
#    "tree-view:open-selected-entry-left": "बाँए पेन में खोलें"
#    "tree-view:open-selected-entry-right": "दायें पेन में खोलें"
    "application:add-project-folder": "प्रोजेक्ट फ़ोल्डर ऐड करें"
    "tree-view:copy-full-path": "पूरा पाथ क़ोपी करें"
    "tree-view:copy-project-path": "प्रोजेक्ट पाथ क़ोपी करें"
    "tree-view:open-in-new-window": "नयीं विंडो में खोलें"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "ऊपर स्पलित"
    "tree-view:open-selected-entry-down": "नीचे स्पलित"
    "tree-view:open-selected-entry-left": "बाँए स्पलित"
    "tree-view:open-selected-entry-right": "दायें स्पलित"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "नयीं फ़ाइल"
    "tree-view:add-folder": "नया फ़ोल्डर"
    "tree-view:move": "रीनेम"
    "tree-view:duplicate": "डूप्लिकेट"
    "tree-view:remove": "डिलीट"
    "tree-view:copy": "क़ोपी"
    "tree-view:cut": "कट"
    "tree-view:paste": "पेस्ट"
#    "tree-view:open-selected-entry-up": "ऊपर स्पलित"
#    "tree-view:open-selected-entry-down": "नीचे स्पलित"
#    "tree-view:open-selected-entry-left": "बाँए स्पलित"
#    "tree-view:open-selected-entry-right": "दायें स्पलित"
    "application:add-project-folder": "प्रोजेक्ट फ़ोल्डर ऐड करें"
    "tree-view:remove-project-folder": "प्रोजेक्ट फ़ोल्डर निकालें"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "पूरा पाथ क़ोपी करें"
    "tree-view:copy-project-path": "प्रोजेक्ट पाथ क़ोपी करें"
    "tree-view:open-in-new-window": "नयीं विंडो में खोलें"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "फ़ाइंडर में देखें"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "इक्स्प्लॉरर में देखें"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "फ़ाइल मैनेजर में देखें"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "डिरेक्टरी में कोज़िये"
  ".tree-view .multi-select":
    "tree-view:remove": "डिलीट"
    "tree-view:copy": "क़ोपी"
    "tree-view:cut": "कट"
    "tree-view:paste": "पेस्ट"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "ट्री वियू में पेश करें"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "रीनेम"
    "tree-view:reveal-active-file": "ट्री वियू में पेश करें"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "फ़ाइंडर में देखें"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "इक्स्प्लॉरर में देखें"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "फ़ाइल मैनेजर में देखें"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "फ़ाइंडर में देखें"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "इक्स्प्लॉरर में देखें"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "फ़ाइल मैनेजर में देखें"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "डिरेक्टरी में कोज़िये"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
