Menu:
  "&File":
    value: "फ़ाइल (&F)"
    submenu:
      "New &Window":
        value: "नयीं विंडो (&W)"
      "&New File":
        value: "नयीं फ़ाइल (&N)"
      "&Open File…":
        value: "ओपन फ़ाइल (&O)..."
      "Open Folder…":
        value: "ओपन फ़ोल्डर..."
      "Add Project Folder…":
        value: "ओपन प्रोजेक्ट फ़ोल्डर..."
      "Reopen Project":
        value: "रीओपेन प्रोजेक्ट"
        submenu:
          "Clear Project History":
            value: "क्लीर प्रोजेक्ट हिस्ट्री"
      "Reopen Last &Item":
        value: "रीओपेन लास्ट आइटम (&I)"
      "&Save":
        value: "सेव (&S)"
      "Save &As…":
        value: "सेव एस (&A)..."
      "Save A&ll":
        value: "सेव ऑल (&L)"
      "&Close Tab":
        value: "क्लोस टैब (&C)"
      "Close &Pane":
        value: "क्लोस पेन (&P)"
      "Clos&e Window":
        value: "क्लोस विंडो (&E)"
      "Quit":
        value: "बंद"
      "Close All Tabs":
        value: "सब टैब बंद कारें"
  "&Edit":
    value: "संपादित करे (&E)"
    submenu:
      "&Undo":
        value: "अंडू (&U)"
      "&Redo":
        value: "रीडू (&R)"
      "&Cut":
        value: "कट (&C)"
      "C&opy":
        value: "कॉपी (&O)"
      "Copy Pat&h":
        value: "कॉपी पाथ (&H)"
      "&Paste":
        value: "पेस्ट (&P)"
      "Select &All":
        value: "सलेक्ट ऑल (&A)"
      "&Toggle Comments":
        value: "टॉगल कॉमेंट (&T)"
      Lines:
        value: "लाइंज़"
        submenu:
          "&Indent":
            value: "इंडेंट (&I)"
          "&Outdent":
            value: "ओऊटडेंट (&O)"
          "&Auto Indent":
            value: "ऑटो इंडेंट (&A)"
          "Move Line &Up":
            value: "मूव लाइन अप (&U)"
          "Move Line &Down":
            value: "मूव लाइन डाउन (&D)"
          "Du&plicate Lines":
            value: "डूप्लिकेट लाइनस (&P)"
          "D&elete Line":
            value: "डिलीट लाइन (&E)"
          "&Join Lines":
            value: "जॉन लाइनस (&J)"
      Columns:
        value: "कोलमस"
        submenu:
          "Move Selection &Left":
            value: "मूव सिलेक्शन लेफ़्ट (&L)"
          "Move Selection &Right":
            value: "मूव सिलेक्शन राइट (&R)"
      Text:
        value: "टेक्स्ट"
        submenu:
          "&Upper Case":
            value: "अप्पर केस (&U)"
          "&Lower Case":
            value: "लोअर केस (&L)"
          "Delete to End of &Word":
            value: "डिलीट टू एंड ओफ वोर्द (&W)"
          "Delete to Previous Word Boundary":
            value: "डिलीट टू प्रीवीयस वोर्द बाउंड्री"
          "Delete to Next Word Boundary":
            value: "डिलीट टू नेक्स्ट वोर्द बाउंड्री"
          "&Delete Line":
            value: "डिलीट लाइन (&D)"
          "&Transpose":
            value: "ट्रैन्स्पोज़ (&T)"
      Folding:
        value: "फ़ोलदिंग"
        submenu:
          "&Fold":
            value: "फ़ोल्ड (&F)"
          "&Unfold":
            value: "अनफ़ोल्ड (&U)"
          "Fol&d All":
            value: "फ़ोल्ड ऑल (&D)"
          "Unfold &All":
            value: "अनफ़ोल्ड ऑल (&A)"
          "Fold Level 1":
            value: "फ़ोल्ड लेवल १"
          "Fold Level 2":
            value: "फ़ोल्ड लेवल २"
          "Fold Level 3":
            value: "फ़ोल्ड लेवल ३"
          "Fold Level 4":
            value: "फ़ोल्ड लेवल ४"
          "Fold Level 5":
            value: "फ़ोल्ड लेवल ५"
          "Fold Level 6":
            value: "फ़ोल्ड लेवल ६"
          "Fold Level 7":
            value: "फ़ोल्ड लेवल ७"
          "Fold Level 8":
            value: "फ़ोल्ड लेवल ८"
          "Fold Level 9":
            value: "फ़ोल्ड लेवल ९"
      "&Preferences":
        value: "प्रेफ़्रेनसीस (&P)"
      "Config…":
        value: "कोनफ़िग ..."
      "Init Script…":
        value: "इनिट स्क्रिप्ट ..."
      "Keymap…":
        value: "कीमैप ..."
      "Snippets…":
        value: "स्निपट ..."
      "Stylesheet…":
        value: "स्टाइल शीत ..."
      "Reflow Selection":
        value: "रिफ़्लो सिलेक्शन"
      Bookmark:
        value: "बुक्मार्क"
        submenu:
          "View All":
            value: "व्यू ऑल"
          "Toggle Bookmark":
            value: "टॉगल बुक्मार्क"
          "Jump to Next Bookmark":
            value: "जम्प टू नेक्स्ट बुक्मार्क"
          "Jump to Previous Bookmark":
            value: "जम्प टू प्रीवीयस बुक्मार्क"
      "Select Encoding":
        value: "सलेक्ट एंकोंडिंग"
      "Go to Line":
        value: "गो टू लाइन"
      "Select Grammar":
        value: "सलेक्ट ग्रामर"
  "&View":
    value: "व्यू (&V)"
    submenu:
      "Toggle &Full Screen":
        value: "टॉगल फ़ुल स्क्रीन (&F)"
      "Toggle Menu Bar":
        value: "टॉगल मेनू बार"
      Panes:
        value: "पेनस"
        submenu:
          "Split Up":
            value: "स्प्लिट उप"
          "Split Down":
            value: "स्प्लिट डाउन"
          "Split Left":
            value: "स्प्लिट लेफ़्ट"
          "Split Right":
            value: "स्प्लिट राइट"
          "Focus Next Pane":
            value: "फ़ोकस नेक्स्ट पेन"
          "Focus Previous Pane":
            value: "फ़ोकस प्रीवीयस पेन"
          "Focus Pane Above":
            value: "फ़ोकस पेन अबोव"
          "Focus Pane Below":
            value: "फ़ोकस पेन बिलो"
          "Focus Pane On Left":
            value: "फ़ोकस पेन ऑन लेफ़्ट"
          "Focus Pane On Right":
            value: "फ़ोकस पेन ऑन राइट"
          "Close Pane":
            value: "क्लोस पेन"
      Developer:
        value: "डिवेलपर"
        submenu:
          "Open In &Dev Mode…":
            value: "ओपन इन दएव मोड़ (&D)..."
          "&Reload Window":
            value: "रीलोड विंडो (&R)"
          "Run Package &Specs":
            value: "रन पैकिज स्पेक्स (&S)"
          "Run &Benchmarks":
            value: "रन बेंचमार्कस (&B)"
          "Toggle Developer &Tools":
            value: "टॉगल डिवेलपर टूलस (&T)"
      "&Increase Font Size":
        value: "फ़ॉंट साइज़ बड़ा करें (&I)"
      "&Decrease Font Size":
        value: "फ़ॉंट साइज़ छोटा करें (&D)"
      "Re&set Font Size":
        value: "फ़ॉंट साइज़ रीसेट करें (&S)"
      "Toggle Soft &Wrap":
        value: "टॉगल सॉफ़्ट व्रेप (&W)"
      "Toggle Command Palette":
        value: "टॉगल कमांड पालेट"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "टॉगल ट्री व्यू"
  "&Selection":
    value: "सिलेक्शन (&S)"
    submenu:
      "Add Selection &Above":
        value: "ऐड सिलेक्शन अबव (&A)"
      "Add Selection &Below":
        value: "ऐड सिलेक्शन बिलो (&B)"
      "S&plit into Lines":
        value: "स्प्लिट इंटू लाइंस (&P)"
      "Single Selection":
        value: "सिंगल सिलेक्शन"
      "Select to &Top":
        value: "सलेक्ट टू टॉप (&T)"
      "Select to Botto&m":
        value: "सलेक्ट टू बॉटम (&M)"
      "Select &Line":
        value: "सलेक्ट लाइन (&L)"
      "Select &Word":
        value: "सलेक्ट वोर्द (&W)"
      "Select to Beginning of W&ord":
        value: "सलेक्ट टू बेगिनिंग ओफ वोर्द (&O)"
      "Select to Beginning of L&ine":
        value: "सलेक्ट टू बेगिनिंग ओफ लाइन (&I)"
      "Select to First &Character of Line":
        value: "सलेक्ट टू फ़र्स्ट कैरिक्टर ओफ लाइन (&C)"
      "Select to End of Wor&d":
        value: "सलेक्ट टू एंड ओफ वोर्द (&D)"
      "Select to End of Lin&e":
        value: "सलेक्ट टू एंड ओफ लाइन (&E)"
      "Select Inside Brackets":
        value: "सलेक्ट इन्साइड ब्रैकेट्स"
  "F&ind":
    value: "फ़ाइंड (&I)"
    submenu:
      "Find in Buffer":
        value: "फ़ाइंड इन बफ़र"
      "Replace in Buffer":
        value: "रिप्लेस इन बफ़र"
      "Select Next":
        value: "सलेक्ट नेक्स्ट"
      "Select All":
        value: "सलेक्ट ऑल"
      "Toggle Find in Buffer":
        value: "टॉगल फ़ाइंड इन बफ़र"
      "Find in Project":
        value: "फ़ाइंड इन प्रोजेक्ट"
      "Toggle Find in Project":
        value: "टॉगल फ़ाइंड इन प्रोजेक्ट"
      "Find All":
        value: "फ़ाइंड ऑल"
      "Find Next":
        value: "फ़ाइंड नेक्स्ट"
      "Find Previous":
        value: "फ़ाइंड प्रीवीयस"
      "Replace Next":
        value: "रिप्लेस नेक्स्ट"
      "Replace All":
        value: "रिप्लेस ऑल"
      "Clear History":
        value: "क्लीर हिस्ट्री"
      "Find Buffer":
        value: "फ़ाइंड बफ़र"
      "Find File":
        value: "फ़ाइंड फ़ाइल"
      "Find Modified File":
        value: "फ़ाइंड मॉडिफ़ायड फ़ाइल"
  "&Packages":
    value: "पैकिजेस (&P)"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  "&Help":
    value: "हेल्प (&H)"
    submenu:
      "View &Terms of Use":
        value: "व्यू टेर्मस ओफ यूज़ (&T)"
      "View &License":
        value: "व्यू लाइसेन्स (&L)"
      "&Documentation":
        value: "डोक्युमेंटेशन (&D)"
      "Frequently Asked Questions":
        value: "फ़्रीक्वंट्ली पूछे गए सवाल"
      "Community Discussions":
        value: "कम्यूनिटी के डिस्कशन"
      "Report Issue":
        value: "रिपोर्ट इशू"
      "Search Issues":
        value: "सर्च इशू"
      "About Atom":
        value: "अबाउट ऐटम"
      "Welcome Guide":
        value: "वेल्कम गाइड"
