Menu:
  Atom:
    value: "एटोम"
    submenu:
      "About Atom":
        value: "एटोम के बारे में"
      "View License":
        value: "लाइसेंस देखें"
      "Check for Update":
        value: "अपडेट के लिये जांचें"
      "Preferences…":
        value: "पसंद..."
      "Config…":
        value: "कॉन्फ़िग..."
      "Init Script…":
        value: "ईनीट लिपि..."
      "Keymap…":
        value: "कीमैप..."
      "Snippets…":
        value: "स्निपेट्स..."
      "Stylesheet…":
        value: "शैली पत्रक..."
      "Install Shell Commands":
        value: "शेल कमांड स्थापित करें"
      "Hide Atom":
        value: "एटम छिपाओ"
      "Hide Others":
        value: "दूसरों को छिपाओ"
      "Show All":
        value: "सब दिखाओ"
      Quit:
        value: "छोड़ना"
  File:
    value: "फ़ाइल"
    submenu:
      "New Window":
        value: "नयी विंडो"
      "New File":
        value: "नई फ़ाइल"
      "Open…":
        value: "खुला हुआ..."
      "Add Project Folder…":
        value: "प्रोजेक्ट फ़ोल्डर जोड़ें..."
      "Reopen Project":
        value: "रोपेन प्रोजेक्ट"
        submenu:
          "Clear Project History":
            value: "प्रोजेक्ट इतिहास साफ़ करें"
      "Reopen Last Item":
        value: "अंतिम आइटम फिर से खोलें"
      Save:
        value: "सहेजें"
      "Save As…":
        value: "के रूप रक्षित करें..."
      "Save All":
        value: "सभी को सुरक्षित करें"
      "Close Tab":
        value: "टैब बंद करें"
      "Close Pane":
        value: "फलक बंद करें"
      "Close Window":
        value: "विंडो बंद करें"
      "Close All Tabs":
        value: "सभी टैब को बंद करें"
  Edit:
    value: "संपादित करें"
    submenu:
      Undo:
        value: "पूर्ववत करें"
      Redo:
        value: "फिर से करें"
      Cut:
        value: "कट गया"
      Copy:
        value: "प्रतिलिपि"
      "Copy Path":
        value: "पथ कापी"
      Paste:
        value: "पेस्ट करें"
      "Select All":
        value: "सभी का चयन करे"
      "Toggle Comments":
        value: "टिप्पणियाँ टॉगल करें"
      Lines:
        value: "पंक्तियां"
        submenu:
          Indent:
            value: "इंडेंट"
          Outdent:
            value: "आउटडेंट"
          "Auto Indent":
            value: "ऑटो इंडेंट"
          "Move Line Up":
            value: "लाइन अप ले जाएँ"
          "Move Line Down":
            value: "लाइन डाउन करें"
          "Duplicate Lines":
            value: "डुप्लीकेट लाइनें"
          "Delete Line":
            value: "डिलीट लाइन"
          "Join Lines":
            value: "लाइनों में शामिल हों"
      Columns:
        value: "कॉलम"
        submenu:
          "Move Selection Left":
            value: "लेफ्ट सेलेक्शन ले जाएं"
          "Move Selection Right":
            value: "सही चयन करें"
      Text:
        value: "टेक्स्ट"
        submenu:
          "Upper Case":
            value: "अपरकेस"
          "Lower Case":
            value: "लोअर केस"
          "Delete to End of Word":
            value: "शब्द के अंत तक हटाएं"
          "Delete to Previous Word Boundary":
            value: "पिछले शब्द सीमा तक हटाएं"
          "Delete to Next Word Boundary":
            value: "अगला शब्द सीमा तक हटाएं"
          "Delete Line":
            value: "डिलीट लाइन"
          Transpose:
            value: "खिसकाना"
      Folding:
        value: "तह"
        submenu:
          Fold:
            value: "तह"
          Unfold:
            value: "उधेड़ना"
          "Fold All":
            value: "सभी को मोड़ो"
          "Unfold All":
            value: "सब अनकहा"
          "Fold Level 1":
            value: "तह स्तर 1"
          "Fold Level 2":
            value: "तह स्तर 2"
          "Fold Level 3":
            value: "तह स्तर 3"
          "Fold Level 4":
            value: "तह स्तर 4"
          "Fold Level 5":
            value: "तह स्तर 5"
          "Fold Level 6":
            value: "तह स्तर 6"
          "Fold Level 7":
            value: "तह स्तर 7"
          "Fold Level 8":
            value: "तह स्तर 8"
          "Fold Level 9":
            value: "तह स्तर 9"
      "Reflow Selection":
        value: "रीफ़्लो चयन"
      Bookmark:
        value: "बुकमार्क"
        submenu:
          "View All":
            value: "सभी देखें"
          "Toggle Bookmark":
            value: "बुकमार्क टॉगल करें"
          "Jump to Next Bookmark":
            value: "अगले बुकमार्क पर जाएं"
          "Jump to Previous Bookmark":
            value: "पिछले बुकमार्क करने के लिए कूदो"
      "Select Encoding":
        value: "एनकोडिंग का चयन करें"
      "Go to Line":
        value: "लाइन पर जाएं"
      "Select Grammar":
        value: "व्याकरण का चयन करें"
  View:
    value: "वीय़ू"
    submenu:
      "Toggle Full Screen":
        value: "पूर्णस्क्रीन चालू करें"
      Panes:
        value: "फलक"
        submenu:
          "Split Up":
            value: "अलग होना"
          "Split Down":
            value: "नीचे विभाजित करें"
          "Split Left":
            value: "बाएं तरफ विभाजित करें"
          "Split Right":
            value: "दायी तरफ विभाजित करें"
          "Focus Next Pane":
            value: "फ़ोकस अगला फलक"
          "Focus Previous Pane":
            value: "फ़ोकस पिछला फलक"
          "Focus Pane Above":
            value: "फोकस फलक के ऊपर"
          "Focus Pane Below":
            value: "फोकस फलक के नीचे"
          "Focus Pane On Left":
            value: "बाईं ओर ध्यान केंद्रित करें"
          "Focus Pane On Right":
            value: "फोकस ऑन राइट"
          "Close Pane":
            value: "फलक बंद करें"
      Developer:
        value: "डेवलपर"
        submenu:
          "Open In Dev Mode…":
            value: "देव मोड में खोलें..."
          "Reload Window":
            value: "रिलोड विंडो"
          "Run Package Specs":
            value: "पैकेज स्पेक्स चलाएं"
          "Run Benchmarks":
            value: "बेंचमार्क चलाएं"
          "Toggle Developer Tools":
            value: "डेवलपर टूल टॉगल करें"
      "Increase Font Size":
        value: "फ़ॉन्ट आकार बढ़ाएँ"
      "Decrease Font Size":
        value: "कमी फ़ॉन्ट आकार"
      "Reset Font Size":
        value: "फ़ॉन्ट आकार रीसेट करें"
      "Toggle Soft Wrap":
        value: "नरम लपेटें टॉगल करें"
      "Toggle Command Palette":
        value: "टॉगल कमांड पैलेट"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "टॉगल ट्री व्यू"
  Selection:
    value: "चयन"
    submenu:
      "Add Selection Above":
        value: "ऊपर चयन जोड़ें"
      "Add Selection Below":
        value: "नीचे चयन जोड़ें"
      "Single Selection":
        value: "एकल चयन"
      "Split into Lines":
        value: "लाइनों में विभाजित"
      "Select to Top":
        value: "ऊपर का चयन करें"
      "Select to Bottom":
        value: "नीचे का चयन करें"
      "Select Line":
        value: "लाइन का चयन करें"
      "Select Word":
        value: "शब्द का चयन करें"
      "Select to Beginning of Word":
        value: "वर्ड की शुरुआत करने के लिए चयन करें"
      "Select to Beginning of Line":
        value: "लाइन की शुरुआत करने के लिए चयन करें"
      "Select to First Character of Line":
        value: "लाइन के पहले अक्षर का चयन करें"
      "Select to End of Word":
        value: "शब्द के अंत का चयन करें"
      "Select to End of Line":
        value: "पंक्ति के अंत का चयन करें"
      "Select Inside Brackets":
        value: "ब्रैकेट के अंदर का चयन करें"
  Find:
    value: "खोज"
    submenu:
      "Find in Buffer":
        value: "बफर में खोजें"
      "Replace in Buffer":
        value: "बफर में बदलें"
      "Select Next":
        value: "अगला चुनें"
      "Select All":
        value: "सभी का चयन करे"
      "Toggle Find in Buffer":
        value: "बोगर में टॉगल फाइंड"
      "Find in Project":
        value: "प्रोजेक्ट में खोजें"
      "Toggle Find in Project":
        value: "प्रोजेक्ट में टॉगल खोजें"
      "Find All":
        value: "सब ढूँढ़ो"
      "Find Next":
        value: "अगला ढूंढो"
      "Find Previous":
        value: "पिछला खोजें"
      "Replace Next":
        value: "अगला बदलें"
      "Replace All":
        value: "सबको बदली करें"
      "Clear History":
        value: "इतिहास मिटा दें"
      "Find Buffer":
        value: "बफर खोजें"
      "Find File":
        value: "फ़ाइल ढूंढे"
      "Find Modified File":
        value: "संशोधित फ़ाइल का पता लगाएं"
  Packages:
    value: "संकुल"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "खिड़की"
    submenu:
      Minimize:
        value: "छोटा करना"
      Zoom:
        value: "ज़ूम"
      "Bring All to Front":
        value: "सभी को सामने लाओ"
  Help:
    value: "मदद"
    submenu:
      "Terms of Use":
        value: "उपयोग की शर्तें"
      Documentation:
        value: "प्रलेखन"
      Roadmap:
        value: "रोडमैप"
      "Frequently Asked Questions":
        value: "अक्सर पूछे जाने वाले प्रश्न"
      "Community Discussions":
        value: "सामुदायिक चर्चा"
      "Report Issue":
        value: "रिपोर्ट जारी करना"
      "Search Issues":
        value: "मुद्दे खोजें"
      "Welcome Guide":
        value: "वेलकम गाइड"
