Welcome:
  tabTitle: "नमसते"
  subtitle:
    text1: "२१ वी सदी के लिए एक हैक करने योग्य पाठ संपादक"
    superscript: ""
    text2: " "
  help:
    forHelpVisit: "मदद के लिए, कृपया देखें"
    atomDocs:
      text1: ""
      link: "Atom docs"
      text2: "गाइड तथा API संदर्भ के लिये "
      _template: "${text1}<a>${link}</a>${text2}"
    atomForum:
      text1: "एटोम मंच पर "
      link: "discuss.atom.io"
      text2: ""   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    atomOrg:
      text1: ""
      link: "Atom org"
      text2: ".यह वह जगह है जहाँ सभी GitHub निर्मित एटम पैकेज मिल सकते हैं "
      _template: "${text1}<a>${link}</a>${text2}"
  showWelcomeGuide: "एटम खोलते समय ये वेलकम गाइड दिखाएं"