About:
  tabTitle: "Mbi"
  releaseNotes: "Shënime Versioni"
  newUpdate: "Përditësim i Ri"
  upToDate: "Atom-i është i përditësuar!"
  checkingForUpdates: "Po kontrollohet për përditësime…"
  checkUpdatesNow: "Kontrollo tani"
  automaticDownloadUpdates: "Përditësimet shkarkoji automatikisht"
  restartInstall: "Rinise dhe instaloje"
  license: "Licencë"
  termsOfUse: "Kushte Përdorimi"
  with: " me "
  by: " nga "
  andTheAwesome: "Dhe Bashkësia "
  atomCommunity: "mahnitëse e Atom-it"
