Context:
  "atom-workspace":
    "application:inspect": "Inspektojeni Elementin"
  "atom-text-editor":
    "color-picker:open": "Zgjedhës Ngjyrash"
    "minimap:toggle": "Shfaq/fshih Minimap-in"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Zhbëje"
    "core:redo": "Ribëje"
    "core:cut": "Prije"
    "core:copy": "Kopjoje"
    "core:paste": "Ngjite"
    "core:delete": "Fshije"
    "core:select-all": "Përzgjidhe Krejt"
    "pane:split-up-and-copy-active-item": "Ndaje Përsipër"
    "pane:split-down-and-copy-active-item": "Ndaje Përposhtë"
    "pane:split-left-and-copy-active-item": "Ndaje Majtas"
    "pane:split-right-and-copy-active-item": "Ndaje Djathtas"
    "pane:close": "Mbylle Kuadratin"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Ndaje Përsipër"
    "pane:split-down-and-copy-active-item": "Ndaje Përposhtë"
    "pane:split-left-and-copy-active-item": "Ndaje Majtas"
    "pane:split-right-and-copy-active-item": "Ndaje Djathtas"
    "pane:close": "Mbylle Kuadratin"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Ndryshoji Kodimin"
    "spell-check:correct-misspelling": "Ndreqi Drejtshkrimin"
    "symbols-view:go-to-declaration": "Shko te Pohimi"
  ".overlayer":
    "grammar-selector:show": "Ndryshoni Gramatikën"
  ".image-view":
    "image-view:reload": "Ringarko Figurën"
  ".tab":
    "tabs:close-tab": "Mbylle Skedën"
    "tabs:close-other-tabs": "Mbylli Skedat e Tjera"
    "tabs:close-tabs-to-right": "Mbylli Skedat Në të Djathtë"
    "tabs:close-tabs-to-left": "Mbylli Skedat Në të Majtë"
    "tabs:close-saved-tabs": "Mbylli Skedat e Ruajtura"
    "tabs:close-all-tabs": "Mbylli Krejt Skedat"
    "tabs:split-up": "Ndaje Përsipër"
    "tabs:split-down": "Ndaje Përposhtë"
    "tabs:split-left": "Ndaje Majtas"
    "tabs:split-right": "Ndaje Djathtas"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Hape në Dritare të Re"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Mbaje Skedën Pezull"
  ".tab-bar":
    "pane:reopen-closed-item": "Rihape Skedën e Mbyllur"
  ".tree-view .full-menu":
    "tree-view:add-file": "Kartelë e Re"
    "tree-view:add-folder": "Dosje e Re"
    "tree-view:move": "Riemërtojeni"
    "tree-view:duplicate": "Përsëdyte"
    "tree-view:remove": "Fshije"
    "tree-view:copy": "Kopjoje"
    "tree-view:cut": "Prije"
    "tree-view:paste": "Ngjite"
#    "tree-view:open-selected-entry-up": "Ndaje Përsipër"
#    "tree-view:open-selected-entry-down": "Ndaje Përposhtë"
#    "tree-view:open-selected-entry-left": "Ndaje Majtas"
#    "tree-view:open-selected-entry-right": "Ndaje Djathtas"
    "application:add-project-folder": "Shtoni Dosje Projekti"
    "tree-view:copy-full-path": "Kopjoji Shtegun e Plotë"
    "tree-view:copy-project-path": "Kopjo Shteg Projekti"
    "tree-view:open-in-new-window": "Hape Në Dritare të Re"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Ndaje Përsipër"
    "tree-view:open-selected-entry-down": "Ndaje Përposhtë"
    "tree-view:open-selected-entry-left": "Ndaje Majtas"
    "tree-view:open-selected-entry-right": "Ndaje Djathtas"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Kartelë e Re"
    "tree-view:add-folder": "Dosje e Re"
    "tree-view:move": "Riemërtojeni"
    "tree-view:duplicate": "Përsëdyte"
    "tree-view:remove": "Fshije"
    "tree-view:copy": "Kopjoje"
    "tree-view:cut": "Prije"
    "tree-view:paste": "Ngjite"
#    "tree-view:open-selected-entry-up": "Ndaje Përsipër"
#    "tree-view:open-selected-entry-down": "Ndaje Përposhtë"
#    "tree-view:open-selected-entry-left": "Ndaje Majtas"
#    "tree-view:open-selected-entry-right": "Ndaje Djathtas"
    "application:add-project-folder": "Shto Dosje Projekti"
    "tree-view:remove-project-folder": "Hiq Dosje Projekti"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Kopjoji Shtegun e Plotë"
    "tree-view:copy-project-path": "Kopjo Shteg Projekti"
    "tree-view:open-in-new-window": "Hape Në Dritare të Re"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Shfaqe në Gjetës"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Shfaqe në Eksplorues"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Shfaqe në Përgjegjës Kartelash"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Kërko në Drejtori"
  ".tree-view .multi-select":
    "tree-view:remove": "Fshije"
    "tree-view:copy": "Kopjoje"
    "tree-view:cut": "Prije"
    "tree-view:paste": "Ngjite"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Shfaqe në Pamjen Pemë"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Riemërtojeni"
    "tree-view:reveal-active-file": "Shfaqe në Pamjen Pemë"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Gjetës"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Eksplorues"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Përgjegjës Kartelash"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Gjetës"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Eksplorues"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Shfaqe Në Përgjegjës Kartelash"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Kërko në Drejtori"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
