Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Mbi Atom-in"
      "View License":
        value: "Shihni Licencën"
      "Check for Update":
        value: "Kontrollo për Përditësime"
      "Preferences…":
        value: "Parapëlqime…"
      "Config…":
        value: "Formësim…"
      "Init Script…":
        value: "Skript Init…"
      "Keymap…":
        value: "Skemë Tastiere…"
      "Snippets…":
        value: "Copëza…"
      "Stylesheet…":
        value: "Fletëstil…"
      "Install Shell Commands":
        value: "Instalo Urdhra Shell"
      "Hide Atom":
        value: "Fshihe Atom-in"
      "Hide Others":
        value: "Fshihi të Tjerat"
      "Show All":
        value: "Shfaqni Krejt"
      Quit:
        value: "Dil"
  File:
    value: "Kartelë"
    submenu:
      "New Window":
        value: "Dritare e Re"
      "New File":
        value: "Kartelë e Re"
      "Open…":
        value: "Hapni…"
      "Add Project Folder…":
        value: "Shtoni Dosje Projekti…"
      "Reopen Project":
        value: "Rihape Projektin"
        submenu:
          "Clear Project History":
            value: "Pastro Historik Projekti"
      "Reopen Last Item":
        value: "Rihap Objektin e Fundit"
      Save:
        value: "Ruaje"
      "Save As…":
        value: "Ruajeni Si…"
      "Save All":
        value: "Ruaji Krejt"
      "Close Tab":
        value: "Mbylle Skedën"
      "Close Pane":
        value: "Mbylle Kuadratin"
      "Close Window":
        value: "Mbylle Dritaren"
      "Close All Tabs":
        value: "Mbylli Krejt Skedat"
  Edit:
    value: "Përpunoni"
    submenu:
      Undo:
        value: "Zhbëje"
      Redo:
        value: "Ribëje"
      Cut:
        value: "Prije"
      Copy:
        value: "Kopjoje"
      "Copy Path":
        value: "Kopjoji Shtegun"
      Paste:
        value: "Ngjite"
      "Select All":
        value: "Përzgjidhi Krejt"
      "Toggle Comments":
        value: "Shfaqi/Fshihi Komentet"
      Lines:
        value: "Rreshta"
        submenu:
          Indent:
            value: "Brendazi"
          Outdent:
            value: "Jashtazi"
          "Auto Indent":
            value: "Shmangie Automatike"
          "Move Line Up":
            value: "Ngjite Rreshtin Sipër"
          "Move Line Down":
            value: "Zbrite Rreshtin Poshtë"
          "Duplicate Lines":
            value: "Shumëfisho Rreshta"
          "Delete Line":
            value: "Fshije Rreshtin"
          "Join Lines":
            value: "Bashkoji Rreshtat"
      Columns:
        value: "Shtylla"
        submenu:
          "Move Selection Left":
            value: "Kaloje Përzgjedhjen Majtas"
          "Move Selection Right":
            value: "Kaloje Përzgjedhjen Djathtas"
      Text:
        value: "Tekst"
        submenu:
          "Upper Case":
            value: "Me të Madhe"
          "Lower Case":
            value: "Me të Vogël"
          "Delete to End of Word":
            value: "Fshije deri te Fundi i Fjalës"
          "Delete to Previous Word Boundary":
            value: "Fshije deri te Kufiri i Fjalës së Mëparshme"
          "Delete to Next Word Boundary":
            value: "Fshije deri te Kufiri i Fjalës Pasuese"
          "Delete Line":
            value: "Fshije Rreshtin"
          Transpose:
            value: "Ktheji Fjalët Së Prapthi"
      Folding:
        value: "Palosje"
        submenu:
          Fold:
            value: "Palosi"
          Unfold:
            value: "Shpalosi"
          "Fold All":
            value: "Palosi Krejt"
          "Unfold All":
            value: "Shpalosi Krejt"
          "Fold Level 1":
            value: "Palos Nivelin 1"
          "Fold Level 2":
            value: "Palos Nivelin 2"
          "Fold Level 3":
            value: "Palos Nivelin 3"
          "Fold Level 4":
            value: "Palos Nivelin 4"
          "Fold Level 5":
            value: "Palos Nivelin 5"
          "Fold Level 6":
            value: "Palos Nivelin 6"
          "Fold Level 7":
            value: "Palos Nivelin 7"
          "Fold Level 8":
            value: "Palos Nivelin 8"
          "Fold Level 9":
            value: "Palos Nivelin 9"
      "Reflow Selection":
        value: "Reflow Selection"
      Bookmark:
        value: "Faqerojtës"
        submenu:
          "View All":
            value: "Shihini Krejt"
          "Toggle Bookmark":
            value: "Shfaq/Fshih Faqerojtës"
          "Jump to Next Bookmark":
            value: "Hidhu te Faqerojtësi Pasues"
          "Jump to Previous Bookmark":
            value: "Hidhu te Faqerojtësi i Mëparshëm"
      "Select Encoding":
        value: "Përzgjidhni Kodim"
      "Go to Line":
        value: "Shko te Rreshti"
      "Select Grammar":
        value: "Përzgjidhni Gramatikë"
  View:
    value: "Parje"
    submenu:
      "Toggle Full Screen":
        value: "Aktivizo/Çaktivizo Mënyrën Sa Krejt Ekrani"
      Panes:
        value: "Kuadrate"
        submenu:
          "Split Up":
            value: "Ndaje Për Sipër"
          "Split Down":
            value: "Ndaje Për Poshtë"
          "Split Left":
            value: "Ndaje Majtas"
          "Split Right":
            value: "Ndaje Djathtas"
          "Focus Next Pane":
            value: "Fokusi Te Kuadrati Pasues"
          "Focus Previous Pane":
            value: "Fokusi Te Kuadrati i Mëparshëm"
          "Focus Pane Above":
            value: "Fokusi Te Kuadrati Sipër"
          "Focus Pane Below":
            value: "Fokusi Te Kuadrati Poshtë"
          "Focus Pane On Left":
            value: "Fokusi Te Kuadrati Në të Majtë"
          "Focus Pane On Right":
            value: "Fokusi Te Kuadrati Në të Djathtë"
          "Close Pane":
            value: "Mbylle Kuadratin"
      Developer:
        value: "Zhvillues"
        submenu:
          "Open In Dev Mode…":
            value: "Hapeni Nën Mënyrën Dev…"
          "Reload Window":
            value: "Ringarkoje Dritaren"
          "Run Package Specs":
            value: "Xhironi Specifikime Pakete"
          "Run Benchmarks":
            value: "Xhironi Prova Bankëprove"
          "Toggle Developer Tools":
            value: "Aktivizo/Çaktivizo Mjete Zhvilluesi"
      "Increase Font Size":
        value: "Rrite Madhësinë e Shkronjave"
      "Decrease Font Size":
        value: "Zvogëloje Madhësinë e Shkronjave"
      "Reset Font Size":
        value: "Ktheje Madhësinë e Shkronjave Te Parazgjedhja"
      "Toggle Soft Wrap":
        value: "Aktivizo/Çaktivizo Mbështjellje të Butë"
      "Toggle Command Palette":
        value: "Aktivizo/Çaktivizo Paletë Urdhrash"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Aktivizo/Çaktivizo Pamjen Pemë"
  Selection:
    value: "Përzgjedhje"
    submenu:
      "Add Selection Above":
        value: "Shtoje Përzgjedhjen Sipër"
      "Add Selection Below":
        value: "Shtoje Përzgjedhjen Poshtë"
      "Single Selection":
        value: "Përzgjedhje Njëshe"
      "Split into Lines":
        value: "Ndaje në Rreshta"
      "Select to Top":
        value: "Përzgjidh nga aty e Sipër"
      "Select to Bottom":
        value: "Përzgjidh nga aty e Poshtë"
      "Select Line":
        value: "Përzgjidh Rreshtin"
      "Select Word":
        value: "Përzgjidh Fjalën"
      "Select to Beginning of Word":
        value: "Përzgjidh nga aty e te Fillimi i Fjalës"
      "Select to Beginning of Line":
        value: "Përzgjidh nga aty e te Fillimi i Rreshtit"
      "Select to First Character of Line":
        value: "Përzgjidh nga aty e te Shenja e Parë e Rreshtit"
      "Select to End of Word":
        value: "Përzgjidh nga aty e te Fundi i Fjalës"
      "Select to End of Line":
        value: "Përzgjidh nga aty e te Fundi i Rreshtit"
      "Select Inside Brackets":
        value: "Përzgjidh Brenda Kllapash"
  Find:
    value: "Gjeni"
    submenu:
      "Find in Buffer":
        value: "Gjej në Lëndën e Tanishme"
      "Replace in Buffer":
        value: "Zëvendëso në Lëndën e Tanishme"
      "Select Next":
        value: "Përzgjidh Pasuesen"
      "Select All":
        value: "Përzgjidhi Krejt"
      "Toggle Find in Buffer":
        value: "Aktivizo/Çaktivizo Gjetje në Lëndën e Tanishme"
      "Find in Project":
        value: "Gjej në Projekt"
      "Toggle Find in Project":
        value: "Aktivizo/Çaktivizo Gjetjen në Projekt"
      "Find All":
        value: "Gjeji të Tëra"
      "Find Next":
        value: "Gjej Pasuesin"
      "Find Previous":
        value: "Gjej të Mëparshmin"
      "Replace Next":
        value: "Zëvendëso Pasuesin"
      "Replace All":
        value: "Zëvendësoji Krejt"
      "Clear History":
        value: "Pastroje Historikun"
      "Find Buffer":
        value: "Gjeni <em>Buffer</em>"
      "Find File":
        value: "Gjeni Kartelë"
      "Find Modified File":
        value: "Gjeni Kartelë të Modifikuar"
  Packages:
    value: "Paketa"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Dritare"
    submenu:
      Minimize:
        value: "Minimizoje"
      Zoom:
        value: "Zoom"
      "Bring All to Front":
        value: "Silli Krejt Përpara"
  Help:
    value: "Ndihmë"
    submenu:
      "Terms of Use":
        value: "Kushte Përdorimi"
      Documentation:
        value: "Dokumentim"
      Roadmap:
        value: "Roadmap"
      "Frequently Asked Questions":
        value: "Pyetje të Bëra Shpesh"
      "Community Discussions":
        value: "Diskutime Në Bashkësi"
      "Report Issue":
        value: "Njoftoni Një Problem"
      "Search Issues":
        value: "Kërkoni Te Problemet"
      "Welcome Guide":
        value: "Turi i Mirëseardhjes"
