Welcome:
  tabTitle: "Mirë se vini"
  subtitle:
    text1: "Një përpunues tekstesh i hack-ueshëm, për shekullin e"
    superscript: ""
    text2: " 21-të"
  help:
    forHelpVisit: "Për ndihmë, ju lutemi, vizitoni"
    atomDocs:
      text1: ""
      link: "dokumentimin e Atom-it"
      text2: " për Udhërrëfyes dhe referencë të API-t."
      _template: "${text1}<a>${link}</a>${text2}"
    atomForum:
      text1: "Forumin për Atom-in te "
      link: "discuss.atom.io"
      text2: ""   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    atomOrg:
      text1: ""
      link: "Atom org"
      text2: ". Këtu mund të gjeni krejt paketat Atom të krijuara në GitHub."
      _template: "${text1}<a>${link}</a>${text2}"
  showWelcomeGuide: "Shfaqe turin e Mirëseardhjes kur hapet Atom-i"
