About:
  tabTitle: "关于"
  releaseNotes: "更新日志"
  newUpdate: "新版本"
  upToDate: "Atom 已是最新版本！"
  checkingForUpdates: "正在检查更新..."
  checkUpdatesNow: "检查更新"
  automaticDownloadUpdates: "自动下载更新"
  restartInstall: "重启 Atom 并安装更新"
  license: "许可协议"
  termsOfUse: "使用条款"
  with: " 带着 "
  by:" 来自 "
  andTheAwesome: "以及超赞的 "
  atomCommunity: "Atom 社区"
