About:
  tabTitle: "关于"
  releaseNotes: "更新日志"
  newUpdate: "New Update"
  automaticDownloadUpdates: "Automatic download updates"
  restartInstall: "Restart and install"
  license: "许可协议"
  termsOfUse: "使用条款"
  with: " 带着 "
  by:" 来自 "
  andTheAwesome: "以及超赞的 "
  atomCommunity: "Atom 社区"
