Context:
  "atom-workspace":
    "application:inspect": "审查元素"
  "atom-text-editor":
    "color-picker:open": "颜色选择器"
    "minimap:toggle": "切换代码地图"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "撤销"
    "core:redo": "恢复"
    "core:cut": "剪切"
    "core:copy": "复制"
    "core:paste": "粘贴"
    "core:delete": "删除"
    "core:select-all": "全选"
    "pane:split-up-and-copy-active-item": "向上分割窗格 ↑"
    "pane:split-down-and-copy-active-item": "向下分割窗格 ↓"
    "pane:split-left-and-copy-active-item": "向左分割窗格 ←"
    "pane:split-right-and-copy-active-item": "向右分割窗格 →"
    "pane:close": "关闭窗格"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "向上分割窗格 ↑"
    "pane:split-down-and-copy-active-item": "向下分割窗格 ↓"
    "pane:split-left-and-copy-active-item": "向左分割窗格 ←"
    "pane:split-right-and-copy-active-item": "向右分割窗格 →"
    "pane:close": "关闭窗格"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "更换编码格式"
    "spell-check:correct-misspelling": "更正拼写"
    "symbols-view:go-to-declaration": "跳转至声明"
  ".overlayer":
    "grammar-selector:show": "更换语法"
  ".image-view":
    "image-view:reload": "重新加载图像"
  ".tab":
    "tabs:close-tab": "关闭标签页"
    "tabs:close-other-tabs": "关闭其他标签页"
    "tabs:close-tabs-to-right": "关闭右侧标签页"
    "tabs:close-tabs-to-left": "关闭左侧标签页"
    "tabs:close-saved-tabs": "关闭已保存标签页"
    "tabs:close-all-tabs": "关闭所有标签页"
    "tabs:split-up": "向上分割窗格 ↑"
    "tabs:split-down": "向下分割窗格 ↓"
    "tabs:split-left": "向左分割窗格 ←"
    "tabs:split-right": "向右分割窗格 →"
  ".tab.texteditor":
    "tabs:open-in-new-window": "在新窗口中打开"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "保留预览标签页"
  ".tab-bar":
    "pane:reopen-closed-item": "重新打开关闭的标签页"
  ".tree-view .full-menu":
    "tree-view:add-file": "新建文件"
    "tree-view:add-folder": "新建文件夹"
    "tree-view:move": "重命名"
    "tree-view:duplicate": "创建副本"
    "tree-view:remove": "删除"
    "tree-view:copy": "复制"
    "tree-view:cut": "剪切"
    "tree-view:paste": "粘贴"
#    "tree-view:open-selected-entry-up": "向上分割窗格 ↑"
#    "tree-view:open-selected-entry-down": "向下分割窗格 ↓"
#    "tree-view:open-selected-entry-left": "向左分割窗格 ←"
#    "tree-view:open-selected-entry-right": "向右分割窗格 →"
    "application:add-project-folder": "添加项目文件夹"
    "tree-view:copy-full-path": "复制文件路径到剪切板"
    "tree-view:copy-project-path": "复制项目路径到剪切板"
    "tree-view:open-in-new-window": "在新窗口中打开"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "向上分割窗格 ↑"
    "tree-view:open-selected-entry-down": "向下分割窗格 ↓"
    "tree-view:open-selected-entry-left": "向左分割窗格 ←"
    "tree-view:open-selected-entry-right": "向右分割窗格 →"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "新建文件"
    "tree-view:add-folder": "新建文件夹"
    "tree-view:move": "重命名"
    "tree-view:duplicate": "创建副本"
    "tree-view:remove": "删除"
    "tree-view:copy": "复制"
    "tree-view:cut": "剪切"
    "tree-view:paste": "粘贴"
#    "tree-view:open-selected-entry-up": "向上分割窗格 ↑"
#    "tree-view:open-selected-entry-down": "向下分割窗格 ↓"
#    "tree-view:open-selected-entry-left": "向左分割窗格 ←"
#    "tree-view:open-selected-entry-right": "向右分割窗格 →"
    "application:add-project-folder": "添加项目文件夹"
    "tree-view:remove-project-folder": "移除项目文件夹"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "复制文件路径到剪切板"
    "tree-view:copy-project-path": "复制项目路径到剪切板"
    "tree-view:open-in-new-window": "在新窗口中打开"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在 Finder 中显示"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在文件资源管理器中显示"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在文件管理器中显示"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "在目录中搜索"
  ".tree-view .multi-select":
    "tree-view:remove": "删除"
    "tree-view:copy": "复制"
    "tree-view:cut": "剪切"
    "tree-view:paste": "粘贴"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "在树状图中显示"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "重命名"
    "tree-view:reveal-active-file": "在树状图中显示"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在 Finder 中显示"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在文件资源管理器中显示"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在文件管理器中显示"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在 Finder 中显示"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在文件资源管理器中显示"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在文件管理器中显示"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "在目录中搜索"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
