Settings:
  "tab-title": "设置"
  menu: [
    {
      _label: "Core"
      value: "核心"
    }
    {
      _label: "Editor"
      value: "编辑器"
    }
    {
      _label: "Keybindings"
      value: "快捷键"
    }
    {
      _label: "Packages"
      value: "管理扩展包"
    }
    {
      _label: "Themes"
      value: "主题"
    }
    {
      _label: "Updates"
      value: "更新"
    }
    {
      _label: "Install"
      value: "安装扩展包"
    }
  ]
  "btn-open-config-folder": "打开配置文件夹"
  sectionHeadings: [
    {_label: "Core Settings", value: "核心设置"}
    {_label: "Editor Settings", value: "编辑器设置"}
    {_label: "Keybindings", value: "快捷键"}
    {_label: "Installed Packages", value: "已安装扩展包"}
    {_label: "Choose a Theme", value: "选择主题"}
    {_label: "Installed Themes", value: "已安装主题"}
    {_label: "Install Packages", value: "安装扩展包"}
    {_label: "Featured Packages", value: "热门扩展包"}
    {_label: "Install Themes", value: "安装主题"}
    {_label: "Featured Themes", value: "热门主题"}
  ]
  "heading-available-updates": {_label: "Available Updates", value: "可用更新"}
  subSectionHeadings: [
    {_label: "Invisible", value: "隐藏"}
    {_label: "Community Packages", value: "社区扩展包"}
    {_label: "Core Packages", value: "核心包"}
    {_label: "Development Packages", value: "开发包"}
    {_label: "Git Packages", value: "Git扩展包"}
    {_label: "Community Themes", value: "社区主题"}
    {_label: "Core Themes", value: "核心主题"}
    {_label: "Development Themes", value: "开发主题"}
    {_label: "Git Themes", value: "Git主题"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: '这些是 Atom 的核心设置，与文本编辑无关。不同的扩展包可能有它们自己的附
              加设置，你可以在<a class="link packages-open">扩展包列表</a>中找到这
              些设置。'
      }
      {
        _id: 'editor-settings-note'
        html: '这些是有关文本编辑的设置。其中一些设置可以被每种语言的设置覆盖，你可以在
               <a class="link packages-open">扩展包列表</a>中点击这些扩展包，
               查看这些编程语言的设置。'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Allow Pending PaneItems"
        desc: "Allow items to be previewed without adding them to a pane
               permanently, such as when single clicking files in the tree view."
      }
      {
        _id: 'core.audioBeep'
        title: "Audio Beep"
        desc: "Trigger the system's beep sound when certain actions cannot be
               executed or there are no results."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Automatically Update"
        desc: "Automatically update Atom when a new release is available."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "自动隐藏菜单栏"
        desc: "按 Alt 以显示/隐藏菜单栏。目前仅支持Windows和Linux."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Close Empty Windows"
        desc: "When a window with no open tabs or panes is given the 'Close Tab' command, close that window."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Destroy Empty Panes"
        desc: "When the last tab of a pane is closed, remove that pane as well."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Exclude VCS Ignored Paths"
        desc: "Files and directories ignored by the current project's VCS system will be ignored by some packages, such as the fuzzy finder and find and replace. For example, projects using Git have these paths defined in the .gitignore file. Individual packages might have additional config settings for ignoring VCS ignored files and folders."
      }
      {
        _id: 'core.fileEncoding'
        title: "文件编码"
        desc: "Default character set encoding to use when reading and writing files."
      }
      {
        _id: 'core.followSymlinks'
        title: "Follow Symlinks"
        desc: "Follow symbolic links when searching files and when opening files with the fuzzy finder."
      }
      {
        _id: 'core.ignoredNames'
        title: "Ignored Names"
        desc: "List of <code>glob patterns</code>. Files and directories matching these patterns will be ignored by some packages, such as the fuzzy finder and tree view. Individual packages might have additional config settings for ignoring names."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Open Empty Editor On Start"
        desc: "Automatically open an empty editor on startup."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Packages With Keymaps Disabled"
      }
      {
        _id: 'core.projectHome'
        title: "Project Home"
        desc: "The directory where projects are assumed to be located. Packages created using the Package Generator will be stored here by default."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Reopen Project Menu Count"
        desc: "How many recent projects to show in the Reopen Project menu."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Restore Previous Windows On Start"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Send Telemetry to the Atom Team"
        desc: "Allow usage statistics and exception reports to be sent to the Atom team to help improve the product."
        select:
          limited: "Allow limited anonymous usage stats, exception and crash reporting"
          no: "Do not send any telemetry data"
          undecided: "Undecided (Atom will ask again next time it is launched)"
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Use Custom Title Bar"
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Warn On Large File Limit"
        desc: "Warn before opening files larger than this number of megabytes."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic Soft Tabs"
        desc: "Skip over tab-length runs of leading whitespace when moving the cursor."
      }
      {
        _id: 'editor.autoIndent'
        title: "自动缩进"
        desc: "Automatically indent the cursor when inserting a newline."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "粘贴时自动缩进"
        desc: "Automatically indent pasted text based on the indentation of the previous line."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Back Up Before Saving"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Confirm Checkout HEAD Revision"
        desc: "Show confirmation dialog when checking out the HEAD revision and discarding changes to current file since last commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "字体"
        desc: "The name of the font family used for editor text."
      }
      {
        _id: 'editor.fontSize'
        title: "字号"
        desc: "Height in pixels of editor text."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Invisibles Cr"
        desc: "Character used to render carriage return characters
               (for Microsoft-style line endings) when the <code>Show
               Invisibles</code> setting is enabled."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Invisibles Eol"
        desc: "Character used to render newline characters (\n) when the
               <code>Show Invisibles</code> setting is enabled."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Invisibles Space"
        desc: "Character used to render leading and trailing space characters
               when the <code>Show Invisibles</code> setting is enabled."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Invisibles Tab"
        desc: "Character used to render hard tab characters (\t) when the
               <code>Show Invisibles</code> setting is enabled."
      }
      {
        _id: 'editor.lineHeight'
        title: "Line Height"
        desc: "Height of editor lines, as a multiplier of font size."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Non Word Characters"
        desc: "A string of non-word characters to define word boundaries."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Preferred Line Length"
        desc: "Identifies the length of a line which is used when wrapping text
               with the <code>Soft Wrap At Preferred Line Length</code> setting
               enabled, in number of characters."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Scroll Past End"
        desc: "Allow the editor to be scrolled past the end of the last line."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Scroll Sensitivity"
        desc: "Determines how fast the editor scrolls when using a mouse or
               trackpad."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Show Indent Guide"
        desc: "Show indentation indicators in the editor."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Show Invisibles"
        desc: "Render placeholders for invisible characters, such as tabs,
               spaces and newlines."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Show Line Numbers"
        desc: "Show line numbers in the editor's gutter."
      }
      {
        _id: 'editor.softTabs'
        title: "Soft Tabs"
        desc: "If the <code>Tab Type</code> config setting is set to \"auto\"
               and autodetection of tab type from buffer content fails, then
               this config setting determines whether a soft tab or a hard tab
               will be inserted when the Tab key is pressed."
      }
      {
        _id: 'editor.softWrap'
        title: "Soft Wrap"
        desc: "Wraps lines that exceed the width of the window. When
               <code>Soft Wrap At Preferred Line Length</code> is set, it will
               wrap to the number of characters defined by the <code>Preferred
               Line Length</code> setting."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Soft Wrap At Preferred Line Length"
        desc: "Instead of wrapping lines to the window's width, wrap lines to
               the number of characters defined by the <code>Preferred Line
               Length</code> setting. This will only take effect when the soft
               wrap config setting is enabled globally or for the current
               language. <strong>Note:</strong> If you want to hide the wrap
               guide (the vertical line) you can disable the
               <code>wrap-guide</code> package."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Soft Wrap Hanging Indent"
        desc: "When soft wrap is enabled, defines length of additional
               indentation applied to wrapped lines, in number of characters."
      }
      {
        _id: 'editor.tabLength'
        title: "Tab Length"
        desc: "Number of spaces used to represent a tab."
      }
      {
        _id: 'editor.tabType'
        title: "Tab Type"
        desc: "Determine character inserted when Tab key is pressed. Possible
               values: \"auto\", \"soft\" and \"hard\". When set to \"soft\" or
               \"hard\", soft tabs (spaces) or hard tabs (tab characters) are
               used. When set to \"auto\", the editor auto-detects the tab type
               based on the contents of the buffer (it uses the first leading
               whitespace on a non-comment line), or uses the value of the Soft
               Tabs config setting if auto-detection fails."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Undo Grouping Interval"
        desc: "Time interval in milliseconds within which text editing
               operations will be grouped together in the undo history."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Zoom Font When Ctrl Scrolling"
        desc: "Change the editor font size when pressing the Ctrl key and
               scrolling the mouse up/down."
      }
    ]
  }
  keymaps: {
    notes: {
      text1: "You can override these keybindings by copying "
      text2: "and pasting them into "
      text3: "your keymap file"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Search keybindings"
    "table-header-keystroke": "Keystroke"
    "table-header-command": "Command"
    "table-header-source": "Source"
    "table-header-selector": "Selector"
  }
  packages: {
  }
  themes: {
    notes: {
      text1: "You can also style Atom by editing "
      text2: "your stylesheet"
      text3: ""   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "UI Theme"
    description1: "This styles the tabs, status bar, tree view, and dropdowns"
    title2: "Syntax Theme"
    description2: "This styles the text inside the editor"
  }
  updates: {
    "check-updates": "Check for Updates"
    "update-all": "Update All"
    "checking-updates": "Checking for updates..."
    "all-updated-message": "All of your installed packages are up to date!"
  }
  install: {
    notes: {
      text1: "Packages are published to "
      text2: " and are installed to "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Search packages"
    "btn-packages": "Packages"
    "btn-themes": "Themes"
  }
  "control-btns":{
    install: "Install"
    update: "Update to"
    setting: "Settings"
    uninstall: "Uninstall"
    disable: "Disable"
    enable: "Enable"
  }
