Settings:
  "tab-title": "设置"
  menu: [
    {
      _label: "Core"
      value: "核心"
    }
    {
      _label: "Editor"
      value: "编辑器"
    }
    {
      _label: "System"
      value: "系统"
    }
    {
      _label: "Keybindings"
      value: "快捷键"
    }
    {
      _label: "Packages"
      value: "管理插件包"
    }
    {
      _label: "Themes"
      value: "主题"
    }
    {
      _label: "Updates"
      value: "更新"
    }
    {
      _label: "Install"
      value: "安装插件包"
    }
  ]
  "btn-open-config-folder": "打开配置文件夹"
  sectionHeadings: [
    {_label: "Core Settings", value: "核心设置"}
    {_label: "Editor Settings", value: "编辑器设置"}
    {_label: "System Settings", value: "系统设置"}
    {_label: "Keybindings", value: "快捷键"}
    {_label: "Installed Packages", value: "已安装插件包"}
    {_label: "Choose a Theme", value: "选择主题"}
    {_label: "Installed Themes", value: "已安装主题"}
    {_label: "Install Packages", value: "安装插件包"}
    {_label: "Featured Packages", value: "热门插件包"}
    {_label: "Install Themes", value: "安装主题"}
    {_label: "Featured Themes", value: "热门主题"}
    {_label: "Available Updates", value: "可用更新"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "隐藏字符"}
    {_label: "Community Packages", value: "社区插件包"}
    {_label: "Core Packages", value: "核心包"}
    {_label: "Development Packages", value: "正在开发的插件包"}
    {_label: "Git Packages", value: "从 Git 仓库（Repository）安装的插件包"}
    {_label: "Community Themes", value: "社区开发的主题"}
    {_label: "Core Themes", value: "核心主题"}
    {_label: "Development Themes", value: "正在开发的主题"}
    {_label: "Git Themes", value: "从 Git 仓库（Repository）安装的主题"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: '这些是 Atom 的核心设置，与文本编辑无关。个别插件包可能有附加设置，你可以在<a class="link packages-open">插件包列表</a>中找到这些设置。'
      }
      {
        _id: 'editor-settings-note'
        html: '这些是有关文本编辑的设置。其中一些设置可以被编程语言的设置覆盖，你可以在<a class="link packages-open">插件包列表</a>中点击这些插件包，查看这些语法的设置。'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "启用预览标签页"
        desc: "允许使用预览标签页查看文件，不需要将其加入窗格，例如在树状图中单击文件时打开预览标签页。"
      }
      {
        _id: 'core.audioBeep'
        title: "提示音"
        desc: "当某些操作不能执行，或是没有执行结果时，触发系统提示音。"
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "自动更新"
        desc: "当有可用的更新时，自动更新 Atom 。"
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "自动隐藏菜单栏"
        desc: "按 Alt 以切换菜单栏。仅支持 Windows 和 Linux 操作系统。"
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "关闭已删除文件的标签页"
        desc: "当文件在 Atom 外部被删除时，关闭相应的编辑器标签页。"
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "关闭空窗口"
        desc: "当窗口内没有打开的标签页或窗格时，“关闭标签页”选项会关闭该窗口。"
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "自动移除空窗格"
        desc: "当窗格内的最后一个标签页被关闭时，移除该窗格。"
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "排除版本控制系统（VCS）忽略的路径"
        desc: "让某些插件包例如：模糊查找（fuzzy finder）、查找和替换（find and replace），忽略当前项目中版本控制系统所忽略的文件和路径。例如，使用 Git 的项目会在 .gitignore 文件里定义所忽略的路径。个别插件包可能会提供附加设置来选择是否忽略这些路径。"
      }
      {
        _id: 'core.fileEncoding'
        title: "文件编码"
        desc: "读写文件时默认使用的字符编码。"
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "File System Watcher"
        desc: "Choose the underlying implementation used to watch for filesystem changes. Emulating changes will miss any events caused by applications other than Atom, but may help prevent crashes or freezes."
        select:
          native: "Native operating system APIs"
          atom: "Emulated with Atom events"
      }
      {
        _id: 'core.followSymlinks'
        title: "使用软链接（Symbolic link）"
        desc: "当查找或者在模糊查找中打开文件时遵循软链接（symbolic links）导向。"
      }
      {
        _id: 'core.ignoredNames'
        title: "忽略的文件名"
        desc: "文件路径规则列表，格式为<code>glob 表达式</code>。符合规则的文件和文件夹将会被某些插件包忽略，例如：模糊查找（fuzzy finder）、树状图（tree view）。个别插件包可能会提供附加设置来忽略文件。"
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "启动时打开空编辑器"
        desc: "启动时自动打开一个空白的文本编辑器。"
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "快捷键绑定被停用的插件包"
      }
      {
        _id: 'core.projectHome'
        title: "项目根目录"
        desc: "此文件夹是项目的默认位置。使用 Package Generator 创建的插件包默认放在此文件夹内。"
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "重新打开项目的显示数量"
        desc: "在“重新打开项目”菜单中，显示的最近项目的数量。"
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "启动时恢复之前的窗口状态"
        desc: "启用这个选项时，从桌面或是从命令行输入 <code>atom</code> 启动时，会恢复所有 Atom 窗口状态；否则，Atom 启动时会加载一个空白的工作环境。"
        select:
          no: "no"
          yes: "yes"
          always: "always"
      }
      {
        _id: 'core.telemetryConsent'
        title: "发送遥测数据给 Atom 开发团队"
        desc: "允许将使用信息和错误报告发送给 Atom 开发团队，以帮助改善本产品。"
        select:
          limited: "允许发送有限的匿名使用信息、例外和崩溃报告"
          no: "不发送任何遥测数据"
          undecided: "尚未决定（Atom 会在下次启动时再次询问）"
      }
      {
        _id: 'core.titleBar'
        title: "Title Bar"
        desc: "Experimental: A <code>custom</code> title bar adapts to theme colors. Choosing <code>custom-inset</code> adds a bit more padding. The title bar can also be completely <code>hidden</code>.<br>Note: Switching to a custom or hidden title bar will compromise some functionality.<br>This setting will require a relaunch of Atom to take effect."
        select:
          native: "native"
          custom: "custom"
          "custom-inset": "custom-inset"
          hidden: "hidden"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "调用 APM 时使用代理服务器设置"
        desc: "当调用命令行工具 <code>apm</code> 时，使用检测到的代理服务器设置。"
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Version Pinned Packages"
        desc: "List of names of installed packages which are not automatically updated."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "使用自定义标题栏"
        desc: "使用自定义，可通过主题修改的标题栏。<br>备注：这个设置现在不包括代理图标。<br>这个设置需要重新启动 Atom 才能生效。"
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "大文件警告设置"
        desc: "打开的文件超过此大小（单位为MB）时，显示警告窗口。"
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic 软制表符（Soft Tab）"
        desc: "移动光标时，跳过制表符（Tab）长度的行首空格。"
      }
      {
        _id: 'editor.autoIndent'
        title: "自动缩进"
        desc: "插入新的一行时，自动将光标对齐上一行。"
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "粘贴时自动缩进"
        desc: "根据上一行，自动缩进粘贴的文本。"
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "自动备份"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "检出（Checkout）至 HEAD 版本时弹出确认窗口"
        desc: "当检出（Checkout）至 HEAD 版本，并放弃对最后一个 commit 的文件修改时，弹出确认窗口。"
      }
      {
        _id: 'editor.fontFamily'
        title: "字体"
        desc: "编辑器显示的字体名称。"
      }
      {
        _id: 'editor.fontSize'
        title: "字号"
        desc: "编辑器内文字的高度。单位：像素（px）"
      }
      {
        _id: 'editor.invisibles.cr'
        title: "换行符（Cr）"
        desc: "启用<code>显示隐藏字符</code>选项时，微软系统用来表示换行（carriage return）的字符。"
      }
      {
        _id: 'editor.invisibles.eol'
        title: "换行符（Eol）"
        desc: "启用<code>显示隐藏字符</code>选项时，用来表示换行（\\n）的字符。"
      }
      {
        _id: 'editor.invisibles.space'
        title: "空格（Space）"
        desc: "启用<code>显示隐藏字符</code>选项时，用来表示行首和行尾空格的字符。"
      }
      {
        _id: 'editor.invisibles.tab'
        title: "制表符（Tab）"
        desc: "启用<code>显示隐藏字符</code>选项时，用来表示制表符（\\t）的字符。"
      }
      {
        _id: 'editor.lineHeight'
        title: "行高"
        desc: "编辑器内文字的行高，是字体大小的倍数。"
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Max Screen Line Length"
        desc: "Defines the maximum width of the editor window before soft wrapping is enforced, in number of characters."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "不作为单词的字符"
        desc: "下列字符将不被视为单词，而是作为单词边界。"
      }
      {
        _id: 'editor.preferredLineLength'
        title: "每行字数"
        desc: "启用<code>根据每行字数自动换行</code>选项时，自动换行参考的字数。单位：字符。"
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "滚动超过最后一行"
        desc: "允许编辑器滚动超过文件的最后一行。"
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "滚动速度"
        desc: "调整在编辑器中使用鼠标滚轮或触摸板滚动的速度。"
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "在选择范围上显示光标"
        desc: "当有选择范围时，显示光标。"
      }
      {
        _id: 'editor.showIndentGuide'
        title: "显示缩进对齐线"
        desc: "在编辑器中显示缩进对齐线。"
      }
      {
        _id: 'editor.showInvisibles'
        title: "显示隐藏字符"
        desc: "在编辑器中显示隐藏字符，例如制表符、空格、换行符。"
      }
      {
        _id: 'editor.showLineNumbers'
        title: "显示行号"
        desc: "在编辑器边缘显示行号。"
      }
      {
        _id: 'editor.softTabs'
        title: "软制表符（Soft Tabs）"
        desc: "如果<code>制表符（Tab）模式</code>设置为<code>自动判断（auto）</code>且判断失败时：若启用此选项，会使用<code>软制表符（soft）</code>模式；否则将使用<code>硬制表符（hard）</code>模式插入制表符。"
      }
      {
        _id: 'editor.softWrap'
        title: "自动换行"
        desc: "字数超过窗口宽度时，自动换行。当启用<code>根据每行字数自动换行</code>选项时，换行字数会参考<code>每行字数</code>的设置值，而非窗口宽度。"
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "根据每行字数自动换行"
        desc: "字数超过<code>每行字数</code>设置值时自动换行，而非根据窗口宽度。这项设置只在当前语言环境中或全局启用<code>自动换行</code>时生效。<strong>备注：</strong>如果你想要隐藏缩进对齐线（垂直线），可以禁用 <code>wrap-guide</code> 插件包。"
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "悬挂缩进"
        desc: "启用<code>自动换行</code>选项时，其余各行的缩进长度。单位：字符。"
      }
      {
        _id: 'editor.tabLength'
        title: "制表符（Tab）长度"
        desc: "用于表示一个制表符（Tab）的空格数量。"
      }
      {
        _id: 'editor.tabType'
        title: "制表符（Tab）模式"
        desc: "设置按下 Tab 键时输入的字符。有三种设置值：<code>自动判断（auto）</code>、<code>软制表符（soft）</code>、<code>硬制表符（hard）</code>。<code>软制表符</code>使用空格（space），<code>硬制表符</code>使用制表符（\\t）。<code>自动判断</code>模式会根据文件内容（非注释行首的空格或制表符）判断制表符（Tab）的模式。如果自动判断失败，将使用<code>软制表符（Soft Tabs）</code>的设置值。"
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "合并撤销操作的时间间隔"
        desc: "在此时间间隔内的文本编辑操作，在撤销历史记录中会被合并在一起。单位：毫秒。"
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "使用<code>Ctrl + 鼠标滚轮</code>调节字体大小"
        desc: "按下 Ctrl 键并上下滚动鼠标滚轮来调节编辑器的字体大小。"
      }
      {
        _id: 'system.windows.file-handler'
        title: "注册为打开文件时使用的应用程序"
        desc: "在\"打开方式\"菜单中显示 Atom 以建立文件关联。"
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "在文件的鼠标右键菜单中显示"
        desc: "在文件资源管理器内，文件的鼠标右键菜单中添加 \"Open with Atom\"（用 Atom 打开）选项。"
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "在文件夹的鼠标右键菜单中显示"
        desc: "在文件资源管理器内，文件夹的鼠标右键菜单中添加 \"Open with Atom\"（用 Atom 打开）选项。"
      }
    ]
  }
  system: {
    notes: "这些设置会决定 Atom 如何与你的操作系统整合。"
  }
  keymaps: {
    notes: {
      text1: "你可以复制这些快捷键设置，"
      text2: "然后粘贴至"
      text3: "你的快捷键配置文件"
      text4: "，来覆盖这些快捷键设置"   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "搜索快捷键设置"
    "table-header-keystroke": "键盘输入"
    "table-header-command": "命令"
    "table-header-source": "来源"
    "table-header-selector": "选择器"
  }
  packages: {
    searchBarText: '按名称过滤插件包'
  }
  themes: {
    notes: {
      text1: "你也可以通过编辑"
      text2: "你的样式表"
      text3: "来调整 Atom 的外观"   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "界面主题"
    description1: "标签页、状态栏、树状图、下拉菜单的外观"
    title2: "语法主题"
    description2: "编辑器中文本的外观"
    searchBarText: '按名称过滤主题'
  }
  updates: {
    "check-updates": "检查更新"
    "update-all": "安装所有更新"
    "checking-updates": "正在检查更新..."
    "all-updated-message": "所有已安装的插件包都是最新版本了！"
  }
  install: {
    notes: {
      text1: "这些插件包已被发布在 "
      text2: " ，它们将被安装在 "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "搜索插件包或主题"
    "btn-packages": "插件包"
    "btn-themes": "主题"
  }
  "control-btns":{
    install: "安装"
    update: "更新至"
    setting: "设置"
    uninstall: "卸载"
    disable: "禁用"
    enable: "启用"
  }
