About:
  tabTitle: "O Atom"
  releaseNotes: "Lista zmian"
  newUpdate: "Nowa aktualizacja"
  upToDate: "Atom jest aktualny!"
  checkingForUpdates: "Szukanie aktualizacji..."
  checkUpdatesNow: "Sprawdź teraz"
  automaticDownloadUpdates: "Automatycznie pobieraj aktualizacje"
  restartInstall: "Uruchom ponownie i zainstaluj"
  license: "Licencja"
  termsOfUse: "Warunki korzystania"
  with: " z "
  by: " przez "
  andTheAwesome: "oraz wspaniałą "
  atomCommunity: "Społeczność Atom"
