About:
  tabTitle: "O Atom'ie"
  releaseNotes: "Informacje o wydaniu"
  newUpdate: "Nowa aktualizacja"
  upToDate: "Atom jest aktualny!"
  checkingForUpdates: "Sprawdzam aktualizacje..."
  checkUpdatesNow: "Sprawdź teraz"
  automaticDownloadUpdates: "Automatic download updates"
  restartInstall: "Zrestartuj i zainstaluj"
  license: "Licencja"
  termsOfUse: "Warunki korzystania"
  with: " z "
  by: " przez "
  andTheAwesome: "oraz fantastycznej "
  atomCommunity: "społeczności Atom'a"
