Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "O programie Atom"
      "View License":
        value: "Wyświetl licencję"
      "Check for Update":
        value: "Sprawdź aktualizacje"
      "Preferences…":
        value: "Preferencje…"
      "Config…":
        value: "Konfiguracja…"
      "Init Script…":
        value: "Skrypt Init…"
      "Keymap…":
        value: "Mapowanie klawiszy…"
      "Snippets…":
        value: "Snippety…"
      "Stylesheet…":
        value: "Arkusz stylów…"
      "Install Shell Commands":
        value: "Zainstaluj polecenia powłoki"
      "Hide Atom":
        value: "Ukryj program Atom"
      "Hide Others":
        value: "Ukryj inne"
      "Show All":
        value: "Pokaż wszystko"
      Quit:
        value: "Wyjdź"
  File:
    value: "Plik"
    submenu:
      "New Window":
        value: "Nowe okno"
      "New File":
        value: "Nowy plik"
      "Open…":
        value: "Otwórz…"
      "Add Project Folder…":
        value: "Dodaj folder projektu…"
      "Reopen Project":
        value: "Ponownie otwórz projekt"
        submenu:
          "Clear Project History":
            value: "Wyczyść historię projektu"
      "Reopen Last Item":
        value: "Otwórz ponownie plik"
      Save:
        value: "Zapisz"
      "Save As…":
        value: "Zapisz jako…"
      "Save All":
        value: "Zapisz wszystko"
      "Close Tab":
        value: "Zamknij kartę"
      "Close Pane":
        value: "Zamknij panel"
      "Close Window":
        value: "Zamknij okno"
      "Close All Tabs":
        # value: "Zamknij wszystkie karty"
  Edit:
    value: "Edytuj"
    submenu:
      Undo:
        value: "Cofnij"
      Redo:
        value: "Ponów"
      Cut:
        value: "Wytnij"
      Copy:
        value: "Kopiuj"
      "Copy Path":
        value: "Kopiuj ścieżkę"
      Paste:
        value: "Wklej"
      "Select All":
        value: "Zaznacz wszystko"
      "Toggle Comments":
        value: "Przełącz komentarze"
      Lines:
        value: "Linie"
        submenu:
          Indent:
            value: "Zwiększ wcięcie"
          Outdent:
            value: "Zmniejsz wcięcie"
          "Auto Indent":
            value: "Automatyczne wcięcie"
          "Move Line Up":
            value: "Przenieś linię wyżej"
          "Move Line Down":
            value: "Przenieś linię niżej"
          "Duplicate Lines":
            value: "Powiel linię"
          "Delete Line":
            value: "Usuń linię"
          "Join Lines":
            value: "Połącz linie"
      Columns:
        value: "Kolumny"
        submenu:
          "Move Selection Left":
            value: "Przenieś zaznaczenie na lewo"
          "Move Selection Right":
            value: "Przenieś zaznaczenie na prawo"
      Text:
        value: "Tekst"
        submenu:
          "Upper Case":
            value: "Wielkie litery"
          "Lower Case":
            value: "Małe litery"
          "Delete to End of Word":
            value: "Usuń do końca słowa"
          "Delete to Previous Word Boundary":
            value: "Usuń do granicy poprzedniego słowa"
          "Delete to Next Word Boundary":
            value: "Skasuj do granicy następnego słowa"
          "Delete Line":
            value: "Usuń linię"
          Transpose:
            value: "Przestaw"
      Folding:
        value: "Zwijanie kodu"
        submenu:
          Fold:
            value: "Zwiń"
          Unfold:
            value: "Rozwiń"
          "Fold All":
            value: "Zwiń wszystko"
          "Unfold All":
            value: "Rozwiń wszystko"
          "Fold Level 1":
            value: "Zwiń do poziomu 1"
          "Fold Level 2":
            value: "Zwiń do poziomu 2"
          "Fold Level 3":
            value: "Zwiń do poziomu 3"
          "Fold Level 4":
            value: "Zwiń do poziomu 4"
          "Fold Level 5":
            value: "Zwiń do poziomu 5"
          "Fold Level 6":
            value: "Zwiń do poziomu 6"
          "Fold Level 7":
            value: "Zwiń do poziomu 7"
          "Fold Level 8":
            value: "Zwiń do poziomu 8"
          "Fold Level 9":
            value: "Zwiń do poziomu 9"
      "Reflow Selection":
        value: "Zmień zaznaczenie w jedną linię"
      Bookmark:
        value: "Zakładki"
        submenu:
          "View All":
            value: "Pokaż wszystkie"
          "Toggle Bookmark":
            value: "Przełącz zakładkę"
          "Jump to Next Bookmark":
            value: "Przejdź do następnej zakładki"
          "Jump to Previous Bookmark":
            value: "Przejdź do poprzedniej zakładki"
      "Select Encoding":
        value: "Wybierz kodowanie"
      "Go to Line":
        value: "Idź do linii"
      "Select Grammar":
        value: "Wybierz składnię"
  View:
    value: "Widok"
    submenu:
      "Toggle Full Screen":
        value: "Przełącz pełny ekran"
      Panes:
        value: "Panele"
        submenu:
          "Split Up":
            value: "Podziel na górze"
          "Split Down":
            value: "Podziel na dole"
          "Split Left":
            value: "Podziel po lewej"
          "Split Right":
            value: "Podziel po prawej"
          "Focus Next Pane":
            value: "Uaktywnij następny panel"
          "Focus Previous Pane":
            value: "Uaktywnij poprzedni panel"
          "Focus Pane Above":
            value: "Uaktywnij górny panel"
          "Focus Pane Below":
            value: "Uaktywnij dolny panel"
          "Focus Pane On Left":
            value: "Uaktywnij lewy panel"
          "Focus Pane On Right":
            value: "Uaktywnij prawy panel"
          "Close Pane":
            value: "Zamknij panel"
      Developer:
        value: "Opcje programistyczne"
        submenu:
          "Open In Dev Mode…":
            value: "Otwórz w trybie programistycznym…"
          "Reload Window":
            value: "Przeładuj okno"
          "Run Package Specs":
            value: "Uruchom specyfikację pakietu"
          "Run Benchmarks":
            value: "Uruchom benchmarki"
          "Toggle Developer Tools":
            value: "Narzędzia programistyczne"
      "Increase Font Size":
        value: "Zwiększ rozmiar czcionki"
      "Decrease Font Size":
        value: "Zmniejsz rozmiar czcionki"
      "Reset Font Size":
        value: "Zresetuj rozmiar czcionki"
      "Toggle Soft Wrap":
        value: "Przełącz miękkie zawijanie"
      "Toggle Command Palette":
        value: "Przełącz panel poleceń"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Przełącz kartę Git"
      "Toggle GitHub Tab":
        value: "Przełącz kartę GitHub"
      "Open Reviews Tab":
        value: "Otwórz kartę recenzji"
      #
      "Toggle Tree View":
        value: "Przełącz widok drzewa"
  Selection:
    value: "Zaznaczenie"
    submenu:
      "Add Selection Above":
        value: "Dodaj zaznaczenie powyżej"
      "Add Selection Below":
        value: "Dodaj zaznaczenie poniżej"
      "Single Selection":
        value: "Pojedyncze zaznaczenie"
      "Split into Lines":
        value: "Podziel na linie"
      "Select to Top":
        value: "Zaznacz do góry"
      "Select to Bottom":
        value: "Zaznacz do dołu"
      "Select Line":
        value: "Zaznacz linię"
      "Select Word":
        value: "Zaznacz słowo"
      "Select to Beginning of Word":
        value: "Zaznacz do początku słowa"
      "Select to Beginning of Line":
        value: "Zaznacz do początku linii"
      "Select to First Character of Line":
        value: "Zaznacz do pierwszego znaku w linii"
      "Select to End of Word":
        value: "Zaznacz do końca słowa"
      "Select to End of Line":
        value: "Zaznacz do końca linii"
      "Select Inside Brackets":
        value: "Zaznacz wewnątrz nawiasów"
  Find:
    value: "Szukaj"
    submenu:
      "Find in Buffer":
        value: "Szukaj w buforze"
      "Replace in Buffer":
        value: "Zamień w buforze"
      "Select Next":
        value: "Zaznacz następny"
      "Select All":
        value: "Zaznacz wszystko"
      "Toggle Find in Buffer":
        value: "Przełącz szukanie w buforze"
      "Find in Project":
        value: "Szukaj w projekcie"
      "Toggle Find in Project":
        value: "Przełącz szukanie w projekcie"
      "Find All":
        value: "Szukaj wszędzie"
      "Find Next":
        value: "Znajdź następny"
      "Find Previous":
        value: "Znajdź poprzedni"
      "Replace Next":
        value: "Zamień następny"
      "Replace All":
        value: "Zamień wszystko"
      "Clear History":
        value: "Wyczyść historię"
      "Find Buffer":
        value: "Przeszukaj bufor"
      "Find File":
        value: "Znajdź plik"
      "Find Modified File":
        value: "Znajdź zmodyfikowany plik"
  Packages:
    value: "Pakiety"
    submenu:
      "Bracket Matcher":
        value: "Swat nawiasów (Bracket Matcher)"
        submenu:
          "Go To Matching Bracket":
            value: "Przejdź do sparowanego nawiasu"
          "Select Inside Brackets":
            value: "Zaznacz wewnątrz nawiasów"
          "Remove Brackets From Selection":
            value: "Usuń nawiasy z zaznaczenia"
          "Close Current Tag":
            value: "Zamknij bieżący znacznik"
          "Remove Matching Brackets":
            value: "Usuń sparowane nawiasy"
          "Select Matching Brackets":
            value: "Zaznacz sparowane nawiasy"
      "Command Palette":
        value: "Panel poleceń (Command Palette)"
        submenu:
          "Toggle":
            value: "Przełącz"
      "Dev Live Reload":
        value: "Przeładowanie na żywo (Dev Live Reload)"
        submenu:
          "Reload All Styles":
            value: "Przeładuj wszystkie style"
      "Git Diff":
        value: "Różnice wg gita (Git Diff)"
        submenu:
          "Move to Next Diff":
            value: "Przejdź do następnej zmiany"
          "Move to Previous Diff":
            value: "Przejdź do poprzedniej zmiany"
          "Toggle Diff List":
            value: "Przełącz listę zmian"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Przełącz kartę Gita"
          "Toggle GitHub Tab":
            value: "Przełącz kartę GitHuba"
          "Open Reviews Tab":
            value: "Otwórz kartę recenzji"
      "Keybinding Resolver":
        value: "Przypisania klawiszy (Keybinding Resolver)"
        submenu:
          "Toggle":
            value: "Przełącz"
      "Markdown Preview":
        value: "Podgląd Markdown (Markdown Preview)"
        submenu:
          "Toggle Preview":
            value: "Przełącz podgląd"
          "Toggle Break on Single Newline":
            value: "Przełącz nową linię przy pojedynczym znaku końca"
          "Toggle GitHub Style":
            value: "Przełącz styl GitHuba"
      "Open On GitHub":
        value: "Otwórz w GitHubie (Open On GitHub)"
        submenu:
          "Blame":
            value: "Widok „blame” pliku"
          "Branch Compare":
            value: "Porównanie gałęzi"
          "Copy URL":
            value: "Kopiuj URL"
          "File":
            value: "Plik"
          "File on Master":
            value: "Plik na gałęzi Master"
          "History":
            value: "Widok historii pliku"
          "Issues":
            value: "Widok „Issues” w repozytorium pliku"
          "Pull Requests":
            value: "Widok „Pull Requests” w repozytorium pliku"
          "Repository":
            value: "Repozytorium pliku"
      "Package Generator":
        value: "Generator pakietów (Package Generator)"
        submenu:
          "Generate Atom Package":
            value: "Wygeneruj pakiet programu Atom"
          "Generate Atom Syntax Theme":
            value: "Wygeneruj motyw składni programu Atom"
      "Settings View":
        value: "Widok ustawień (Settings View)"
        submenu:
          "Open":
            value: "Otwórz"
          "Show Keybindings":
            value: "Pokaż przypisania klawiszy"
          "Install Packages/Themes":
            value: "Zainstaluj pakiety/motywy"
          "Update Packages/Themes":
            value: "Zaktualizuj pakiety/motywy"
          "Manage Packages":
            value: "Zarządzaj pakietami"
          "Manage Themes":
            value: "Zarządzaj motywami"
      "Snippets":
        value: "Snippety (Snippets)"
        submenu:
          "Expand":
            value: "Rozwiń"
          "Next Stop":
            value: "Następny"
          "Previous Stop":
            value: "Poprzedni"
          "Available":
            value: "Dostępne"
      "Spell Check":
        value: "Sprawdzanie pisowni (Spell Check)"
        submenu:
          "Toggle":
            value: "Przełącz"
      "Styleguide":
        value: "Przewodnik po stylach (Styleguide)"
        submenu:
          "Show":
            value: "Pokaż"
      "Symbols":
        value: "Symbole (Symbols)"
        submenu:
          "File Symbols":
            value: "Symbole w bieżącym pliku"
          "Project Symbols":
            value: "Symbole w bieżącym projekcie"
      "Timecop":
        value: "Strażnik czasu (Timecop)"
        submenu:
          "Show":
            value: "Pokaż czasy"
      "Tree View":
        value: "Widok drzewa (Tree View)"
        submenu:
          "Focus":
            value: "Uaktywnij widok drzewa"
          "Toggle":
            value: "Przełącz"
          "Reveal Active File":
            value: "Pokaż aktywny plik"
          "Toggle Tree Side":
            value: "Przenieś drzewo na drugą stronę"
      "Whitespace":
        value: "Spacje (Whitespace)"
        submenu:
          "Remove Trailing Whitespace":
            value: "Usuń końcowe spacje"
          "Save With Trailing Whitespace":
            value: "Zapisuj z końcowymi spacjami"
          "Save Without Trailing Whitespace":
            value: "Zapisuj bez końcowych spacji"
          "Convert Tabs To Spaces":
            value: "Zamień tabulatory w spacje"
          "Convert Spaces To Tabs":
            value: "Zamień spacje w tabulatory"
          "Convert All Tabs To Spaces":
            value: "Zamień wszystkie tabulatory w spacje"
  Window:
    value: "Okno"
    submenu:
      Minimize:
        value: "Minimalizuj"
      Zoom:
        value: "Maksymalizuj"
      "Bring All to Front":
        value: "Przesuń wszystkie na wierzch"
  Help:
    value: "Pomoc"
    submenu:
      "Terms of Use":
        value: "Warunki użytkowania"
      Documentation:
        value: "Dokumentacja"
      Roadmap:
        value: "Harmonogram"
      "Frequently Asked Questions":
        value: "Często zadawane pytania (FAQ)"
      "Community Discussions":
        value: "Dyskusje społeczności"
      "Report Issue":
        value: "Zgłoś problem"
      "Search Issues":
        value: "Przeglądaj zgłoszenia"
      "Welcome Guide":
        value: "Przewodnik powitalny"
