Menu:
  "&File":
    value: "Plik(&F)"
    submenu:
      "New &Window":
        value: "Nowe okno(&W)"
      "&New File":
        value: "Nowy plik(&N)"
      "&Open File…":
        value: "Otwórz plik(&O)..."
      "Open Folder…":
        value: "Otwórz folder..."
      "Add Project Folder…":
        value: "Dodaj folder projektu..."
      "Reopen Project":
        value: "Ponownie otwórz projekt"
        submenu:
          "Clear Project History":
            value: "Wyczyść historię projektu"
      "Reopen Last &Item":
        value: "Otwórz ponownie plik(&I)"
      "&Save":
        value: "Zapisz(&S)"
      "Save &As…":
        value: "Zapisz jako(&A)..."
      "Save A&ll":
        value: "Zapisz wszystko(&L)"
      "&Close Tab":
        value: "Zamknij zakładkę(&C)"
      "Close &Pane":
        value: "Zamknij panel(&P)"
      "Clos&e Window":
        value: "Zamknij okno(&E)"
      "Quit":
        value: "Wyjdź"
      "Close All Tabs":
        value: "Zamknij wszystkie zakładki"
  "&Edit":
    value: "Edytuj(&E)"
    submenu:
      "&Undo":
        value: "Cofnij(&U)"
      "&Redo":
        value: "Ponów(&R)"
      "&Cut":
        value: "Wytnij(&C)"
      "C&opy":
        value: "Kopiuj(&O)"
      "Copy Pat&h":
        value: "Kopiuj ścieżkę(&H)"
      "&Paste":
        value: "Wklej(&P)"
      "Select &All":
        value: "Zaznacz wszystko(&A)"
      "&Toggle Comments":
        value: "Przełącz na komentarz(&T)"
      Lines:
        value: "Linie"
        submenu:
          "&Indent":
            value: "Zwiększ wcięcie(&I)"
          "&Outdent":
            value: "Zmniejsz wcięcie(&O)"
          "&Auto Indent":
            value: "Automatyczne wcięcie(&A)"
          "Move Line &Up":
            value: "Przenieś linię do góry(&U)"
          "Move Line &Down":
            value: "Przenieś linię do dołu(&D)"
          "Du&plicate Lines":
            value: "Duplikuj linie(&P)"
          "D&elete Line":
            value: "Skasuj linie(&E)"
          "&Join Lines":
            value: "Połącz linie(&J)"
      Columns:
        value: "Kolumny"
        submenu:
          "Move Selection &Left":
            value: "Przenieś zaznaczenie na lewo(&L)"
          "Move Selection &Right":
            value: "Przenieś zaznaczenie na prawo(&R)"
      Text:
        value: "Tekst"
        submenu:
          "&Upper Case":
            value: "Upper Case(&U)"
          "&Lower Case":
            value: "Lower Case(&L)"
          "Delete to End of &Word":
            value: "Delete to End of Word(&W)"
          "Delete to Previous Word Boundary":
            value: "Delete to Previous Word Boundary"
          "Delete to Next Word Boundary":
            value: "Delete to Next Word Boundary"
          "&Delete Line":
            value: "Delete Line(&D)"
          "&Transpose":
            value: "Transpose(&T)"
      Folding:
        value: "Folding"
        submenu:
          "&Fold":
            value: "Fold(&F)"
          "&Unfold":
            value: "Unfold(&U)"
          "Unfold &All":
            value: "Unfold All(&A)"
          "Fol&d All":
            value: "Fold All(&D)"
          "Fold Level 1":
            value: "Fold Level 1"
          "Fold Level 2":
            value: "Fold Level 2"
          "Fold Level 3":
            value: "Fold Level 3"
          "Fold Level 4":
            value: "Fold Level 4"
          "Fold Level 5":
            value: "Fold Level 5"
          "Fold Level 6":
            value: "Fold Level 6"
          "Fold Level 7":
            value: "Fold Level 7"
          "Fold Level 8":
            value: "Fold Level 8"
          "Fold Level 9":
            value: "Fold Level 9"
      "&Preferences":
        value: "Preferencje(&P)"
      "Config…":
        value: "Konfiguracja..."
      "Init Script…":
        value: "Skrypt Init..."
      "Keymap…":
        value: "Mapowanie klawiszy..."
      "Snippets…":
        value: "Snippets..."
      "Stylesheet…":
        value: "Stylesheet..."
      "Reflow Selection":
        value: "Reflow Selection"
      Bookmark:
        value: "Zakładki"
        submenu:
          "View All":
            value: "Pokaż wszystkie"
          "Toggle Bookmark":
            value: "Przełącz zakładkę"
          "Jump to Next Bookmark":
            value: "Skocz do następnej zakładki"
          "Jump to Previous Bookmark":
            value: "Skocz do poprzedniej zakładki"
      "Select Encoding":
        value: "Wybierz kodowanie"
      "Go to Line":
        value: "Idź do linii"
      "Select Grammar":
        value: "Sprawdź gramatykę"
  "&View":
    value: "Widok(&V)"
    submenu:
      "Toggle &Full Screen":
        value: "Przełącz na pełny ekran(&F)"
      "Toggle Menu Bar":
        value: "Wyłącz pasek menu"
      Panes:
        value: "Panele"
        submenu:
          "Split Up":
            value: "Split Up"
          "Split Down":
            value: "Split Down"
          "Split Left":
            value: "Split Left"
          "Split Right":
            value: "Split Right"
          "Focus Next Pane":
            value: "Focus Next Pane"
          "Focus Previous Pane":
            value: "Focus Previous Pane"
          "Focus Pane Above":
            value: "Focus Pane Above"
          "Focus Pane Below":
            value: "Focus Pane Below"
          "Focus Pane On Left":
            value: "Focus Pane On Left"
          "Focus Pane On Right":
            value: "Focus Pane On Right"
          "Close Pane":
            value: "Close Pane"
      Developer:
        value: "Developer"
        submenu:
          "Open In &Dev Mode…":
            value: "Open In Dev Mode(&D)..."
          "&Reload Window":
            value: "Reload Window(&R)"
          "Run Package &Specs":
            value: "Run Package Specs(&S)"
          "Run &Benchmarks":
            value: "Run Benchmarks(&B)"
          "Toggle Developer &Tools":
            value: "Toggle Developer Tools(&T)"
      "&Increase Font Size":
        value: "Zwiększ rozmiar czcionki(&I)"
      "&Decrease Font Size":
        value: "Zmniejsz rozmiar czcionki(&D)"
      "Re&set Font Size":
        value: "Zresetuj rozmiar czcionki(&S)"
      "Toggle Soft &Wrap":
        value: "Toggle Soft Wrap(&W)"
      "Toggle Command Palette":
        value: "Przełącz na okno poleceń"
      "Toggle Tree View":
        value: "Przełącz na widok drzewa"
  "&Selection":
    value: "Zaznaczenia(&S)"
    submenu:
      "Add Selection &Above":
        value: "Add Selection Above(&A)"
      "Add Selection &Below":
        value: "Add Selection Below(&B)"
      "S&plit into Lines":
        value: "Split into Lines(&P)"
      "Single Selection":
        value: "Single Selection"
      "Select to &Top":
        value: "Select to Top(&T)"
      "Select to Botto&m":
        value: "Select to Bottom(&M)"
      "Select &Line":
        value: "Select Line(&L)"
      "Select &Word":
        value: "Select Word(&W)"
      "Select to Beginning of W&ord":
        value: "Select to Beginning of Word(&O)"
      "Select to Beginning of L&ine":
        value: "Select to Beginning of Line(&I)"
      "Select to First &Character of Line":
        value: "Select to First Character of Line(&C)"
      "Select to End of Wor&d":
        value: "Select to End of Word(&D)"
      "Select to End of Lin&e":
        value: "Select to End of Line(&E)"
      "Select Inside Brackets":
        value: "Select Inside Brackets"
  "F&ind":
    value: "Szukaj(&I)"
    submenu:
      "Find in Buffer":
        value: "Szukaj w buforze"
      "Replace in Buffer":
        value: "Zmień w buforze"
      "Select Next":
        value: "Zaznacz następny"
      "Select All":
        value: "Zaznacz wszystko"
      "Toggle Find in Buffer":
        value: "Przełącz na szukanie w buforze"
      "Find in Project":
        value: "Szukaj w projekcie"
      "Toggle Find in Project":
        value: "Przełącz na szukanie w projekcie"
      "Find All":
        value: "Szukaj wszędzie"
      "Find Next":
        value: "Znajdź następny"
      "Find Previous":
        value: "Znajdź poprzedni"
      "Replace Next":
        value: "Zastąp następny"
      "Replace All":
        value: "Zastąp wszystko"
      "Clear History":
        value: "Wyczyść historię"
      "Find Buffer":
        value: "Przeszukaj bufor"
      "Find File":
        value: "Szukaj pliku"
      "Find Modified File":
        value: "Szukaj modyfikowanego pliku"
  "&Packages":
    value: "Pakiety(&P)"
  "&Help":
    value: "Pomoc(&H)"
    submenu:
      "View &Terms of Use":
        value: "Pokaż warunki korzystania(&T)"
      "View &License":
        value: "Pokaż licencję(&L)"
      "&Documentation":
        value: "Dokumentacja(&D)"
      "Frequently Asked Questions":
        value: "Często zadawane pytania (FAQ)"
      "Community Discussions":
        value: "Dyskusje społeczności"
      "Report Issue":
        value: "Zgłoś błąd"
      "Search Issues":
        value: "Szukaj błędów"
      "About Atom":
        value: "O Atom'ie"
      "Welcome Guide":
        value: "Przewodnik powitalny"
