Settings:
  "tab-title": "Ustawienia"
  menu: [
    {
      _label: "Core"
      value: "Główne"
    }
    {
      _label: "Editor"
      value: "Edytor"
    }
    {
      _label: "System"
      value: "System"
    }
    {
      _label: "Keybindings"
      value: "Przypisanie klawiszy"
    }
    {
      _label: "Packages"
      value: "Pakiety"
    }
    {
      _label: "Themes"
      value: "Motywy"
    }
    {
      _label: "Updates"
      value: "Aktualizacje"
    }
    {
      _label: "Install"
      value: "Zainstaluj"
    }
  ]
  "btn-open-config-folder": "Otwórz folder z konfiguracją"
  sectionHeadings: [
    {_label: "Core Settings", value: "Ustawienia główne"}
    {_label: "Editor Settings", value: "Ustawienia edytora"}
    {_label: "System Settings", value: "Ustawienia systemowe"}
    {_label: "Keybindings", value: "Przypisanie klawiszy"}
    {_label: "Installed Packages", value: "Zainstalowane pakiety"}
    {_label: "Choose a Theme", value: "Wybierz motyw"}
    {_label: "Installed Themes", value: "Zainstalowane motywy"}
    {_label: "Install Packages", value: "Zainstaluj pakiety"}
    {_label: "Featured Packages", value: "Polecane pakiety"}
    {_label: "Install Themes", value: "Zainstaluj motywy"}
    {_label: "Featured Themes", value: "Polecane motywy"}
    {_label: "Available Updates", value: "Dostępne aktualizacje"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Niewidoczny"}
    {_label: "Community Packages", value: "Pakiety społeczności"}
    {_label: "Core Packages", value: "Pakiety główne"}
    {_label: "Development Packages", value: "Pakiety programistyczne"}
    {_label: "Git Packages", value: "Pakiety Gita"}
    {_label: "Community Themes", value: "Motywy społeczności"}
    {_label: "Core Themes", value: "Motywy główne"}
    {_label: "Development Themes", value: "Motywy programistyczne"}
    {_label: "Git Themes", value: "Motywy z Gita"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Główne ustawienia programu Atom, które nie są w żaden sposób związane
               z edytowaniem tekstu. Zainstalowane pakiety mogą mieć własne
               dodatkowe ustawienia, które znajdują się na karcie danego
               pakietu w <a class="link packages-open">liście pakietów</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Ustawienia zwiazane z edytowaniem tekstu. Niektóre z nich mogą być
               uchylone przez właściwości danego języka. Sprawdź ustawienia jezyka,
               klikając kartę jego pakietu na <a class="link packages-open">liście pakietów</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Zezwól na oczekujące elementy panelu"
        desc: "Zezwól na wyświetlenie elementu bez dodawania go do panelu
               jak przy jednokrotnym kliknięciu plików wyświetlanych w widoku drzewa."
      }
      {
        _id: 'core.audioBeep'
        title: "Syngał dźwiękowy"
        desc: "Włącz sygnał dźwiękowy w sytuacji, gdy dana akcja nie może zostać
               wykonana lub nie ma żadnych wyników z nią związanych."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Automatyczne aktualizacje"
        desc: "Automatycznie aktualizuj program, gdy dostępna jest nowa wersja."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Autoukrywanie paska menu"
        desc: "Automatycznie ukryj pasek menu i go przywracaj wciśnięciem klawisza Alt. Opcja wspierana tylko w Windows i Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Zamknij karty skasowanych plików"
        desc: "Zamknij karty edytowanych plików, jeżeli te zostały skasowane poza aplikacją Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Zamknij puste okna"
        desc: "Gdy uruchomione jest okno bez otwartych kart lub paneli,
               polecenie 'Zamknij kartę' zamyka też to okno."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Zamknij puste panele"
        desc: "Gdy ostatnia karta w panelu zostanie zamknięta, zamknij także ten panel."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Wyklucz ignorowane ścieżki VCS"
        desc: "Pliki i katalogi ignorowane przez system kontroli wersji (VCS) bieżącego projektu będą ignorowane przez niektóre pakiety
               takie jak wyszukiwarka lub opcja znajdź i zamień. Na przykład, projekty korzystające z Gita bazują na informacjach zawartych w pliku .gitignore. Poszczególne pakiety mogą posiadać dodatkowe ustawienia konfiguracyjne,
               które znoszą ignorowanie plików i folderów przez system kontroli wersji."
      }
      {
        _id: 'core.fileEncoding'
        title: "Kodowanie pliku"
        desc: "Domyślne ustawienie kodowania znaków używane podczas odczytu i zapisu plików."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "Systemowy monitor plików"
        desc: "Wybierz warstwę używaną do śledzenia zmian plików w systemie. Emulacja zmian nie bierze
               pod uwagę zdarzeń wywołanych przez inne aplikacje niż Atom, ale może zapobiec zamknięciom lub zawieszeniom."
        select:
          native: "Wbudowane API systemu operacyjnego"
          atom: "Emulacja zdarzeniami Atoma"
      }
      {
        _id: 'core.followSymlinks'
        title: "Podążaj za dowiązaniami symbolicznymi"
        desc: "Podążaj za dowiązaniami symbolicznymi podczas wyszukiwania i otwierania plików przez wyszukiwarkę."
      }
      {
        _id: 'core.ignoredNames'
        title: "Ignorowane nazwy"
        desc: "Lista <code>wzorców globalnych</code>. Pliki i katalogi odpowiadające temu wzorcowi będą ignorowane przez
               niektóre pakiety takie jak wyszukiwarka i widok drzewa plików. Poszczególne pakiety mogą posiadać dodatkowe
               ustawienia konfiguracyjne do ignorowania nazw."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Otwórz pusty edytor podczas startu"
        desc: "Automatycznie otwiera pusty edytor podczas uruchamiania aplikacji."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Wyłączone pakiety z mapowaniem klawiszy"
      }
      {
        _id: 'core.projectHome'
        title: "Katalog domowy projektu"
        desc: "Katalog, w którym projekty mają być umieszczane. Pakiety tworzone za pomocą generatora pakietów będą przechowywane
               domyślnie w tym właśnie miejscu."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Liczba ostatnio otwartych projektów"
        desc: "Ile ostatnich projektów pokazać w menu Ponownie otwórz projekt."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Przywróć poprzednie okna podczas startu"
        desc: "W przypadku włączenia ostatni stan wszystkich okien Atoma zostanie przywrócony po uruchomieniu programu kliknięciem ikony lub poleceniem <code>atom</code> w terminalu; w innym przypadku ładowane jest puste środowisko."
        select:
          no: "nie"
          yes: "tak"
          always: "zawsze"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Przesyłaj dane telemetryczne do twórców Atoma"
        desc: "Zezwól na zbieranie statystyk i raportów wyjątków oraz przesyłanie ich twórcom Atoma w celu ulepszenia produktu."
        select:
          limited: "Zezwól na ograniczone anonimowe statystyki użytkowania, raportowanie wyjątków i awarii programu"
          no: "Nie wysyłaj żadnych danych telemetrycznych"
          undecided: "Brak decyzji (Atom zapyta Cię przy ponownym uruchomieniu)"
      }
      {
        _id: 'core.titleBar'
        title: "Pasek tytułu"
        desc: "Eksperymentalne: <code>własny</code> pasek tytułowy dopasowuje się do kolorów motywu. Wybranie <code>własny – okienko</code> powoduje dodanie niewielkiego odstępu (padding). Pasek tytułowy może też być całkowicie <code>ukryty</code>.<br>Uwaga: ustawienie własego lub ukrytego paska tytułu może nieco ograniczyć funkcjonalność.<br>Opcja ta wymaga ponownego uruchomienia edytora Atom."
        select:
          native: "wbudowany"
          custom: "własny"
          "custom-inset": "własny – okienko"
          hidden: "ukryty"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Korzystaj z ustawień proxy przy wywoływaniu APM"
        desc: "Użyj wykrytych ustawień proxy gdy jest wywoływane narzędzie konsolowe <code>apm</code>."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Pakiety o zablokowanych wersjach"
        desc: "Lista nazw zainstalowanych pakietów, które nie są automatycznie aktualizowane."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Użyj własnego paska tytułu"
        desc: "Użyj własnego paska tytułu dopasowanego do motywu.<br>Uwaga: obecnie nie zawiera ikony proxy.<br>Ustawienie wymaga ponownego uruchomienia edytora Atom."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Ostrzeżenie podczas otwierania dużych plików"
        desc: "Ostrzegaj przed otwarciem dużych plików, większych niż podana liczba megabajtów."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomowe miękkie tabulatory"
        desc: "Przeskocz o odpowiadającą tabulatorowi liczbę spacji wiodących podczas przesuwania kursora."
      }
      {
        _id: 'editor.autoIndent'
        title: "Automatyczne wcięcie"
        desc: "Automatycznie dodaj wcięcie akapitu podczas wstawiania nowej linii."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Automatyczne wcięcie podczas wklejania"
        desc: "Automatycznie dodaj wcięcie akapitu podczas wklejania tekstu, dopasowując do wcięcia użytego w poprzedniej linii."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Twórz kopię zapasową przed zapisaniem"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Potwierdź pobranie aktualnej gałęzi (HEAD)"
        desc: "Zapytaj o zgodę w momencie pobierania aktualnej gałęzi (HEAD) i odrzucenia zmian w obecnym pliku dokonanych od ostatniego zatwierdzenia."
      }
      {
        _id: 'editor.fontFamily'
        title: "Czcionka"
        desc: "Nazwa czcionki używanej w edytorze tekstowym."
      }
      {
        _id: 'editor.fontSize'
        title: "Rozmiar czcionki"
        desc: "Wysokość tekstu w edytorze wyrażona pikselach."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Niewidoczne Cr"
        desc: "Znak używany do reprezentacji znaków powrotu karetki (w przypadku zakończeń linii w stylu Microsoftu), gdy włączone jest ustawienie <code>Pokaż niewidoczne</code>."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Niewidoczne końce linii"
        desc: "Znak używany do reprezentacji znaków nowej linii (\n), gdy włączone jest ustawienie <code>Pokaż niewidoczne</code>."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Niewidoczne spacje"
        desc: "Znak używany do reprezentacji spacji wiodących i kończących, gdy włączone jest ustawienie <code>Pokaż niewidoczne</code>."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Niewidoczne tabulatory"
        desc: "Znak używany do reprezentacji znaków twardej tabulacji (\t), gdy włączone jest ustawienie <code>Pokaż niewidoczne</code>."
      }
      {
        _id: 'editor.lineHeight'
        title: "Wysokość linii"
        desc: "Wysokość linii w edytorze jako mnożnik rozmiaru czcionki."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Maksymalna długość linii na ekranie"
        desc: "Określa maksymalną szerokość okna edytora wyrażoną w liczbie znaków przed włączeniem miękkiego zawijania wierszy."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Non Word Characters"
        desc: "Łańcuch nieużywanych w słowach znaków, które definiują granice słowa."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Preferowana długość linii"
        desc: "Określa długość linii (w liczbie znaków), która jest używana podczas zawijania tekstu po włączeniu opcji <code>Miękkie zawijanie w preferowanej długości linii</code>."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Przewijanie poza koniec"
        desc: "Pozwala na przewijanie okna edytora poza koniec ostatniej linii."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Czułość przewijania"
        desc: "Określa, jak szybko działa przewijanie w edytorze, gdy korzystasz z myszy lub trackpada."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Pokaż kursor na zaznaczeniu"
        desc: "Pokaż kursor, gdy tekst jest zaznaczony."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Pokaż linie wcięć"
        desc: "Pokaż wskaźniki wcięć w edytorze."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Pokaż niewidoczne"
        desc: "Wyświetla symbole zastępcze dla niewidocznych znaków takich jak tabulatory, spacje oraz nowe linie."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Pokaż numery linii"
        desc: "Pokaż numery linii w edytorze."
      }
      {
        _id: 'editor.softTabs'
        title: "Miękka tabulacja"
        desc: "Jeżeli opcja <code>Rodzaj tabulacji</code> ustawiona jest na \"auto\", a automatyczna detekcja rodzaju tabulacji w treści bufora nie powiedzie się, wówczas to ustawienie decyduje, czy po wciśnięciu klawisza Tab zostanie wstawiony miękki czy twardy tabulator."
      }
      {
        _id: 'editor.softWrap'
        title: "Miękkie zawijanie wierszy"
        desc: "Zawijaj linie, które są dłuższe od szerokości okna. Gdy włączona jest opcja <code>Miękkie zawijanie w preferowanej długości linii</code>, znaki powyżej liczby określonej ustawieniem <code>Preferowana długość linii</code> zostaną przeniesione do następnej linii."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Miękkie zawijanie w preferowanej długości linii"
        desc: "Zamiast zawijać wiersze dłuższe od szerokości okna, zawijaj je po przekroczeniu liczby znaków określonych ustawieniem <code>Preferowana długość linii</code>. Zadziała to jedynie wówczas, gdy miękkie zawijanie będzie włączone globalnie bądź dla bieżącego języka. <strong>Uwaga:</strong> Jeśli chcesz ukryć wskaźnik zawijania (pionową linię), możesz wyłączyć pakiet <code>wrap-guide</code>."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Wcięcie miękkiego zawijania"
        desc: "Gdy miękkie zawijanie jest włączone, poniższa wartość określa wielkość wcięcia zawiniętych linii wyrażoną w liczbie znaków."
      }
      {
        _id: 'editor.tabLength'
        title: "Długość tabulatora"
        desc: "Liczba spacji używanych do reprezentowania tabulatora."
      }
      {
        _id: 'editor.tabType'
        title: "Rodzaj tabulacji"
        desc: "Określa wstawiany znak po wciśnięciu klawisza Tab. Dostępne wartości: \"auto\", \"miękka\" i \"twarda\". Przy ustawieniu \"miękka\" lub \"twarda\" wstawiane są miękkie tabulatory (spacje) lub twarde (znaki tabulatora). Przy ustawieniu \"auto\" edytor automatycznie wykrywa rodzaj tabulacji na podstawie zawartości bufora (sprawdza pierwszą spację wiodącą w linii niebędącej komentarzem) albo w razie niepowodzenia autodetekcji opiera się na wartości ustawienia Miękka tabulacja."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Interwał grupowania cofania"
        desc: "Interwał czasowy w milisekundach, w czasie którego operacje edycji tekstu będą grupowane w historii cofania."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Zwiększenie czcionki przez przewijanie z klawiszem Ctrl"
        desc: "Zmień rozmiar czcionki w edytorze, gdy wciśnięty jest klawisz Ctrl podczas przewijania kółkiem myszy w górę/dół."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Zarejestruj jako obsługę plików"
        desc: "Pokaż program Atom w liście aplikacji \"Otwórz za pomocą\" w celu łatwego przypisania typu plików."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Pokaż w menu kontekstowym plików"
        desc: "Dodaj \"Otwórz używając Atom'a\" w menu kontekstowym eksploratora plików."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Pokaż w menu kontekstowym folderów"
        desc: "Dodaj \"Open with Atom\" do menu kontekstowego Eksploratora dla folderów."
      }
    ]
  }
  system: {
    notes: "Te ustawienia określają, jak Atom integruje się z Twoim systemem operacyjnym."
  }
  keymaps: {
    notes: {
      text1: "Możesz zmienić poniższe przypisanie klawiszy poprzez skopiowanie "
      text2: "i wklejenie ich do "
      text3: "Twojego pliku z przypisaniem klawiszy"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Szukaj przypisania klawiszy"
    "table-header-keystroke": "Kombinacja klawiszy"
    "table-header-command": "Polecenie"
    "table-header-source": "Źródło"
    "table-header-selector": "Selektor"
  }
  packages: {
    searchBarText: 'Filtrowanie pakietów po nazwie'
  }
  themes: {
    notes: {
      text1: "Możesz zmienić styl Atoma przez edycję "
      text2: "Twojego szablonu"
      text3: ""   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Motyw UI"
    description1: "Nadaje styl kartom, paskowi statusu, widokowi drzewa oraz rozwijanym listom"
    title2: "Motyw składni"
    description2: "Nadaje styl tekstowi wewnątrz edytora"
    searchBarText: 'Filtrowanie motywów po nazwie'
  }
  updates: {
    "check-updates": "Sprawdź aktualizacje"
    "update-all": "Aktualizuj wszystko"
    "checking-updates": "Sprawdzam aktualizacje…"
    "all-updated-message": "Wszystkie zainstalowane pakiety są aktualne!"
  }
  install: {
    notes: {
      text1: "Pakiety publikowane są na "
      text2: " oraz zainstalowane w "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Szukaj pakietów"
    "btn-packages": "Pakiety"
    "btn-themes": "Motywy"
  }
  "control-btns":{
    install: "Zainstaluj"
    update: "Zaktualizuj do"
    setting: "Ustawienia"
    uninstall: "Odinstaluj"
    disable: "Wyłącz"
    enable: "Włącz"
  }
