About:
  tabTitle: "About"
  releaseNotes: "Poznámky k vydaniu"
  newUpdate: "Nová aktualizácia"
  upToDate: "Atom je aktuálny!"
  checkingForUpdates: "Kontrolujem nové aktualizácie..."
  checkUpdatesNow: "Skontrolovať"
  automaticDownloadUpdates: "Automatické sťahovanie aktualizácii"
  restartInstall: "Reštartovať a inštalovať"
  license: "Licencie"
  termsOfUse: "Podmienky používania"
  with: " s "
  by: " od "
  andTheAwesome: "a úžasná "
  atomCommunity: "Atom komunita"
