Context:
  "atom-workspace":
    "application:inspect": "Preskúmať prvok"
  "atom-text-editor":
    "color-picker:open": "Výber farby"
    "minimap:toggle": "Prepnúť Minimapu"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Späť"
    "core:redo": "Vrátiť"
    "core:cut": "Vystrihnúť"
    "core:copy": "Kopírovať"
    "core:paste": "Vložiť"
    "core:delete": "Vymazať"
    "core:select-all": "Vybrať všetko"
    "pane:split-up-and-copy-active-item": "Rozdeliť Nahor"
    "pane:split-down-and-copy-active-item": "Rozdeliť Nadol"
    "pane:split-left-and-copy-active-item": "Rozdeliť Vľavo"
    "pane:split-right-and-copy-active-item": "Rozdeliť Vpravo"
    "pane:close": "Zatvoriť Panel"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Rozdeliť Nahor"
    "pane:split-down-and-copy-active-item": "Rozdeliť Nadol"
    "pane:split-left-and-copy-active-item": "Rozdeliť Vľavo"
    "pane:split-right-and-copy-active-item": "Rozdeliť Vpravo"
    "pane:close": "Zavrieť Panel"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Zmeniť kódovanie"
    "spell-check:correct-misspelling": "Opraviť gramatiku"
    "symbols-view:go-to-declaration": "Ísť do deklarácie"
  ".overlayer":
    "grammar-selector:show": "Zmeniť gramatiku"
  ".image-view":
    "image-view:reload": "Znovu načítať obrázok"
  ".tab":
    "tabs:close-tab": "Zatvoriť záložku"
    "tabs:close-other-tabs": "Zatvoriť ostatné záložky"
    "tabs:close-tabs-to-right": "Zatvoriť záložky vpravo"
    "tabs:close-tabs-to-left": "Zatvoriť záložky vľavo"
    "tabs:close-saved-tabs": "Zatvoriť uložené záložky"
    "tabs:close-all-tabs": "Zatvoriť všetky záložky"
    "tabs:split-up": "Rozdeliť Nahor"
    "tabs:split-down": "Rozdeliť Nadol"
    "tabs:split-left": "Rozdeliť Vľavo"
    "tabs:split-right": "Rozdeliť Vpravo"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Otvoriť v novom okne"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Nechať nedokončené záložky"
  ".tab-bar":
    "pane:reopen-closed-item": "Znovu otvoriť zatvorené záložky"
  ".tree-view .full-menu":
    "tree-view:add-file": "Nový súbor"
    "tree-view:add-folder": "Nová zložka"
    "tree-view:move": "Premenovať"
    "tree-view:duplicate": "Duplikovať"
    "tree-view:remove": "Vymazať"
    "tree-view:copy": "Kopírovať"
    "tree-view:cut": "Vystrihnúť"
    "tree-view:paste": "Vložiť"
#    "tree-view:open-selected-entry-up": "Rozdeliť Nahor"
#    "tree-view:open-selected-entry-down": "Rozdeliť Nadol"
#    "tree-view:open-selected-entry-left": "Rozdeliť Vľavo"
#    "tree-view:open-selected-entry-right": "Rozdeliť Vpravo"
    "application:add-project-folder": "Pridať zložku projektu"
    "tree-view:copy-full-path": "Kopírovať úplnú cestu"
    "tree-view:copy-project-path": "Kopírovať cestu projektu"
    "tree-view:open-in-new-window": "Otvoriť v novom okne"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Rozdeliť Nahor"
    "tree-view:open-selected-entry-down": "Rozdeliť Nadol"
    "tree-view:open-selected-entry-left": "Rozdeliť Vľavo"
    "tree-view:open-selected-entry-right": "Rozdeliť Vpravo"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Nový súbor"
    "tree-view:add-folder": "Nová zložka"
    "tree-view:move": "Premenovať"
    "tree-view:duplicate": "Duplikovať"
    "tree-view:remove": "Vymazať"
    "tree-view:copy": "Kopírovať"
    "tree-view:cut": "Vystrihnúť"
    "tree-view:paste": "Vložiť"
#    "tree-view:open-selected-entry-up": "Rozdeliť Nahor"
#    "tree-view:open-selected-entry-down": "Rozdeliť Nadol"
#    "tree-view:open-selected-entry-left": "Rozdeliť Vľavo"
#    "tree-view:open-selected-entry-right": "Rozdeliť Vpravo"
    "application:add-project-folder": "Pridať zložku projektu"
    "tree-view:remove-project-folder": "Vymazať zložku projektu"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Kopírovať úplnú cestu"
    "tree-view:copy-project-path": "Kopírovať cestu projektu"
    "tree-view:open-in-new-window": "Otvoriť v novom okne"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Otvoriť vo Vyhľadávaní"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Hľadať v adresári"
  ".tree-view .multi-select":
    "tree-view:remove": "Vymazať"
    "tree-view:copy": "Kopírovať"
    "tree-view:cut": "Vystrihnúť"
    "tree-view:paste": "Vložiť"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Ukázať v strome súborov"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Premenovať"
    "tree-view:reveal-active-file": "Ukázať v strome súborov"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Otvoriť vo Vyhľadávaní"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Otvoriť vo Vyhľadávaní"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Otvoriť v Prieskumníkovi súborov"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Hľadať v adresári"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
