Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "O Atome"
      "View License":
        value: "Zobraziť Licenciu"
      "Check for Update":
        value: "Skontrolovať aktualizácie"
      "Preferences…":
        value: "Nastavenie..."
      "Config…":
        value: "Config..."
      "Init Script…":
        value: "Spúšťací Script..."
      "Keymap…":
        value: "Klávesové skratky..."
      "Snippets…":
        value: "Skratky..."
      "Stylesheet…":
        value: "Štýly..."
      "Install Shell Commands":
        value: "Nainštalovať Shell Príkazy"
      "Hide Atom":
        value: "Skryť Atom"
      "Hide Others":
        value: "Skryť Ostatné"
      "Show All":
        value: "Zobraziť Všetko"
      Quit:
        value: "Ukončiť"
  File:
    value: "Súbor"
    submenu:
      "New Window":
        value: "Nové okno"
      "New File":
        value: "Nový súbor"
      "Open…":
        value: "Otvoriť..."
      "Add Project Folder…":
        value: "Pridať zložku projektu..."
      "Reopen Project":
        value: "Znovu otvoriť projekt"
        submenu:
          "Clear Project History":
            value: "Vymazať históriu projektu"
      "Reopen Last Item":
        value: "Znovu otvoriť poslednú položku"
      Save:
        value: "Uložiť"
      "Save As…":
        value: "Uložiť ako..."
      "Save All":
        value: "Uložiť všetko"
      "Close Tab":
        value: "Zatvoriť záložku"
      "Close Pane":
        value: "Zatvoriť panel"
      "Close Window":
        value: "Zatvoriť okno"
      "Close All Tabs":
        value: "Zatvoriť všetky záložky"
  Edit:
    value: "Upraviť"
    submenu:
      Undo:
        value: "Späť"
      Redo:
        value: "Znovu"
      Cut:
        value: "Vystrihnúť"
      Copy:
        value: "Kopírovať"
      "Copy Path":
        value: "Kopírovať cestu"
      Paste:
        value: "Vložiť"
      "Select All":
        value: "Vybrať všetko"
      "Toggle Comments":
        value: "Prepnúť komentáre"
      Lines:
        value: "Riadky"
        submenu:
          Indent:
            value: "Odsadiť"
          Outdent:
            value: "Zmenšiť odsadenie"
          "Auto Indent":
            value: "Automatické odsadenie"
          "Move Line Up":
            value: "Presunúť riadok nahor"
          "Move Line Down":
            value: "Presunúť riadok nadol"
          "Duplicate Lines":
            value: "Duplikovať riadky"
          "Delete Line":
            value: "Zmazať riadok"
          "Join Lines":
            value: "Spojiť riadky"
      Columns:
        value: "Stĺpce"
        submenu:
          "Move Selection Left":
            value: "Posunúť výber vľavo"
          "Move Selection Right":
            value: "Posunúť výber vpravo"
      Text:
        value: "Text"
        submenu:
          "Upper Case":
            value: "Veľké písmena"
          "Lower Case":
            value: "Malé písmena"
          "Delete to End of Word":
            value: "Zmazať do konca slova"
          "Delete to Previous Word Boundary":
            value: "Zmazať k predchádzajúcej hranici slova"
          "Delete to Next Word Boundary":
            value: "Zmazať k nasledujúcej hranici slova"
          "Delete Line":
            value: "Vymazať riadok"
          Transpose:
            value: "Premiestniť"
      Folding:
        value: "Skladanie"
        submenu:
          Fold:
            value: "Zložiť"
          Unfold:
            value: "Rozložiť"
          "Fold All":
            value: "Zložiť všetko"
          "Unfold All":
            value: "Rozložiť všetko"
          "Fold Level 1":
            value: "Zložiť úroveň 1"
          "Fold Level 2":
            value: "Zložiť úroveň 2"
          "Fold Level 3":
            value: "Zložiť úroveň 3"
          "Fold Level 4":
            value: "Zložiť úroveň 4"
          "Fold Level 5":
            value: "Zložiť úroveň 5"
          "Fold Level 6":
            value: "Zložiť úroveň 6"
          "Fold Level 7":
            value: "Zložiť úroveň 7"
          "Fold Level 8":
            value: "Zložiť úroveň 8"
          "Fold Level 9":
            value: "Zložiť úroveň 9"
      "Reflow Selection":
        value: "Preformátovať výber"
      Bookmark:
        value: "Záložky"
        submenu:
          "View All":
            value: "Zobraziť všetko"
          "Toggle Bookmark":
            value: "Prepnúť záložky"
          "Jump to Next Bookmark":
            value: "Skočiť na ďaľšiu záložku"
          "Jump to Previous Bookmark":
            value: "Skočiť na predchádzajúcu záložku"
      "Select Encoding":
        value: "Vybrať kódovanie"
      "Go to Line":
        value: "Ísť na riadok"
      "Select Grammar":
        value: "Vybrať gramatiku"
  View:
    value: "Zobraziť"
    submenu:
      "Toggle Full Screen":
        value: "Spusťiť režim celej obrazovky"
      Panes:
        value: "Panely"
        submenu:
          "Split Up":
            value: "Rozdeliť Nahor"
          "Split Down":
            value: "Rozdeliť Nadol"
          "Split Left":
            value: "Rozdeliť Vľavo"
          "Split Right":
            value: "Rozdeliť Vpravo"
          "Focus Next Pane":
            value: "Zamerať sa na ďaľší panel"
          "Focus Previous Pane":
            value: "Zamerať sa na predchádzajúci panel"
          "Focus Pane Above":
            value: "Zamerať sa na horný panel"
          "Focus Pane Below":
            value: "Zamerať sa na dolný panel"
          "Focus Pane On Left":
            value: "Zamerať sa na panel vľavo"
          "Focus Pane On Right":
            value: "Zamerať sa na panel vpravo"
          "Close Pane":
            value: "Zatvoriť panel"
      Developer:
        value: "Vývojár"
        submenu:
          "Open In Dev Mode…":
            value: "Otvoriť v móde pre vývojárov..."
          "Reload Window":
            value: "Znovu načítať okno"
          "Run Package Specs":
            value: "Spustiť špecifikáciu balíka"
          "Run Benchmarks":
            value: "Spustiť Benchmarks"
          "Toggle Developer Tools":
            value: "Prepnúť nástroje pre vývojárov"
      "Increase Font Size":
        value: "Zväčšiť veľkosť písma"
      "Decrease Font Size":
        value: "Zmenšiť veľkosť písma"
      "Reset Font Size":
        value: "Obnoviť veľkosť písma"
      "Toggle Soft Wrap":
        value: "Prepnúť Soft Wrap"
      "Toggle Command Palette":
        value: "Spustiť príkazový riadok"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Prepnúť strom súboru"
  Selection:
    value: "Výber"
    submenu:
      "Add Selection Above":
        value: "Pridať výber nad"
      "Add Selection Below":
        value: "Pridať výber pod"
      "Single Selection":
        value: "Jeden výber"
      "Split into Lines":
        value: "Rozdeliť na riadky"
      "Select to Top":
        value: "Vybrať až nahor"
      "Select to Bottom":
        value: "Vybrať až nadol"
      "Select Line":
        value: "Vybrať riadok"
      "Select Word":
        value: "Vybrať slovo"
      "Select to Beginning of Word":
        value: "Vybrať začiatok slova"
      "Select to Beginning of Line":
        value: "Vybrať začiatok riadku"
      "Select to First Character of Line":
        value: "Vybrať prvý znak riadku"
      "Select to End of Word":
        value: "Vybrať do konca slova"
      "Select to End of Line":
        value: "Vybrať do konca riadku"
      "Select Inside Brackets":
        value: "Vybrať vnútro zátvoriek"
  Find:
    value: "Hľadať"
    submenu:
      "Find in Buffer":
        value: "Hľadať v schránke"
      "Replace in Buffer":
        value: "Nahradiť v schránke"
      "Select Next":
        value: "Vybrať daľší"
      "Select All":
        value: "Vybrať všetko"
      "Toggle Find in Buffer":
        value: "Zapnúť hľadanie zo schránky"
      "Find in Project":
        value: "Hľadať v projekte"
      "Toggle Find in Project":
        value: "Zapnúť hľadanie v projekte"
      "Find All":
        value: "Nájsť všetko"
      "Find Next":
        value: "Nájsť ďalší"
      "Find Previous":
        value: "Nájsť predchádzajúci"
      "Replace Next":
        value: "Nahradiť ďaľší"
      "Replace All":
        value: "Nahradiť všetko"
      "Clear History":
        value: "Vymazať históriu"
      "Find Buffer":
        value: "Hľadať zo schránky"
      "Find File":
        value: "Nájsť súbor"
      "Find Modified File":
        value: "Nájsť upravený súbor"
  Packages:
    value: "Pluginy"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Okno"
    submenu:
      Minimize:
        value: "Minimize"
      Zoom:
        value: "Zväčšiť/Zmenšiť"
      "Bring All to Front":
        value: "Preniesť všetko do popredia"
  Help:
    value: "Pomoc"
    submenu:
      "Terms of Use":
        value: "Podmienky používania"
      Documentation:
        value: "Dokumentácia"
      Roadmap:
        value: "Podrobný plán"
      "Frequently Asked Questions":
        value: "Často kladdené otázky"
      "Community Discussions":
        value: "Komunitná diskusia"
      "Report Issue":
        value: "Nahlásiť problém"
      "Search Issues":
        value: "Hľadať problémy"
      "Welcome Guide":
        value: "Vitajte"
