About:
  tabTitle: "Over"
  releaseNotes: "Release Notes"
  newUpdate: "Nieuwe versie"
  automaticDownloadUpdates: "Nieuwe versie automatisch downloaden"
  restartInstall: "Herstart en installeer"
  license: "Licentie"
  termsOfUse: "Gebruikersovereenkomst"
  with: " met "
  by: " door "
  andTheAwesome: "En de geweldige "
  atomCommunity: "Atom Community"
