About:
  tabTitle: "Over"
  releaseNotes: "Uitgaveopmerkingen"
  newUpdate: "Nieuwe versie"
  upToDate: "Atom is bijgewerkt!"
  checkingForUpdates: "Controleren op updates..."
  checkUpdatesNow: "Controleer nu"
  automaticDownloadUpdates: "Nieuwe versie automatisch downloaden"
  restartInstall: "Herstart en installeer"
  license: "Licentie"
  termsOfUse: "Gebruikersovereenkomst"
  with: " met "
  by: " door "
  andTheAwesome: "En de geweldige "
  atomCommunity: "Atom Community"
