Context:
  "atom-workspace":
    "application:inspect": "Inspect Element"
  "atom-text-editor":
    "color-picker:open": "Kleurenkiezer"
    "minimap:toggle": "Minimap Aan/Uit"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Ongedaan maken"
    "core:redo": "Opnieuw"
    "core:cut": "Knippen"
    "core:copy": "Kopieren"
    "core:paste": "Plakken"
    "core:delete": "Verwijderen"
    "core:select-all": "Alles selecteren"
    "pane:split-up-and-copy-active-item": "Boven splitsen"
    "pane:split-down-and-copy-active-item": "Beneden splitsen"
    "pane:split-left-and-copy-active-item": "Links splitsen"
    "pane:split-right-and-copy-active-item": "Rechts splitsen"
    "pane:close": "Sluit blad"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Boven splitsen"
    "pane:split-down-and-copy-active-item": "Beneden splitsen"
    "pane:split-left-and-copy-active-item": "Links splitsen"
    "pane:split-right-and-copy-active-item": "Rechts splitsen"
    "pane:close": "Venster sluiten"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Verander codering"
    "spell-check:correct-misspelling": "Corrigeer spelling"
    "symbols-view:go-to-declaration": "Ga naar definitie"
  ".overlayer":
    "grammar-selector:show": "Verander spellingstaal"
  ".image-view":
    "image-view:reload": "Afbeelding opnieuw laden"
  ".tab":
    "tabs:close-tab": "Sluit blad"
    "tabs:close-other-tabs": "Sluit andere bladen"
    "tabs:close-tabs-to-right": "Sluit bladen rechts"
    "tabs:close-tabs-to-left": "Sluit bladen links"
    "tabs:close-saved-tabs": "Sluit opgeslagen bladen"
    "tabs:close-all-tabs": "Sluit alle bladen"
    "tabs:split-up": "Splits naar boven"
    "tabs:split-down": "Splits naar beneden"
    "tabs:split-left": "Splits naar links"
    "tabs:split-right": "Splits naar rechts"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Open in een nieuw venster"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Keep Pending Tab"
  ".tab-bar":
    "pane:reopen-closed-item": "Heropen gesloten blad"
  ".tree-view .full-menu":
    "tree-view:add-file": "Nieuw bestand"
    "tree-view:add-folder": "Nieuwe map"
    "tree-view:move": "Hernoemen"
    "tree-view:duplicate": "Dupliceren"
    "tree-view:remove": "Verwijderen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
#    "tree-view:open-selected-entry-up": "Splits naar boven"
#    "tree-view:open-selected-entry-down": "Splits naar beneden"
#    "tree-view:open-selected-entry-left": "Splits naar links"
#    "tree-view:open-selected-entry-right": "Splits naar rechts"
    "application:add-project-folder": "Add Project Folder"
    "tree-view:copy-full-path": "Kopieer volledig pad"
    "tree-view:copy-project-path": "Kopieer project pad"
    "tree-view:open-in-new-window": "Open in een nieuw venster"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Splits naar boven"
    "tree-view:open-selected-entry-down": "Splits naar beneden"
    "tree-view:open-selected-entry-left": "Splits naar links"
    "tree-view:open-selected-entry-right": "Splits naar rechts"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Nieuw bestand"
    "tree-view:add-folder": "Nieuwe map"
    "tree-view:move": "Hernoemen"
    "tree-view:duplicate": "Dupliceren"
    "tree-view:remove": "Verwijderen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
#    "tree-view:open-selected-entry-up": "Splits naar boven"
#    "tree-view:open-selected-entry-down": "Splits naar beneden"
#    "tree-view:open-selected-entry-left": "Splits naar links"
#    "tree-view:open-selected-entry-right": "Splits naar rechts"
    "application:add-project-folder": "Voeg project map toe"
    "tree-view:remove-project-folder": "Verwijder project map"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Kopieer volledig pad"
    "tree-view:copy-project-path": "Kopieer project pad"
    "tree-view:open-in-new-window": "Open in een nieuw venster"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Toon in Finder"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Toon in Explorer"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Toon in File Manager"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "In directory zoeken"
  ".tree-view .multi-select":
    "tree-view:remove": "Verwijder"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Toon in boomstructuur"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Hernoemen"
    "tree-view:reveal-active-file": "Toon in boomstructuur"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Toon in Finder"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Toon in Explorer"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Toon in File Manager"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Toon in Finder"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Toon in Explorer"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Toon in File Manager"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "In directory zoeken"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
