Context:
  "atom-workspace":
    "application:inspect": "Element inspecteren"
  "atom-text-editor":
    "color-picker:open": "Kleurenkiezer"
    "minimap:toggle": "Minimap aan/uit"
  "atom-text-editor, .overlayer":
    "core:undo": "Ongedaan maken"
    "core:redo": "Opnieuw"
    "core:cut": "Knippen"
    "core:copy": "Kopiëren"
    "core:paste": "Plakken"
    "core:delete": "Verwijderen"
    "core:select-all": "Alles selecteren"
    "pane:split-up-and-copy-active-item": "Boven splitsen"
    "pane:split-down-and-copy-active-item": "Beneden splitsen"
    "pane:split-left-and-copy-active-item": "Links splitsen"
    "pane:split-right-and-copy-active-item": "Rechts splitsen"
    "pane:close": "Sluit blad"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Boven splitsen"
    "pane:split-down-and-copy-active-item": "Beneden splitsen"
    "pane:split-left-and-copy-active-item": "Links splitsen"
    "pane:split-right-and-copy-active-item": "Rechts splitsen"
    "pane:close": "Venster sluiten"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Codering veranderen"
    "spell-check:correct-misspelling": "Spelling corrigeren"
    "symbols-view:go-to-declaration": "Naar definitie gaan"
  ".overlayer":
    "grammar-selector:show": "Spellingstaal veranderen"
  ".image-view":
    "image-view:reload": "Afbeelding opnieuw laden"
  ".tab":
    "tabs:close-tab": "Tabblad sluiten"
    "tabs:close-other-tabs": "Andere tabbladen sluiten"
    "tabs:close-tabs-to-right": "Tabbladen rechtsm sluiten"
    "tabs:close-tabs-to-left": "Tabbladen links sluiten"
    "tabs:close-saved-tabs": "Opgeslagen tabbladen sluiten"
    "tabs:close-all-tabs": "Alle tabbladen sluiten"
    "tabs:split-up": "Naar boven splitsen"
    "tabs:split-down": "Naar beneden splitsen"
    "tabs:split-left": "Naar links splitsen"
    "tabs:split-right": "Naar rechts splitsen"
  ".tab.texteditor":
    "tabs:open-in-new-window": "In een nieuw venster openen"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Huidig tabblad behouden"
  ".tab-bar":
    "pane:reopen-closed-item": "Gesloten tabblad heropenen"
  ".tree-view .full-menu":
    "tree-view:add-file": "Nieuw bestand"
    "tree-view:add-folder": "Nieuwe map"
    "tree-view:move": "Hernoemen"
    "tree-view:duplicate": "Dupliceren"
    "tree-view:remove": "Verwijderen"
    "tree-view:copy": "Kopiëren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
    "tree-view:open-selected-entry-up": "Naar boven splitsen"
    "tree-view:open-selected-entry-down": "Naar beneden splitsen"
    "tree-view:open-selected-entry-left": "Naar links splitsen"
    "tree-view:open-selected-entry-right": "Naar rechts splitsen"
    "application:add-project-folder": "Projectmap toevoegen"
    "tree-view:copy-full-path": "Kopieer volledig pad"
    "tree-view:copy-project-path": "Kopieer projectpad"
    "tree-view:open-in-new-window": "In nieuw venster openen"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Naar boven splitsen"
    "tree-view:open-selected-entry-down": "Naar beneden splitsen"
    "tree-view:open-selected-entry-left": "Naar links splitsen"
    "tree-view:open-selected-entry-right": "Naar rechts splitsen"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Nieuw bestand"
    "tree-view:add-folder": "Nieuwe map"
    "tree-view:move": "Hernoemen"
    "tree-view:duplicate": "Dupliceren"
    "tree-view:remove": "Verwijderen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
    "tree-view:open-selected-entry-up": "Splits naar boven splitsen"
    "tree-view:open-selected-entry-down": "Splits naar beneden splitsen"
    "tree-view:open-selected-entry-left": "Splits naar links splitsen"
    "tree-view:open-selected-entry-right": "Splits naar rechts splitsen"
    "application:add-project-folder": "Voeg project map toe"
    "tree-view:remove-project-folder": "Verwijder project map"
    "tree-view:copy-full-path": "Kopieer volledig pad"
    "tree-view:copy-project-path": "Kopieer project pad"
    "tree-view:open-in-new-window": "Open in een nieuw venster"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "In Finder tonen"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "In Verkenner tonen"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "In Bestanden tonen"
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "In huidige map zoeken"
  ".tree-view .multi-select":
    "tree-view:remove": "Verwijderen"
    "tree-view:copy": "Kopiëren"
    "tree-view:cut": "Knippen"
    "tree-view:paste": "Plakken"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "In boomstructuur tonen"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Hernoemen"
    "tree-view:reveal-active-file": "Toon in boomstructuur"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "In Finder tonen"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "In Verkenner tonen"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "In Bestanden tonen"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "In Finder tonen"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "In Verkenner tonen"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "In Bestanden tonen"
