Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Over Atom"
      "View License":
        value: "Bekijk Licentie"
      "Check For Update":
        value: "Controleer Op Updates"
      "Preferences…":
        value: "Voorkeuren..."
      "Config…":
        value: "Config..."
      "Init Script…":
        value: "Init Script..."
      "Keymap…":
        value: "Keymap..."
      "Snippets…":
        value: "Snippets..."
      "Stylesheet…":
        value: "Stijlbladen..."
      "Install Shell Commands":
        value: "Installeer Shell Commando's"
      "Hide Atom":
        value: "Verberg Atom"
      "Hide Others":
        value: "Verberg Anderen"
      "Show All":
        value: "Toon Alles"
      Quit:
        value: "Stop Atom"
  File:
    value: "Bestand"
    submenu:
      "New Window":
        value: "Nieuw Scherm"
      "New File":
        value: "Nieuw Bestand"
      "Open…":
        value: "Open..."
      "Add Project Folder…":
        value: "Voeg Project Folder Toe..."
      "Reopen Project":
        value: "Heropen Project"
        submenu:
          "Clear Project History":
            value: "Verwijder Project Historie"
      "Reopen Last Item":
        value: "Heropen Laatste Bestand"
      Save:
        value: "Opslaan"
      "Save As…":
        value: "Opslaan Als..."
      "Save All":
        value: "Alles Opslaan"
      "Close Tab":
        value: "Sluit Blad"
      "Close Pane":
        value: "Sluit Paneel"
      "Close Window":
        value: "Sluit Scherm"
      "Close All Tabs":
        value: "Sluit Alle Bladen"
  Edit:
    value: "Wijzig"
    submenu:
      Undo:
        value: "Maak Ongedaan"
      Redo:
        value: "Opnieuw"
      Cut:
        value: "Knip"
      Copy:
        value: "Kopieer"
      "Copy Path":
        value: "Kopieer Pad"
      Paste:
        value: "Plak"
      "Select All":
        value: "Selecteer Alles"
      "Toggle Comments":
        value: "Uitcommentariëren Aan/Uit"
      Lines:
        value: "Regels"
        submenu:
          Indent:
            value: "Inspringen"
          Outdent:
            value: "Inspringing verkleinen"
          "Auto Indent":
            value: "Automatisch Inspringen"
          "Move Line Up":
            value: "Regel Opschuiven"
          "Move Line Down":
            value: "Verplaats Regel Naar Beneden"
          "Duplicate Lines":
            value: "Duplicateer Regels"
          "Delete Line":
            value: "Verwijder Regel"
          "Join Lines":
            value: "Voeg Regels Samen"
      Columns:
        value: "Kolommen"
        submenu:
          "Move Selection Left":
            value: "Verplaats Selectie Naar Links"
          "Move Selection Right":
            value: "Verplaats Selectie Naar Rechts"
      Text:
        value: "Tekst"
        submenu:
          "Upper Case":
            value: "Hoofdletters"
          "Lower Case":
            value: "Kleine Letters"
          "Delete to End of Word":
            value: "Verwijder Tot Einde van het Woord"
          "Delete to Previous Word Boundary":
            value: "Verwijder Tot Het Vorige Woord Einde"
          "Delete to Next Word Boundary":
            value: "Verwijder Tot Het Volgende Woord Einde"
          "Delete Line":
            value: "Verwijder Regel"
          Transpose:
            value: "Transposeren"
      Folding:
        value: "Vouwen"
        submenu:
          Fold:
            value: "Invouwen"
          Unfold:
            value: "Uitvouwen"
          "Unfold All":
            value: "Alles Uitvouwen"
          "Fold All":
            value: "Alles Invouwen"
          "Fold Level 1":
            value: "Niveau 1 Invouwen"
          "Fold Level 2":
            value: "Niveau 2 Invouwen"
          "Fold Level 3":
            value: "Niveau 3 Invouwen"
          "Fold Level 4":
            value: "Niveau 4 Invouwen"
          "Fold Level 5":
            value: "Niveau 5 Invouwen"
          "Fold Level 6":
            value: "Niveau 6 Invouwen"
          "Fold Level 7":
            value: "Niveau 7 Invouwen"
          "Fold Level 8":
            value: "Niveau 8 Invouwen"
          "Fold Level 9":
            value: "Niveau 9 Invouwen"
      "Reflow Selection":
        value: "Transposeren"
      Bookmark:
        value: "Bladwijzer"
        submenu:
          "View All":
            value: "Toon Bladwijzers"
          "Toggle Bookmark":
            value: "Bladwijzer Aan/Uit"
          "Jump to Next Bookmark":
            value: "Volgende Bladwijzer"
          "Jump to Previous Bookmark":
            value: "Vorige Bladwijzer"
      "Select Encoding":
        value: "Selecteer Codering"
      "Go to Line":
        value: "Ga Naar Regel"
      "Select Grammar":
        value: "Selecteer Programmeertaal "
  View:
    value: "Weergave"
    submenu:
      "Toggle Full Screen":
        value: "Schermvullende Weergave Aan/Uit"
      Panes:
        value: "Paneel"
        submenu:
          "Split Up":
            value: "Naar Boven Splitsen"
          "Split Down":
            value: "Naar Beneden Splitsen"
          "Split Left":
            value: "Naar Links Splitsen"
          "Split Right":
            value: "Naar Rechts Splitsen"
          "Focus Next Pane":
            value: "Focus Naar Volgende Paneel"
          "Focus Previous Pane":
            value: "Focus Naar Vorige Paneel"
          "Focus Pane Above":
            value: "Focus Naar Paneel Boven"
          "Focus Pane Below":
            value: "Focus Naar Paneel Beneden"
          "Focus Pane On Left":
            value: "Focus Naar Linker Paneel"
          "Focus Pane On Right":
            value: "Focus Naar Rechter Paneel"
          "Close Pane":
            value: "Sluit Paneel"
      Developer:
        value: "Ontwikkelaar"
        submenu:
          "Open In Dev Mode…":
            value: "Open In Dev Modus..."
          "Reload Window":
            value: "Scherm Herladen"
          "Run Package Specs":
            value: "Pakker Specs Uitvoeren"
          "Run Benchmarks":
            value: "Benchmarks Uitvoeren"
          "Toggle Developer Tools":
            value: "Ontwikkelhulpprogramma's Aan/Uit"
      "Increase Font Size":
        value: "Vergroot Lettergrootte"
      "Decrease Font Size":
        value: "Verklein Lettergrootte"
      "Reset Font Size":
        value: "Lettergrootte Opnieuw Instellen"
      "Toggle Soft Wrap":
        value: "Tekstomhaal Aan/Uit"
      "Toggle Command Palette":
        value: "Commando Palet Aan/Uit"
      "Toggle Tree View":
        value: "Boomstructuur Aan/Uit"
  Selection:
    value: "Selectie"
    submenu:
      "Add Selection Above":
        value: "Add Selection Above"
      "Add Selection Below":
        value: "Add Selection Below"
      "Single Selection":
        value: "Single Selection"
      "Split into Lines":
        value: "Split into Lines"
      "Select to Top":
        value: "Select to Top"
      "Select to Bottom":
        value: "Select to Bottom"
      "Select Line":
        value: "Select Line"
      "Select Word":
        value: "Select Word"
      "Select to Beginning of Word":
        value: "Select to Beginning of Word"
      "Select to Beginning of Line":
        value: "Select to Beginning of Line"
      "Select to First Character of Line":
        value: "Select to First Character of Line"
      "Select to End of Word":
        value: "Select to End of Word"
      "Select to End of Line":
        value: "Select to End of Line"
      "Select Inside Brackets":
        value: "Select Inside Brackets"
  Find:
    value: "Find"
    submenu:
      "Find in Buffer":
        value: "Find in Buffer"
      "Replace in Buffer":
        value: "Replace in Buffer"
      "Select Next":
        value: "Select Next"
      "Select All":
        value: "Select All"
      "Toggle Find in Buffer":
        value: "Toggle Find in Buffer"
      "Find in Project":
        value: "Find in Project"
      "Toggle Find in Project":
        value: "Toggle Find in Project"
      "Find All":
        value: "Find All"
      "Find Next":
        value: "Find Next"
      "Find Previous":
        value: "Find Previous"
      "Replace Next":
        value: "Replace Next"
      "Replace All":
        value: "Replace All"
      "Clear History":
        value: "Clear History"
      "Find Buffer":
        value: "Find Buffer"
      "Find File":
        value: "Find File"
      "Find Modified File":
        value: "Find Modified File"
  Packages:
    value: "Packages"
  Window:
    value: "Window"
    submenu:
      Minimize:
        value: "Minimize"
      Zoom:
        value: "Zoom"
      "Bring All to Front":
        value: "Bring All to Front"
  Help:
    value: "Hulp"
    submenu:
      "Terms of Use":
        value: "Terms of Use"
      Documentation:
        value: "Documentatie"
      Roadmap:
        value: "Roadmap"
      "Frequently Asked Questions":
        value: "Veelgestelde Vragen"
      "Community Discussions":
        value: "Community Discussies"
      "Report Issue":
        value: "Een Probleem Melden "
      "Search Issues":
        value: "Zoeken In Bekende Problemen"
      "Welcome Guide":
        value: "Welkom Gids"
