Menu:
  "&File":
    value: "&Bestand"
    submenu:
      "New &Window":
        value: "Nieuw &venster"
      "&New File":
        value: "&Nieuw bestand"
      "&Open File…":
        value: "&Open bestand..."
      "Open Folder…":
        value: "Open map..."
      "Add Project Folder…":
        value: "Projectmap toevoegen..."
      "Reopen Project":
        value: "Opnieuw project openen"
        submenu:
          "Clear Project History":
            value: "Projectgeschiedenis wissen"
      "Reopen Last &Item":
        value: "Laatste &item opnieuw openen"
      "&Save":
        value: "Op&slaan"
      "Save &As…":
        value: "Opslaan &als..."
      "Save A&ll":
        value: "A&lles opslaan"
      "&Close Tab":
        value: "&Tabblad sluiten"
      "Close &Pane":
        value: "&Paneel sluiten"
      "Clos&e Window":
        value: "V&enster sluiten"
      "Quit":
        value: "Afsluiten"
      "Close All Tabs":
        value: "Alle tabbladen sluiten"
  "&Edit":
    value: "Be&werken"
    submenu:
      "&Undo":
        value: "&Ongedaan maken"
      "&Redo":
        value: "Op&nieuw"
      "&Cut":
        value: "&Knippen"
      "C&opy":
        value: "K&opiëren"
      "Copy Pat&h":
        value: "Pa&d kopiëren"
      "&Paste":
        value: "&Plakken"
      "Select &All":
        value: "&Alles selecteren"
      "&Toggle Comments":
        value: "Commentaar in/ui&tschakelen"
      Lines:
        value: "Regels"
        submenu:
          "&Indent":
            value: "&Inspringen"
          "&Outdent":
            value: "Inspringing ver&kleinen"
          "&Auto Indent":
            value: "&Automatisch inspringen"
          "Move Line &Up":
            value: "Regel om&hoog verschuiven)"
          "Move Line &Down":
            value: "Regel om&laag verschuiven"
          "Du&plicate Lines":
            value: "Regel &dupliceren"
          "D&elete Line":
            value: "Regel &verwijderen"
          "&Join Lines":
            value: "Regels &samenvoegen"
      Columns:
        value: "Kolommen"
        submenu:
          "Move Selection &Left":
            value: "Selectie naar &links verplaatsen"
          "Move Selection &Right":
            value: "Selectie naar &rechts verplaatsen"
      Text:
        value: "Tekst"
        submenu:
          "&Upper Case":
            value: "&Hoofdletters"
          "&Lower Case":
            value: "&Kleine letters"
          "Delete to End of &Word":
            value: "Verwijderen tot einde van &woord"
          "Delete to Previous Word Boundary":
            value: "Verwijderen to vorige woordgrens"
          "Delete to Next Word Boundary":
            value: "Verwijderen tot volgende woordgrens"
          "&Delete Line":
            value: "&Regel verwijderen"
          "&Transpose":
            value: "&Transponeren"
      Folding:
        value: "Uitvouwen"
        submenu:
          "&Fold":
            value: "&Samenvouwen"
          "&Unfold":
            value: "&Uitvouwen"
          "Unfold &All":
            value: "&Alles uitvouwen"
          "Fol&d All":
            value: "Alles samen&vouwen"
          "Fold Level 1":
            value: "Niveau 1 samenvouwen"
          "Fold Level 2":
            value: "Niveau 2 samenvouwen"
          "Fold Level 3":
            value: "Niveau 3 samenvouwen"
          "Fold Level 4":
            value: "Niveau 4 samenvouwen"
          "Fold Level 5":
            value: "Niveau 5 samenvouwen"
          "Fold Level 6":
            value: "Niveau 6 samenvouwen"
          "Fold Level 7":
            value: "Niveau 7 samenvouwen"
          "Fold Level 8":
            value: "Niveau 8 samenvouwen"
          "Fold Level 9":
            value: "Niveau 9 samenvouwen"
      "&Preferences":
        value: "Voorkeuren(&P)"
      "Config…":
        value: "Configureren..."
      "Init Script…":
        value: "Opstartscript..."
      "Keymap…":
        value: "Toetsenbord..."
      "Snippets…":
        value: "Knipsels..."
      "Stylesheet…":
        value: "Sjabloon..."
      "Reflow Selection":
        value: "Selectie opnieuw uitlijnen"
      Bookmark:
        value: "Bladwijzers"
        submenu:
          "View All":
            value: "Alle tonen"
          "Toggle Bookmark":
            value: "Bladwijzer in/uitschakelen"
          "Jump to Next Bookmark":
            value: "Volgende bladwijzer"
          "Jump to Previous Bookmark":
            value: "Vorige bladwijzer"
      "Select Encoding":
        value: "Tekenset kiezen"
      "Go to Line":
        value: "Ga naar regel"
      "Select Grammar":
        value: "Grammatica kiezen"
  "&View":
    value: "B&eeld"
    submenu:
      "Toggle &Full Screen":
        value: "&Volledig scherm in/uitschalen"
      "Toggle Menu Bar":
        value: "Menubalk in/uitschakelen"
      Panes:
        value: "Panelen"
        submenu:
          "Split Up":
            value: "Naar boven splitsen"
          "Split Down":
            value: "Naar beneden splitsen"
          "Split Left":
            value: "Naar links splitsen"
          "Split Right":
            value: "Naar rechts splitsen"
          "Focus Next Pane":
            value: "Naar volgend paneel gaan"
          "Focus Previous Pane":
            value: "Naar vorig paneel gaan"
          "Focus Pane Above":
            value: "Naar paneel hierboven gaan"
          "Focus Pane Below":
            value: "Naar paneel hieronder gaan"
          "Focus Pane On Left":
            value: "Naar linkerpaneel gaan"
          "Focus Pane On Right":
            value: "Naar rechterpaneel gaan"
          "Close Pane":
            value: "Paneel sluiten"
      Developer:
        value: "Ontwikkelaars"
        submenu:
          "Open In &Dev Mode…":
            value: "In &ontwikkelmodus openen..."
          "&Reload Window":
            value: "&Venster opnieuw laden"
          "Run Package &Specs":
            value: "&Pakketspecficaties uitvoeren"
          "Run &Benchmarks":
            value: "&Benchmarks uitvoeren"
          "Toggle Developer &Tools":
            value: "&Ontwikkelhulpmiddelen in/uitschakelen"
      "&Increase Font Size":
        value: "Lettergrootte ver&groten"
      "&Decrease Font Size":
        value: "Lettergrootte ver&kleinen"
      "Re&set Font Size":
        value: "Lettergrootte op&nieuw instellen"
      "Toggle Soft &Wrap":
        value: "Tekstterug&loop in/uitschakelen"
      "Toggle Command Palette":
        value: "Commando-overzicht in/uitschakelen"
      "Toggle Tree View":
        value: "Boomstructuur in/uitschakelen"
  "&Selection":
    value: "&Selectie"
    submenu:
      "Add Selection &Above":
        value: "Selectie &boven invoegen"
      "Add Selection &Below":
        value: "Selectie be&neden invoegen"
      "S&plit into Lines":
        value: "In regels &splitsen"
      "Single Selection":
        value: "Enkelvoudige selectie"
      "Select to &Top":
        value: "Tot bo&venkant selecteren"
      "Select to Botto&m":
        value: "Tot on&derkant selecteren"
      "Select &Line":
        value: "&Regel selecteren"
      "Select &Word":
        value: "&Woord selecteren"
      "Select to Beginning of W&ord":
        value: "Tot begin van w&oord selecteren"
      "Select to Beginning of L&ine":
        value: "Tot begin van r&egel selecteren"
      "Select to First &Character of Line":
        value: "Tot eerste &karakter op regel selecteren"
      "Select to End of Wor&d":
        value: "Tot eind van woor&d selecteren"
      "Select to End of Lin&e":
        value: "Tot eind van rege&l selecteren"
      "Select Inside Brackets":
        value: "Tussen haken selecteren"
  "F&ind":
    value: "&Zoeken"
    submenu:
      "Find in Buffer":
        value: "In buffer zoeken"
      "Replace in Buffer":
        value: "In buffer vervangen"
      "Select Next":
        value: "Volgende selecteren"
      "Select All":
        value: "Alles selecteren"
      "Toggle Find in Buffer":
        value: "Zoeken in buffer in/uitschakelen"
      "Find in Project":
        value: "In project zoeken"
      "Toggle Find in Project":
        value: "Zoeken in project in/uitschakelen"
      "Find All":
        value: "Alles zoeken"
      "Find Next":
        value: "Volgende zoeken"
      "Find Previous":
        value: "Vorige zoeken"
      "Replace Next":
        value: "Volgende vervangen"
      "Replace All":
        value: "Alles vervangen"
      "Clear History":
        value: "Zoekgeschiedenis wissen"
      "Find Buffer":
        value: "Buffer zoeken"
      "Find File":
        value: "Bestand zoeken"
      "Find Modified File":
        value: "Gewijzigd bestand zoeken"
  "&Packages":
    value: "&Pakketten"
  "&Help":
    value: "&Help"
    submenu:
      "View &Terms of Use":
        value: "&Gebruiksvoorwaarden tonen"
      "View &License":
        value: "&Licentie tonen"
      "&Documentation":
        value: "&Documentatie"
      "Frequently Asked Questions":
        value: "Veelgestelde vragen"
      "Community Discussions":
        value: "Community-discussies"
      "Report Issue":
        value: "Probleem melden"
      "Search Issues":
        value: "In problemen zoeken"
      "About Atom":
        value: "Over Atom"
      "Welcome Guide":
        value: "Welkomstgids"
