Welcome:
  tabTitle: "Welkom"
  subtitle: {
    text1: "Een hackbare tekstbewerker voor de 21"
    superscript: "ste"
    text2: " eeuw"
  }
  help: {
    forHelpVisit: "Ga voor help naar"
    atomDocs: {
      text1: "De "
      link: "Atom docs"
      text2: " voor Handleiding en de API-referentie."
      _template: "${text1}<a>${link}</a>${text2}"
    }
    atomForum: {
      text1: "Het Atom forum op "
      link: "discuss.atom.io"
      text2: ""   # optional
      _template: "${text1}<a>${link}</a>${text2}"
    }
    atomOrg: {
      text1: "De "
      link: "Atom org"
      text2: ". Hier zijn alle Atom paketten van GitHub te vinden."
      _template: "${text1}<a>${link}</a>${text2}"
    }
  }
  showWelcomeGuide: "Welkomstgids tonen bij het openen van Atom"
