About:
  tabTitle: "О Atom"
  releaseNotes: "Список изменений"
  newUpdate: "Новое обновление"
  automaticDownloadUpdates: "Автоматически загружать обновления"
  restartInstall: "Перезагрузить и установить"
  license: "Лицензия"
  termsOfUse: "Правила использования"
  with: " с "
  by: "  "
  andTheAwesome: "И Лучшее "
  atomCommunity: "Сообщество Atom"
