About:
  tabTitle: "Об Atom"
  releaseNotes: "Список изменений"
  newUpdate: "Новое обновление"
  upToDate: "Atom обновлён!"
  checkingForUpdates: "Проверка обновлений..."
  checkUpdatesNow: "Проверить сейчас"
  automaticDownloadUpdates: "Автоматически загружать обновления"
  restartInstall: "Перезагрузить и установить"
  license: "Лицензия"
  termsOfUse: "Правила использования"
  with: " с "
  by: " от "
  andTheAwesome: "И прекрасное "
  atomCommunity: "Сообщество Atom"
