Context:
  "atom-workspace":
    "application:inspect": "Инспектор элемента"
  "atom-text-editor":
    "color-picker:open": "Редактор цвета"
    "minimap:toggle": "Показать миникарту"
  "atom-text-editor, .overlayer":
    "core:undo": "Отменить"
    "core:redo": "Повторить"
    "core:cut": "Вырезать"
    "core:copy": "Копировать"
    "core:paste": "Вставить"
    "core:delete": "Удалить"
    "core:select-all": "Выделить все"
    "pane:split-up-and-copy-active-item": "Разделить сверху"
    "pane:split-down-and-copy-active-item": "Разделить снизу"
    "pane:split-left-and-copy-active-item": "Разделить слева"
    "pane:split-right-and-copy-active-item": "Разделить справа"
    "pane:close": "Закрыть панель"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Разделить сверху"
    "pane:split-down-and-copy-active-item": "Разделить снизу"
    "pane:split-left-and-copy-active-item": "Разделить слева"
    "pane:split-right-and-copy-active-item": "Разделить справа"
    "pane:close": "Закрыть панель"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Изменить кодировку"
    "spell-check:correct-misspelling": "Правильное написание"
    "symbols-view:go-to-declaration": "Перейти к объявлению"
  ".overlayer":
    "grammar-selector:show": "Изменить синтаксис"
  ".image-view":
    "image-view:reload": "Перезагрузить изображения"
  ".tab":
    "tabs:close-tab": "Закрыть вкладку"
    "tabs:close-other-tabs": "Закрыть остальные вкладки"
    "tabs:close-tabs-to-right": "Закрыть вкладки справа"
    "tabs:close-tabs-to-left": "Закрыть вкладки слева"
    "tabs:close-saved-tabs": "Закрыть сохраненные вкладки"
    "tabs:close-all-tabs": "Закрыть все вкладки"
    "tabs:split-up": "Разделить сверху"
    "tabs:split-down": "Разделить снизу"
    "tabs:split-left": "Разделить слева"
    "tabs:split-right": "Разделить справа"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Открыть в новом окне"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Удерживать вкладку"
  ".tab-bar":
    "pane:reopen-closed-item": "Открыть закрытые вкладки"
  ".tree-view.full-menu":
    "tree-view:add-file": "Новый файл"
    "tree-view:add-folder": "Новая папка"
    "tree-view:move": "Переименовать"
    "tree-view:duplicate": "Дублировать"
    "tree-view:remove": "Удалить"
    "tree-view:copy": "Копировать"
    "tree-view:cut": "Вырезать"
    "tree-view:paste": "Вставить"
    "tree-view:open-selected-entry-up": "Разделить сверху"
    "tree-view:open-selected-entry-down": "Разделить снизу"
    "tree-view:open-selected-entry-left": "Разделить слева"
    "tree-view:open-selected-entry-right": "Разделить справа"
    "application:add-project-folder": "Добавить папку проекта"
    "tree-view:copy-full-path": "Копировать полный путь"
    "tree-view:copy-project-path": "Копировать путь проекта"
    "tree-view:open-in-new-window": "Открыть в новом окне"
  '.tree-view.full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Разделить сверху"
    "tree-view:open-selected-entry-down": "Разделить снизу"
    "tree-view:open-selected-entry-left": "Разделить слева"
    "tree-view:open-selected-entry-right": "Разделить справа"
  ".tree-view.full-menu .project-root > .header":
    "tree-view:add-file": "Новый файл"
    "tree-view:add-folder": "Новая папка"
    "tree-view:move": "Переименовать"
    "tree-view:duplicate": "Дублировать"
    "tree-view:remove": "Удалить"
    "tree-view:copy": "Копировать"
    "tree-view:cut": "Вырезать"
    "tree-view:paste": "Вставить"
    "tree-view:open-selected-entry-up": "Разделить сверху"
    "tree-view:open-selected-entry-down": "Разделить снизу"
    "tree-view:open-selected-entry-left": "Разделить слева"
    "tree-view:open-selected-entry-right": "Разделить справа"
    "application:add-project-folder": "Добавить папку проекта"
    "tree-view:remove-project-folder": "Удалить папку проекта"
    "tree-view:copy-full-path": "Копировать полный путь"
    "tree-view:copy-project-path": "Копировать путь проекта"
    "tree-view:open-in-new-window": "Открыть в новом окне"
  ".platform-darwin .tree-view.full-menu":
    "tree-view:show-in-file-manager": "Показать в Finder"
  ".platform-win32 .tree-view.full-menu":
    "tree-view:show-in-file-manager": "Показать в Explorer"
  ".platform-linux .tree-view.full-menu":
    "tree-view:show-in-file-manager": "Показать в File Manager"
  ".tree-view > li.directory":
    "project-find:show-in-current-directory": "Поиск в папке"
  ".tree-view.multi-select":
    "tree-view:remove": "Удалить"
    "tree-view:copy": "Копировать"
    "tree-view:cut": "Вырезать"
    "tree-view:paste": "Вставить"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Показать в дереве файлов"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Переименовать"
    "tree-view:reveal-active-file": "Показать в дереве файлов"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показать в Finder"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показать в Explorer"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Показать в File Manager"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показать в Finder"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показать в Explorer"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Показать в File Manager"
