Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Об Atom"
      "View License":
        value: "Лицензия"
      "Check for Update":
        value: "Проверить обновления"
      "Preferences…":
        value: "Настройки..."
      "Config…":
        value: "Созд. конфиг..."
      "Init Script…":
        value: "Созд. скрипт..."
      "Keymap…":
        value: "Созд. гор. клавишу..."
      "Snippets…":
        value: "Созд. отрывка..."
      "Stylesheet…":
        value: "Созд. табл. стилей..."
      "Install Shell Commands":
        value: "Уст. команды Shell"
      "Hide Atom":
        value: "Скрыть Atom"
      "Hide Others":
        value: "Скрыть другие"
      "Show All":
        value: "Показать все"
      Quit:
        value: "Выйти"
  File:
    value: "Файл"
    submenu:
      "New Window":
        value: "Новое окно"
      "New File":
        value: "Новый файл"
      "Open…":
        value: "Открыть..."
      "Add Project Folder…":
        value: "Добавить папку проекта..."
      "Reopen Project":
        value: "Недавно закрытые"
        submenu:
          "Clear Project History":
            value: "Очистить историю"
      "Reopen Last Item":
        value: "Открыть недавно закрытый файл"
      Save:
        value: "Сохранить"
      "Save As…":
        value: "Сохранить как..."
      "Save All":
        value: "Сохранить все"
      "Close Tab":
        value: "Закрыть вкладку"
      "Close Pane":
        value: "Закрыть панель"
      "Close Window":
        value: "Закрыть окно"
      "Close All Tabs":
        value: "Закрыть все вкладки"
  Edit:
    value: "Редактирование"
    submenu:
      Undo:
        value: "Отменить"
      Redo:
        value: "Повторить"
      Cut:
        value: "Вырезать"
      Copy:
        value: "Копировать"
      "Copy Path":
        value: "Копировать путь"
      Paste:
        value: "Вставить"
      "Select All":
        value: "Выделить всё"
      "Toggle Comments":
        value: "Создать комментарий"
      Lines:
        value: "Линии"
        submenu:
          Indent:
            value: "Сделать отступ"
          Outdent:
            value: "Убрать отступ"
          "Auto Indent":
            value: "Авто-отступ"
          "Move Line Up":
            value: "Передвинуть линию вверх"
          "Move Line Down":
            value: "Передвинуть линию вниз"
          "Duplicate Lines":
            value: "Дублировать линию"
          "Delete Line":
            value: "Удалить линию"
          "Join Lines":
            value: "Соединить линии"
      Columns:
        value: "Столбцы"
        submenu:
          "Move Selection Left":
            value: "Переместить выделенное влево"
          "Move Selection Right":
            value: "Переместить выделенное вправо"
      Text:
        value: "Текст"
        submenu:
          "Upper Case":
            value: "Верхний регистр"
          "Lower Case":
            value: "Нижний регистр"
          "Delete to End of Word":
            value: "Удалить в конце слова"
          "Delete to Previous Word Boundary":
            value: "Удалить предыдущее слово"
          "Delete to Next Word Boundary":
            value: "Удалить следующее слово"
          "Delete Line":
            value: "Удалить линию"
          Transpose:
            value: "Переместить"
      Folding:
        value: "Скрытие"
        submenu:
          Fold:
            value: "Скрыть"
          Unfold:
            value: "Раскрыть"
          "Fold All":
            value: "Скрыть всё"
          "Unfold All":
            value: "Раскрыть всё"
          "Fold Level 1":
            value: "Скрыть 1 уровень"
          "Fold Level 2":
            value: "Скрыть 2 уровень"
          "Fold Level 3":
            value: "Скрыть 3 уровень"
          "Fold Level 4":
            value: "Скрыть 4 уровень"
          "Fold Level 5":
            value: "Скрыть 5 уровень"
          "Fold Level 6":
            value: "Скрыть 6 уровень"
          "Fold Level 7":
            value: "Скрыть 7 уровень"
          "Fold Level 8":
            value: "Скрыть 8 уровень"
          "Fold Level 9":
            value: "Скрыть 9 уровень"
      "Reflow Selection":
        value: "Перевернуть выбранное"
      Bookmark:
        value: "Закладка"
        submenu:
          "View All":
            value: "Показать все"
          "Toggle Bookmark":
            value: "Сделать закладку"
          "Jump to Next Bookmark":
            value: "Перейти на следующую закладку"
          "Jump to Previous Bookmark":
            value: "Перейти на предыдущую закладку"
      "Select Encoding":
        value: "Выбрать кодировку"
      "Go to Line":
        value: "Перейти на линию"
      "Select Grammar":
        value: "Выбрать синтаксис"
  View:
    value: "Вид"
    submenu:
      "Toggle Full Screen":
        value: "На весь экран"
      Panes:
        value: "Панели"
        submenu:
          "Split Up":
            value: "Разделить сверху"
          "Split Down":
            value: "Разделить снизу"
          "Split Left":
            value: "Разделить слева"
          "Split Right":
            value: "Разделить справа"
          "Focus Next Pane":
            value: "Сфокусироваться на следующей панели"
          "Focus Previous Pane":
            value: "Сфокусироваться на предыдущей панели"
          "Focus Pane Above":
            value: "Сфокусироваться на панели выше"
          "Focus Pane Below":
            value: "Сфокусироваться на панели ниже"
          "Focus Pane On Left":
            value: "Сфокусироваться на панели слева"
          "Focus Pane On Right":
            value: "Сфокусироваться на панели справа"
          "Close Pane":
            value: "Закрыть панель"
      Developer:
        value: "Разработчик"
        submenu:
          "Open In Dev Mode…":
            value: "Открыть в режиме разработчика..."
          "Reload Window":
            value: "Перезагрузить окно"
          "Run Package Specs":
            value: "Запустить настройки пакета"
          "Run Benchmarks":
            value: "Запустить тесты"
          "Toggle Developer Tools":
            value: "Показать dev консоль"
      "Increase Font Size":
        value: "Увеличить шрифт"
      "Decrease Font Size":
        value: "Уменьшить шрифт"
      "Reset Font Size":
        value: "Вернуть размер шрифта"
      "Toggle Soft Wrap":
        value: "Мягкий стиль"
      "Toggle Command Palette":
        value: "Командная палитра"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Показать дерево файлов"
  Selection:
    value: "Выделение"
    submenu:
      "Add Selection Above":
        value: "Добавить к выделению ниже"
      "Add Selection Below":
        value: "Добавить к выделению выше"
      "Single Selection":
        value: "Обычное выделение"
      "Split into Lines":
        value: "Обьединить линии выделения"
      "Select to Top":
        value: "Выделить верх"
      "Select to Bottom":
        value: "Выделить низ"
      "Select Line":
        value: "Выделить линию"
      "Select Word":
        value: "Выделить слово"
      "Select to Beginning of Word":
        value: "Выделить начало слова"
      "Select to Beginning of Line":
        value: "Выделить начало линии"
      "Select to First Character of Line":
        value: "Выделить первую букву в линии"
      "Select to End of Word":
        value: "Выделить конец слова"
      "Select to End of Line":
        value: "Выделить конец линии"
      "Select Inside Brackets":
        value: "Выделить внутри скобок"
  Find:
    value: "Поиск"
    submenu:
      "Find in Buffer":
        value: "Найти"
      "Replace in Buffer":
        value: "Заменить"
      "Select Next":
        value: "Найти далее"
      "Select All":
        value: "Выделить всё"
      "Toggle Find in Buffer":
        value: "Показать поиск в буфере"
      "Find in Project":
        value: "Найти в проекте"
      "Toggle Find in Project":
        value: "Показать поиск в проекте"
      "Find All":
        value: "Найти всё"
      "Find Next":
        value: "Найти следующее"
      "Find Previous":
        value: "Найти предыдущее"
      "Replace Next":
        value: "Заменить следующее"
      "Replace All":
        value: "Заменить всё"
      "Clear History":
        value: "Очистить историю поиска"
      "Find Buffer":
        value: "Найти буфер"
      "Find File":
        value: "Найти файл"
      "Find Modified File":
        value: "Найти изменённый файл"
  Packages:
    value: "Расширения"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Окно"
    submenu:
      Minimize:
        value: "Свернуть"
      Zoom:
        value: "Расширить"
      "Bring All to Front":
        value: "Все окна - на передний план"
  Help:
    value: "Справка"
    submenu:
      "Terms of Use":
        value: "Правила использования"
      Documentation:
        value: "Документация"
      Roadmap:
        value: "Карта"
      "Frequently Asked Questions":
        value: "FAQ"
      "Community Discussions":
        value: "Обсуждения в сообществе"
      "Report Issue":
        value: "Сообщить о проблеме"
      "Search Issues":
        value: "Найти проблему"
      "Welcome Guide":
        value: "Добро пожаловать!"
