Settings:
  "tab-title": "Настройки"
  menu: [
    {
      _label: "Core"
      value: "Основные"
    }
    {
      _label: "Editor"
      value: "Редактор"
    }
    {
      _label: "System"
      value: "Система"
    }
    {
      _label: "Keybindings"
      value: "Горячие клавиши"
    }
    {
      _label: "Packages"
      value: "Расширения"
    }
    {
      _label: "Themes"
      value: "Темы"
    }
    {
      _label: "Updates"
      value: "Обновления"
    }
    {
      _label: "Install"
      value: "Расширения"
    }
  ]
  "btn-open-config-folder": "Открыть папку с конфиг."
  sectionHeadings: [
    {_label: "Core Settings", value: "Основные настройки"}
    {_label: "Editor Settings", value: "Настройки редактора"}
    {_label: "System Settings", value: "Системные настройки"}
    {_label: "Keybindings", value: "Горячие клавиши"}
    {_label: "Installed Packages", value: "Установленные расширения"}
    {_label: "Choose a Theme", value: "Выбор темы"}
    {_label: "Installed Themes", value: "Установленные темы"}
    {_label: "Install Packages", value: "Установка расширения"}
    {_label: "Featured Packages", value: "Лучшие расширения"}
    {_label: "Install Themes", value: "Установка тем"}
    {_label: "Featured Themes", value: "Лучшие темы"}
    {_label: "Available Updates", value: "Доступные обновления"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Скрытие"}
    {_label: "Community Packages", value: "Пользовательские расширения"}
    {_label: "Core Packages", value: "Основные расширения"}
    {_label: "Development Packages", value: "Расширения в разработке"}
    {_label: "Git Packages", value: "Расширения с Git"}
    {_label: "Community Themes", value: "Пользовательские темы"}
    {_label: "Core Themes", value: "Основные темы"}
    {_label: "Development Themes", value: "Темы в разработке"}
    {_label: "Git Themes", value: "Темы с Git"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Это основные настройки Atom\'а, которые не влияют на параметры редактирования текста.
        Отдельные расширения могут иметь собственные настройки, изменить их Вы можете во вкладке
        <a class="link packages-open">Расширения</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Это параметры редактирования текста. Некоторые из них
               могут быть переведены на исходный язык. Проверяйте язык
               настроек каждого расширения во вкладке
               <a class="link packages-open">Расширения</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Открывать по клику"
        desc: "Разрешить открывать файл при одиночном клике на нём в дереве проекта."
      }
      {
        _id: 'core.audioBeep'
        title: "Звуковой сигнал"
        desc: "Подавать звуковой сигнал, если действие не было выполнено или не принесло результат."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Автоматическое обновление"
        desc: "Автоматически обновлять Atom, если выпущена новая версия."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Автоматическое скрытие меню"
        desc: "Автоматически скрыть меню и показывать его при нажатии на кнопку Alt. Поддерживается только на Windows &amp; Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Закрывать вкладки удалённых файлов"
        desc: "Закрывать соответветствующее окно редактора, если файл удален вне Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Закрывать пустые окна"
        desc: "Если в окне нет открытых вкладок или панелей, будет дана команда 'Закрыть вкладку', что приведёт к закрытию этого окна."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Закрывать пустые панели"
        desc: "Если последняя вкладка в панели была закрыта, то закрывать панель."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Исключать пути игнорирования СУВ"
        desc: "Файлы и папки системы управления версиями, которые будут игнорироваться некоторыми пакетами (например \"Найти и заменить\") Например, в проекте, использующем Git, пути прописаны в файле .gitignore. Некоторые плагины могут иметь свои настройки игнорирования."
      }
      {
        _id: 'core.fileEncoding'
        title: "Кодировка файла"
        desc: "Кодировка файла, используемая по-умолчанию для записи и чтения файлов."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "File System Watcher"
        desc: "Выберите базовую реализацию, используемую для отслеживания изменений файловой системы. Эмуляция изменений пропустит любые события, вызванные приложениями, отличными от Atom, но может помочь предотвратить сбои или зависания."
        select:
          native: "Собственный API операционной системы"
          atom: "Эмуляция событий в Atom"
      }
      {
        _id: 'core.followSymlinks'
        title: "Соблюдать символику"
        desc: "Соблюдать символику при поиске или открытии файлов в древе."
      }
      {
        _id: 'core.ignoredNames'
        title: "Игнорировать имена"
        desc: "Список <code>глобальных имен</code>. Файлы и папки, сопоставленные с этим списком, будут проигнорированы в списке папок слева (древе файлов). Некоторые расширения имеют дополнительные настройки игнорирования имен."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Открывать пустой редактор при старте"
        desc: "Автоматически открывает пустой редактор при старте Atom."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Выключить расширения с собственными горячими клавишами"
      }
      {
        _id: 'core.projectHome'
        title: "Домашняя папка для проектов"
        desc: "Папка, где расположены проекты. В ней по умолчанию хранятся расширения, созданные через Генератор Пакетов."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Число проектов для недавно закрытых"
        desc: "Выбор числа проектов, которые будут показываться в меню Недавно Закрытые."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Восстанавливать открытые окна при следующем запуске"
        desc: "Если стоит галочка, то восстанавливать все окна Atom из предыдущей сессии или отдельно из командной строки <code>atom</code>; иначе, будет загружен чистый лист."
        select:
          no: "нет"
          yes: "да"
          always: "всегда"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Отправлять данные о работе Atom в Atom Team"
        desc: "Разрешить оправлять статистику и отчеты о багах (вылетах) разработчикам Atom для помощи в улучшении продукта."
        select:
          limited: "Разрешить отправлять анонимную статистику об использовании, вылетах и непредвиденных завершениях программы"
          no: "Не отсылать никаких данных"
          undecided: "Не определено (Atom спросит Вас еще раз в следующий раз после запуска)"
      }
      {
        _id: 'core.titleBar'
        title: "Title Bar"
        desc: "Experimental: A <code>custom</code> title bar adapts to theme colors. Choosing <code>custom-inset</code> adds a bit more padding. The title bar can also be completely <code>hidden</code>.<br>Note: Switching to a custom or hidden title bar will compromise some functionality.<br>This setting will require a relaunch of Atom to take effect."
        select:
          native: "native"
          custom: "custom"
          "custom-inset": "custom-inset"
          hidden: "hidden"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Использовать определённые настройки прокси для вызовов командной строки."
        desc: "Использовать определённые настройки прокси для вызовов командной строки."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Version Pinned Packages"
        desc: "Список установленных пакетов без автоматического обновления."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Использовать нестандартный титульный бар (находится на самом верху :)"
        desc: "Использовать кастомный титульный бар, который есть в темах."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Установить лимит для предупреждения больших файлов"
        desc: "Установить лимит для предупреждения перед открытием файлов, больше заданного размера в мегабайтах."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic Soft Tabs"
        desc: "Skip over tab-length runs of leading whitespace when moving the cursor."
      }
      {
        _id: 'editor.autoIndent'
        title: "Автоматический отступ"
        desc: "Автоматический отступ курсора, если делается переход на новую линию."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Автоматический отступ при вставке"
        desc: "Автоматически применять отступ к вставленному тексту на основе отступа предыдущей линии."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Резервная копия перед сохранением"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Подтверждение, при загрузке HEAD ревизии"
        desc: "Показывать диалог подтверждения при загрузке HEAD ревизии с отменой всех существующий изменений в локальных файлах в момента последнего commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Название шрифта"
        desc: "Имя шрифта, используемого в редакторе."
      }
      {
        _id: 'editor.fontSize'
        title: "Размер шрифта"
        desc: "Высота в пикселях для редактора."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Возврат каретки"
        desc: "Символ, используемый для отображения возврата каретки, если включена астройка
               <code>Отображать невидимые</code>."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Перенос строки"
        desc: "Символ, используемый для отображения переноса строки (\n), если включена настройка
               <code>Отображать невидимые</code>."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Невидимый пробел"
        desc: "Символ, используемый для отображения пробела, если включена настройка
               <code>Отображать невидимые</code>."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Отступ (Tab)"
        desc: "Символ, используемый для отображения отступа (\t), если включена астройка
               <code>Отображать невидимые</code>."
      }
      {
        _id: 'editor.lineHeight'
        title: "Высота строки"
        desc: "Разрядка строк редактора относительно размера шрифта."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Максимальная длина строки"
        desc: "Число символов в строке до принудительного мягкого переноса."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Не буквы"
        desc: "Строка символов для определения границы слов."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Длина строки"
        desc: "Identifies the length of a line which is used when wrapping text
               with the <code>Soft Wrap At Preferred Line Length</code> setting
               enabled, in number of characters."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Прокрутка до конца последней строки"
        desc: "Разрешить прокрутку редактора до конца последней строки."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Чувствительность прокрутки"
        desc: "Определяет, как быстро прокручивается текст с помощью мыши или трекпада."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Показывать курсор при выделенном тексте"
        desc: "Показывать курсор во время выделенного текста."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Показывать подсказки для отступов"
        desc: "Показывать идентификаторы отступов в редакторе."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Показать невидимые"
        desc: "Отображать невидимые символы (например, возврат каретки и перенос строки)."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Показывать номера линий"
        desc: "Показывает номера линий в редакторе."
      }
      {
        _id: 'editor.softTabs'
        title: "Soft Tabs"
        desc: "If the <code>Tab Type</code> config setting is set to \"auto\"
               and autodetection of tab type from buffer content fails, then
               this config setting determines whether a soft tab or a hard tab
               will be inserted when the Tab key is pressed."
      }
      {
        _id: 'editor.softWrap'
        title: "Soft Wrap"
        desc: "Wraps lines that exceed the width of the window. When
               <code>Soft Wrap At Preferred Line Length</code> is set, it will
               wrap to the number of characters defined by the <code>Preferred
               Line Length</code> setting."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Soft Wrap At Preferred Line Length"
        desc: "Instead of wrapping lines to the window's width, wrap lines to
               the number of characters defined by the <code>Preferred Line
               Length</code> setting. This will only take effect when the soft
               wrap config setting is enabled globally or for the current
               language. <strong>Note:</strong> If you want to hide the wrap
               guide (the vertical line) you can disable the
               <code>wrap-guide</code> package."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Soft Wrap Hanging Indent"
        desc: "When soft wrap is enabled, defines length of additional
               indentation applied to wrapped lines, in number of characters."
      }
      {
        _id: 'editor.tabLength'
        title: "Длина отступа (Tab)"
        desc: "Количество пробелов для отображения отступа."
      }
      {
        _id: 'editor.tabType'
        title: "Tab Type"
        desc: "Determine character inserted when Tab key is pressed. Possible
               values: \"auto\", \"soft\" and \"hard\". When set to \"soft\" or
               \"hard\", soft tabs (spaces) or hard tabs (tab characters) are
               used. When set to \"auto\", the editor auto-detects the tab type
               based on the contents of the buffer (it uses the first leading
               whitespace on a non-comment line), or uses the value of the Soft
               Tabs config setting if auto-detection fails."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Undo Grouping Interval"
        desc: "Time interval in milliseconds within which text editing
               operations will be grouped together in the undo history."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Изменять шрифт при нажатии на Ctrl и колесика"
        desc: "Изменять размер шрифта в редакторе при нажатии на Ctrl и прокрутки мыши колесиком вверх/вниз."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Установить обработчиком файлов"
        desc: "Показывать Atom в \"Открыть с помощью...\" для более простой ассоциации с файломи."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Показывать в контекстном меню файла"
        desc: "Добавить \"Открыть с помощью Atom\" в контекстное меню Проводника для файлов."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Показывать в контекстном меню папки"
        desc: "Добавить \"Открыть с помощью Atom\" в контекстное меню Проводника для папок."
      }
    ]
  }
  system: {
    notes: "Эти параметры определяют, как Atom интегрируется с Вашей системой."
  }
  keymaps: {
    notes: {
      text1: "Вы можете изменить эти горячие клавиши с помощью копирования "
      text2: "и вставки их в "
      text3: "Ваш файл горячих клавиш"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Поиск горячих клавиши"
    "table-header-keystroke": "Клавиши"
    "table-header-command": "Команда"
    "table-header-source": "Применение"
    "table-header-selector": "Действие"
  }
  packages: {
    searchBarText: 'Фильтровать расширения по имени'
  }
  themes: {
    notes: {
      text1: "Вы можете создать свою тему для Atom путем редактирования "
      text2: "своего стиля"
      text3: ""   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Внешний вид"
    description1: "Стиль вкладок, статус бара, дерева файлов и раскрыв. списка"
    title2: "Тема редоктора"
    description2: "Это стиль текста внутри редактора"
    searchBarText: 'Фильтровать темы по именам'
  }
  updates: {
    "check-updates": "Проверить обновления"
    "update-all": "Обновить все"
    "checking-updates": "Проверка обновлений..."
    "all-updated-message": "Все установленные расширения актуальны!"
  }
  install: {
    notes: {
      text1: "Расширения публикуются на "
      text2: " и они установлены в "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Найти расширения"
    "btn-packages": "Расширения"
    "btn-themes": "Темы"
  }
  "control-btns":{
    install: "Установить"
    update: "Обновить до"
    setting: "Настройки"
    uninstall: "Удалить"
    disable: "Отключить"
    enable: "Включить"
  }
