About:
  tabTitle: "Über"
  releaseNotes: "Release Notes"
  newUpdate: "Neues Update"
  automaticDownloadUpdates: "Automatisch Updates herunterladen"
  restartInstall: "Neustart und installieren"
  license: "Lizenz"
  termsOfUse: "Nutzungsbedingungen"
  with: " with "
  by: " by "
  andTheAwesome: "And the awesome "
  atomCommunity: "Atom Community"
