About:
  tabTitle: "Über"
  releaseNotes: "Versionshinweise"
  newUpdate: "Neue Aktualisierung vorhanden"
  upToDate: "Du hast die aktuellste Version von Atom"
  checkingForUpdates: "Prüfe auf Aktualisierungen..."
  checkUpdatesNow: "Jetzt prüfen"
  automaticDownloadUpdates: "Aktualisierungen automatisch herunterladen"
  restartInstall: "Installieren und Neustarten"
  license: "Lizenz"
  termsOfUse: "Nutzungsbedingungen"
  with: " mit "
  by: " durch "
  andTheAwesome: "Und der großartigen "
  atomCommunity: "Atom Community"
