Context:
  "atom-workspace":
    "application:inspect": "Element untersuchen"
  "atom-text-editor":
    "color-picker:open": "Farbwähler"
    "minimap:toggle": "Minimap umschalten"
  "atom-text-editor, .overlayer":
    "core:undo": "Rückgängig"
    "core:redo": "Wiederherstellen"
    "core:cut": "Ausschneiden"
    "core:copy": "Kopieren"
    "core:paste": "Einfügen"
    "core:delete": "Löschen"
    "core:select-all": "Alles auswählen"
    "pane:split-up-and-copy-active-item": "Nach oben teilen"
    "pane:split-down-and-copy-active-item": "Nach unten teilen"
    "pane:split-left-and-copy-active-item": "Nach links teilen"
    "pane:split-right-and-copy-active-item": "Nach rechts teilen"
    "pane:close": "Alle im Fenster schließen"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Nach oben teilen"
    "pane:split-down-and-copy-active-item": "Nach unten teilen"
    "pane:split-left-and-copy-active-item": "Nach links teilen"
    "pane:split-right-and-copy-active-item": "Nach rechts teilen"
    "pane:close": "Alle im Fenster schließen"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Codierung ändern"
    "spell-check:correct-misspelling": "Rechtschreibung kontrollieren"
    "symbols-view:go-to-declaration": "Gehe zu Deklaration"
  ".overlayer":
    "grammar-selector:show": "Grammatik ändern"
  ".image-view":
    "image-view:reload": "Bild neu laden"
  ".tab":
    "tabs:close-tab": "Tab schließen"
    "tabs:close-other-tabs": "Andere Tabs schließen"
    "tabs:close-tabs-to-right": "Tabs rechts schießen"
    "tabs:close-tabs-to-left": "Tabs links schließen"
    "tabs:close-saved-tabs": "Gespeicherte Tabs schließen"
    "tabs:close-all-tabs": "Alle Tabs schließen"
    "tabs:split-up": "Nach oben teilen"
    "tabs:split-down": "Nach unten teilen"
    "tabs:split-left": "Nach links teilen"
    "tabs:split-right": "Nach rechts teilen"
  ".tab.texteditor":
    "tabs:open-in-new-window": "In neuem Fenster öffnen"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Unerledigte Tabs behalten"
  ".tab-bar":
    "pane:reopen-closed-item": "Geschlossenen Tab neu öffnen"
  ".tree-view .full-menu":
    "tree-view:add-file": "Neue Datei"
    "tree-view:add-folder": "Neuer Ordner"
    "tree-view:move": "Umbenennen"
    "tree-view:duplicate": "Duplizieren"
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
    "tree-view:open-selected-entry-up": "Nach oben teilen"
    "tree-view:open-selected-entry-down": "Nach unten teilen"
    "tree-view:open-selected-entry-left": "Nach links teilen"
    "tree-view:open-selected-entry-right": "Nach rechts teilen"
    "application:add-project-folder": "Projektordner hinzufügen"
    "tree-view:copy-full-path": "Gesamten Pfad kopieren"
    "tree-view:copy-project-path": "Projekt-Pfad kopieren"
    "tree-view:open-in-new-window": "In neuem Fenster öffnen"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Nach oben teilen"
    "tree-view:open-selected-entry-down": "Nach unten teilen"
    "tree-view:open-selected-entry-left": "Nach links teilen"
    "tree-view:open-selected-entry-right": "Nach rechts teilen"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Neue Datei"
    "tree-view:add-folder": "Neuer Ordner"
    "tree-view:move": "Umbenennen"
    "tree-view:duplicate": "Duplizieren"
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
    "tree-view:open-selected-entry-up": "Nach oben teilen"
    "tree-view:open-selected-entry-down": "Nach unten teilen"
    "tree-view:open-selected-entry-left": "Nach links teilen"
    "tree-view:open-selected-entry-right": "Nach rechts teilen"
    "application:add-project-folder": "Projektordner hinzufügen"
    "tree-view:remove-project-folder": "Projektordner entfernen"
    "tree-view:copy-full-path": "Gesamten Pfad kopieren"
    "tree-view:copy-project-path": "Projektpfad kopieren"
    "tree-view:open-in-new-window": "In neuem Fenster öffnen"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Dateimanager anzeigen"
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Suche in Verzeichnis"
  ".tree-view .multi-select":
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Zeige in Baumansicht"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Umbenennen"
    "tree-view:reveal-active-file": "Zeige in Baumansicht"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Dateimanager anzeigen"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Dateimanager anzeigen"
