Context:
  "atom-workspace":
    "application:inspect": "Element untersuchen"
  "atom-text-editor":
    "color-picker:open": "Farbwähler"
    "minimap:toggle": "Minimap umschalten"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Rückgängig"
    "core:redo": "Wiederherstellen"
    "core:cut": "Ausschneiden"
    "core:copy": "Kopieren"
    "core:paste": "Einfügen"
    "core:delete": "Löschen"
    "core:select-all": "Alles auswählen"
    "pane:split-up-and-copy-active-item": "Nach oben teilen"
    "pane:split-down-and-copy-active-item": "Nach unten teilen"
    "pane:split-left-and-copy-active-item": "Nach links teilen"
    "pane:split-right-and-copy-active-item": "Nach rechts teilen"
    "pane:close": "Alle im Fenster schließen"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Nach oben teilen"
    "pane:split-down-and-copy-active-item": "Nach unten teilen"
    "pane:split-left-and-copy-active-item": "Nach links teilen"
    "pane:split-right-and-copy-active-item": "Nach rechts teilen"
    "pane:close": "Alle im Fenster schließen"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Codierung ändern"
    "spell-check:correct-misspelling": "Rechtschreibung kontrollieren"
    "symbols-view:go-to-declaration": "Gehe zu Deklaration"
  ".overlayer":
    "grammar-selector:show": "Grammatik ändern"
  ".image-view":
    "image-view:reload": "Bild neu laden"
  ".tab":
    "tabs:close-tab": "Tab schließen"
    "tabs:close-other-tabs": "Andere Tabs schließen"
    "tabs:close-tabs-to-right": "Tabs rechts schießen"
    "tabs:close-tabs-to-left": "Tabs links schließen"
    "tabs:close-saved-tabs": "Gespeicherte Tabs schließen"
    "tabs:close-all-tabs": "Alle Tabs schließen"
    "tabs:split-up": "Nach oben teilen"
    "tabs:split-down": "Nach unten teilen"
    "tabs:split-left": "Nach links teilen"
    "tabs:split-right": "Nach rechts teilen"
  ".tab.texteditor":
    "tabs:open-in-new-window": "In neuem Fenster öffnen"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Unerledigte Tabs behalten"
  ".tab-bar":
    "pane:reopen-closed-item": "Geschlossenen Tab neu öffnen"
  ".tree-view .full-menu":
    "tree-view:add-file": "Neue Datei"
    "tree-view:add-folder": "Neuer Ordner"
    "tree-view:move": "Umbenennen"
    "tree-view:duplicate": "Duplizieren"
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
#    "tree-view:open-selected-entry-up": "Nach oben teilen"
#    "tree-view:open-selected-entry-down": "Nach unten teilen"
#    "tree-view:open-selected-entry-left": "Nach links teilen"
#    "tree-view:open-selected-entry-right": "Nach rechts teilen"
    "application:add-project-folder": "Projektordner hinzufügen"
    "tree-view:copy-full-path": "Gesamten Pfad kopieren"
    "tree-view:copy-project-path": "Projekt-Pfad kopieren"
    "tree-view:open-in-new-window": "In neuem Fenster öffnen"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Nach oben teilen"
    "tree-view:open-selected-entry-down": "Nach unten teilen"
    "tree-view:open-selected-entry-left": "Nach links teilen"
    "tree-view:open-selected-entry-right": "Nach rechts teilen"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Neue Datei"
    "tree-view:add-folder": "Neuer Ordner"
    "tree-view:move": "Umbenennen"
    "tree-view:duplicate": "Duplizieren"
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
#    "tree-view:open-selected-entry-up": "Nach oben teilen"
#    "tree-view:open-selected-entry-down": "Nach unten teilen"
#    "tree-view:open-selected-entry-left": "Nach links teilen"
#    "tree-view:open-selected-entry-right": "Nach rechts teilen"
    "application:add-project-folder": "Projektordner hinzufügen"
    "tree-view:remove-project-folder": "Projektordner entfernen"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Gesamten Pfad kopieren"
    "tree-view:copy-project-path": "Projektpfad kopieren"
    "tree-view:open-in-new-window": "In neuem Fenster öffnen"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Im Dateimanager anzeigen"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Suche in Verzeichnis"
  ".tree-view .multi-select":
    "tree-view:remove": "Löschen"
    "tree-view:copy": "Kopieren"
    "tree-view:cut": "Ausschneiden"
    "tree-view:paste": "Einfügen"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Zeige in Baumansicht"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Umbenennen"
    "tree-view:reveal-active-file": "Zeige in Baumansicht"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Im Dateimanager anzeigen"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Finder anzeigen"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Explorer anzeigen"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Im Dateimanager anzeigen"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Suche in Verzeichnis"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
