Menu:
  "&File":
    value: "(&D)atei"
    submenu:
      "New &Window":
        value: "Neues (&F)enster"
      "&New File":
        value: "(&N)eue Datei"
      "&Open File…":
        value: "(&D)atei öffnen…"
      "Open Folder…":
        value: "Ordner öffnen…"
      "Add Project Folder…":
        value: "Projektordner hinzufügen…"
      "Reopen Project":
        value: "Projekt erneut öffnen"
        submenu:
          "Clear Project History":
            value: "Projekthistorie löschen"
      "Reopen Last &Item":
        value: "(&L)etzte Datei nochmals öffnen"
      "Se&ttings":
        value: "Einstellungen…"
      "Config…":
        value: "Konfiguration…"
      "Init Script…":
        value: "Startscript…"
      "Keymap…":
        value: "Keymap…"
      "Snippets…":
        value: "Vorlagen…"
      "Stylesheet…":
        value: "Stylesheet…"
      "&Save":
        value: "&Speichern"
      "Save &As…":
        value: "Speichern als…"
      "Save A&ll":
        value: "Alles Speichern"
      "&Close Tab":
        value: "Tab schließen"
      "Close &Pane":
        value: "Fenster schließen"
      "Close Window":
        value: "Fenster schließen"
      "E&xit":
        value: "(&B)eenden"
      "Close All Tabs":
        value: "Alle Tabs schließen"
  "&Edit":
    value: "(&B)earbeiten"
    submenu:
      "&Undo":
        value: "Rückgängig(&U)"
      "&Redo":
        value: "Wiederhe&rstellen"
      "Cu&t":
        value: "Ausschneiden(&T)"
      "&Copy":
        value: "Kopieren (&C)"
      "Copy Pat&h":
        value: "Pfad kopieren(&H)"
      "&Paste":
        value: "Einfügen(&P)"
      "Paste Without Reformatting":
        value: "Einfügen ohne umformatierung"
      "Select &All":
        value: "&Alles auswählen"
      "&Toggle Comments":
        value: "Kommen&tare umschalten"
      Lines:
        value: "Zeilen"
        submenu:
          "&Indent":
            value: "Ze&ile einrücken"
          "&Outdent":
            value: "Zeile ausrücken(&O)"
          "&Auto Indent":
            value: "&Auto Zeileneinzug"
          "Move Line &Up":
            value: "Zeile nach oben verschieben(&U)"
          "Move Line &Down":
            value: "Zeile nach unten verschieben(&D)"
          "Du&plicate Lines":
            value: "Zeile du&plizieren"
          "D&elete Line":
            value: "Z&eile löschen"
          "&Join Lines":
            value: "Zeilen zusammenfügen(&J)"
      Columns:
        value: "Spalten"
        submenu:
          "Move Selection &Left":
            value: "Auswahl nach &links verschieben"
          "Move Selection &Right":
            value: "Auswahl nach &rechts verschieben"
      Text:
        value: "Text"
        submenu:
          "&Upper Case":
            value: "Großbuchstaben(&U)"
          "&Lower Case":
            value: "Kleinbuchstaben(&L)"
          "Delete to End of &Word":
            value: "Gesamtes &Wort löschen"
          "Delete to Previous Word Boundary":
            value: "Löschen bis zum letzten Wortende"
          "Delete to Next Word Boundary":
            value: "Löschen bis zum nächsten Wortanfang"
          "&Delete Line":
            value: "Zeile löschen(&D)"
          "&Transpose":
            value: "Umkehren(&T)"
      Folding:
        value: "Textblöcke auf-/zuklappen"
        submenu:
          "&Fold":
            value: "Zuklappen(&F)"
          "&Unfold":
            value: "A&ufklappen"
          "Unfold &All":
            value: "&Alles aufklappen"
          "Fol&d All":
            value: "Alles zuklappen(&D)"
          "Fold Level 1":
            value: "Zuklappen Level 1"
          "Fold Level 2":
            value: "Zuklappen Level 2"
          "Fold Level 3":
            value: "Zuklappen Level 3"
          "Fold Level 4":
            value: "Zuklappen Level 4"
          "Fold Level 5":
            value: "Zuklappen Level 5"
          "Fold Level 6":
            value: "Zuklappen Level 6"
          "Fold Level 7":
            value: "Zuklappen Level 7"
          "Fold Level 8":
            value: "Zuklappen Level 8"
          "Fold Level 9":
            value: "Zuklappen Level 9"
      "Reflow Selection":
        value: "Umformatieren der Auswahl"
      Bookmark:
        value: "Lesezeichen"
        submenu:
          "View All":
            value: "Alle anzeigen"
          "Toggle Bookmark":
            value: "Lesezeichen umschalten"
          "Jump to Next Bookmark":
            value: "Zum nächsten Lesezeichen springen"
          "Jump to Previous Bookmark":
            value: "Zum vorhergehenden Lesezeichen springen"
          "Select to Next Bookmark":
            value: "Nächstes Lesezeichen auswählen"
          "Select to Previous Bookmark":
            value: "Vorheriges Lesezeichen auswählen"
      "Select Encoding":
        value: "Codierung auswählen"
      "Go to Line":
        value: "Gehe zu Zeile"
      "Select Grammar":
        value: "Grammatik auswählen"
  "&View":
    value: "(&A)nzeige"
    submenu:
      "Toggle &Full Screen":
        value: "(&V)ollbild ein-/ausschalten"
      "Toggle Menu Bar":
        value: "Menüleiste ein-/ausschalten"
      Panes:
        value: "Fensterinhalt"
        submenu:
          "Split Up":
            value: "Nach oben aufteilen"
          "Split Down":
            value: "Nach unten aufteilen"
          "Split Left":
            value: "Nach links aufteilen"
          "Split Right":
            value: "Nach rechts aufteilen"
          "Focus Next Pane":
            value: "Nächsten Fensterinhalt fokussieren"
          "Focus Previous Pane":
            value: "Vorheriger Fensterinhalt fokussieren"
          "Focus Pane Above":
            value: "Fensterinhalt oberhalb fokussieren"
          "Focus Pane Below":
            value: "Fensterinhalt unterhalb fokussieren"
          "Focus Pane On Left":
            value: "Fensterinhalt links fokussieren"
          "Focus Pane On Right":
            value: "Fensterinhalt rechts fokussieren"
          "Close Pane":
            value: "Gesamten Fensterinhalt schließen"
      Developer:
        value: "Entwickler"
        submenu:
          "Open In &Dev Mode…":
            value: "Öffnen im Entwicklermodus…(&D)"
          "&Reload Window":
            value: "Fenste&r neu laden"
          "Run Package &Specs":
            value: "Paket &Spezifikationen ausführen"
          "Run &Benchmarks":
            value: "Run Benchmarks(&B)"
          "Toggle Developer &Tools":
            value: "Entwickler &Tools ein-/ausschalten"
      "&Increase Font Size":
        value: "Schr&iftgröße vergrößern"
      "&Decrease Font Size":
        value: "Schriftgröße verkleinern(&D)"
      "Re&set Font Size":
        value: "Schriftgröße zurück&setzen"
      "Toggle Soft &Wrap":
        value: "Automatischer Zeilenumbruch ein-/ausschalten(&W)"
      "Toggle Command Palette":
        value: "Befehls-Palette umschalten"
      "Toggle Tree View":
        value: "Baumansicht ein-/ausschalten"
  "&Selection":
    value: "Aus(&w)ahl"
    submenu:
      "Add Selection &Above":
        value: "(&A)uswahl darüber hinzufügen"
      "Add Selection &Below":
        value: "Auswahl darunter hinzufügen(&B)"
      "S&plit into Lines":
        value: "In (&Z)eilen aufteilen(&P)"
      "Single Selection":
        value: "Einzelauswahl"
      "Select to &Top":
        value: "Nach oben hin alles auswählen(&T)"
      "Select to Botto&m":
        value: "Nach unten hin alles auswählen(&M)"
      "Select &Line":
        value: "Zei&le auswählen"
      "Select &Word":
        value: "&Wort auswählen"
      "Select to Beginning of W&ord":
        value: "Bis zum W&ortanfang auswählen"
      "Select to Beginning of L&ine":
        value: "Bis zum Ze&ilenanfang auswählen"
      "Select to First &Character of Line":
        value: "Bis zum ersten Zeichen in Zeile auswählen(&C)"
      "Select to End of Wor&d":
        value: "Bis zum Worten&de auswählen"
      "Select to End of Lin&e":
        value: "Bis zum Zeilen&ende auswählen"
      "Select Inside Brackets":
        value: "Klammerninhalt auswählen"
  "F&ind":
    value: "(&S)uchen"
    submenu:
      "Find in Buffer":
        value: "Suchen in aktueller Ansicht"
      "Replace in Buffer":
        value: "Ersetzen in aktueller Ansicht"
      "Select Next":
        value: "Nächstes auswählen"
      "Select All":
        value: "Alles auswählen"
      "Toggle Find in Buffer":
        value: "Suche ein-/ausschalten"
      "Find in Project":
        value: "Suchen im Projekt"
      "Toggle Find in Project":
        value: "Projektsuche ein-/ausschalten"
      "Find All":
        value: "Alle suchen"
      "Find Next":
        value: "Nächstes suchen"
      "Find Previous":
        value: "Vorheriges suchen"
      "Replace Next":
        value: "Nächstes ersetzen"
      "Replace All":
        value: "Alle ersetzen"
      "Clear History":
        value: "Historie löschen"
      "Find Buffer":
        value: "In Ansicht suchen"
      "Find File":
        value: "Datei suchen"
      "Find Modified File":
        value: "Veränderte Datei suchen"
  "&Packages":
    value: "(&P)akete"
    submenu:
      "Bracket - Matcher"
  "&Help":
    value: "(&H)ilfe"
    submenu:
      "View &Terms of Use":
        value: "Nu&tzungsbedingungen anzeigen"
      "View &License":
        value: "&Lizenzbedingungen anzeigen"
      "Restart and Install Update":
        value: "Installieren und Neustarten"
      "Check for Update":
        value: "Nach Aktualisierungen suchen"
      "Checking for Update":
        value: "Prüfe auf Aktualisierungen…"
      "Downloading Update":
        value: "Lade Aktualisierung herunter"
      "&Documentation":
        value: "(&D)okumentation"
      "Frequently Asked Questions":
        value: "Wiederkehrende Fragen (FAQ)"
      "Community Discussions":
        value: "Community Diskussionen"
      "Report Issue":
        value: "Problem melden"
      "Search Issues":
        value: "Problem suchen"
      "About Atom":
        value: "Über Atom"
      "Welcome Guide":
        value: "Willkommens-Leitfaden"

