Settings:
  "tab-title": "Einstellungen"
  menu: [
    {
      _label: "Core"
      value: "Kern"
    }
    {
      _label: "Editor"
      value: "Editor"
    }
    {
      _label: "System"
      value: "System"
    }
    {
      _label: "Keybindings"
      value: "Tastenkürzel"
    }
    {
      _label: "Packages"
      value: "Pakete"
    }
    {
      _label: "Themes"
      value: "Thema"
    }
    {
      _label: "Updates"
      value: "Updates"
    }
    {
      _label: "Install"
      value: "Installieren"
    }
  ]
  "btn-open-config-folder": "Öffne Konfigurations-Ordner"
  sectionHeadings: [
    {_label: "Core Settings", value: "Kern Einstellungen"}
    {_label: "Editor Settings", value: "Editor Einstellungen"}
    {_label: "System Settings", value: "System Einstellungen"}
    {_label: "Keybindings", value: "Tastenkürzel"}
    {_label: "Installed Packages", value: "Installierte Pakete"}
    {_label: "Choose a Theme", value: "Ein Thema auswählen"}
    {_label: "Installed Themes", value: "Installierte Themen"}
    {_label: "Install Packages", value: "Paket installieren"}
    {_label: "Featured Packages", value: "Präsentierte Pakete"}
    {_label: "Install Themes", value: "Themen installieren"}
    {_label: "Featured Themes", value: "Präsentierte Themen"}
    {_label: "Available Updates", value: "Verfügbare Updates", _childIndex: 2}
  ]
  "heading-available-updates": {_label: "Available Updates", value: "Verfügbare Updates"}
  subSectionHeadings: [
    {_label: "Invisible", value: "Unsichtbar"}
    {_label: "Community Packages", value: "Community Pakete"}
    {_label: "Core Packages", value: "Kern Pakete"}
    {_label: "Development Packages", value: "Entwicklungs-Pakete"}
    {_label: "Git Packages", value: "Git Pakete"}
    {_label: "Community Themes", value: "Community Themen"}
    {_label: "Core Themes", value: "Kern Themen"}
    {_label: "Development Themes", value: "Entwickler Themen"}
    {_label: "Git Themes", value: "Git Themen"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Dies sind Atom\'s kern welche das Verhalten ohne Verbindung zum editieren von Texten beeinflussen. Individuelle Pakete könnten eigene Einstellungen besitzen, welche sich in der jeweiligen Paket-Karte in der <a class="link packages-open">Paket Liste</a> befinden.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Diese Einstellungen hängen mit dem editieren von Text zusammen. Einige davon, können auf Basis der jeweiligen Sprache übergangen werden. Prüfe die jeweiligen Spracheinstellungen in der jeweiligen Paket-Karte in der <a class="link packages-open">Paket Liste</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Erlaube schwebende Datei-Inhalte"
        desc: "Erlaube Vorschau von Objekten ohne dass diese dauerhaft zum Arbeitsbereich hinzugefügt werden, z.B. durch Einzelklick auf Dateien in der Baumansicht."
      }
      {
        _id: 'core.audioBeep'
        title: "Audio Beep"
        desc: "Löse den System-Beep aus, wenn eine spezielle Aktion nicht ausgeführt werden kann oder keine Ergebnisse existieren."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Automatisches Update"
        desc: "Automatisches Update von Atom wenn eine neue Version verfügbar ist."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Menü automatisch verbergen"
        desc: "Menü automatisch verbergen und zum einblenden Alt drücken. Dies wird nur unter unterstütz unter Windows &amp; Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Close Deleted File Tabs"
        desc: "Close corresponding editors when a file is deleted outside Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Leere Fenster schließen"
        desc: "Wenn ein Fenster keine geöffneten Tabs enthält und ein 'Tabs schließen' Kommando erhält, schließe dieses Fenster."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Schließe leere Arbeitsflächen"
        desc: "Wenn der letzte Tab in einer Arbeitsfläche geschlossen wird, schließe auch die Arbeitsfläche."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Von VCS ignorierte Pfade ausschließen "
        desc: "Dateien und Pfade welche durch das VCS eines Projektes ignoriert werden, werden auch von einigen Paketen wie fuzzy Finder sowie suchen/ersetzen ignoriert. Zum Beispiel, wenn Projekte welche Git benutzen gewisse Pfade in .gitignore definiert haben. Individuelle Pakete könnten auch zusätzliche Einstellungen bzgl. ignorieren von VCS ignorierten Dateien oder Ordnern enthalten."
      }
      {
        _id: 'core.fileEncoding'
        title: "Datei Encodierung"
        desc: "Vorgabe Zeichen-Encodierung welche zum lesen und schreiben von Dateien benutzt wird."
      }
      {
        _id: 'core.followSymlinks'
        title: "Folge Symlinks"
        desc: "Folge beim suchen von Dateien und beim öffnen von Ordnern mit dem fuzzy Finder symbolischen Verknüpfungen."
      }
      {
        _id: 'core.ignoredNames'
        title: "Ignorierte Namen"
        desc: "Liste von <code>glob patterns</code>. Dateien und Ordner welche diesen Mustern entsprechen werden von einigen Paketen ignoriert, z.B. fuzzy Finder und der Baumansicht. Individuelle Pakete könnten zusätzliche Einstellungen zum ignorieren von Namen in deren Einstellungen enthalten."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Leeren Editor beim Start öffnen"
        desc: "Automatisch einen leeren Editor beim Programmstart öffnen."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Pakete mit deaktivierten Keymaps"
      }
      {
        _id: 'core.projectHome'
        title: "Projekt Home"
        desc: "Verzeichnis wo Projekte gespeichert werden. Pakete welche mittels dem Paket-Generator erstellt werden werden dort standardmäßig abgelegt."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Anzahl kürzlich geöffneter Projekte im Projekt Menü"
        desc: "Wie viele Projekte welche im Menü der kürzlich geöffneten Projekte angezeigt werden."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Letzte Fenster beim Start wieder herstellen"
        desc: "When checked restores the last state of all Atom windows when started from the icon or <code>atom</code> by itself from the command line; otherwise a blank environment is loaded."
      }
      {
        _id: 'core.telemetryConsent'
        title: "Sende Telemetrie-Daten an das Atom Team"
        desc: "Dem Senden und der Verwendung von statistischen Daten sowie Ausnahmemeldungen an das Atom Team zustimmen um mitzuhelfen das Produkt zu verbessern."
        select:
          limited: "Limitierte anonyme Nutzer-Statistiken, Ausnahmen und Fehlerberichte"
          no: "Keine Telemetrie-Daten senden"
          undecided: "Unentschlossen (Atom will ask again next time it is launched)"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Use Proxy Settings When Calling APM"
        desc: "Use detected proxy settings when calling the <code>apm</code> command-line tool."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Benutze Benutzerspezifische Titel-Leiste"
        desc: "Use custom, theme-aware title bar.<br>Note: This currently does not include a proxy icon.<br>This setting will require a relaunch of Atom to take effect."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Warnen beim überschreiten des Datei-Limits"
        desc: "Warnen, bevor Dateien geöffnet werden, welche größer sind als diese Anzahl von Megabyte."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic Soft Tabs"
        desc: "Führende Leerzeichen in Tab-Länge überspringen wenn der Cursor bewegt wird."
      }
      {
        _id: 'editor.autoIndent'
        title: "Automatisches einrücken"
        desc: "Automatisch den Cursor einrücken sobald eine neue Zeile eingefügt wird."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Automatisches einrücken beim einfügen"
        desc: "Automatisch eingefügten Text einrücken, basierend auf der Einrückung der vorausgehenden Zeile."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Back Up vor dem Speichern"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Bestätigung beim Checkout HEAD Revision"
        desc: "Zeige Bestätigungs-Dialog beim Checkout der HEAD revision und dem Verwurf von Änderungen an der momentanen Datei seit dem letzten commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Font Familie"
        desc: "Der Name der Font Familie welche als Editor-Text verwendet wird."
      }
      {
        _id: 'editor.fontSize'
        title: "Font Größe"
        desc: "Höhe des Textes im Editor in Pixel."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Unsichtbare Cr"
        desc: "Zeichen welches verwendet wird um carriage return Zeichen darzustellen, (für Microsoft-style Zeilen enden) wenn die <code>Zeige Unsichtbare</code> Einstellung aktiviert ist."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Unsichtbare Eol"
        desc: "Zeichen welches verwendet wird um newline Zeichen (\n) darzustellen, wenn die <code>Zeige Unsichtbare</code> Einstellung aktiviert ist."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Unsichtbare Leerzeichen"
        desc: "Zeichen welches verwendet wird um führende und folgende Leerzeichen darzustellen wenn die <code>Zeige Unsichtbare</code> Einstellung aktiviert ist."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Unsichtbare Tabs"
        desc: "Zeichen welches verwendet wird um harte Tab-Zeichen (\t) darzustellen, wenn die <code>Zeige Unsichtbare</code> Einstellung aktiviert ist."
      }
      {
        _id: 'editor.lineHeight'
        title: "Zeilen Höhe"
        desc: "Höhe von Editor-Zeilen, als Multiplikator der Font-Größe."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Nicht-Buchstaben-Zeichen"
        desc: "Ein Zeichensatz von Nicht-Buchstaben-Zeichen um Wort-Grenzen darzustellen."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Bevorzugte Zeilenlänge"
        desc: "Gibt die Länge einer Zeile, welche verwendet wird, bevor der Text umgebrochen wird wenn die <code>Soft Wrap anhand bevorzugten Zeilenlänge</code> Einstellung aktiviert ist, in der Anzahl der Zeichen an."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Über das Ende hinaus scrollen"
        desc: "Erlaube im Editor weiter zu scrollen, selbst über das Ende der letzten Zeile hinaus."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Scroll-Sensibilität"
        desc: "Legt fest wie schnell der Editor per Maus oder Trackpad scrollt."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Show Cursor On Selection"
        desc: "Show cursor while there is a selection."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Zeige Einrückhilfe"
        desc: "Zeige Einrückanzeigen im Editor."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Zeige Unsichtbare"
        desc: "Zeige Platzhalter für unsichtbbare Zeichen wie Tabs, Leerzeichen oder Zeilenumbrüche."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Zeige Zeilen Nummern"
        desc: "Zeige Zeilen Nummern im Editor-Spaltenzwischenraum."
      }
      {
        _id: 'editor.softTabs'
        title: "Soft Tabs"
        desc: "Wenn die <code>Tab Typ</code> Einstellung auf \"auto\" gestellt ist und die Autoerkennung des Tab Types vom Inhalt fehl schlägt, wird diese Einstellung verwendet um zu entscheiden ob ein soft tab oder ein hard tab eingefügt wird, wenn die Tab Taste gedrückt wird."
      }
      {
        _id: 'editor.softWrap'
        title: "Soft Wrap"
        desc: "Bricht Zeilen um, welche die Breite des Fensters überschreiten. Wenn <code>Soft Wrap anhand bevorzugten Zeilenlänge</code> aktiviert ist, wird die Zeile anhand der definierten maximalen Anzahl an Zeichen in der <code>Bevorzugten Zeilenlänge</code> Einstellung umgebrochen."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Soft Wrap anhand bevorzugter Zeilenlänge"
        desc: "Anstelle eines Zeilenumbruches an der Fensterbreite, wird die Zeile bei der Anzahl der Zeichen umgebrochen welche in <code>Bevorzugte Zeilenlänge</code> Einstellung defininiert ist. Dies hat nur einen Effekt, wenn die Soft Wrap Einstellung global oder für die aktuelle Sprache aktiviert ist. <strong>Beachte:</strong> Wenn du die Wrap-Hilfe (vertikale Linie) verbergen willst kannst du das Paket <code>wrap-guide</code> de-aktivieren."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Soft Wrap fliegende Einrückung"
        desc: "Wenn Soft Wrap aktiviert ist, definiert dies die Anzahl an Zeichen die als zusätzliche Einrückung verwendet wird."
      }
      {
        _id: 'editor.tabLength'
        title: "Tab Länge"
        desc: "Anzahl von Leerzeichen welche verwendet werden um ein Tab darzustellen."
      }
      {
        _id: 'editor.tabType'
        title: "Tab Typ"
        desc: "Legt fest, welches Zeichen eingefügt wird, wenn die Tab-Taste gedrückt wird. Mögliche Werte: \"auto\", \"soft\" und \"hard\". Wenn diese festgelegt sind auf \"soft\" oder \"hard\", werden soft tabs (Leerzeichen) oder hard tabs (Tab Zeichen) verwendet. Wenn auf \"auto\" gestellt ist, versucht der Editor den Typ der Tabs automatisch anhand der Inhalte zu erkennen (er untersucht die ersten führenden Leerzeichen einer Inhaltslosen Zeile), oder benutzt den Wert der Soft Tabs Einstellung, wenn die automatische Erkennung fehlschlägt."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Rückgängig Gruppierungsinterval"
        desc: "Zeitinterval in millisekunden in dem der Text-Editor Operationen zu einem Rückgängig-Schritt zusammengefasst werden."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Zoom Font beim Strg scrollen"
        desc: "Ändere die Font-Größe wenn bei gedrückter Strg-Taste mit der Maus nach oben oder unten gescrollt wird."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Registrierung als Datei-Handler"
        desc: "Zeige Atom in den \"Öffnen mit\" Programmlisten für leichtere Verknüpfung mit Datei Typen."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Zeige in Datei-Kontextmenüs"
        desc: "Füge \"Öffne mit Atom\" zum Datei-Explorer Kontext-Menü für Dateien hinzu."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Zeige in Ordner-Kontextmenüs"
        desc: "Füge \"Öffne mit Atom\" zum Datei-Explorer Kontext-Menü für Ordner hinzu."
      }
    ]
  }
  system: {
    notes: "Diese Einstellungen bestimmen, wie sich Atom in dein Betriebssystem integriert."
  }
  keymaps: {
    notes: {
      text1: "Du kannst diese Tastenkürzel überschreiben durch kopieren "
      text2: "und einfügen in "
      text3: "deine keymap Datei"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Suche Tastenkürzel"
    "table-header-keystroke": "Tastendruck"
    "table-header-command": "Kommando"
    "table-header-source": "Quelle"
    "table-header-selector": "Selektor"
  }
  packages: {
    searchBarText: 'Pakete per Namen filtern'
  }
  themes: {
    notes: {
      text1: "Atom kann durch editieren "
      text2: "deines stylesheets"
      text3: " angepasst werden"   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "UI Thema"
    description1: "Dies passt die Tabs, Statusleiste, Baumansicht und Dropdown-Menüs an"
    title2: "Syntax Thema"
    description2: "Dies passt die Anzeige des Textes innerhalb des Editors an."
    searchBarText: 'Themen per Name filtern'
  }
  updates: {
    "check-updates": "Suche nach Updates"
    "update-all": "Alles updaten"
    "checking-updates": "Suche nach Updates..."
    "all-updated-message": "Alle deine installierten Pakete sind aktuell!"
  }
  install: {
    notes: {
      text1: "Pakete sind veröffentlicht "
      text2: " und sind installiert nach "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Suche Pakete"
    "btn-packages": "Pakete"
    "btn-themes": "Themen"
  }
  "control-btns":{
    install: "Installieren"
    update: "Update zu"
    setting: "Einstellungen"
    uninstall: "Uninstall"
    disable: "Deaktivieren"
    enable: "Aktivieren"
  }
