Settings:
  "tab-title": "Einstellungen"
  menu: [
    {
      _label: "Core"
      value: "Kern"
    }
    {
      _label: "Editor"
      value: "Editor"
    }
    {
      _label: "System"
      value: "System"
    }
    {
      _label: "Keybindings"
      value: "Tastenkürzel"
    }
    {
      _label: "Packages"
      value: "Plugins"
    }
    {
      _label: "Themes"
      value: "Themes"
    }
    {
      _label: "Updates"
      value: "Aktualisierungen"
    }
    {
      _label: "Install"
      value: "Installieren"
    }
  ]
  "btn-open-config-folder": "Öffne Konfigurations-Ordner"
  sectionHeadings: [
    {_label: "Core Settings", value: "Kern-Einstellungen"}
    {_label: "Editor Settings", value: "Editor-Einstellungen"}
    {_label: "System Settings", value: "Systemeinstellungen"}
    {_label: "Keybindings", value: "Tastenkürzel"}
    {_label: "Installed Packages", value: "Installierte Plugins"}
    {_label: "Choose a Theme", value: "Ein Thema auswählen"}
    {_label: "Installed Themes", value: "Installierte Themen"}
    {_label: "Install Packages", value: "Plugin installieren"}
    {_label: "Featured Packages", value: "Vorgestellte Plugins"}
    {_label: "Install Themes", value: "Themen installieren"}
    {_label: "Featured Themes", value: "Vorgestellte Themen"}
    {_label: "Available Updates", value: "Verfügbare Aktualisierungen"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Unsichtbar"}
    {_label: "Community Packages", value: "Community-Plugins"}
    {_label: "Core Packages", value: "Core-Plugins"}
    {_label: "Development Packages", value: "Entwicklungs-Plugins"}
    {_label: "Git Packages", value: "Git-Plugins"}
    {_label: "Community Themes", value: "Community-Themen"}
    {_label: "Core Themes", value: "Kern-Themen"}
    {_label: "Development Themes", value: "Entwickler-Themen"}
    {_label: "Git Themes", value: "Git-Themen"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Dies sind Atoms Core-Einstellungen, welche aber nicht das Verhalten zum Bearbeiten von Texten beeinflussen (zu finden unter Editor). Individuelle Plugins können eigene Einstellungen haben, welche auf der jeweiligen Package-Einstellungsseite in der <a class="link packages-open">Liste aller installierten Plugins</a> zu finden sind.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Diese Einstellungen hängen mit dem Bearbeiten von Text zusammen. Einige davon können auf Basis der jeweiligen Sprache übergangen werden. Prüfe die jeweiligen Spracheinstellungen auf der jeweiligen Package-Einstellungsseite in der <a class="link packages-open">Liste aller installierten Plugins</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Erlaube schwebende Datei-Inhalte"
        desc: "Erlaube Vorschau von Objekten ohne dass diese dauerhaft zum Arbeitsbereich hinzugefügt werden, z.B. durch Einzelklick auf Dateien in der Baumansicht."
      }
      {
        _id: 'core.audioBeep'
        title: "Systemton abspielen"
        desc: "Den Systemton (System-Beep) abspielen, sofern eine bestimmte Aktion nicht ausgeführt werden kann oder keine Ergebnisse existieren."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Automatische Aktualisierung"
        desc: "Aktualisiere Atom automatische, wenn eine neue Version verfügbar ist."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Menü automatisch verbergen"
        desc: "Menü automatisch verbergen und zum einblenden Alt drücken. Dies wird nur unter Windows &amp; Linux unterstützt."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Tab schließen, wenn Datei gelöscht wurde"
        desc: "Schließe den zugehörigen Tab, sobald die entsprechende Datei im System gelöscht wurde."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Leere Fenster schließen"
        desc: "Wenn ein Fenster keine geöffneten Tabs enthält und ein 'Tabs schließen' Kommando erhält, schließe dieses Fenster."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Schließe leere Arbeitsflächen"
        desc: "Wenn der letzte Tab in einer Arbeitsfläche geschlossen wird, schließe auch die Arbeitsfläche."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Von VCS ignorierte Pfade ausschließen"
        desc: "Dateien und Pfade welche durch das VCS eines Projektes ignoriert werden, werden auch von einigen Packagesn wie fuzzy Finder sowie Suchen/Ersetzen ignoriert. Zum Beispiel, wenn Projekte welche Git benutzen gewisse Pfade in .gitignore definiert haben. Individuelle Plugins könnten auch zusätzliche Einstellungen bzgl. ignorieren von VCS ignorierten Dateien oder Ordnern enthalten."
      }
      {
        _id: 'core.fileEncoding'
        title: "Dateicodierung"
        desc: "Vorgabe der Zeichencodierung, welche zum Lesen und Schreiben von Dateien verwendet wird."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "Dateiänderungen"
        desc: "Wählt die Methode zum Prüfen auf Dateisystemsänderungen aus. Die Option <code>Emuliert mit Atom-Events</code> verpasst eventuell ein paar durch andere Programme ausgelöste Events, hilft aber eventuell bei Abstürzen."
        select:
          native: "Native Betriebssystem-API"
          atom: "Emuliert mit Atom-Events"
      }
      {
        _id: 'core.followSymlinks'
        title: "Symlinks folgen"
        desc: "Atom folgt beim Suchen von Dateien, und beim Öffnen von Ordnern mit dem fuzzy Finder, symbolischen Verknüpfungen."
      }
      {
        _id: 'core.ignoredNames'
        title: "Ignorierte Namen"
        desc: "Liste von <code>glob patterns</code>. Dateien und Ordner, welche diesen Mustern entsprechen werden von einigen Packagesn ignoriert, z. B. fuzzy Finder und Baumansicht. Individuelle Plugins könnten zusätzliche Einstellungen zum Ignorieren von Namen in deren jeweiligen Einstellungen enthalten."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Leeren Editor beim Start öffnen"
        desc: "Automatisch einen leeren Editor beim Programmstart öffnen."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Plugins mit deaktivierten Tastaturkürzeln"
      }
      {
        _id: 'core.projectHome'
        title: "Projekt-Heimverzeichnis"
        desc: "Verzeichnis, in dem Projekte gespeichert werden. Plugins, welche mittels dem Plugin-Generator erstellt werden, werden dort standardmäßig abgelegt."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Anzahl kürzlich geöffneter Projekte im Projekt-Menü"
        desc: "Anzahl der Projekte, die im Menü &quot;Kürzlich geöffnete Projekte&quot; angezeigt werden sollen."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Letzte Fenster beim Start wiederherstellen"
        desc: "Sofern aktiviert, wird der letzte Stand aller Atom-Fenster bei Start über das Icon wiederhergestellt. Gilt auch für den Start von <code>atom</code> über die Kommandozeile. Andernfalls wird Atom mit einer neuen Umgebung gestartet."
        select:
          no: "Nein"
          yes: "Ja"
          always: "Immer"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Sende Telemetrie-Daten an das Atom-Team"
        desc: "Dem Senden und der Verwendung von statistischen Daten sowie Ausnahmemeldungen an das Atom-Team zustimmen. Dies hilft uns, um Atom noch besser zu machen."
        select:
          limited: "Limitierte anonyme Nutzer-Statistiken, Ausnahmen und Fehlerberichte"
          no: "Keine Telemetrie-Daten senden"
          undecided: "Nicht jetzt (Atom fragt beim nächsten Start erneut)"
      }
      {
        _id: 'core.titleBar'
        title: "Titelleiste"
        desc: "Experimentell: Bei der Einstellung <code>Custom</code> adaptiert die Titelleiste die Themefarben. Im Fall von <code>Custom-inset</code> wird ein etwas größerer Rand hinzugefügt. Die Titelleiste kann auch <code>Versteckt</code> werden.<br>Achtung: Eine <code>Versteckt</code> oder <code>Custom</code> Titelleiste kann die Funktionälität einschränken.<br>Damit diese Einstellung Wirkung hat, muss Atom neu gestartet werden."
        select:
          native: "Nativ"
          custom: "Custom"
          "custom-inset": "custom-inset"
          hidden: "Versteckt"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Nutze die Proxy-Einstellungen, wenn APM aufgerufen wird"
        desc: "Die erkannten Proxy-Einstellungen verwenden, wenn das <code>apm</code> Kommandozeilenwerkzeug aufgerufen wird."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Pakete mit festgesetzten Versionen"
        desc: "Liste mit den Namen von Paketen, welche nicht automatisch aktualisiert werden sollen."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Benutze benutzerspezifische Titelleiste"
        desc: "Nutze eigene, Theme-gebundene Titelleiste.<br>Hinweis: Das Proxy-Icon ist davon ausgenommen.<br>Damit diese Einstellung Wirkung hat, muss Atom neu gestartet werden."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Warnen beim Überschreiten des Datei-Limits"
        desc: "Warnen, bevor Dateien geöffnet werden, welche größer sind als diese Anzahl von Megabyte."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic Soft Tabs"
        desc: "Führende Leerzeichen in Tab-Länge überspringen, wenn der Cursor bewegt wird."
      }
      {
        _id: 'editor.autoIndent'
        title: "Automatisches Einrücken"
        desc: "Automatisch den Cursor einrücken, sobald eine neue Zeile eingefügt wird."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Automatisches Einrücken beim Einfügen"
        desc: "Eingefügten Text automatisch einrücken, basierend auf der Einrückung der vorausgehenden Zeile."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Sicherung vor dem Speichern"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Bestätigung bei der Checkout HEAD Revision"
        desc: "Zeige Bestätigungs-Dialog beim Checkout der HEAD Revision, und beim Verwerfen von Änderungen an der momentan bearbeiteten Datei seit dem letzten Commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Schriftfamilie"
        desc: "Der Name der Schriftfamilie, welche als Editor-Text verwendet wird."
      }
      {
        _id: 'editor.fontSize'
        title: "Schriftgröße"
        desc: "Größe des Textes im Editor in Pixeln."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Unsichtbare Zeilenumbrüche"
        desc: "Zeichen welches verwendet wird, um Zeilenumbrüche darzustellen, (für Microsoft-Zeilenenden) wenn die Einstellung <code>Zeige unsichtbare Zeichen</code> aktiviert ist."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Unsichtbare Zeilenumbrüche"
        desc: "Zeichen welches verwendet wird, um newline Zeichen (\n) darzustellen, wenn die Einstellung <code>Zeige unsichtbare Zeichen</code> aktiviert ist."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Unsichtbare Leerzeichen"
        desc: "Zeichen welches verwendet wird, um führende und folgende Leerzeichen darzustellen, wenn die Einstellung <code>Zeige unsichtbare Zeichen</code> aktiviert ist."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Unsichtbare Tabs"
        desc: "Zeichen welches verwendet wird, um Tabulatorsprünge (\t) darzustellen, wenn die Einstellung <code>Zeige unsichtbare Zeichen</code> aktiviert ist."
      }
      {
        _id: 'editor.lineHeight'
        title: "Zeilenhöhe"
        desc: "Höhe der Textzeilen, als Multiplikator der Schrifttypgröße."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Maximale Bildschirmbreite"
        desc: "Gibt die maximale Breite des Editor-Fensters in Zeichen an, bevor Soft-Wrapping aktiviert wird."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Nicht-Buchstaben-Zeichen"
        desc: "Ein Zeichensatz von Nicht-Buchstaben-Zeichen um Wortgrenzen darzustellen."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Bevorzugte Zeilenlänge"
        desc: "Gibt die Zeichenlänge einer Zeile an, die verwendet wird, bevor Text umbrochen wird, sofern die Einstellung <code>Soft-Wrap anhand bevorzugter Zeilenlänge</code> aktiviert ist, in der Anzahl der Zeichen an."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Über das Ende hinaus scrollen"
        desc: "Erlauben, im Editor weiterzuscrollen, selbst über das Ende der letzten Zeile hinaus."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Scroll-Sensibilität"
        desc: "Legt fest, wie schnell der Editor per Maus oder Trackpad scrollt."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Zeige Mauszeiger bei Textmarkierungen"
        desc: "Zeige den Mauszeiger auch dann an, wenn Text markiert wird."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Zeige Einrückhilfe"
        desc: "Zeige Einrückungen im Editor an."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Zeige unsichtbare Zeichen"
        desc: "Zeige Platzhalter für unsichtbare Zeichen wie Tabulatorsprünge, Leerzeichen oder Zeilenumbrüche."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Zeige Zeilennummern"
        desc: "Zeige Zeilennummern auf der rechten Seite des Editors."
      }
      {
        _id: 'editor.softTabs'
        title: "Soft-Tabs"
        desc: "Wenn die Einstellung <code>Tabulator-Typ</code> auf \"auto\" gestellt ist und die Autoerkennung des Tabulator-Typs anhand des Inhalts fehlschlägt, wird diese Einstellung verwendet um zu entscheiden, ob ein Soft-Tab oder ein Hard-Tab eingefügt wird, sobald die Tabulator-Taste gedrückt wird."
      }
      {
        _id: 'editor.softWrap'
        title: "Soft-Wrap"
        desc: "Bricht Zeilen um, welche die Breite des Fensters überschreiten wird. Wenn <code>Soft-Wrap anhand bevorzugter Zeilenlänge</code> aktiviert ist, wird die Zeile anhand der definierten maximalen Anzahl an Zeichen in der Einstellung <code>Bevorzugten Zeilenlänge</code> umgebrochen."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Soft-Wrap anhand bevorzugter Zeilenlänge"
        desc: "Anstelle eines Zeilenumbruches an der Fensterbreite, wird die Zeile bei der Anzahl der Zeichen umgebrochen, welche in <code>Bevorzugte Zeilenlänge</code> Einstellung defininiert ist. Dies hat nur einen Effekt, wenn die Soft Wrap Einstellung global oder für die aktuelle Sprache aktiviert ist. <strong>Beachte:</strong> Wenn du die Wrap-Hilfe (vertikale Linie) verbergen willst kannst du das Plugin <code>wrap-guide</code> deaktivieren."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Soft-Wrap fliegende Einrückung"
        desc: "Wenn Soft-Wrap aktiviert ist, definiert dies die Anzahl an Zeichen, die als zusätzliche Einrückung verwendet wird."
      }
      {
        _id: 'editor.tabLength'
        title: "Tabulator-Länge"
        desc: "Anzahl von Leerzeichen, welche verwendet werden, um einen Tab darzustellen."
      }
      {
        _id: 'editor.tabType'
        title: "Tabulator-Typ"
        desc: "Legt fest, welches Zeichen eingefügt wird, wenn die Tab-Taste gedrückt wird. Mögliche Werte: \"auto\", \"soft\" und \"hard\". Wenn diese auf \"soft\" oder \"hard\" festgelegt sind, werden Soft-Tabs (Leerzeichen) oder Hard-Tabs (Tabulatorzeichen) verwendet. Wenn es auf \"auto\" gestellt ist, versucht der Editor den Typ der Tabs automatisch anhand der Inhalte zu erkennen (er untersucht die ersten führenden Leerzeichen einer inhaltslosen Zeile) oder benutzt den Wert der Soft-Tabs Einstellung, wenn die automatische Erkennung fehlschlägt."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Rückgängig Gruppierungsintervall"
        desc: "Zeitintervall in Millisekunden, in dem der Text-Editor Operationen zu einem Rückgängig-Schritt zusammenfasst."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Ändere die Schriftgröße, wenn mit Strg + Mausrad gescrollt wird"
        desc: "Ändere die Schriftgröße wenn bei gedrückter Strg-Taste mit der Maus nach oben oder unten gescrollt wird."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Registrierung als Datei-Handler"
        desc: "Zeige Atom in den \"Öffnen mit\" Programmlisten für leichtere Verknüpfung mit Dateitypen."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Zeige in Datei-Kontextmenüs"
        desc: "Füge \"Öffne mit Atom\" zum Datei-Explorer Kontext-Menü für Dateien hinzu."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Zeige in Ordner-Kontextmenüs"
        desc: "Füge \"Öffne mit Atom\" zum Datei-Explorer Kontext-Menü für Ordner hinzu."
      }
    ]
  }
  system: {
    notes: "Diese Einstellungen legen fest, wie Atom in dein Betriebssystem integriert wird."
  }
  keymaps: {
    notes: {
      text1: "Du kannst diese Tastenkürzel überschreiben durch Kopieren "
      text2: "und Einfügen in "
      text3: "deine keymap-Datei"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Suche Tastenkürzel"
    "table-header-keystroke": "Tastendruck"
    "table-header-command": "Kommando"
    "table-header-source": "Quelle"
    "table-header-selector": "Selektor"
  }
  packages: {
    searchBarText: 'Plugins nach Namen filtern'
  }
  themes: {
    notes: {
      text1: "Atom kann durch Editieren "
      text2: "deines Stylesheets"
      text3: " angepasst werden"   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "UI-Theme"
    description1: "Steuert die Anzeige der Benutzeroberfläche."
    title2: "Syntax-Theme"
    description2: "Steuert die Anzeige (Syntaxhighlighting) des Textes im Editor."
    searchBarText: 'Themes nach Name filtern'
  }
  updates: {
    "check-updates": "Suche nach Aktualisierungen"
    "update-all": "Alle aktualisieren"
    "checking-updates": "Suche nach Aktualisierungen…"
    "all-updated-message": "Alle deine installierten Plugins sind aktuell!"
  }
  install: {
    notes: {
      text1: "Plugins sind auf "
      text2: " veröffentlicht und wurden in "
      text3: " installiert"   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Durchsuche Plugins"
    "btn-packages": "Plugins"
    "btn-themes": "Themes"
  }
  "control-btns":{
    install: "Installieren"
    update: "Aktualisieren"
    setting: "Einstellungen"
    uninstall: "Deinstallieren"
    disable: "Deaktivieren"
    enable: "Aktivieren"
  }
