About:
  tabTitle: "About"
  releaseNotes: "Release Notes"
  newUpdate: "New Update"
  upToDate: "Atom is up to date!"
  checkingForUpdates: "Checking for updates..."
  checkUpdatesNow: "Check now"
  automaticDownloadUpdates: "Automatic download updates"
  restartInstall: "Restart and install"
  license: "License"
  termsOfUse: "Terms of Use"
  with: " with "
  by: " by "
  andTheAwesome: "And the awesome "
  atomCommunity: "Atom Community"
