About:
  tabTitle: "عن"
  releaseNotes: "ملاحظات الإصدار"
  newUpdate: "تحديث جديد"
  upToDate: "اتوم محدث لآخر إصدار!"
  checkingForUpdates: "يجري التحقق من التحديثات..."
  checkUpdatesNow: "تحقق الآن"
  automaticDownloadUpdates: "تنزيل التحديثات آليا"
  restartInstall: "أعد التشغيل وثبت"
  license: "الرخصة"
  termsOfUse: "شروط الإستخدام"
  with: " بـ"
  by: " من قبل "
  andTheAwesome: "والرائع "
  atomCommunity: "مجتمع أتوم"
