Context:
  "atom-workspace":
    "application:inspect": "تفحص العنصر"
  "atom-text-editor":
    "color-picker:open": "منتقي الألوان"
    "minimap:toggle": "بدل الخريطة المصغرة"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "تراجع"
    "core:redo": "أعد"
    "core:cut": "قص"
    "core:copy": "انسخ"
    "core:paste": "ألصق"
    "core:delete": "احذف"
    "core:select-all": "حدد الكل"
    "pane:split-up-and-copy-active-item": "اقسم للأعلى"
    "pane:split-down-and-copy-active-item": "اقسم للأسفل"
    "pane:split-left-and-copy-active-item": "اقسم يسارا"
    "pane:split-right-and-copy-active-item": "اقسم يمينا"
    "pane:close": "أغلق الجانب"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "اقسم للأعلى"
    "pane:split-down-and-copy-active-item": "اقسم للأسفل"
    "pane:split-left-and-copy-active-item": "اقسم يسارا"
    "pane:split-right-and-copy-active-item": "اقسم يمينا"
    "pane:close": "أغلق الجانب"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "غير الترميز"
    "spell-check:correct-misspelling": "صحح الهجاء"
    "symbols-view:go-to-declaration": "اذهب إلى الإعلان"
  ".overlayer":
    "grammar-selector:show": "غير النحو"
  ".image-view":
    "image-view:reload": "أعد تحميل الصورة"
  ".tab":
    "tabs:close-tab": "أغلق اللسان"
    "tabs:close-other-tabs": "أغلق الألسنة الأخرى"
    "tabs:close-tabs-to-right": "أغلق الألسنة السابقة"
    "tabs:close-tabs-to-left": "أغلق الألسنة التالية"
    "tabs:close-saved-tabs": "أغلق الألسنة المحفوظة"
    "tabs:close-all-tabs": "أغلق الألسنة جميعا"
    "tabs:split-up": "اقسم للأعلى"
    "tabs:split-down": "اقسم للأسفل"
    "tabs:split-left": "اقسم يمينا"
    "tabs:split-right": "اقسم يسارا"
  ".tab.texteditor":
    "tabs:open-in-new-window": "افتح في نافذة جديدة"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "احتفظ باللسان الجاري"
  ".tab-bar":
    "pane:reopen-closed-item": "أعد فتح اللسان المغلق"
  ".tree-view .full-menu":
    "tree-view:add-file": "ملف جديد"
    "tree-view:add-folder": "مجلد جديد"
    "tree-view:move": "أعد التسمية"
    "tree-view:duplicate": "ضاعف"
    "tree-view:remove": "احذف"
    "tree-view:copy": "انسخ"
    "tree-view:cut": "قص"
    "tree-view:paste": "ألصق"
#    "tree-view:open-selected-entry-up": "اقسم للأعلى"
#    "tree-view:open-selected-entry-down": "اقسم للأسفل"
#    "tree-view:open-selected-entry-left": "اقسم يسارا"
#    "tree-view:open-selected-entry-right": "اقسم يمينا"
    "application:add-project-folder": "أضف مجلد مشروع"
    "tree-view:copy-full-path": "انسخ كامل المسار"
    "tree-view:copy-project-path": "انسخ مسار المشروع"
    "tree-view:open-in-new-window": "افتح في نافذة جديدة"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "اقسم للأعلى"
    "tree-view:open-selected-entry-down": "اقسم للأسفل"
    "tree-view:open-selected-entry-left": "اقسم يسارا"
    "tree-view:open-selected-entry-right": "اقسم يمينا"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "ملف جديد"
    "tree-view:add-folder": "مجلد جديد"
    "tree-view:move": "أعد التسمية"
    "tree-view:duplicate": "ضاعف"
    "tree-view:remove": "احذف"
    "tree-view:copy": "انسخ"
    "tree-view:cut": "قص"
    "tree-view:paste": "ألصق"
#    "tree-view:open-selected-entry-up": "اقسم للأعلى"
#    "tree-view:open-selected-entry-down": "لقسم للأسفل"
#    "tree-view:open-selected-entry-left": "لقسم يسارا"
#    "tree-view:open-selected-entry-right": "لقسم يمينا"
    "application:add-project-folder": "إضافة مجلد مشروع"
    "tree-view:remove-project-folder": "حذف مجلد مشروع"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "انسخ كامل المسار"
    "tree-view:copy-project-path": "انسخ مسار المشروع"
    "tree-view:open-in-new-window": "افتح في نافذة جديدة"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "اعرض في الموجد"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "اعرض في المستكشف"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "اعرض في مدير الملفات"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "ابحث في الدليل"
  ".tree-view .multi-select":
    "tree-view:remove": "احذف"
    "tree-view:copy": "انسخ"
    "tree-view:cut": "قص"
    "tree-view:paste": "ألصق"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "اكشف في العرض الشجري"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "أعد التسمية"
    "tree-view:reveal-active-file": "اكشف في العرض الشجري"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "اعرض في الموجد"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "اعرض في المستكشف"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "اعرض في مدير الملفات"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "اعرض في الموجد"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "اعرض في المستكشف"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "اعرض في مدير الملفات"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "ابحث في الدليل"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
