About:
  tabTitle: "เกี่ยวกับ"
  releaseNotes: "บันทึกการปรับปรุง"
  newUpdate: "อัพเดตใหม่"
  upToDate: "Atom อัพเดตแล้ว!"
  checkingForUpdates: "กำลังตรวจสอบการอัพเดต..."
  checkUpdatesNow: "ตรวจสอบตอนนี"
  automaticDownloadUpdates: "ดาวน์โหลดส่วนอัพเดตอัตโนมัติ"
  restartInstall: "เริ่มใหม่และติดตั้ง"
  license: "การอนุญาต"
  termsOfUse: "ข้อตกลงการใช้งาน"
  with: " พร้อมกับ "
  by: " โดย "
  andTheAwesome: "และด้วยความสุดยอด "
  atomCommunity: "กลุ่มผู้ใช้ Atom"
