About:
  tabTitle: "Informazioni"
  releaseNotes: "Note di rilascio della versione"
  newUpdate: "Nuovo aggiornamento"
  upToDate: "Atom è aggiornato!"
  checkingForUpdates: "Verifica aggiornamenti..."
  checkUpdatesNow: "Verifica ora"
  automaticDownloadUpdates: "Scarica gli aggiornamenti in automatico"
  restartInstall: "Riavvia ed installa"
  license: "Licenza"
  termsOfUse: "Condizioni d'uso"
  with: " con "
  by: " da "
  andTheAwesome: "e la fantastica "
  atomCommunity: "comunità di Atom"
