About:
  tabTitle: "Info"
  releaseNotes: "Note di Rilascio della versione"
  newUpdate: "Nuovo Aggiornamento"
  upToDate: "Atom è aggiornato!"
  checkingForUpdates: "Verifica aggiornamenti..."
  checkUpdatesNow: "Verifica ora"
  automaticDownloadUpdates: "Scarica gli aggiornamenti in automatico"
  restartInstall: "Riavvia e installa"
  license: "Licenza"
  termsOfUse: "Condizioni di uso"
  with: " con "
  by: " da "
  andTheAwesome: "e il fantastico "
  atomCommunity: "La comunità di Atom"
