Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Informazioni su Atom"
      "View License":
        value: "Visiona la Licenza"
      "Check for Update":
        value: "Verifica aggiornamenti"
      "Preferences…":
        value: "Preferenze..."
      "Config…":
        value: "Configura..."
      "Init Script…":
        value: "Init Script..."
      "Keymap…":
        value: "Mappatura tasti..."
      "Snippets…":
        value: "Frammenti..."
      "Stylesheet…":
        value: "Fogli di stile..."
      "Install Shell Commands":
        value: "Installa i comandi da Shell"
      "Hide Atom":
        value: "Nascondi Atom"
      "Hide Others":
        value: "Nascondi gli altri"
      "Show All":
        value: "Mostra tutto"
      Quit:
        value: "Esci"
  File:
    value: "File"
    submenu:
      "New Window":
        value: "Nuova Finestra"
      "New File":
        value: "Nuovo File"
      "Open…":
        value: "Apri..."
      "Add Project Folder…":
        value: "Aggiungi una cartella di progetto..."
      "Reopen Project":
        value: "Riapri il progetto"
        submenu:
          "Clear Project History":
            value: "Svuota cronologia del progetto"
      "Reopen Last Item":
        value: "Riapri l'ultimo Item"
      Save:
        value: "Salva"
      "Save As…":
        value: "Salva con nome..."
      "Save All":
        value: "Salva tutti"
      "Close Tab":
        value: "Chiudi la scheda"
      "Close Pane":
        value: "Chiudi il pannello"
      "Close Window":
        value: "Chiudi la finestra"
      "Close All Tabs":
        value: "Chiudi tutte le schede"
  Edit:
    value: "Modifica"
    submenu:
      Undo:
        value: "Annulla"
      Redo:
        value: "Ripeti"
      Cut:
        value: "Taglia"
      Copy:
        value: "Copia"
      "Copy Path":
        value: "Copia percorso"
      Paste:
        value: "Incolla"
      "Select All":
        value: "Seleziona tutto"
      "Toggle Comments":
        value: "Attiva/Disattiva commenti"
      Lines:
        value: "Linee"
        submenu:
          Indent:
            value: "Aggiungi rientro"
          Outdent:
            value: "Togli rientro"
          "Auto Indent":
            value: "Aggiungi rientro automaticamente"
          "Move Line Up":
            value: "Sposta linea su"
          "Move Line Down":
            value: "Sposta linea giù"
          "Duplicate Lines":
            value: "Duplica linee"
          "Delete Line":
            value: "Elimina linea"
          "Join Lines":
            value: "Unisci linee"
      Columns:
        value: "Colonne"
        submenu:
          "Move Selection Left":
            value: "Sposta la selezione a sinistra"
          "Move Selection Right":
            value: "Sposta la selezione a destra"
      Text:
        value: "Testo"
        submenu:
          "Upper Case":
            value: "Maiuscola"
          "Lower Case":
            value: "Minuscola"
          "Delete to End of Word":
            value: "Cancella fino a fine parola"
          "Delete to Previous Word Boundary":
            value: "Cancella fino a inizio parola"
          "Delete to Next Word Boundary":
            value: "Cancella fino al prossimo confine di parola"
          "Delete Line":
            value: "Elimina linea"
          Transpose:
            value: "Trasponi"
      Folding:
        value: "Raggruppare"
        submenu:
          Fold:
            value: "Unisci Gruppo"
          Unfold:
            value: "Separa Gruppo"
          "Fold All":
            value: "Raggruppa tutto"
          "Unfold All":
            value: "Separa tutto"
          "Fold Level 1":
            value: "Unione Level 1"
          "Fold Level 2":
            value: "Unione Level 2"
          "Fold Level 3":
            value: "Unione Level 3"
          "Fold Level 4":
            value: "Unione Level 4"
          "Fold Level 5":
            value: "Unione Level 5"
          "Fold Level 6":
            value: "Unione Level 6"
          "Fold Level 7":
            value: "Unione Level 7"
          "Fold Level 8":
            value: "Unione Level 8"
          "Fold Level 9":
            value: "Unione Level 9"
      "Reflow Selection":
        value: "Ridisponi selezione"
      Bookmark:
        value: "Segnalibro"
        submenu:
          "View All":
            value: "Vedi tutto"
          "Toggle Bookmark":
            value: "Attiva/Disattiva Bookmark"
          "Jump to Next Bookmark":
            value: "Vai al prossimo Segnalibro"
          "Jump to Previous Bookmark":
            value: "Vai al Segnalibro precedente"
      "Select Encoding":
        value: "Seleziona Codifica"
      "Go to Line":
        value: "Vai alla linea"
      "Select Grammar":
        value: "Seleziona Grammatica"
  View:
    value: "Vista"
    submenu:
      "Toggle Full Screen":
        value: "Attiva/Disattiva Schermo Intero"
      Panes:
        value: "Pannelli"
        submenu:
          "Split Up":
            value: "Separa in alto"
          "Split Down":
            value: "Separa in basso"
          "Split Left":
            value: "Separa a sinistra"
          "Split Right":
            value: "Separa a destra"
          "Focus Next Pane":
            value: "Seleziona Pannello Successivo"
          "Focus Previous Pane":
            value: "Seleziona Pannello Precedente"
          "Focus Pane Above":
            value: "Seleziona Pannello Superiore"
          "Focus Pane Below":
            value: "Seleziona Pannello Inferiore"
          "Focus Pane On Left":
            value: "Seleziona Pannello sulla Sinistra"
          "Focus Pane On Right":
            value: "Seleziona Pannello sulla Destra"
          "Close Pane":
            value: "Chiudi pannello"
      Developer:
        value: "Sviluppatore"
        submenu:
          "Open In Dev Mode…":
            value: "Apri in Modalità Sviluppo..."
          "Reload Window":
            value: "Ricarica Finestra"
          "Run Package Specs":
            value: "Esegui le Specifiche dei Pacchetti"
          "Run Benchmarks":
            value: "Esegui i Test Prestazionali"
          "Toggle Developer Tools":
            value: "Attiva/Disattiva gli Strumenti di Sviluppo"
      "Increase Font Size":
        value: "Ingrandisci caratteri"
      "Decrease Font Size":
        value: "Riduci caratteri"
      "Reset Font Size":
        value: "Reimposta grandezza caratteri"
      "Toggle Soft Wrap":
        value: "Commuta Wrapping"
      "Toggle Command Palette":
        value: "Commuta Palette dei Comandi"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Commuta Visione ad Albero"
  Selection:
    value: "Selezione"
    submenu:
      "Add Selection Above":
        value: "Aggiungi Selezione Sopra"
      "Add Selection Below":
        value: "Aggiungi Selezione Sotto"
      "Single Selection":
        value: "Selezione Unica"
      "Split into Lines":
        value: "Suddividi in Linee"
      "Select to Top":
        value: "Seleziona fino all'Inizio'"
      "Select to Bottom":
        value: "Seleziona fino alla Fine"
      "Select Line":
        value: "Seleziona Linea"
      "Select Word":
        value: "Seleziona Parola"
      "Select to Beginning of Word":
        value: "Seleziona fino all'Inizio della Parola'"
      "Select to Beginning of Line":
        value: "Seleziona fino all'Inizio della Linea"
      "Select to First Character of Line":
        value: "Seleziona fino al Primo Carattere della Linea"
      "Select to End of Word":
        value: "Seleziona fino al Termine della Parola"
      "Select to End of Line":
        value: "Seleziona fino al Termine della Linea"
      "Select Inside Brackets":
        value: "Seleziona Contenuto Parentesi"
  Find:
    value: "Trova"
    submenu:
      "Find in Buffer":
        value: "Trova nel Buffer"
      "Replace in Buffer":
        value: "Sostituisci nel Buffer"
      "Select Next":
        value: "Seleziona il successivo"
      "Select All":
        value: "Seleziona tutto"
      "Toggle Find in Buffer":
        value: "Attiva/Disattiva Trova nel Buffer"
      "Find in Project":
        value: "Trova nel Progetto"
      "Toggle Find in Project":
        value: "Attiva/Disattiva Trova nel Progetto"
      "Find All":
        value: "Trova tutto"
      "Find Next":
        value: "Trova il successivo"
      "Find Previous":
        value: "Trova il precedente"
      "Replace Next":
        value: "Sostituisci il prossimo"
      "Replace All":
        value: "Sostituisci tutto"
      "Clear History":
        value: "Cancella cronologia"
      "Find Buffer":
        value: "Trova Buffer"
      "Find File":
        value: "Trova File"
      "Find Modified File":
        value: "Trova il File modificato"
  Packages:
    value: "Pacchetti"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Finestra"
    submenu:
      Minimize:
        value: "Riduci"
      Zoom:
        value: "Zoom"
      "Bring All to Front":
        value: "Porta tutto in primo piano"
  Help:
    value: "Aiuto"
    submenu:
      "Terms of Use":
        value: "Condizioni d'Uso"
      Documentation:
        value: "Documentazione"
      Roadmap:
        value: "Piano di Sviluppo"
      "Frequently Asked Questions":
        value: "Domande Frequenti (FAQ)"
      "Community Discussions":
        value: "Discussioni della Community"
      "Report Issue":
        value: "Segnala un problema"
      "Search Issues":
        value: "Cerca un problema"
      "Welcome Guide":
        value: "Guida di Benvenuto"
