Settings:
  "tab-title": "Impostazioni"
  menu: [
    {
      _label: "Core"
      value: "Base"
    }
    {
      _label: "Editor"
      value: "Editor"
    }
    {
      _label: "System"
      value: "Sistema"
    }
    {
      _label: "Keybindings"
      value: "Mappa Tasti"
    }
    {
      _label: "Packages"
      value: "Pacchetti"
    }
    {
      _label: "Themes"
      value: "Temi"
    }
    {
      _label: "Updates"
      value: "Aggiornamenti"
    }
    {
      _label: "Install"
      value: "Installa"
    }
  ]
  "btn-open-config-folder": "Apri Directory di Configurazione"
  sectionHeadings: [
    {_label: "Core Settings", value: "Impostazioni di Base"}
    {_label: "Editor Settings", value: "Impostazioni dell'Editor"}
    {_label: "System Settings", value: "Impostazioni di Sistema"}
    {_label: "Keybindings", value: "Mappa Tasti"}
    {_label: "Installed Packages", value: "Pacchetti installati"}
    {_label: "Choose a Theme", value: "Scegli un tema"}
    {_label: "Installed Themes", value: "Temi Installati"}
    {_label: "Install Packages", value: "Installa pacchetti"}
    {_label: "Featured Packages", value: "Pacchetti Disponibili"}
    {_label: "Install Themes", value: "Installa Temi"}
    {_label: "Featured Themes", value: "Temi Disponibili"}
    {_label: "Available Updates", value: "Aggiornamenti disponibili"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Invisibile"}
    {_label: "Community Packages", value: "Pacchetti della Community"}
    {_label: "Core Packages", value: "Pacchetti di Base"}
    {_label: "Development Packages", value: "Pacchetti di sviluppo"}
    {_label: "Git Packages", value: "Pacchetti Git"}
    {_label: "Community Themes", value: "Temi della Comunità"}
    {_label: "Core Themes", value: "Temi di Base"}
    {_label: "Development Themes", value: "Temi di Sviluppo"}
    {_label: "Git Themes", value: "Temi Git"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'Queste sono le impostazioni di Base di Atom che influenzano il comportamento
               non relativo alla modifica del testo. I pacchetti individuali possono avere 
               le proprie impostazioni addizionali, che puoi modificare tramite la loro schedina
               nella <a class="link packages-open">Lista dei Pacchetti</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'Queste impostazioni riguardano la modifica del testo. Alcune di queste
               possono essere sovrascritte in base al linguaggio. Controlla le
               impostazioni della lingua cliccando sulla schedina del pacchetto linguistico nella
               <a class="link packages-open">Lista dei Pacchetti</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Consenti Anteprima degli Oggetti dei Pannelli"
        desc: "Consenti agli oggetti di essere visionati senza dover essere aggiunti
               permanentemente ad un pannello, come accade per i file della visualizzazione ad albero (es. singolo click)."
      }
      {
        _id: 'core.audioBeep'
        title: "Beep Sonoro"
        desc: "Emetti un suono di sistema quando certe azioni falliscono o sono infruttuose."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Aggiorna automaticamente"
        desc: "Aggiorna Atom automaticamente quando un nuovo rilascio risulta disponibile."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Nascondi Automaticamente la Barra dei Menu"
        desc: "Nascondi in automatico la barra dei menu e commutala premendo il tasto 'Alt'. Funzionalità esclusiva di Windows e Linux."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Chiudi Schede dei File Eliminati"
        desc: "Chiudi gli editor corrispondenti quando un file viene cancellato da fuori Atom."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Chiudi le finestre vuote"
        desc: "Quando il comando 'Chiudi scheda' è attivato per una finestra senza schede o pannelli aperti, viene chiusa la finestra stessa."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Distruggi i Pannelli Vuoti"
        desc: "Quando l'ultima scheda di un pannello viene chiusa, rimuovi anche il pannello stesso."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Escludi i Percorsi Ignorati dal VCS"
        desc: "File e directory ignorati dal VCS saranno ignorati anche da alcuni pacchetti, come il 'fuzzy finder' e 'cerca e sostituisci'. Ad esempio, i progetti che usano Git usano i percorsi del file '.gitignore'. I pacchetti individuali possono avere configurazioni proprie addizionali per ignorare i percorsi di VCS."
      }
      {
        _id: 'core.fileEncoding'
        title: "Codifica dei File"
        desc: "Codifica di default per la lettura/scrittura dei file."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "Osservatore del File System"
        desc: "Scegli l'implementazione usata sotto il cofano per monitorare i cambiamenti dei file. L'emulazione ignora i cambiamenti effettuati all'esterno di Atom, ma può prevenire crash e blocchi."
        select:
          native: "APIs native del Sistema Operativo"
          atom: "Emulazione con Eventi Atom"
      }
      {
        _id: 'core.followSymlinks'
        title: "Segui Collegamenti Simbolici"
        desc: "Segui i collegamenti simbolici durante l'accesso ai files e quando si aprono i file con il fuzzy finder."
      }
      {
        _id: 'core.ignoredNames'
        title: "Nomi Ignorati"
        desc: "Lista dei <code>glob patterns</code>. File e cartelle che corrispondono a questi modelli saranno ignorati da alcuni pacchetti, come il 'fuzzy finder' e la visuale ad albero. I pacchetti individuali potrebbero avere ulteriori settaggi per ignorare i nomi."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Apri un Editor Vuoto all'Avvio"
        desc: "Apri automaticamente un nuovo editor senza testo all'avvio."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Pacchetti Con Mappe Caratteri Disabilitate"
      }
      {
        _id: 'core.projectHome'
        title: "Home dei Progetti"
        desc: "La directory in cui si presume che i progetti si trovino. I pacchetti creati utilizzando il generatore di pacchetti verranno archiviati per impostazione predefinita."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Dimensione del Menu Riapri Progetti"
        desc: "Numero di progetti recenti da visualizzare nel menu Riapri progetto."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Restore Previous Windows On Start"
        desc: "Quando selezionato, ripristina l'ultimo stato di tutte le finestre di Atom se avviato dall'icona o con il solo <code>atom</code> dalla linea di comando; in caso contrario viene caricato l'ambiente vuoto."
        select:
          no: "no"
          yes: "si"
          always: "sempre"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Invia la Telemetria al Team di Atom"
        desc: "Consenti alle statistiche d'uso e alle segnalazioni di errore di pervenire al team di Atom al fine di migliorare il prodotto."
        select:
          limited: "Consenti statistiche d'uso anonime e limitate, e riferisci eccezioni e crash"
          no: "Non inviare nessun dato telemetrico"
          undecided: "Non deciso (Atom chiederà ancora al prossimo avvio)"
      }
      {
        _id: 'core.titleBar'
        title: "Barra del Titolo"
        desc: "Sperimentale: Una barra del titolo <code>personalizzata</code> si adatta ai colori del tema. Scegliendo <code>personalizzata-rientrata</code> si aggiunge un po più di spazio interno. La barra del titolo può anche essere <code>celata</code> completamente.<br>Nota: Passare ad una barra personalizzata o celata comprometterà alcune funzionalità.<br>Questa impostazione richiederà un riavvio di Atom per avere effetto."
        select:
          native: "nativa"
          custom: "personalizzata"
          "custom-inset": "personalizzata-rientrata"
          hidden: "celata"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Usa le Impostazioni del Proxy all'Invocazione di APM"
        desc: "Quando viene chiamato lo strumento a linea di comando <code>apm</code>, usa le impostazioni rilevate per il proxy."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Pacchetti con Versione Bloccata"
        desc: "Lista dei nomi dei pacchetti installati che non saranno aggiornati automaticamente."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Usa la Barra del Titolo Personalizzata"
        desc: "Usa una barra del titolo personalizzata in base al tema.<br>Nota: Questa non comprende ancora l'icona del proxy.<br>Questa impostazione avrà effetto dopo il riavvio di Atom."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Avvisa Al Limite dei File Grandi"
        desc: "Avvisa prima di aprire file più pesanti di questa quantità di Mb."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Tabulazioni Software Atomiche"
        desc: "Salta le serie di spazi equivalenti ad una tabulazione durante lo scorrimento."
      }
      {
        _id: 'editor.autoIndent'
        title: "Indentazione Automatica"
        desc: "Fai rientrare automaticamente il cursore durante la modifica."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Indentazione Automatica Dopo il Copy-Paste"
        desc: "Indenta automaticamente il testo incollato basandoti sul rientro della linea precedente."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Backup Prima di Salvare"
        desc: "(non è una cattiva idea)"
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Conferma Revisione al Checkout dell'HEAD"
        desc: "Mostra un dialogo di conferma quando si fa il checkout dalla revisione dell'HEAD e si stanno per scartare le modifiche dell'ultimo commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Famiglia dei Caratteri"
        desc: "Il nome della famiglia di caratteri usata dal testo dell'editor."
      }
      {
        _id: 'editor.fontSize'
        title: "Grandezza dei Caratteri"
        desc: "Altezza in pixel del testo dell'editor."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Cr Invisibili"
        desc: "Carattere usato per mostrare i caratteri di ritorno a capo
               (ritorno stile Microsoft) quando <code>Mostra
               Invisibili</code> è abilitata."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Eol Invisibili"
        desc: "Caratteri usati per mostrare i caratteri di nuova linea (\n) quando
               <code>Mostra Invisibili</code> è abilitata."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Spazi Invisibili"
        desc: "Caratteri usati per mostrare i caratteri di spazio iniziale e finale
               quando <code>Mostra Invisibili</code> è abilitato."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Tabulazioni Invisibili"
        desc: "Caratteri usati per mostrare i caratteri di tabulazione forzata (\t) quando
               <code>Mostra Invisibili</code> è abilitata."
      }
      {
        _id: 'editor.lineHeight'
        title: "Altezza Linea"
        desc: "Altezza delle linee dell'editor, come moltiplicatore della grandezza dei caratteri."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Altezza Massima della Linea dello Schermo"
        desc: "Definisce la larghezza massima della finestra dell'editor prima che il wrapping software venga imposto, e si esprime come numero di caratteri."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Caratteri Non Lessicali"
        desc: "Una stringa di caratteri che non fanno parte di nessuna parola, per definire i limiti delle parole stesse."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Lunghezza Preferita della Linea"
        desc: "Identifica la lunghezza di una linea che viene utilizzata quando si fa il wrapping del testo
			   con l'impostazione <code>Wrapping Software Alla Lunghezza Linea Preferita</code>
               attiva, in numero di caratteri."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Scrolla Oltre la Fine"
        desc: "Consenti all'editor di venire scrollato oltre la fine del documento."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Sensibilità dello Scrolling"
        desc: "Determina quanto viene scrollato velocemente l'editor quando si usa un mouse o un trackpad."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Mostra Cursore Sulla Selezione"
        desc: "Mostra il cursore quando ci si trova in una selezione."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Mostra Guida Indentazione"
        desc: "Mostra indicatori del rientro nell'editor."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Mostra Invisibili"
        desc: "Mostra dei segnaposto per i caratteri invisibili, come tabulazioni,
               spazi e caratteri di nuova linea (a capo)."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Mostra Numeri di Linea"
        desc: "Mostra i numeri di linea al bordo dell'editor."
      }
      {
        _id: 'editor.softTabs'
        title: "Tabulazioni Software"
        desc: "Se il <code>Tipo di Tabulazione</code> è impostato su \"auto\"
               è il rilevamento del tipo di tabulazione del contenuto fallisce, allora
               questa impostazione determina quando viene usata la tabulazione software o quella rigida
               alla pressione del tasto Tab."
      }
      {
        _id: 'editor.softWrap'
        title: "Wrapping Software"
        desc: "Manda a capo le linee che eccedono la dimensione della finestra. Quando
               <code>Wrapping Software Alla Lunghezza Linea Preferita</code> è impostato,
               andrà a capo secondo l'impostazione <code>Lunghezza Linea Preferita</code>."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Wrapping Software Alla Lunghezza Linea Preferita"
        desc: "Invece di andare a capo alla larghezza delle finestra, va a capo
               al numero di caratteri definito dall'impostazione <code>Lunghezza Linea Preferita</code>.
               Questo avrà effetto solo se il wrapping software è attivo globalmente o per il linguaggio attuale.
               <strong>Nota:</strong> Se vuoi nascondere la guida per il wrapping (la linea verticale) puoi
               disattivare il pacchetto <code>wrap-guide</code>."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Fai il Wrapping Software dell'Indentazione Pendente"
        desc: "Quando il wrapping software è attivo, definisce la lunghezza
               del rientro applicato alle linee ripiegate, in numero di caratteri."
      }
      {
        _id: 'editor.tabLength'
        title: "Lunghezza Tabulazione"
        desc: "Numero di spazi che rappresenta una tabulazione."
      }
      {
        _id: 'editor.tabType'
        title: "Tipo di Tabulazione"
        desc: "Determina il carattere inserito quando il tasto Tab viene premuto. Possibili
               valori: \"auto\", \"soft\" e \"hard\". Quando impostato su \"soft\" o su 
               \"hard\", vengono utilizzate tabulazioni software (spazi) o tabulazioni rigide (caratteri di tabulazione).
               Quando impostato su \"auto\", l'editor deduce automaticamente il tipo di tabulazione
               basandosi sul contenuto della memoria temporanea (usa il primo spazio bianco iniziale
               rispetto ad una linea che non è un commento), o usa il valore dell'impostazione
               Tabulazione Software se il rilevamento fallisce."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Intervallo di Raggruppamento degli Annullamenti"
        desc: "Invervallo di tempo in millisecondi nel quale le operazioni di annullamento
        vengono raggruppate assieme nella cronologia."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Ingrandisci il Testo allo Scrolling con Ctrl pressato"
        desc: "Cambia la dimensione del testo quando si preme il tasto Ctrl e
               si scrolla verso sopra/sotto."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Registra come gestore di file"
        desc: "Mostra Atom nella lista di applicazioni \"Apri con\" per facilitare l'associazione con i tipi di file."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Mostra nel menu contestuale dei file"
        desc: "Aggiungi \"Apri con Atom\" al menu contestuale dei file di File Explorer."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Mostra nel menu contestuale delle cartelle"
        desc: "Aggiungi \"Apri con Atom\" al menu contestuale delle cartelle di File Explorer."
      }
    ]
  }
  system: {
    notes: "Queste impostazioni determinano il modo in cui Atom interagisce con il tuo sistema operativo."
  }
  keymaps: {
    notes: {
      text1: "Puoi sovrascrivere queste associazioni copiandole "
      text2: "ed incollandole nel tuo "
      text3: "file delle Associazioni"
      text4: "."   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Ricerca tasti associati"
    "table-header-keystroke": "Tasto"
    "table-header-command": "Comando associato"
    "table-header-source": "Fonte"
    "table-header-selector": "Selettore"
  }
  packages: {
    searchBarText: 'Filtra i pacchetti per nome'
  }
  themes: {
    notes: {
      text1: "Puoi anche personalizzare Atom editando "
      text2: "il tuo Foglio di Stile"
      text3: "."   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Tema della GUI"
    description1: "Questo personalizza schede, barre di stato, visuali ad albero e menu a discesa"
    title2: "Tema sintattico"
    description2: "Questo personalizza il testo all'interno dell'editor"
    searchBarText: 'Filtra i temi per nome'
  }
  updates: {
    "check-updates": "Controlla Aggiornamenti"
    "update-all": "Aggiorna Tutto"
    "checking-updates": "Ricerca degli Aggiornamenti..."
    "all-updated-message": "Tutti i pacchetti installati risultano aggiornati!"
  }
  install: {
    notes: {
      text1: "I pacchetti vengono pubblicati presso "
      text2: " e sono installati all'interno di '"
      text3: "'."   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Cerca i pacchetti"
    "btn-packages": "Pacchetti"
    "btn-themes": "Temi"
  }
  "control-btns":{
    install: "Installa"
    update: "Aggiorna a"
    setting: "Impostazioni"
    uninstall: "Disinstalla"
    disable: "Disattiva"
    enable: "Attiva"
  }
