About:
  tabTitle: "Despre"
  releaseNotes: "Note de lansare"
  newUpdate: "Actualizare nouă"
  upToDate: "Atom este actualizat!"
  checkingForUpdates: "Se caută actualizări..."
  checkUpdatesNow: "Verifică acum"
  automaticDownloadUpdates: "Descarcă actualizări automat"
  restartInstall: "Repornește și instalează"
  license: "Licență"
  termsOfUse: "Termeni de utilizare"
  with: " cu "
  by: " de "
  andTheAwesome: "Și uimitoarea "
  atomCommunity: "Comunitate Atom"
