About:
  tabTitle: "關於"
  releaseNotes: "發行公告"
  newUpdate: "新版本"
  upToDate: "您的 Atom 是最新版本！"
  checkingForUpdates: "檢查更新中..."
  checkUpdatesNow: "檢查更新"
  automaticDownloadUpdates: "自動下載更新"
  restartInstall: "重新啟動 Atom 並安裝更新"
  license: "授權"
  termsOfUse: "使用條款"
  with: " 帶著 "
  by:" 來自於 "
  andTheAwesome: "以及優秀的 "
  atomCommunity: "Atom 社群"
