Context:
  "atom-workspace":
    "application:inspect": "檢視元素"
  "atom-text-editor":
    "color-picker:open": "色彩選取工具"
    "minimap:toggle": "Minimap"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "復原"
    "core:redo": "重做"
    "core:cut": "剪下"
    "core:copy": "複製"
    "core:paste": "貼上"
    "core:delete": "刪除"
    "core:select-all": "全選"
    "pane:split-up-and-copy-active-item": "向上分割窗格 ↑"
    "pane:split-down-and-copy-active-item": "向下分割窗格 ↓"
    "pane:split-left-and-copy-active-item": "向左分割窗格 ←"
    "pane:split-right-and-copy-active-item": "向右分割窗格 →"
    "pane:close": "關閉窗格"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "向上分割窗格 ↑"
    "pane:split-down-and-copy-active-item": "向下分割窗格 ↓"
    "pane:split-left-and-copy-active-item": "向左分割窗格 ←"
    "pane:split-right-and-copy-active-item": "向右分割窗格 →"
    "pane:close": "關閉窗格"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "切換編碼"
    "spell-check:correct-misspelling": "拼字校正"
    "symbols-view:go-to-declaration": "移動至宣告"
  ".overlayer":
    "grammar-selector:show": "切換語法"
  ".image-view":
    "image-view:reload": "重新載入圖片"
  ".tab":
    "tabs:close-tab": "關閉分頁"
    "tabs:close-other-tabs": "關閉其他分頁"
    "tabs:close-tabs-to-right": "關閉右側分頁"
    "tabs:close-tabs-to-left": "關閉左側分頁"
    "tabs:close-saved-tabs": "關閉已存檔分頁"
    "tabs:close-all-tabs": "關閉全部分頁"
    "tabs:split-up": "向上分割窗格 ↑"
    "tabs:split-down": "向下分割窗格 ↓"
    "tabs:split-left": "向左分割窗格 ←"
    "tabs:split-right": "向右分割窗格 →"
  ".tab.texteditor":
    "tabs:open-in-new-window": "在新視窗開啟"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "保留預覽分頁"
  ".tab-bar":
    "pane:reopen-closed-item": "重新開啟關閉分頁"
  ".tree-view .full-menu":
    "tree-view:add-file": "新增檔案"
    "tree-view:add-folder": "新增資料夾"
    "tree-view:move": "移動/重新命名"
    "tree-view:duplicate": "建立副本"
    "tree-view:remove": "刪除"
    "tree-view:copy": "複製"
    "tree-view:cut": "剪下"
    "tree-view:paste": "貼上"
#    "tree-view:open-selected-entry-up": "向上分割窗格並開啟 ↑"
#    "tree-view:open-selected-entry-down": "向下分割窗格並開啟 ↓"
#    "tree-view:open-selected-entry-left": "向左分割窗格並開啟 ←"
#    "tree-view:open-selected-entry-right": "向右分割窗格並開啟 →"
    "application:add-project-folder": "新增專案資料夾"
    "tree-view:copy-full-path": "複製完整路徑"
    "tree-view:copy-project-path": "複製專案資料夾路徑"
    "tree-view:open-in-new-window": "於新視窗開啟"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "向上分割窗格並開啟 ↑"
    "tree-view:open-selected-entry-down": "向下分割窗格並開啟 ↓"
    "tree-view:open-selected-entry-left": "向左分割窗格並開啟 ←"
    "tree-view:open-selected-entry-right": "向右分割窗格並開啟 →"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "新增檔案"
    "tree-view:add-folder": "新增資料夾"
    "tree-view:move": "移動/重新命名"
    "tree-view:duplicate": "建立副本"
    "tree-view:remove": "刪除"
    "tree-view:copy": "複製"
    "tree-view:cut": "剪下"
    "tree-view:paste": "貼上"
#    "tree-view:open-selected-entry-up": "向上分割窗格並開啟 ↑"
#    "tree-view:open-selected-entry-down": "向下分割窗格並開啟 ↓"
#    "tree-view:open-selected-entry-left": "向左分割窗格並開啟 ←"
#    "tree-view:open-selected-entry-right": "向右分割窗格並開啟 →"
    "application:add-project-folder": "新增專案資料夾"
    "tree-view:remove-project-folder": "移除專案資料夾"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "複製完整路徑"
    "tree-view:copy-project-path": "複製專案路徑"
    "tree-view:open-in-new-window": "於新視窗中開啟"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在 Finder 中顯示"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在檔案總管中顯示"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "在檔案總管中顯示"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "在資料夾中尋找"
  ".tree-view .multi-select":
    "tree-view:remove": "刪除"
    "tree-view:copy": "複製"
    "tree-view:cut": "剪下"
    "tree-view:paste": "貼上"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "在 Tree View 中顯示"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "重新命名"
    "tree-view:reveal-active-file": "在 Tree View 中顯示"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在 Finder 中顯示"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在檔案總管中顯示"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "在檔案總管中顯示"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在 Finder 中顯示"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在檔案總管中顯示"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "在檔案總管中顯示"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "在資料夾中尋找"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
