Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "關於 Atom"
      "View License":
        value: "檢視授權"
      "Check for Update":
        value: "檢查更新"
      "Preferences…":
        value: "偏好設定..."
      "Config…":
        value: "設定檔..."
      "Init Script…":
        value: "開啟初始指令..."
      "Keymap…":
        value: "開啟快捷鍵設定..."
      "Snippets…":
        value: "開啟程式碼片段..."
      "Stylesheet…":
        value: "開啟 Atom 樣式表..."
      "Install Shell Commands":
        value: "安裝 Shell 命令列工具"
      "Hide Atom":
        value: "隱藏 Atom 視窗"
      "Hide Others":
        value: "隱藏其他視窗"
      "Show All":
        value: "顯示全部視窗"
      Quit:
        value: "結束 Atom"
  File:
    value: "檔案"
    submenu:
      "New Window":
        value: "開新視窗"
      "New File":
        value: "新增檔案"
      "Open…":
        value: "開啟..."
      "Add Project Folder…":
        value: "新增專案資料夾..."
      "Reopen Project":
        value: "重新開啟專案"
        submenu:
          "Clear Project History":
            value: "清除專案歷史紀錄"
      "Reopen Last Item":
        value: "重新開啟關閉的檔案"
      Save:
        value: "儲存"
      "Save As…":
        value: "另存新檔..."
      "Save All":
        value: "儲存所有檔案"
      "Close Tab":
        value: "關閉分頁"
      "Close Pane":
        value: "關閉窗格"
      "Close Window":
        value: "關閉視窗"
      "Close All Tabs":
        value: "關閉所有分頁"
  Edit:
    value: "編輯"
    submenu:
      Undo:
        value: "復原"
      Redo:
        value: "重作"
      Cut:
        value: "剪下"
      Copy:
        value: "複製"
      "Copy Path":
        value: "複製路徑"
      Paste:
        value: "貼上"
      "Select All":
        value: "全選"
      "Toggle Comments":
        value: "註解/取消註解"
      Lines:
        value: "行"
        submenu:
          Indent:
            value: "增加縮排"
          Outdent:
            value: "減少縮排"
          "Auto Indent":
            value: "自動縮排"
          "Move Line Up":
            value: "將此行向上移動"
          "Move Line Down":
            value: "將此行向下移動"
          "Duplicate Lines":
            value: "複製"
          "Delete Line":
            value: "刪除"
          "Join Lines":
            value: "多行合併"
      Columns:
        value: "欄"
        submenu:
          "Move Selection Left":
            value: "將選取範圍向左移"
          "Move Selection Right":
            value: "將選取範圍向右移"
      Text:
        value: "文字"
        submenu:
          "Upper Case":
            value: "轉為大寫"
          "Lower Case":
            value: "轉為小寫"
          "Delete to End of Word":
            value: "刪除至下一個詞尾"
          "Delete to Previous Word Boundary":
            value: "刪除至上一個詞語邊界"
          "Delete to Next Word Boundary":
            value: "刪除至下一個詞語邊界"
          "Delete Line":
            value: "刪除行"
          Transpose:
            value: "顛倒"
      Folding:
        value: "折疊程式碼"
        submenu:
          Fold:
            value: "折疊"
          Unfold:
            value: "展開"
          "Fold All":
            value: "折疊全部"
          "Unfold All":
            value: "展開全部"
          "Fold Level 1":
            value: "折疊至第 1 層縮排"
          "Fold Level 2":
            value: "折疊至第 2 層縮排"
          "Fold Level 3":
            value: "折疊至第 3 層縮排"
          "Fold Level 4":
            value: "折疊至第 4 層縮排"
          "Fold Level 5":
            value: "折疊至第 5 層縮排"
          "Fold Level 6":
            value: "折疊至第 6 層縮排"
          "Fold Level 7":
            value: "折疊至第 7 層縮排"
          "Fold Level 8":
            value: "折疊至第 8 層縮排"
          "Fold Level 9":
            value: "折疊至第 9 層縮排"
      "Reflow Selection":
        value: "重新編排選取區域"
      Bookmark:
        value: "書籤"
        submenu:
          "View All":
            value: "檢視所有書籤"
          "Toggle Bookmark":
            value: "切換書籤"
          "Jump to Next Bookmark":
            value: "移至下一個書籤"
          "Jump to Previous Bookmark":
            value: "移至上一個書籤"
      "Select Encoding":
        value: "選擇編碼"
      "Go to Line":
        value: "移動至指定行數"
      "Select Grammar":
        value: "切換語法"
  View:
    value: "檢視"
    submenu:
      "Toggle Full Screen":
        value: "切換全螢幕"
      Panes:
        value: "窗格"
        submenu:
          "Split Up":
            value: "向上分割 ↑"
          "Split Down":
            value: "向下分割 ↓"
          "Split Left":
            value: "向左分割 ←"
          "Split Right":
            value: "向右分割 →"
          "Focus Next Pane":
            value: "移至下一個窗格"
          "Focus Previous Pane":
            value: "移至上一個窗格"
          "Focus Pane Above":
            value: "移至上方窗格 ↑"
          "Focus Pane Below":
            value: "移至下方窗格 ↓"
          "Focus Pane On Left":
            value: "移至左方窗格 ←"
          "Focus Pane On Right":
            value: "移至右方窗格 →"
          "Close Pane":
            value: "關閉窗格"
      Developer:
        value: "開發人員"
        submenu:
          "Open In Dev Mode…":
            value: "在開發人員模式中開啟..."
          "Reload Window":
            value: "重新載入視窗"
          "Run Package Specs":
            value: "執行擴充套件規格測試"
          "Run Benchmarks":
            value: "執行性能測試"
          "Toggle Developer Tools":
            value: "開發人員工具"
      "Increase Font Size":
        value: "放大字型"
      "Decrease Font Size":
        value: "縮小字型"
      "Reset Font Size":
        value: "重設字型大小"
      "Toggle Soft Wrap":
        value: "自動換行"
      "Toggle Command Palette":
        value: "切換指令面板"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "切換 Tree View"
  Selection:
    value: "選取區域"
    submenu:
      "Add Selection Above":
        value: "向上新增游標 ↑"
      "Add Selection Below":
        value: "向下新增游標 ↓"
      "Single Selection":
        value: "單一游標"
      "Split into Lines":
        value: "建立多個游標"
      "Select to Top":
        value: "選取至文件頂端"
      "Select to Bottom":
        value: "選取至文件底端"
      "Select Line":
        value: "選取行"
      "Select Word":
        value: "選取詞"
      "Select to Beginning of Word":
        value: "選取至詞首"
      "Select to Beginning of Line":
        value: "選取至行首"
      "Select to First Character of Line":
        value: "選取至行內第一個字元"
      "Select to End of Word":
        value: "選取至詞尾"
      "Select to End of Line":
        value: "選取至行尾"
      "Select Inside Brackets":
        value: "選取括號內容"
  Find:
    value: "尋找"
    submenu:
      "Find in Buffer":
        value: "在文件中尋找"
      "Replace in Buffer":
        value: "在文件中取代"
      "Select Next":
        value: "選擇下一個項目"
      "Select All":
        value: "選擇所有項目"
      "Toggle Find in Buffer":
        value: "切換文件中尋找面板"
      "Find in Project":
        value: "在專案資料夾中尋找"
      "Toggle Find in Project":
        value: "切換專案資料夾中尋找面板"
      "Find All":
        value: "尋找所有項目"
      "Find Next":
        value: "尋找下一個項目"
      "Find Previous":
        value: "尋找上一個項目"
      "Replace Next":
        value: "取代下一個項目"
      "Replace All":
        value: "全部取代"
      "Clear History":
        value: "清除歷史記錄"
      "Find Buffer":
        value: "尋找編輯中文件"
      "Find File":
        value: "尋找檔案"
      "Find Modified File":
        value: "尋找修改過的檔案"
  Packages:
    value: "擴充套件"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "視窗"
    submenu:
      Minimize:
        value: "最小化"
      Zoom:
        value: "縮放"
      "Bring All to Front":
        value: "全部移至最上層"
  Help:
    value: "說明"
    submenu:
      "Terms of Use":
        value: "使用條款"
      Documentation:
        value: "說明文件"
      Roadmap:
        value: "發展藍圖"
      "Frequently Asked Questions":
        value: "常見問題"
      "Community Discussions":
        value: "社群討論區"
      "Report Issue":
        value: "回報問題"
      "Search Issues":
        value: "搜尋問題"
      "Welcome Guide":
        value: "歡迎畫面與指南"
