About:
  tabTitle: "אודות"
  releaseNotes: "RealA10N תורגם לעברית על ידי"
  newUpdate: "עדכון חדש"
  upToDate: "אטום מעודכן!"
  checkingForUpdates: "סורק עבור עדכונים..."
  checkUpdatesNow: "סרוק עכשיו"
  automaticDownloadUpdates: "הורד עדכונים אוטומטית"
  restartInstall: "התקן והפעל מחדש"
  license: "רישיון"
  termsOfUse: "תנאי שימוש"
  with: " עם "
  by: " על ידי "
  andTheAwesome: "והקהילה המדהימה "
  atomCommunity: "של אטום"
