Settings:
  "tab-title": "הגדרות"
  menu: [
    {
      _label: "Core"
      value: "בסיסי"
    }
    {
      _label: "Editor"
      value: "עורך"
    }
    {
      _label: "System"
      value: "מערכת"
    }
    {
      _label: "Keybindings"
      value: "קיצורי מקלדת"
    }
    {
      _label: "Packages"
      value: "חבילות"
    }
    {
      _label: "Themes"
      value: "ערכות נושא"
    }
    {
      _label: "Updates"
      value: "עדכונים"
    }
    {
      _label: "Install"
      value: "התקן"
    }
  ]
  "btn-open-config-folder": "Open Config Folder"
  sectionHeadings: [
    {_label: "Core Settings", value: "הגדרות בסיסיות"}
    {_label: "Editor Settings", value: "הגדרות עורך"}
    {_label: "System Settings", value: "הגדרות מערכת"}
    {_label: "Keybindings", value: "קיצורי מקלדת"}
    {_label: "Installed Packages", value: "חבילות מותקנות"}
    {_label: "Choose a Theme", value: "בחר ערכת נושא"}
    {_label: "Installed Themes", value: "ערכות נושא מותקנות"}
    {_label: "Install Packages", value: "התקן חבילות"}
    {_label: "Featured Packages", value: "חבילות מומלצות"}
    {_label: "Install Themes", value: "התקן ערכות נושא"}
    {_label: "Featured Themes", value: "ערכות נושא מומלצות"}
    {_label: "Available Updates", value: "עדכונים זמינים"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "בלתי נראה"}
    {_label: "Community Packages", value: "חבילות מהקהילה"}
    {_label: "Core Packages", value: "חבילות בסיסיות"}
    {_label: "Development Packages", value: "חבילות פיתוח"}
    {_label: "Git Packages", value: "git חבילות"}
    {_label: "Community Themes", value: "ערכות נושא מהקהילה"}
    {_label: "Core Themes", value: "ערכות נושא בסיסיות"}
    {_label: "Development Themes", value: "ערכות נושא פיתוח"}
    {_label: "Git Themes", value: "gitערכות נושא מ"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'אלה הן הגדרות הליבה של אטום אשר משפיעות על כל מה שלא קשור לעריכת טקסט.
               לחלק מהחבילות המותקנות עשויות להיות הגדרות נוספות,
               כאשר אותן תוכלו למצוא בכרטיס של כל חבילה
               ב<a class="link packages-open">עמוד החבילות</a>'
      }
      {
        _id: 'editor-settings-note'
        html: 'הגדרות אלו קשורות לעורך הטקסט. חלק מהן נדרסות
               ומשתנות משפה לשפה. ניתן לבדוק הגדרות לכל שפה על
               ידי לחיצה על שם השפה ב<a class="link packages-open">עמוד החבילות</a>'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "אפשר תצוגה מקדימה של פריטים"
        desc: "אפשר תצוגה מקדימה של פריטים ללא פתיחה שלהם באופןישיר,
               כגון בעת לחיצה על קבצים בודדים בתצוגת העץ"
      }
      {
        _id: 'core.audioBeep'
        title: "צפצוף אודיו"
        desc: "נגן את צליל הצפצוף של המערכת כאשר פעולות מסויימות אינן יכולות
               להתבצע"
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "עדכן באופן אוטומטי"
        desc: "עדכן את אטום באופן אוטומטי כאשר ישנה גרסא חדשה זמינה"
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "הסתר את סרגל התפריט באופן אוטומטי"
        desc: " אפשרות זאת נתמכת במערכות ההפעלה 'ווינדוס' ו'לינוקס' בלבד.
               הסתר את סרגל התפריט באופן אוטומטי, והצג או הסתר אותו על ידי
               הקשה על Alt"
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "סגור כרטסיות של קבצים שנמחקו"
        desc: "סגור כרטיסיות של קבצים שנמחקו מחוץ לאטום"
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "סגור חלונות ריקים"
        desc: "כאשר חלון ללא כרטיסיות או פאנלים מקבל את הפקודה לסגירת כרטיסייה,
               סגור את החלון"
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "השמד פאנלים ריקים"
        desc: "כאשר הכרטיסייה האחרונה בפאנל מסויים נסגרת, השמד את הפאנל"
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "שמוגדרים להתעלם VCS אל תכלול נתיבי"
        desc: "קבצים ותיקיות המוגדרות ככאלו שניתן להתעלם מהן על ידי תוכנת
        בקרת הגרסאות של הפרוייקט, יהיו בלתי נראות לחלק מהחבילות שלך.
        לדוגמא, קבצים המוגדרים ככאלו שניתן להתעלם מהם ב'גיט' יהיו בלתי נראים
        לחלק גדול מהחבילות שלך. חלק מהחבילות יכולות לדרוס הגדרה זו
        על ידי הגדרה דומה לזו בדף ההגדרות של החבילה"
      }
      {
        _id: 'core.fileEncoding'
        title: "קידוד קובץ"
        desc: "סט ברירת מחדל של סימנים ואותיות אשר ישומש כדי לכתוב ולקרוא קבצים"
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "צופה מערכת קבצים"
        desc: "בחר את היישום הבסיסי אשר ישומש כדי לצפות בשינויים במערכת קבצים.
               חיקוי השינויים יחמיץ כל אירוע שיקרה על ידי כל ישום שהוא לא אטום,
               אבל ככל הנראה יעזור למנוע קריסות בלתי רצויות או קיפאון של אטום"
        select:
          native: "ממשק תכנות היישומים של מערכת ההפעלה"
          atom: "חיקוי על ידי אירועים של אטום"
      }
      {
        _id: 'core.followSymlinks'
        title: "עקוב אחר סימניות"
        desc: "Fuzzy finderעקוב אחר קישורי סימניות, בחיפוש קבצים ובפתיחת קבצים בחיפוש ב"
      }
      {
        _id: 'core.ignoredNames'
        title: "התעלם משמות"
        desc: "רשימה של משתנים. קבצים ותיקיות שיהיו תואמים למשתנים אלו יהיו בלתי נראים
               לחלק מהחבילות שלך. חלק מהחבילות יכולות לדרוס הגדרה זו
               על ידי הגדרה דומה בדף ההגדרות של החבילה"
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "פתח עורך ריק בעת אתחול"
        desc: "פתח קובץ ריק בכל טעינה חדשה של אטום"
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "חבילות עם קיצורי מקשים מושבתות"
      }
      {
        _id: 'core.projectHome'
        title: "פרוייקט הבית"
        desc: "התיקייה שבה אטום מניח שכל הפרוייקטים שלך נמצאים.
               חבילות שיווצרו בעזרת מחולל החבילות יאוחסנו כאן
               כברירת מחדל"
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "מספר הפרוייקטים ברשימת הפרוייקטים האחרונים"
        desc: "כמה פרוייקטים אחרונים להציג בתפריט הפרוייקטים האחרונים"
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "שחזור החלונות הקודמים בעת אתחול"
        desc: "אם אפשרות זאת מופעלת, אטום יפתח את כל החלונות האחרונים שיהיו
               פתוחים בכל הפעלה חדשה. אם האפשרות מכובה, בכל הפעלה יטען פרוייקט
               ריק חדש"
        select:
          no: "לא"
          yes: "כן"
          always: "תמיד"
      }
      {
        _id: 'core.telemetryConsent'
        title: "שלח סטטיסטיקות לצוות הפיתוח של אטום"
        desc: "אפשר לשלוח סטטיסטיקות בנוגע לשימוש ודוחות חריגים, לצורך שיפור המוצר"
        select:
          limited: "אפשר ססטיסטיקות מוגבלות וחריגות, כגון קריסות ומידע אנונימי"
          no: "אל תשלח נתוני טלמטריה כלל"
          undecided: "אני מתלבט - נשאל אותך בפעם הבאה"
      }
      {
        _id: 'core.titleBar'
        title: "שורת כותרת"
        desc: "ניסיוני: שורת כותרת מותאמת אישית אשר מתאימה עצמה לצבעי ערכת הנושא.
               "
               "ניסיוני: שורת כותרת <code>מותאמת אישית</code> מתאימה את עצמה
               לצבעי ערכת הנושא. בחירה באפשרות <code>מותאמת חזק</code> מוסיפה
               יותר 'ריפוד' וצבע לשורה. שורת הכותרת יכולה להיות גם <code>מוסתרת</code>
               באופן מלא. הערה: שינוי שורת הכותרת למותאמת אישית או למוסתרת
               יבטל חלק מהפונקציונליות שלה. הגדרה זו תחייב הפעלה מחדש של אטום"
        select:
          native: "רגיל"
          custom: "מותאמת אישית"
          "custom-inset": "מותאמת חזק"
          hidden: "מוסתרת"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "השתמש בהגדרות הפרוקסי בכל פנייה למתקין החבילות של אטום"
        desc: "<code>apm</code> השתמש בהגדרות הפרוקסי שזוהו בעת ההתקשרות לכלי הפקודה"
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "נעל גרסא לחבילות"
        desc: "צור רשימה של שמות של חבילות שלא תרצה שיתעדכנו באופן אוטומטי"
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "השתמש בשורת כותרת מותאמת אישית"
        desc: "השתמש בשורת כותרת מותאמת אישית לערכת הנושא <br>
               הערה: בשלב זה, אין אפשרות זאת כוללת סמל פרוקסי <br>
               הגדרה זו תחייב הפעלה מחדש של אטום"
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "קבל אזהרה לגבי קבצים גדולים"
        desc: "הזהר לפני פתיחת קבצים גדולים ממספר זה של מגה ביטים"
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "כרטיסיות אטומיות רכות"
        desc: "דלג על טווחי הלשונית של המרחב הלבן המוביל בעת הזזת הסמן"
      }
      {
        _id: 'editor.autoIndent'
        title: "הזחה אוטומטית"
        desc: "הזז אוטומטית את הסמן בכל שורה חדשה"
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "הזחה אוטומטית בכל הדבקה"
        desc: "הזח אוטומטית טקסט לאחר הדבקה. מבוסס על ההזחה של השורה הקודמת"
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "גבה לפני שמירה"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "אשר שינוי בענף הראשי"
        desc: "הצג תיבת דו-שיח לאישור בזמן שינוי הענף הראשי והשלכת שינויים
               לקובץ הנוכחי מאז ה'קומיט' האחרון"
      }
      {
        _id: 'editor.fontFamily'
        title: "משפחת גופנים"
        desc: "שם משפחת הגופנים של טקסט העורך"
      }
      {
        _id: 'editor.fontSize'
        title: "גודל הגופן"
        desc: "גודל בפיקסלים של טקסט העורך"
      }
      {
        _id: 'editor.invisibles.cr'
        title: "תווים בלתי נראים"
        desc: "תו אשר משומש להצגת תווים בלתי נראים כאשר האפשרות
               <code>הצג בלתי נראים</code> מופעלת"
      }
      {
        _id: 'editor.invisibles.eol'
        title: "שורות בלתי נראות"
        desc: "תו אשר משומש להצגת שורה חדשה כאשר האפשרות
               <code>הצג בלתי נראים</code> מופעלת"
      }
      {
        _id: 'editor.invisibles.space'
        title: "רווחים בלתי נראים"
        desc: "תו אשר משומש להצגת רווחים כאשר האפשרות
               <code>הצג בלתי נראים</code> מופעלת"
      }
      {
        _id: 'editor.invisibles.tab'
        title: "טאבים בלתי נראים"
        desc: "תו אשר משומש להצגת טאבים כאשר האפשרות
               <code>הצג בלתי נראים</code> מופעלת"
      }
      {
        _id: 'editor.lineHeight'
        title: "גובה שורה"
        desc: "גובה שורות העורך, כמכפלה של גודל הגופן"
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "אורך מירבי של שורה במסך"
        desc: "מגדיר את הרוחב המירבי של חלון העורך לפני שהעורך מפצל את השורות
               באופן אוטומטי. ההגדרה נספרת במספרי תווים"
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "תווים שלא מוגדרים כמילים"
        desc: "מחרוזת של תווים שאינם מוגדרים כמילים, כדי להגדיר גבולות
               של כל מילה"
      }
      {
        _id: 'editor.preferredLineLength'
        title: "אורך מירבי מועדף של שורה"
        desc: "מזהה את אורך השורה המשומש בעת גלישת טקסט עם ההגדרה
               <code>חצה שורה באורך מועדף</code>. ההגדרה נספרת במספרי תווים"
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "גלול לאחר סיום"
        desc: "אפשר לעורך לגלול מטה מעבר לנקודת הסיום בשורה האחרונה בקובץ"
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "רגישות גלילה"
        desc: "קובע את מהירות הגלילה של העורך בעת שימוש בעכבר או במשטח מגע"
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "הצג סמן על בחירה"
        desc: "הצג סמן גם כאשר ישנה בחירה"
      }
      {
        _id: 'editor.showIndentGuide'
        title: "הצג מדריך הזחה"
        desc: "הצג מחווני הזחה בעורך"
      }
      {
        _id: 'editor.showInvisibles'
        title: "הצג בלתי נראים"
        desc: "הצג 'מחזיקי מקום' עבור תווים בלתי נראים כמו 'טאבים', רווחים ושורות חדשות"
      }
      {
        _id: 'editor.showLineNumbers'
        title: "הצג מספרי שורות"
        desc: "הצג את המספר של כל שורה בעורך"
      }
      {
        _id: 'editor.softTabs'
        title: "הזחות טאב רכות"
        desc: "אם ההגדרה <code>סוג ההזחה בלחיצה על טאב</code>
               מוגדרת כאוטומטית והזיהוי האוטומטי של סוג הטאב נכשל, הגדרת
               תצורה זו קובעת האם הטאב יהיה רך או קשה. יוכנס בעת
               לחיצה על מקש הטאב במקלדת"
      }
      {
        _id: 'editor.softWrap'
        title: "גלישת  טקסט רכה"
        desc: "גולש שורות החורגות מרוחב החלון. כאשר ההגדרה
               <code>חצה שורה באורך מועדף</code> מוגדרת, ההגדרה הזו
               תגליש שורות לפי הגדרת <code>אורך מירבי מועדף של שורה</code>"
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "חצה שורה באורך מועדף"
        desc: "במקום גלישת שורות לרוחב החלון, גלוש שורות למספר התווים
               המוגדר ב<code>אורך מירבי מועדף של שורה</code>. אפשרות זו
               תצא לפועל רק אם <code>גלישת טקסט רכה</code> היא אפשרות מופעלת
               באופן גלובלי או שהיא מופעלת לשפה שבה אתה כותב.
               <strong>הערה:</strong> אם תרצה להשבית את מדריך הגלישה (הקו האנכי),
               תוכל להשבית חבילה בשם <code>warp-guide</code>"
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "הזחה נוספת של גלישת טקסט רכה"
        desc: "כאשר אפשרות ה<code>גלישת טקסט רכה</code> מופעלת, אפשרות זו
               תגדיר את האורך של הזחות נוספות הנוספות לשורות גולשות.
               הגדרה זו נספרת במספרי תווים"
      }
      {
        _id: 'editor.tabLength'
        title: "אורך טאב"
        desc: "מספר הרווחים המייצג לחיצה על מקש הטאב"
      }
      {
        _id: 'editor.tabType'
        title: "סוג ההזחה בלחיצה על טאב"
        desc: "קובע את התו שיהיה מוכנס כשהמקש טאב נלחץ"
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "זמן לקיבוץ פעולות לביטול"
        desc: "זמן (במילישניות) שבו כל מספר פעולות של עריכת טקסט יחשבו
               כפעולה אחת. כאשר תרצה לבטל את הפעולות כל קבוצה תתבטל
               בלחיצה אחת על כפתור הביטול"
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "שנה גודל גופן בזמן גלילה ולחיצה על קונטרול"
        desc: "שנה את גודל הגופן של העורך בזמן לחיצה על מקש ה'קונטרול' במקלדת
               וגלילה של העכבר למעלה או למטה"
      }
      {
        _id: 'system.windows.file-handler'
        title: "רשום את אטום כמטפל בקבצים במערכת ההפעלה"
        desc: "הצג את אטום בתפריט ה\"פתח עם\" לשימוש נוח בכל הקבצים במחשב שלך"
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "הצג את אטום בתפריט הקשר של הקבצים"
        desc: "הוסף \"פתח עם אטום\" לתפריט הקישור של הקבצים במנהל הקבצים
              של מערכת ההפעלה שלך"
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "הצג את אטום בתפריט הקשר של התיקיות"
        desc: "הוסף \"פתח עם אטום\" לתפריט הקישור של התיקיות במנהל הקבצים
              של מערכת ההפעלה שלך"
      }
    ]
  }
  system: {
    notes: "הגדרות אלו קובעות כיצד אטום ישתלב ויעבוד עם מערכת ההפעלה שלך"
  }
  keymaps: {
    notes: {
      text1: "תוכל לעקוף קיצורי מקשים ברירת מחדל אלו על ידי העתקה"
      text2: " של קיצורים, והדבקה שלהם ב"
      text3: "קובץ קיצורי המקלדת שלך"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "חפש קיצור מקשים"
    "table-header-keystroke": "הקשה"
    "table-header-command": "פקודה"
    "table-header-source": "מקור"
    "table-header-selector": "בורר"
  }
  packages: {
    searchBarText: 'סינון חבילות לפי שם'
  }
  themes: {
    notes: {
      text1: "תוכל גם לעצב את אטום על ידי עריכת "
      text2: "גליון הסגנונות שלך"
      text3: ""
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "ערכת נושא ממשק המשתמש"
    description1: "ערכות נושא אלו כוללות את הכרטיסיות, שורת המצב, תצוגת העץ והתפריטים הנפתחים"
    title2: "ערכת נושא התחביר"
    description2: "ערכות נושא אלו כוללות את העיצוב של הטקסט בתוך העורך"
    searchBarText: 'סינון ערכות נושא לפי שם'
  }
  updates: {
    "check-updates": "סרוק עבור עדכונים"
    "update-all": "עדכן הכל"
    "checking-updates": "...סורק עבור עדכונים"
    "all-updated-message": "!כל החבילות שלך מעודכנות"
  }
  install: {
    notes: {
      text1: ""
      text2: "הוא הנתיב שבו מותקנות החבילות, כשהן מתפרסמות ב "
      text3: ""
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "חפש חבילות"
    "btn-packages": "חבילות"
    "btn-themes": "ערכות נושא"
  }
  "control-btns":{
    install: "התקן"
    update: "עדכן"
    setting: "הגדרות"
    uninstall: "הסר התקנה"
    disable: "השבת"
    enable: "הפעל"
  }
