About:
  tabTitle: "Pri"
  releaseNotes: "Eldonaj Notoj"
  newUpdate: "Nova Ĝisdatigo"
  upToDate: "Atom estas ĝisdata!"
  checkingForUpdates: "Kontrolas ĝisdatigojn..."
  checkUpdatesNow: "Kontroli nun"
  automaticDownloadUpdates: "Aŭtomate elŝuti ĝisdatigon"
  restartInstall: "Restartigi kaj instali"
  license: "Permesilo"
  termsOfUse: "Kondiĉoj de uzado"
  with: " kun "
  by: " de "
  andTheAwesome: "Kaj la mojosa "
  atomCommunity: "Atom Komunumo"
