About:
  tabTitle: "ಬಗ್ಗೆ"
  releaseNotes: "ಬಿಡುಗಡೆ ಟಿಪ್ಪಣಿಗಳು"
  newUpdate: "ಹೊಸ ನವೀಕರಣ"
  upToDate: "ಅಣು ನವೀಕರಿಸಿದೆ!"
  checkingForUpdates: "ನವೀಕರಣಗಳಿಗಾಗಿ ಪರಿಶೀಲಿಸಲಾಗುತ್ತಿದೆ..."
  checkUpdatesNow: "ಈಗ ಪರಿಶೀಲಿಸು"
  automaticDownloadUpdates: "ಸ್ವಯಂಚಾಲಿತ ಡೌನ್‌ಲೋಡ್ ನವೀಕರಣಗಳು"
  restartInstall: "ಮರುಪ್ರಾರಂಭಿಸಿ ಮತ್ತು ಸ್ಥಾಪಿಸಿ"
  license: "ಪರವಾನಗಿ"
  termsOfUse: "ಬಳಕೆಯ ನಿಯಮಗಳು"
  with: " ಜೊತೆ "
  by: " ಇವರಿಂದ "
  andTheAwesome: "ಮತ್ತು ಅದ್ಭುತ "
  atomCommunity: "ಅಣು(Atom) ಸಮುದಾಯ"
