Menu:
  "&File":
    value: "&File"
    submenu:
      "New &Window":
        value: "New &Window"
      "&New File":
        value: "&New File"
      "&Open File…":
        value: "&Open File…"
      "Open Folder…":
        value: "Open Folder…"
      "Add Project Folder…":
        value: "Add Project Folder…"
      "Reopen Project":
        value: "Reopen Project"
        submenu:
          "Clear Project History":
            value: "Clear Project History"
      "Reopen Last &Item":
        value: "Reopen Last &Item"
      "&Save":
        value: "&Save"
      "Save &As…":
        value: "Save &As…"
      "Save A&ll":
        value: "Save A&ll"
      "&Close Tab":
        value: "&Close Tab"
      "Close &Pane":
        value: "Close &Pane"
      "Clos&e Window":
        value: "Clos&e Window"
      "Quit":
        value: "Quit"
      "Close All Tabs":
        value: "Close All Tabs"
  "&Edit":
    value: "&Edit"
    submenu:
      "&Undo":
        value: "&Undo"
      "&Redo":
        value: "&Redo"
      "&Cut":
        value: "&Cut"
      "C&opy":
        value: "C&opy"
      "Copy Pat&h":
        value: "Copy Pat&h"
      "&Paste":
        value: "&Paste"
      "Select &All":
        value: "Select &All"
      "&Toggle Comments":
        value: "&Toggle Comments"
      Lines:
        value: "Lines"
        submenu:
          "&Indent":
            value: "&Indent"
          "&Outdent":
            value: "&Outdent"
          "&Auto Indent":
            value: "&Auto Indent"
          "Move Line &Up":
            value: "Move Line &Up"
          "Move Line &Down":
            value: "Move Line &Down"
          "Du&plicate Lines":
            value: "Du&plicate Lines"
          "D&elete Line":
            value: "D&elete Line"
          "&Join Lines":
            value: "&Join Lines"
      Columns:
        value: "Columns"
        submenu:
          "Move Selection &Left":
            value: "Move Selection &Left"
          "Move Selection &Right":
            value: "Move Selection &Right"
      Text:
        value: "Text"
        submenu:
          "&Upper Case":
            value: "&Upper Case"
          "&Lower Case":
            value: "&Lower Case"
          "Delete to End of &Word":
            value: "Delete to End of &Word"
          "Delete to Previous Word Boundary":
            value: "Delete to Previous Word Boundary"
          "Delete to Next Word Boundary":
            value: "Delete to Next Word Boundary"
          "&Delete Line":
            value: "&Delete Line"
          "&Transpose":
            value: "&Transpose"
      Folding:
        value: "Folding"
        submenu:
          "&Fold":
            value: "&Fold"
          "&Unfold":
            value: "&Unfold"
          "Fol&d All":
            value: "Fol&d All"
          "Unfold &All":
            value: "Unfold &All"
          "Fold Level 1":
            value: "Fold Level 1"
          "Fold Level 2":
            value: "Fold Level 2"
          "Fold Level 3":
            value: "Fold Level 3"
          "Fold Level 4":
            value: "Fold Level 4"
          "Fold Level 5":
            value: "Fold Level 5"
          "Fold Level 6":
            value: "Fold Level 6"
          "Fold Level 7":
            value: "Fold Level 7"
          "Fold Level 8":
            value: "Fold Level 8"
          "Fold Level 9":
            value: "Fold Level 9"
      "&Preferences":
        value: "&Preferences"
      "Config…":
        value: "Config…"
      "Init Script…":
        value: "Init Script…"
      "Keymap…":
        value: "Keymap…"
      "Snippets…":
        value: "Snippets…"
      "Stylesheet…":
        value: "Stylesheet…"
      "Reflow Selection":
        value: "Reflow Selection"
      Bookmark:
        value: "Bookmark"
        submenu:
          "View All":
            value: "View All"
          "Toggle Bookmark":
            value: "Toggle Bookmark"
          "Jump to Next Bookmark":
            value: "Jump to Next Bookmark"
          "Jump to Previous Bookmark":
            value: "Jump to Previous Bookmark"
      "Select Encoding":
        value: "Select Encoding"
      "Go to Line":
        value: "Go to Line"
      "Select Grammar":
        value: "Select Grammar"
  "&View":
    value: "&View"
    submenu:
      "Toggle &Full Screen":
        value: "Toggle &Full Screen"
      "Toggle Menu Bar":
        value: "Toggle Menu Bar"
      Panes:
        value: "Panes"
        submenu:
          "Split Up":
            value: "Split Up"
          "Split Down":
            value: "Split Down"
          "Split Left":
            value: "Split Left"
          "Split Right":
            value: "Split Right"
          "Focus Next Pane":
            value: "Focus Next Pane"
          "Focus Previous Pane":
            value: "Focus Previous Pane"
          "Focus Pane Above":
            value: "Focus Pane Above"
          "Focus Pane Below":
            value: "Focus Pane Below"
          "Focus Pane On Left":
            value: "Focus Pane On Left"
          "Focus Pane On Right":
            value: "Focus Pane On Right"
          "Close Pane":
            value: "Close Pane"
      Developer:
        value: "Developer"
        submenu:
          "Open In &Dev Mode…":
            value: "Open In &Dev Mode…"
          "&Reload Window":
            value: "&Reload Window"
          "Run Package &Specs":
            value: "Run Package &Specs"
          "Run &Benchmarks":
            value: "Run &Benchmarks"
          "Toggle Developer &Tools":
            value: "Toggle Developer &Tools"
      "&Increase Font Size":
        value: "&Increase Font Size"
      "&Decrease Font Size":
        value: "&Decrease Font Size"
      "Re&set Font Size":
        value: "Re&set Font Size"
      "Toggle Soft &Wrap":
        value: "Toggle Soft &Wrap"
      "Toggle Command Palette":
        value: "Toggle Command Palette"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Toggle Tree View"
  "&Selection":
    value: "&Selection"
    submenu:
      "Add Selection &Above":
        value: "Add Selection &Above"
      "Add Selection &Below":
        value: "Add Selection &Below"
      "S&plit into Lines":
        value: "S&plit into Lines"
      "Single Selection":
        value: "Single Selection"
      "Select to &Top":
        value: "Select to &Top"
      "Select to Botto&m":
        value: "Select to Botto&m"
      "Select &Line":
        value: "Select &Line"
      "Select &Word":
        value: "Select &Word"
      "Select to Beginning of W&ord":
        value: "Select to Beginning of W&ord"
      "Select to Beginning of L&ine":
        value: "Select to Beginning of L&ine"
      "Select to First &Character of Line":
        value: "Select to First &Character of Line"
      "Select to End of Wor&d":
        value: "Select to End of Wor&d"
      "Select to End of Lin&e":
        value: "Select to End of Lin&e"
      "Select Inside Brackets":
        value: "Select Inside Brackets"
  "F&ind":
    value: "F&ind"
    submenu:
      "Find in Buffer":
        value: "Find in Buffer"
      "Replace in Buffer":
        value: "Replace in Buffer"
      "Select Next":
        value: "Select Next"
      "Select All":
        value: "Select All"
      "Toggle Find in Buffer":
        value: "Toggle Find in Buffer"
      "Find in Project":
        value: "Find in Project"
      "Toggle Find in Project":
        value: "Toggle Find in Project"
      "Find All":
        value: "Find All"
      "Find Next":
        value: "Find Next"
      "Find Previous":
        value: "Find Previous"
      "Replace Next":
        value: "Replace Next"
      "Replace All":
        value: "Replace All"
      "Clear History":
        value: "Clear History"
      "Find Buffer":
        value: "Find Buffer"
      "Find File":
        value: "Find File"
      "Find Modified File":
        value: "Find Modified File"
  "&Packages":
    value: "&Packages"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  "&Help":
    value: "&Help"
    submenu:
      "View &Terms of Use":
        value: "View &Terms of Use"
      "View &License":
        value: "View &License"
      "&Documentation":
        value: "&Documentation"
      "Frequently Asked Questions":
        value: "Frequently Asked Questions"
      "Community Discussions":
        value: "Community Discussions"
      "Report Issue":
        value: "Report Issue"
      "Search Issues":
        value: "Search Issues"
      "About Atom":
        value: "About Atom"
      "Welcome Guide":
        value: "Welcome Guide"
