About:
  tabTitle: "Tietoja"
  releaseNotes: "Versiotiedot"
  newUpdate: "Päivitys saatavilla"
  upToDate: "Käytössä on viimeisin Atom-versio"
  checkingForUpdates: "Etsitään päivityksiä..."
  checkUpdatesNow: "Etsi nyt"
  automaticDownloadUpdates: "Lataa päivitykset automaattisesti"
  restartInstall: "Asennus ja uudelleenkäynnistys"
  license: "Käyttölupa"
  termsOfUse: "Käyttöehdot"
  with: " "
  by: " "
  andTheAwesome: "Ja mahtava "
  atomCommunity: "Atom-yhteisö"
