Context:
  "atom-workspace":
    "application:inspect": "Etsi elementtiä"
  "atom-text-editor":
    "color-picker:open": "Avaa värivalitsin"
    "minimap:toggle": "Kytke minikartta"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Peru"
    "core:redo": "Tee sittenkin"
    "core:cut": "Leikkaa"
    "core:copy": "Kopioi"
    "core:paste": "Sijoita"
    "core:delete": "Poista"
    "core:select-all": "Valitse kaikki"
    "pane:split-up-and-copy-active-item": "Jaa ylöspäin"
    "pane:split-down-and-copy-active-item": "Jaa alaspäin"
    "pane:split-left-and-copy-active-item": "Jaa vasemmalle"
    "pane:split-right-and-copy-active-item": "Jaa oikealle"
    "pane:close": "Sulje kaikki ikkunassa"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Jaa ylöspäin"
    "pane:split-down-and-copy-active-item": "Jaa alaspäin"
    "pane:split-left-and-copy-active-item": "Jaa vasemmalle"
    "pane:split-right-and-copy-active-item": "Jaa oikealle"
    "pane:close": "Sulje kaikki ikkunassa"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Vaihda merkistökoodaus"
    "spell-check:correct-misspelling": "Korjaa kirjoitusvirheet"
    "symbols-view:go-to-declaration": "Siirry määritelmään"
  ".overlayer":
    "grammar-selector:show": "Muuta kielioppia"
  ".image-view":
    "image-view:reload": "Lataa kuva uudelleen"
  ".tab":
    "tabs:close-tab": "Sulje välilehti"
    "tabs:close-other-tabs": "Sulje muut välilehdet"
    "tabs:close-tabs-to-right": "Sulje oikeanpuoleiset välilehdet"
    "tabs:close-tabs-to-left": "Sulje vasemmanpuoleiset välilehdet"
    "tabs:close-saved-tabs": "Sulje tallennetut välilehdet"
    "tabs:close-all-tabs": "Sulje kaikki välilehdet"
    "tabs:split-up": "Jaa ylöspäin"
    "tabs:split-down": "Jaa alaspäin"
    "tabs:split-left": "Jaa vasemmalle"
    "tabs:split-right": "Jaa oikealle"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Avaa uudessa ikkunassa"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Säilytä odottava välilehti"
  ".tab-bar":
    "pane:reopen-closed-item": "Avaa suljettu välilehti uudelleen"
  ".tree-view .full-menu":
    "tree-view:add-file": "Uusi tiedosto"
    "tree-view:add-folder": "Uusi hakemisto"
    "tree-view:move": "Siirrä"
    "tree-view:duplicate": "Monista"
    "tree-view:remove": "Poista"
    "tree-view:copy": "Kopioi"
    "tree-view:cut": "Leikkaa"
    "tree-view:paste": "Sijoita"
#    "tree-view:open-selected-entry-up": "Avaa yläpuolelle"
#    "tree-view:open-selected-entry-down": "Avaa alapuolelle"
#    "tree-view:open-selected-entry-left": "Avaa vasemmalle"
#    "tree-view:open-selected-entry-right": "Avaa oikealle"
    "application:add-project-folder": "Lisää projektihakemisto"
    "tree-view:copy-full-path": "Kopioi koko tiedostopolku"
    "tree-view:copy-project-path": "Kopioi projektin polku"
    "tree-view:open-in-new-window": "Avaa uudessa ikkunassa"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Avaa yläpuolelle"
    "tree-view:open-selected-entry-down": "Avaa alapuolelle"
    "tree-view:open-selected-entry-left": "Avaa vasemmalle"
    "tree-view:open-selected-entry-right": "Avaa oikealle"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Uusi tiedosto"
    "tree-view:add-folder": "Uusi hakemisto"
    "tree-view:move": "Siirrä"
    "tree-view:duplicate": "Monista"
    "tree-view:remove": "Poista"
    "tree-view:copy": "Kopioi"
    "tree-view:cut": "Leikkaa"
    "tree-view:paste": "Sijoita"
#    "tree-view:open-selected-entry-up": "Avaa yläpuolelle"
#    "tree-view:open-selected-entry-down": "Avaa alapuolelle"
#    "tree-view:open-selected-entry-left": "Avaa vasemmalle"
#    "tree-view:open-selected-entry-right": "Avaa oikealle"
    "application:add-project-folder": "Lisää projektihakemisto"
    "tree-view:remove-project-folder": "Poista projektihakemisto"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Kopioi koko tiedostopolku"
    "tree-view:copy-project-path": "Kopioi projektin polku"
    "tree-view:open-in-new-window": "Avaa uudessa ikkunassa"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Näytä Finderissa"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Näytä resurssienhallinnassa"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Näytä tiedostoselaimessa"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Näytä hakemistossa"
  ".tree-view .multi-select":
    "tree-view:remove": "Poista"
    "tree-view:copy": "Kopioi"
    "tree-view:cut": "Leikkaa"
    "tree-view:paste": "Sijoita"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Näytä aktiivinen tiedosto"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Nimeä uudelleen"
    "tree-view:reveal-active-file": "Näytä aktiivinen tiedosto"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Avaa Finderissa"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Näytä resurssienhallinnassa"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Näytä tiedostoselaimessa"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Avaa Finderissa"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Näytä resurssienhallinnassa"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Näytä tiedostoselaimessa"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Näytä hakemistossa"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
