About:
	tabTitle: "Пра Atom"
	releaseNotes: "Спіс змен"
	newUpdate: "Новае абнаўленне"
	upToDate: "Atom абноўлены!"
	checkingForUpdates: "Праверка на наяўнасць абнаўленняў..."
	checkUpdatesNow: "Праверыць зараз"
	automaticDownloadUpdates: "Аўтаматычна спампоўваць абнаўленні"
	restartInstall: "Перазапусціць і ўсталяваць"
	license: "Ліцэнзія"
	termsOfUse: "Умовы выкарыстання"
	with: " з "
	by: " ад "
	andTheAwesome: "І шыкоўная "
	atomCommunity: "Суполка Atom"
