Settings:
	"tab-title": "Налады"
	menu: [
		{
			_label: "Core"
			value: "Асноўныя"
		}
		{
			_label: "Editor"
			value: "Рэдактар"
		}
		{
			_label: "System"
			value: "Сістэма"
		}
		{
			_label: "Keybindings"
			value: "Гарачыя клавішы"
		}
		{
			_label: "Packages"
			value: "Пакункі"
		}
		{
			_label: "Themes"
			value: "Тэмы"
		}
		{
			_label: "Updates"
			value: "Абнаўленні"
		}
		{
			_label: "Install"
			value: "Усталёўка пакункаў"
		}
	]
	"btn-open-config-folder": "Адкрыць каталог з канфігурацыяй"
	sectionHeadings: [
		{
			_label: "Core Settings"
			value: "Асноўныя налады"
		}
		{
			_label: "Editor Settings"
			value: "Налады рэдактара"
		}
		{
			_label: "System Settings"
			value: "Сістэмныя налады"
		}
		{
			_label: "Keybindings"
			value: "Гарачыя клавішы"
		}
		{
			_label: "Installed Packages"
			value: "Усталяваныя пакункі"
		}
		{
			_label: "Choose a Theme"
			value: "Абраць тэму"
		}
		{
			_label: "Installed Themes"
			value: "Усталяваныя тэмы"
		}
		{
			_label: "Install Packages"
			value: "Усталяваць пакункі"
		}
		{
			_label: "Featured Packages"
			value: "Найлепшыя пакункі"
		}
		{
			_label: "Install Themes"
			value: "Усталяваць тэмы"
		}
		{
			_label: "Featured Themes"
			value: "Найлепшыя тэмы"
		}
		{
			_label: "Available Updates"
			value: "Даступныя абнаўленні"
		}
	]
	subSectionHeadings: [
		{
			_label: "Invisible"
			value: "Схаваныя"
		}
		{
			_label: "Community Packages"
			value: "Пакункі суполкі"
		}
		{
			_label: "Core Packages"
			value: "Асноўныя пакункі"
		}
		{
			_label: "Development Packages"
			value: "Пакункі ў распрацоўцы"
		}
		{
			_label: "Git Packages"
			value: "Пакункі з Git"
		}
		{
			_label: "Community Themes"
			value: "Тэмы суполкі"
		}
		{
			_label: "Core Themes"
			value: "Асноўныя тэмы"
		}
		{
			_label: "Development Themes"
			value: "Тэмы ў распрацоўцы"
		}
		{
			_label: "Git Themes"
			value: "Тэмы з Git"
		}
	]
	settings:
		notes: [
			{
				_id: "core-settings-note"
				html: "Гэта асноўныя налады Atom, якія не ўплываюць на параметры рэдагавання тэксту. У пакунках могуць быць асабістыя налады, змяніць іх можна ва ўкладцы <a class=\"link packages-open\">Пакункі</a>."
			}
			{
				_id: "editor-settings-note"
				html: "Гэта параметры рэдагавання тэксту. Некаторыя з іх можна перавызначыць на зыходную мову. Правярайце налады мовы кожнага пакунка ва ўкладцы <a class=\"link packages-open\">Пакункі</a>."
			}
		]
		controls: [
			{
				_id: "core.allowPendingPaneItems"
				title: "Адкрываць пстрычкай"
				desc: "Дазволіць адкрываць файлы адзіночнай пстрычкай па іх у дрэве праекта."
			}
			{
				_id: "core.audioBeep"
				title: "Гукавы сігнал"
				desc: "Даваць гукавы сігнал калі дзеянне не было выканана альбо мэта не дасягнута."
			}
			{
				_id: "core.automaticallyUpdate"
				title: "Аўтаматычнае абнаўленне"
				desc: "Аўтаматычна абнаўляць Atom пры наяўнасці новай версіі."
			}
			{
				_id: "core.autoHideMenuBar"
				title: "Аўтаматычнае хаванне меню"
				desc: "Аўтаматычна хаваць меню і паказваць яго пры націсканні на кнопку Alt. Падтрымліваецца толькі ў Windows &amp; Linux."
			}
			{
				_id: "core.closeDeletedFileTabs"
				title: "Закрываць укладкі адлеглых файлаў"
				desc: "Закрываць акно рэдактара, калі адпаведны файл быў выдалены па-за Atom."
			}
			{
				_id: "core.closeEmptyWindows"
				title: "Закрываць пустыя вокны"
				desc: "Калі ў акне няма адкрытых укладак альбо панэляў, то запусціцца загад 'Закрыць укладку', які закрые акно."
			}
			{
				_id: "core.destroyEmptyPanes"
				title: "Закрываць пустыя панэлі"
				desc: "Калі апошняя ўкладка панэлі будзе закрыта, то панэль закрыецца."
			}
			{
				_id: "core.excludeVcsIgnoredPaths"
				title: "Выключаць шляхі ігнаравання сістэмы кіравання версіямі"
				desc: "Файлы і каталогі сістэмы кіравання версіямі, што будуць ігнаравацца некаторымі пакункамі (напрыклад \"Знайсці і замяніць\")Напрыклад, у праектах з Git шляхі зададзены ў файле .gitignore. У некаторых пакункаў могуць быць свае налады."
			}
			{
				_id: "core.fileEncoding"
				title: "Кадаванне файла"
				desc: "Прадвызначанае кадаванне для запісу і чытання файлаў."
			}
			{
				_id: "core.fileSystemWatcher"
				title: "Прагляд файлавай сістэмы"
				desc: "Абярыце асноўную рэалізацыю, што выкарыстоўваецца для назірання за зменамі файлавай сістэмы. Эмуляцыя змен міне падзеі, выкліканыя іншымі праграмамі, але можа дапамагчы прадухіліць збоі."
				select:
					native: "Стандартныя API аперацыйнай сістэмы"
					atom: "Эмуляцыя з падзеямі Atom"
			}
			{
				_id: "core.followSymlinks"
				title: "Выкарыстоўваць сімвалічныя спасылкі"
				desc: "Выкарыстоўваць сімвалічныя спасылкі падчас пошуку і адкрыцця файлаў у дрэве."
			}
			{
				_id: "core.ignoredNames"
				title: "Не зважаць на назвы"
				desc: "Спіс <code>глабальных назваў</code>. Файлы і каталогі, што суадносяцца з гэтым спісам, будуць ігнаравацца ў спісе каталогаў злева(дрэве файлаў). У некаторых пакункаў могуць быць свае налады."
			}
			{
				_id: "core.openEmptyEditorOnStart"
				title: "Адкрываць пусты рэдактар пры запуску"
				desc: "Аўтаматычна адкрывае пусты рэдактар падчас запуску Atom."
			}
			{
				_id: "core.packagesWithKeymapsDisabled"
				title: "Выключыць пакункі з асабістымі гарачымі клавішамі"
			}
			{
				_id: "core.projectHome"
				title: "Хатні каталог для праектаў"
				desc: "Каталог, дзе размяшчаюцца праекты. Пакункі, створаныя генератарам пакункаў, захоўваюцца там прадвызначана."
			}
			{
				_id: "core.reopenProjectMenuCount"
				title: "Колькасць праектаў у спісе нядаўна закрытых"
				desc: "Абраць колькасць праектаў, што будуць адлюстроўвацца ў меню 'Нядаўна закрытыя'."
			}
			{
				_id: "core.restorePreviousWindowsOnStart"
				title: "Аднаўляць адкрытыя вокны падчас наступнага запуску"
				desc: "Калі адзначана, аднаўляць усе вокны Atom папярэдняга сеансу альбо з загаднага радка <code>atom</code>; , альбо будзе загружаны пусты ліст."
				select:
					no: "не"
					yes: "так"
					always: "заўсёды"
			}
			{
				_id: "core.telemetryConsent"
				title: "Адпраўляць статыстыку ў Atom у Atom Team"
				desc: "Дазволіць адпраўляць статыстыку і справаздачы пра хібы распрацоўшчыкам Atom для дапамогі ў іх выпраўленні."
				select:
					limited: "Дазволіць адпраўляць ананімную статыстыку выкарыстання, хібаў і нечаканых завяршэнняў праграмы"
					no: "Нічога не адпраўляць"
					undecided: "Не вызначана (Atom запытаецца яшчэ раз наступным разам)"
			}
			{
				_id: "core.titleBar"
				title: "Тытульны радок"
				desc: "Эксперыментальна: <code>адвольны</code> тытульны радок адаптуецца да колераў тэмы. Калі абраць <code>адвольны з устаўкамі</code>, то дадасца больш водступаў. Тытульны радок таксама можа быць цалкам <code>схаваны</code>.<br>Заўвага: пераход да адвольнага альбо схаванага тытульнага радка можа пашкодзіць працы некаторых функцый.<br>Спатрэбіцца перазапусціць Atom."
				select:
					native: "стандартны"
					custom: "адвольны"
					"custom-inset": "адвольны з устаўкамі"
					hidden: "схаваны"
			}
			{
				_id: "core.useProxySettingsWhenCallingApm"
				title: "Выкарыстоўваць пэўныя налады проксі для выкліку загаднага радка."
				desc: "Выкарыстоўваць пэўныя налады проксі для выкліку загаднага радка."
			}
			{
				_id: "core.versionPinnedPackages"
				title: "Версія заблакаваных пакункаў"
				desc: "Спіс назваў усталяваных пакункаў, якія не абнаўляюцца аўтаматычна."
			}
			{
				_id: "core.useCustomTitleBar"
				title: "Выкарыстоўваць адвольны тытульны радок(самы верхні :)"
				desc: "Выкарыстоўваць адвольны тытульны радок, які знаходзіцца ў тэмах."
			}
			{
				_id: "core.warnOnLargeFileLimit"
				title: "Задаць ліміт памеру вялікіх файлаў для апавяшчэння"
				desc: "Задаць ліміт памеру файлаў для апавяшчэння пры адкрыцці файлаў, большых за яго ў мегабайтах."
			}
			{
				_id: "editor.atomicSoftTabs"
				title: "Атамныя водступы"
				desc: "Мінаць водступы ў вядучых прагалах пры перамяшчэнні курсора."
			}
			{
				_id: "editor.autoIndent"
				title: "Аўтаматычны водступ"
				desc: "Аўтаматычны водступ курсора пры пераходзе на новы радок."
			}
			{
				_id: "editor.autoIndentOnPaste"
				title: "Аўтаматычны водступ пры ўстаўцы"
				desc: "Аўтаматычна рабіць водступ перад устаўляемым тэкстам на падставе водступа папярэдняга радка."
			}
			{
				_id: "editor.backUpBeforeSaving"
				title: "Резервовая копія перад захаваннем"
				desc: "Ствараць рэзервовую копію перад захаваннем"
			}
			{
				_id: "editor.confirmCheckoutHeadRevision"
				title: "Пацвярджаць праверку рэвізіі HEAD"
				desc: "Паказваць дыялогавае акно пацверджання падчас праверкі рэвізіі HEAD і скасавання змен у бягучы файл з пары апошняга ўнёска."
			}
			{
				_id: "editor.fontFamily"
				title: "Назва шрыфту"
				desc: "Назва шрыфту, выкарыстоўваемага ў редактары."
			}
			{
				_id: "editor.fontSize"
				title: "Памер шрыфту"
				desc: "Вышыня ў пікселях для рэдактра."
			}
			{
				_id: "editor.invisibles.cr"
				title: "Вяртанне"
				desc: "Сімвал, што выкарыстоўваецца для адлюстравання вяртання, калі параметр <code>Паказваць нябачныя</code> ўключаны."
			}
			{
				_id: "editor.invisibles.eol"
				title: "Перанос радкоў"
				desc: '''
					Сімвал, што выкарыстоўваецца для адлюстравання пераносу радкоў (
					), калі параметр <code>Паказваць нябачныя</code> ўключаны.
				'''
			}
			{
				_id: "editor.invisibles.space"
				title: "Нябачны прагал"
				desc: "Сімвал, што выкарыстоўваецца для адлюстравання прагалу, калі параметр <code>Паказваць нябачныя</code> ўключаны."
			}
			{
				_id: "editor.invisibles.tab"
				title: "Водступ (Tab)"
				desc: "Сімвал, што выкарыстоўваецца для адлюстравання водступа (\t), калі параметр <code>Паказваць нябачныя</code> ўключаны."
			}
			{
				_id: "editor.lineHeight"
				title: "Вышыня радка"
				desc: "Вышыня радкоў рэдактара ў залежнасці ад памеру шрыфту."
			}
			{
				_id: "editor.maxScreenLineLength"
				title: "Максімальная даўжыня радка на экране"
				desc: "Вызначае максімальную шырыню акна рэдактара перад прымусовым мяккім пераносам (у сімвалах)."
			}
			{
				_id: "editor.nonWordCharacters"
				title: "Не буквы"
				desc: "Радок сімвалаў для вызначэння мяжы слова."
			}
			{
				_id: "editor.preferredLineLength"
				title: "Даўжыня радка"
				desc: "Вызначае даўжыню радка, якая выкарыстоўваецца, калі ўключаны <code>Мяккі перанос пры перавышэнні даўжыні радка</code> (у сімвалах)."
			}
			{
				_id: "editor.scrollPastEnd"
				title: "Пракрутка да канца апошняга радка"
				desc: "Дазволіць пракрутку рэдактара да канца апошняга радка."
			}
			{
				_id: "editor.scrollSensitivity"
				title: "Адчувальнасць пракруткі"
				desc: "Вызначае хуткасць пракруткі тэксту з дапамогай мышы альбо трэкпада."
			}
			{
				_id: "editor.showCursorOnSelection"
				title: "Паказваць курсор пры вылучаным тэксце"
				desc: "Паказваць курсор падчас вылучэння тэксту."
			}
			{
				_id: "editor.showIndentGuide"
				title: "Паказваць падказкі для водступаў"
				desc: "Паказваць ідэнтыфікатары водступаў у рэдактары."
			}
			{
				_id: "editor.showInvisibles"
				title: "Паказаць нябачныя"
				desc: "Паказваць нябачныя сімвалы (напрыклад, вяртанне і перанос радкоў)."
			}
			{
				_id: "editor.showLineNumbers"
				title: "Паказваць нумары радкоў"
				desc: "Паказваць нумары радкоў у рэдактары."
			}
			{
				_id: "editor.softTabs"
				title: "Мяккія водступы"
				desc: "Калі <code>Тып водступаў</code> зададзены \"аўтаматычна\" і аўтавызначыць тып водступа са змесціва буфера не атрымоўваецца, то гэты параметр канфігурацыі вызначае, ці будуць ўстаўлены мяккія водступы або жорсткія пры націсканні на клавішу Tab."
			}
			{
				_id: "editor.softWrap"
				title: "Мяккі перанос"
				desc: "Пераносіць радкі, якія перавышаюць шырыню акна. Калі <code>Мяккі перанос пры перавышэнні даўжыні радка</code> уключаны, то сімвалы пасля сімвалаў, вызначаных <code>Пераважная даўжыня радка</code> будуць пераносіцца."
			}
			{
				_id: "editor.softWrapAtPreferredLineLength"
				title: "Мяккі перанос пры перавышэнні даўжыні радка"
				desc: "Замест таго, каб пераносіць радкі па шырыні акна, радкі будуць пераносіцца па колькасці сімвалаў паводле значэння, вызначанага <code>Пераважная даўжыня радка</code>. Гэта будзе дзейнічаць, калі параметр мяккага пераносу дзейнічае глабальна альбо для бягучай мовы. <strong>Нататка:</strong> Калі вы хочаце схаваць дапаможнік па пераносах (вертыкальны радок), то можаце выключыць пакунак <code>дапаможнік па пераносах</code>."
			}
			{
				_id: "editor.softWrapHangingIndent"
				title: "Дадатковы водступ мяккага пераносу"
				desc: "Калі ўключаны мяккі перанос, то вызначаецца даўжыня дадатковага водступа, што ўжываецца да перанесеных радкоў (у сімвалах)."
			}
			{
				_id: "editor.tabLength"
				title: "Даўжыня водступа (Tab)"
				desc: "Колькасць прагалаў у водступе."
			}
			{
				_id: "editor.tabType"
				title: "Тып водступа (Tab)"
				desc: "Вызначае тып устаўляемага водступа пры націсканні клавішы Tab. Магчымыя значэнні: \"аўтаматычны\", \"мяккі\" і \"жорсткі\". Калі зададзены \"мяккі\" альбо \"жорсткі\", будуць выкарыстоўвацца мяккія водступы (прагалы) альбо жорсткія (клавішы tab). Калі зададзены \"аўтаматычны\", рэдактар будзе аўтаматычна вызначаць тып водступа паводле змесціва буфера абмену (выкарыстоўваецца першы вядучы прагал радка без каментара), альбо выкарыстоўвае значэнне канфігурацыі \"Мяккія водступы\", калі не атрымалася вызначыць аўтаматычна."
			}
			{
				_id: "editor.undoGroupingInterval"
				title: "Інтэрвал групавання адробленага"
				desc: "Інтэрвал часу ў мілісекундах, на працягу якога аперацыі рэдагавання тэксту будуць групавацца ў гісторыі адробленага."
			}
			{
				_id: "editor.zoomFontWhenCtrlScrolling"
				title: "Змяняць шрыфт націскам на Ctrl і кола"
				desc: "Змяняць памер шрыфту ў рэдактары націскам на Ctrl і пракруткай колам мышы ўверх/уніз."
			}
			{
				_id: "system.windows.file-handler"
				title: "Зрабіць апрацоўшчыкам файлаў"
				desc: "Паказваць Atom у \"Адкрыць з дапамогаю...\" для больш зручнага асацыявання з файламі."
			}
			{
				_id: "system.windows.shell-menu-files"
				title: "Паказваць у кантэкстным меню файла"
				desc: "Дадаць  \"Адкрыць з дапамогаю Atom\" у кантэкстнае меню правадніка для файлаў."
			}
			{
				_id: "system.windows.shell-menu-folders"
				title: "Паказваць у кантэкстным меню каталога"
				desc: "Дадаць \"Адкрыць з дапамогаю Atom\" у кантэкстнае меню правадніка для каталогаў."
			}
		]
	system:
		notes: "Гэтыя параметры вызначаюць, як Atom інтэгруецца ў вашую сістэму."
	keymaps:
		notes:
			text1: "Вы можаце змяніць гэтыя гарачыя клавішы скапіраваўшы "
			text2: "і ўставіўшы іх у "
			text3: "Ваш файл гарачых клавіш"
			text4: ""
			_template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
		"search-bar-placeholder": "Пошук гарачых клавіш"
		"table-header-keystroke": "Клавішы"
		"table-header-command": "Загад"
		"table-header-source": "Ужыванне"
		"table-header-selector": "Дзеянне"
	packages:
		searchBarText: "Фільтраваць пакункі па назвам"
	themes:
		notes:
			text1: "Вы можаце стварыць адвольную тэму для Atom адрэдагаваўшы"
			text2: "свой стыль"
			text3: ""
			_template: "${text1} <a>${text2}</a> ${text3}"
		title1: "Выгляд"
		description1: "Стыль укладак, стан панэлі, дрэва файлаў і спіса"
		title2: "Тэма рэдактара"
		description2: "Стыль тэксту рэдактара"
		searchBarText: "Фільтраваць тэмы па назвам"
	updates:
		"check-updates": "Праверыць на абнаўленні"
		"update-all": "Абнавіць усе"
		"checking-updates": "Праверка абнаўленняў..."
		"all-updated-message": "Ва ўсіх ўсталяваных пакункаў актуальныя версіі!"
	install:
		notes:
			text1: "Пакункі публікуюцца на "
			text2: " і ўсталяваныя "
			text3: ""
			_template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
		"searchbar-placeholder": "Знайсці пакункі"
		"btn-packages": "Пакункі"
		"btn-themes": "Тэмы"
	"control-btns":
		install: "Усталяваць"
		update: "Абнавіць"
		setting: "Налады"
		uninstall: "Выдаліць"
		disable: "Выключыць"
		enable: "Уключыць"
