About:
  tabTitle: "Névjegy"
  releaseNotes: "Eddigi kiadások"
  newUpdate: "Frissítés"
  upToDate: "Az Atom a legújabb változat!"
  checkingForUpdates: "Frissítések keresése..."
  checkUpdatesNow: "Keresés most"
  automaticDownloadUpdates: "Frissítések automatikus letöltése"
  restartInstall: "Újraindítás és telepítés"
  license: "Licenc"
  termsOfUse: "Felhasználási feltételek"
  with: " with "
  by: " by "
  andTheAwesome: "És a fantasztikus "
  atomCommunity: "Atom közösség"
