Context:
  "atom-workspace":
    "application:inspect": "Elem ellenőrzése"
  "atom-text-editor":
    "color-picker:open": "Színválasztó"
    "minimap:toggle": "Váltás minimap-ra"
    # added for atom/bookmarks
    "bookmarks:toggle-bookmark": "Toggle Bookmark"
  "atom-text-editor, .overlayer":
    "core:undo": "Visszavonás"
    "core:redo": "Újra"
    "core:cut": "Kivágás"
    "core:copy": "Másolás"
    "core:paste": "Beillesztés"
    "core:delete": "Törlés"
    "core:select-all": "Minden kijelölése"
    "pane:split-up-and-copy-active-item": "Osztott nézet fent"
    "pane:split-down-and-copy-active-item": "Osztott nézet lent"
    "pane:split-left-and-copy-active-item": "Osztott nézet balra"
    "pane:split-right-and-copy-active-item": "Osztott nézet jobbra"
    "pane:close": "Ablak bezárása"
  "atom-pane":
    "pane:split-up-and-copy-active-item": "Osztott nézet fent"
    "pane:split-down-and-copy-active-item": "Osztott nézet lent"
    "pane:split-left-and-copy-active-item": "Osztott nézet balra"
    "pane:split-right-and-copy-active-item": "Osztott nézet jobbra"
    "pane:close": "Ablak bezárása"
  "atom-text-editor:not([mini])":
    "encoding-selector:show": "Karakterkódolás beállítása"
    "spell-check:correct-misspelling": "Nincs helyesírási hiba"
    "symbols-view:go-to-declaration": "Ugrás a deklarációhoz"
  ".overlayer":
    "grammar-selector:show": "Programnyelv kiválasztása"
  ".image-view":
    "image-view:reload": "Kép újratöltése"
  ".tab":
    "tabs:close-tab": "Lap bezárása"
    "tabs:close-other-tabs": "Más lapok bezárása"
    "tabs:close-tabs-to-right": "Close Tabs to the Right"
    "tabs:close-tabs-to-left": "Close Tabs to the Left"
    "tabs:close-saved-tabs": "Mentett lapok bezárása"
    "tabs:close-all-tabs": "Összes lap bezárása"
    "tabs:split-up": "Osztott nézet fent"
    "tabs:split-down": "Osztott nézet lent"
    "tabs:split-left": "Osztott nézet balra"
    "tabs:split-right": "Osztott nézet jobbra"
  ".tab.texteditor":
    "tabs:open-in-new-window": "Megnyitás új ablakban"
  ".tab.pending-tab":
    "tabs:keep-pending-tab": "Nem mentett lap megtartása"
  ".tab-bar":
    "pane:reopen-closed-item": "Bezárt lap újranyitása"
  ".tree-view .full-menu":
    "tree-view:add-file": "Új fájl"
    "tree-view:add-folder": "Új könyvtár"
    "tree-view:move": "Átnevezés"
    "tree-view:duplicate": "Kettőzés"
    "tree-view:remove": "Törlés"
    "tree-view:copy": "Másolás"
    "tree-view:cut": "Kivágás"
    "tree-view:paste": "Beillesztés"
#    "tree-view:open-selected-entry-up": "Osztott nézet fent"
#    "tree-view:open-selected-entry-down": "Osztott nézet lent"
#    "tree-view:open-selected-entry-left": "Osztott nézet balra"
#    "tree-view:open-selected-entry-right": "Osztott nézet jobbra"
    "application:add-project-folder": "Projekt könyvtár létrehozása"
    "tree-view:copy-full-path": "Teljes elérési út másolása"
    "tree-view:copy-project-path": "Projekt elérési út másolása"
    "tree-view:open-in-new-window": "Megnyitás új ablakban"
  '.tree-view .full-menu [is="tree-view-file"]':
    "tree-view:open-selected-entry-up": "Osztott nézet fent"
    "tree-view:open-selected-entry-down": "Osztott nézet lent"
    "tree-view:open-selected-entry-left": "Osztott nézet balra"
    "tree-view:open-selected-entry-right": "Osztott nézet jobbra"
  ".tree-view .full-menu .project-root > .header":
    "tree-view:add-file": "Új fájl"
    "tree-view:add-folder": "Új könyvtár"
    "tree-view:move": "Átnevezés"
    "tree-view:duplicate": "Kettőzés"
    "tree-view:remove": "Törlés"
    "tree-view:copy": "Másolás"
    "tree-view:cut": "Kivágás"
    "tree-view:paste": "Beillesztés"
#    "tree-view:open-selected-entry-up": "Osztott nézet fent"
#    "tree-view:open-selected-entry-down": "Osztott nézet lent"
#    "tree-view:open-selected-entry-left": "Osztott nézet balra"
#    "tree-view:open-selected-entry-right": "Osztott nézet jobbra"
    "application:add-project-folder": "Projekt könyvtár létrehozása"
    "tree-view:remove-project-folder": "Projekt könyvtár eltávolítása"
    # added for atom/tree-view
    "tree-view:collapse-all": "Collapse All Project Folders"
    "tree-view:copy-full-path": "Teljes elérési út másolása"
    "tree-view:copy-project-path": "Projekt elérési út másolása"
    "tree-view:open-in-new-window": "Megnyitás új ablakban"
  ".platform-darwin .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Megjelenítés a keresőben"
  ".platform-win32 .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Megjelenítés a böngészőben"
  ".platform-linux .tree-view .full-menu":
    "tree-view:show-in-file-manager": "Megjelenítés a fájlkezelőben"
#  ".tree-view li.directory":
#    "project-find:show-in-current-directory": "Keresés a munka könyvtárban"
  ".tree-view .multi-select":
    "tree-view:remove": "Törlés"
    "tree-view:copy": "Másolás"
    "tree-view:cut": "Kivágás"
    "tree-view:paste": "Beillesztés"
  "atom-pane[data-active-item-path] .item-views":
    "tree-view:reveal-active-file": "Mutatás fa-struktúrában"
  "atom-pane[data-active-item-path] .tab.active":
    "tree-view:rename": "Átnevezés"
    "tree-view:reveal-active-file": "Mutatás fa-struktúrában"
  ".platform-darwin atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a keresőben"
  ".platform-win32 atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a böngészőben"
  ".platform-linux atom-pane[data-active-item-path] .tab.active":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a fájlkezelőben"
  ".platform-darwin atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a keresőben"
  ".platform-win32 atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a böngészőben"
  ".platform-linux atom-text-editor:not([mini])":
    "tree-view:show-current-file-in-file-manager": "Megjelenítés a fájlkezelőben"
  # added for atom/find-and-replace
  ".tree-view li.directory":
    "project-find:show-in-current-directory": "Keresés a munka könyvtárban"
  ".list-item.match-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "core:copy": "'Copy"
    "find-and-replace:copy-path": "Copy Path"
  ".list-item.path-row":
    "find-and-replace:open-in-new-tab": "Open in New Tab"
    "find-and-replace:copy-path": "Copy Path"
  # added for atom/github/menu/git.cson
  ".github-FilePatchListView-item":
    "github:jump-to-file": "Jump to File"
  ".github-FilePatchView--staged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Unstage Selection"
  ".github-FilePatchView--unstaged":
    "github:jump-to-file": "Jump to File"
    "core:confirm": "Stage Selection"
    "github:discard-selected-lines": "Discard Selection"
  "github-DotComMarkdownHtml .issue-link":
    "github:open-link-in-new-tab": "Open in New Tab"
    "github:open-link-in-this-tab": "Open in This Tab"
    "github:open-link-in-browser": "Open in Browser"
  ".github-CommitView":
    "github:toggle-expanded-commit-message-editor": "Toggle Expanded Commit Message Editor"
  ".item-views > atom-text-editor":
    "github:view-unstaged-changes-for-current-file": "View Unstaged Changes"
    "github:view-staged-changes-for-current-file": "View Staged Changes"
  ".github-PushPull":
    "github:fetch": "Fetch"
    "github:pull": "Pull"
    "github:push": "Push"
    "github:force-push": "Force Push"
  ".most-recent":
    "github:amend-last-commit": "Amend"
  ".github-RecentCommit":
    "github:copy-commit-sha": "Copy Commit SHA"
    "github:copy-commit-subject": "Copy Commit Subject"
  # added for atom/github/lib/github-package.js
  ".github-UnstagedChanges .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:discard-changes-in-selected-files": "Discard Changes"
  ".github-StagedChanges .github-FilePatchListView":
    "core:confirm": "Unstage"
  ".github-MergeConflictPaths .github-FilePatchListView":
    "core:confirm": "Stage"
    "github:resolve-file-as-ours": "Resolve File As Ours"
    "github:resolve-file-as-theirs": "Resolve File As Theirs"
  # added for packages/link
  "atom-text-editor .syntax--markup.syntax--underline.syntax--link":
    "link:open": "Open link"
  # added for atom/markdown-preview
  ".markdown-preview":
    "markdown-preview:select-all": "Select All"
    "core:save-as": "Save As HTML\u2026"
  ".markdown-preview.has-selection":
    "core:copy": "Copy"
  ".markdown-preview:not(.has-selection)":
    "core:copy": "Copy As HTML"
  ".tree-view .file .name[data-name$=\\.markdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.md]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkd]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.mkdown]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.ron]":
    "markdown-preview:preview-file": "Markdown Preview"
  ".tree-view .file .name[data-name$=\\.txt]":
    "markdown-preview:preview-file": "Markdown Preview"
