Menu:
  "&File":
    value: "Fájl(&F)"
    submenu:
      "New &Window":
        value: "Új ablak(&W)"
      "&New File":
        value: "Új fájl(&N)"
      "&Open File…":
        value: "Fájl megnyitása(&O)..."
      "Open Folder…":
        value: "Könyvtár megnyitása..."
      "Add Project Folder…":
        value: "Projektkönyvtár hozzáadása..."
      "Reopen Project":
        value: "Projekt újra megnyitása"
        submenu:
          "Clear Project History":
            value: "Projekt előzmények törlése"
      "Reopen Last &Item":
        value: "Utolsó elem újra megnyitása(&I)"
      "&Save":
        value: "Mentés(&S)"
      "Save &As…":
        value: "Mentés másként(&A)..."
      "Save A&ll":
        value: "Mindegyik mentése(&L)"
      "&Close Tab":
        value: "Lap bezárása(&C)"
      "Close &Pane":
        value: "Panel bezárása(&P)"
      "Clos&e Window":
        value: "Ablak bezárása(&E)"
      "Quit":
        value: "Kilépés"
      "Close All Tabs":
        value: "Minden lap bezárása"
  "&Edit":
    value: "Szerkesztés(&E)"
    submenu:
      "&Undo":
        value: "Visszavonás(&U)"
      "&Redo":
        value: "Újra(&R)"
      "&Cut":
        value: "Kivágás(&C)"
      "C&opy":
        value: "Másolás(&O)"
      "Copy Pat&h":
        value: "Elérési út másolása(&H)"
      "&Paste":
        value: "Beillesztés(&P)"
      "Select &All":
        value: "Összes kijelölése(&A)"
      "&Toggle Comments":
        value: "Kommentbe helyezés(&T)"
      Lines:
        value: "Sorok"
        submenu:
          "&Indent":
            value: "Behúzás növelése(&I)"
          "&Outdent":
            value: "Behúzás csökkentése(&O)"
          "&Auto Indent":
            value: "Automatikus behúzás(&A)"
          "Move Line &Up":
            value: "Sor mozgatása fel(&U)"
          "Move Line &Down":
            value: "Sor mozgatása le(&D)"
          "Du&plicate Lines":
            value: "Sorok kettőzése(&P)"
          "D&elete Line":
            value: "Sor törlése(&E)"
          "&Join Lines":
            value: "Sorok összefűzése(&J)"
      Columns:
        value: "Oszlopok"
        submenu:
          "Move Selection &Left":
            value: "Kijelölés mozgatása balra(&L)"
          "Move Selection &Right":
            value: "Kijelölés mozgatása jobbra(&R)"
      Text:
        value: "Szöveg"
        submenu:
          "&Upper Case":
            value: "Nagybetű(&U)"
          "&Lower Case":
            value: "Kisbetű(&L)"
          "Delete to End of &Word":
            value: "Törlés a szó végéig(&W)"
          "Delete to Previous Word Boundary":
            value: "Törlés az előző szóelválasztóig"
          "Delete to Next Word Boundary":
            value: "Törlés a következő szóelválasztóig"
          "&Delete Line":
            value: "Sor törlése(&D)"
          "&Transpose":
            value: "Betűk felcserélése(&T)"
      Folding:
        value: "Kódblokk összecsukása"
        submenu:
          "&Fold":
            value: "Összecsukás(&F)"
          "&Unfold":
            value: "Kinyitás(&U)"
          "Fol&d All":
            value: "Összes összecsukása(&D)"
          "Unfold &All":
            value: "Összes kinyitása(&A)"
          "Fold Level 1":
            value: "Takarási szint: 1"
          "Fold Level 2":
            value: "Takarási szint: 2"
          "Fold Level 3":
            value: "Takarási szint: 3"
          "Fold Level 4":
            value: "Takarási szint: 4"
          "Fold Level 5":
            value: "Takarási szint: 5"
          "Fold Level 6":
            value: "Takarási szint: 6"
          "Fold Level 7":
            value: "Takarási szint: 7"
          "Fold Level 8":
            value: "Takarási szint: 8"
          "Fold Level 9":
            value: "Takarási szint: 9"
      "&Preferences":
        value: "Beállítások(&P)"
      "Config…":
        value: "Konfigurálás..."
      "Init Script…":
        value: "Init Script..."
      "Keymap…":
        value: "Billentyűzetkiosztás..."
      "Snippets…":
        value: "Töredékek..."
      "Stylesheet…":
        value: "Stíluslap..."
      "Reflow Selection":
        value: "Kijelölés folyamatossá tétele"
      Bookmark:
        value: "Könyvjelzők"
        submenu:
          "View All":
            value: "Összes mutatása"
          "Toggle Bookmark":
            value: "Könyvjelző be/ki"
          "Jump to Next Bookmark":
            value: "Ugrás a következő könyvjelzőre"
          "Jump to Previous Bookmark":
            value: "Ugrás az előző könyvjelzőre"
      "Select Encoding":
        value: "Karakterkódolás kiválasztása"
      "Go to Line":
        value: "Ugrás sorra"
      "Select Grammar":
        value: "Programnyelv kiválasztása"
  "&View":
    value: "Nézet(&V)"
    submenu:
      "Toggle &Full Screen":
        value: "Teljes képernyő(&F)"
      "Toggle Menu Bar":
        value: "Menüsáv be/ki"
      Panes:
        value: "Panelek"
        submenu:
          "Split Up":
            value: "Osztott nézet fent"
          "Split Down":
            value: "Osztott nézet lent"
          "Split Left":
            value: "Osztott nézet balra"
          "Split Right":
            value: "Osztott nézet jobbra"
          "Focus Next Pane":
            value: "Fókusz a következő panelen"
          "Focus Previous Pane":
            value: "Fókusz az előző panelen"
          "Focus Pane Above":
            value: "Fókusz a panel fölött"
          "Focus Pane Below":
            value: "Fókusz a panel alatt"
          "Focus Pane On Left":
            value: "Fókusz a paneltől balra"
          "Focus Pane On Right":
            value: "Fókusz a paneltől jobbra"
          "Close Pane":
            value: "Panel bezárása"
      Developer:
        value: "Fejlesztő"
        submenu:
          "Open In &Dev Mode…":
            value: "Megnyitás fejlesztői módban(&D)..."
          "&Reload Window":
            value: "Ablak újratöltése(&R)"
          "Run Package &Specs":
            value: "Run Package Specs(&S)"
          "Run &Benchmarks":
            value: "Referenciák futtatása(&B)"
          "Toggle Developer &Tools":
            value: "Fejlesztői eszközök be/ki(&T)"
      "&Increase Font Size":
        value: "Betűméret növelése(&I)"
      "&Decrease Font Size":
        value: "Betűméret csökkentése(&D)"
      "Re&set Font Size":
        value: "Betűméret visszaállítása(&S)"
      "Toggle Soft &Wrap":
        value: "Sortörés be/ki(&W)"
      "Toggle Command Palette":
        value: "Parancs-paletta be/ki"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Fa-nézet be/ki"
  "&Selection":
    value: "Kijelölés(&S)"
    submenu:
      "Add Selection &Above":
        value: "Kijelölés bővítése felfelé(&A)"
      "Add Selection &Below":
        value: "Kijelölés bővítése lefelé(&B)"
      "S&plit into Lines":
        value: "Felosztás sorokra(&P)"
      "Single Selection":
        value: "Egyszeres kijelölés"
      "Select to &Top":
        value: "Kijelölés felfelé(&T)"
      "Select to Botto&m":
        value: "Kijelölés lefelé(&M)"
      "Select &Line":
        value: "Sor kijelölése(&L)"
      "Select &Word":
        value: "Szó kijelölése(&W)"
      "Select to Beginning of W&ord":
        value: "Kijelölés a szó elejéig(&O)"
      "Select to Beginning of L&ine":
        value: "Kijelölés a sor elejéig(&I)"
      "Select to First &Character of Line":
        value: "Kijelölés a sor első karakteréig(&C)"
      "Select to End of Wor&d":
        value: "Kijelölés a szó végéig(&D)"
      "Select to End of Lin&e":
        value: "Kijelölés a sor végéig(&E)"
      "Select Inside Brackets":
        value: "Zárójelen belüli rész kijelölése"
  "F&ind":
    value: "Keresés(&I)"
    submenu:
      "Find in Buffer":
        value: "Keresés a pufferben"
      "Replace in Buffer":
        value: "Csere a pufferben"
      "Select Next":
        value: "Következő kiválasztása"
      "Select All":
        value: "Összes kijelölése"
      "Toggle Find in Buffer":
        value: "Keresés a pufferben be/ki"
      "Find in Project":
        value: "Keresés a projektben"
      "Toggle Find in Project":
        value: "Keresés a projektben be/ki"
      "Find All":
        value: "Összes keresése"
      "Find Next":
        value: "Következő találat"
      "Find Previous":
        value: "Előző találat"
      "Replace Next":
        value: "Következő cseréje"
      "Replace All":
        value: "Összes cseréje"
      "Clear History":
        value: "Előzmények törlése"
      "Find Buffer":
        value: "Puffer keresése"
      "Find File":
        value: "Fájl keresése"
      "Find Modified File":
        value: "Módosított fájl keresése"
  "&Packages":
    value: "Csomagok(&P)"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Close Current Tag"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Reload All Styles"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Open On GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Copy URL"
          "File":
            value: "File"
          "File on Master":
            value: "File on Master"
          "History":
            value: "History"
          "Issues":
            value: "Issues"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Repository"
      "Package Generator":
        value: "Package Generator"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom Package"
          "Generate Atom Syntax Theme":
            value: "Generate Atom Syntax Theme"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Open"
          "Show Keybindings":
            value: "Show Keybindings"
          "Install Packages/Themes":
            value: "Install Packages/Themes"
          "Update Packages/Themes":
            value: "Update Packages/Themes"
          "Manage Packages":
            value: "Manage Packages"
          "Manage Themes":
            value: "Manage Themes"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expand"
          "Next Stop":
            value: "Next Stop"
          "Previous Stop":
            value: "Previous Stop"
          "Available":
            value: "Available"
      "Spell Check":
        value: "Spell Check"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Styleguide"
        submenu:
          "Show":
            value: "Show"
      "Symbols":
        value: "Symbols"
        submenu:
          "File Symbols":
            value: "File Symbols"
          "Project Symbols":
            value: "File Symbols"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Show"
      "Tree View":
        value: "Tree View"
        submenu:
          "Focus":
            value: "Focus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Whitespace"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  "&Help":
    value: "Súgó(&H)"
    submenu:
      "View &Terms of Use":
        value: "Felhasználási feltételek megtekintése(&T)"
      "View &License":
        value: "Licenc megtekintése(&L)"
      "&Documentation":
        value: "Dokumentáció(&D)"
      "Frequently Asked Questions":
        value: "Gyakran Ismételt Kérdések"
      "Community Discussions":
        value: "Felhasználói fórum"
      "Report Issue":
        value: "Hibák jelentése"
      "Search Issues":
        value: "Hibajelentések böngészése"
      "About Atom":
        value: "Az Atomról"
      "Welcome Guide":
        value: "Üdvözlő képernyő"
