Settings:
  "tab-title": "Beállítások"
  menu: [
    {
      _label: "Core"
      value: "Mag"
    }
    {
      _label: "Editor"
      value: "Szerkesztő"
    }
    {
      _label: "System"
      value: "Rendszer"
    }
    {
      _label: "Keybindings"
      value: "Gyorsbillentyűk"
    }
    {
      _label: "Packages"
      value: "Csomagok"
    }
    {
      _label: "Themes"
      value: "Sablonok"
    }
    {
      _label: "Updates"
      value: "Frissítések"
    }
    {
      _label: "Install"
      value: "Telepítés"
    }
  ]
  "btn-open-config-folder": "Konfigurációs mappa megnyitása"
  sectionHeadings: [
    {_label: "Core Settings", value: "Főbb beállítások"}
    {_label: "Editor Settings", value: "Szerkesztő beállítások"}
    {_label: "System Settings", value: "Rendszer beállítások"}
    {_label: "Keybindings", value: "Gyorsbillentyűk"}
    {_label: "Installed Packages", value: "Telepített csomagok"}
    {_label: "Choose a Theme", value: "Sablon választás"}
    {_label: "Installed Themes", value: "Telepített sablonok"}
    {_label: "Install Packages", value: "Csomagok telepítése"}
    {_label: "Featured Packages", value: "Kiemelt csomagok"}
    {_label: "Install Themes", value: "Sablonok telepítése"}
    {_label: "Featured Themes", value: "Kiemelt sablonok"}
    {_label: "Available Updates", value: "Elérhető frissítések"}
  ]
  subSectionHeadings: [
    {_label: "Invisible", value: "Nem nyomtatható karakterek"}
    {_label: "Community Packages", value: "Közösségi csomagok"}
    {_label: "Core Packages", value: "Főbb csomagok"}
    {_label: "Development Packages", value: "Fejlesztői csomagok"}
    {_label: "Git Packages", value: "Git csomagok"}
    {_label: "Community Themes", value: "Közösségi sablonok"}
    {_label: "Core Themes", value: "Főbb sablonok"}
    {_label: "Development Themes", value: "Fejlesztői sablonok"}
    {_label: "Git Themes", value: "Git sablonok"}
  ]
  settings: {
    notes: [
      {
        _id: 'core-settings-note'
        html: 'These are Atom\'s core settings which affect behavior
               unrelated to text editing. Individual packages may have
               their own additional settings found within their package
               card in the <a class="link packages-open">Packages list</a>.'
      }
      {
        _id: 'editor-settings-note'
        html: 'These settings are related to text editing. Some of these
               can be overriden on a per-language basis. Check language
               settings by clicking its package card in the
               <a class="link packages-open">Packages list</a>.'
      }
    ]
    controls: [
      {
        _id: 'core.allowPendingPaneItems'
        title: "Allow Pending PaneItems"
        desc: "Allow items to be previewed without adding them to a pane
               permanently, such as when single clicking files in the tree view."
      }
      {
        _id: 'core.audioBeep'
        title: "Audio Beep"
        desc: "Trigger the system's beep sound when certain actions cannot be
               executed or there are no results."
      }
      {
        _id: 'core.automaticallyUpdate'
        title: "Automatikus frissítés"
        desc: "Automatikusan frissíti az Atomot, ha új kiadás jelenik meg."
      }
      {
        _id: 'core.autoHideMenuBar'
        title: "Menüsáv automatikus elrejtése"
        desc: "Automatikusan elrejti a menüsávot, amit az Alt billentyű lenyomásával lehet visszahozni. Ez csak Windows és Linux rendszereken támogatott."
      }
      {
        _id: 'core.closeDeletedFileTabs'
        title: "Törölt fájlok lapjainak bezárása"
        desc: "Bezárja a megfelelő szerkesztőt, amikor a fájlt az Atomon kivülről (pl. fájlkezelőből) törölték."
      }
      {
        _id: 'core.closeEmptyWindows'
        title: "Üres ablakok bezárása"
        desc: "When a window with no open tabs or panes is given the 'Close Tab' command, close that window."
      }
      {
        _id: 'core.destroyEmptyPanes'
        title: "Üres panelek bezárása"
        desc: "Amikor a panel utolsó lapját is bezárták, bezárja a panelt is."
      }
      {
        _id: 'core.excludeVcsIgnoredPaths'
        title: "Exclude VCS Ignored Paths"
        desc: "Files and directories ignored by the current project's VCS system will be ignored by some packages, such as the fuzzy finder and find and replace. For example, projects using Git have these paths defined in the .gitignore file. Individual packages might have additional config settings for ignoring VCS ignored files and folders."
      }
      {
        _id: 'core.fileEncoding'
        title: "Fájl karakterkódolása"
        desc: "A fájlok írásánál és olvasásánál használt alapértelmezett karakterkódolás."
      }
      {
        _id: 'core.fileSystemWatcher'
        title: "File System Watcher"
        desc: "Choose the underlying implementation used to watch for filesystem changes. Emulating changes will miss any events caused by applications other than Atom, but may help prevent crashes or freezes."
        select:
          native: "Native operating system APIs"
          atom: "Emulated with Atom events"
      }
      {
        _id: 'core.followSymlinks'
        title: "Szimbólikus linkek követése"
        desc: "Follow symbolic links when searching files and when opening files with the fuzzy finder."
      }
      {
        _id: 'core.ignoredNames'
        title: "Mellőzött nevek"
        desc: "List of <code>glob patterns</code>. Files and directories matching these patterns will be ignored by some packages, such as the fuzzy finder and tree view. Individual packages might have additional config settings for ignoring names."
      }
      {
        _id: 'core.openEmptyEditorOnStart'
        title: "Üres szerkesztő-lap megnyitása"
        desc: "Automatikusan egy üres szerkesztő-lapot is megnyit a program indításakor."
      }
      {
        _id: 'core.packagesWithKeymapsDisabled'
        title: "Packages With Keymaps Disabled"
      }
      {
        _id: 'core.projectHome'
        title: "Projekt kezdőlap"
        desc: "The directory where projects are assumed to be located. Packages created using the Package Generator will be stored here by default."
      }
      {
        _id: 'core.reopenProjectMenuCount'
        title: "Reopen Project Menu Count"
        desc: "How many recent projects to show in the Reopen Project menu."
      }
      {
        _id: 'core.restorePreviousWindowsOnStart'
        title: "Restore Previous Windows On Start"
        desc: "When checked restores the last state of all Atom windows when started from the icon or <code>atom</code> by itself from the command line; otherwise a blank environment is loaded."
        select:
          no: "nem"
          yes: "igen"
          always: "mindig"
      }
      {
        _id: 'core.telemetryConsent'
        title: "Send Telemetry to the Atom Team"
        desc: "Allow usage statistics and exception reports to be sent to the Atom team to help improve the product."
        select:
          limited: "Allow limited anonymous usage stats, exception and crash reporting"
          no: "Do not send any telemetry data"
          undecided: "Undecided (Atom will ask again next time it is launched)"
      }
      {
        _id: 'core.titleBar'
        title: "Title Bar"
        desc: "Experimental: A <code>custom</code> title bar adapts to theme colors. Choosing <code>custom-inset</code> adds a bit more padding. The title bar can also be completely <code>hidden</code>.<br>Note: Switching to a custom or hidden title bar will compromise some functionality.<br>This setting will require a relaunch of Atom to take effect."
        select:
          native: "native"
          custom: "custom"
          "custom-inset": "custom-inset"
          hidden: "hidden"
      }
      {
        _id: 'core.useProxySettingsWhenCallingApm'
        title: "Use Proxy Settings When Calling APM"
        desc: "Use detected proxy settings when calling the <code>apm</code> command-line tool."
      }
      {
        _id: 'core.versionPinnedPackages'
        title: "Version Pinned Packages"
        desc: "List of names of installed packages which are not automatically updated."
      }
      {
        _id: 'core.useCustomTitleBar'
        title: "Use Custom Title Bar"
        desc: "Use custom, theme-aware title bar.<br>Note: This currently does not include a proxy icon.<br>This setting will require a relaunch of Atom to take effect."
      }
      {
        _id: 'core.warnOnLargeFileLimit'
        title: "Warn On Large File Limit"
        desc: "Warn before opening files larger than this number of megabytes."
      }
      {
        _id: 'editor.atomicSoftTabs'
        title: "Atomic Soft Tabs"
        desc: "Skip over tab-length runs of leading whitespace when moving the cursor."
      }
      {
        _id: 'editor.autoIndent'
        title: "Automatikus behúzás"
        desc: "Kurzor automatikus behúzása új sor beszúrásakor."
      }
      {
        _id: 'editor.autoIndentOnPaste'
        title: "Auto Indent On Paste"
        desc: "Automatically indent pasted text based on the indentation of the previous line."
      }
      {
        _id: 'editor.backUpBeforeSaving'
        title: "Biztonsági másolat készítése mentés előtt"
        desc: ""
      }
      {
        _id: 'editor.confirmCheckoutHeadRevision'
        title: "Confirm Checkout HEAD Revision"
        desc: "Show confirmation dialog when checking out the HEAD revision and discarding changes to current file since last commit."
      }
      {
        _id: 'editor.fontFamily'
        title: "Betűtípus"
        desc: "A szerkesztőben használt betűtípus neve."
      }
      {
        _id: 'editor.fontSize'
        title: "Betűméret"
        desc: "A szerkesztőben alkalmazott betűk magassága képontban."
      }
      {
        _id: 'editor.invisibles.cr'
        title: "Nem nyomtatható karakterek"
        desc: "Kocsi vissza karakterek (\\r avagy Microsoft-stílusú sorvégek) megjelenítése, ha a 
               <code>Nem nyomtatható karakterek mutatása</code> opció engedélyezve van."
      }
      {
        _id: 'editor.invisibles.eol'
        title: "Nem nyomtatható sorvég"
        desc: "Sorvégek karakteres (\\n) megjelenítése, ha a 
              <code>Nem nyomtatható karakterek mutatása</code> opció engedélyezve van."
      }
      {
        _id: 'editor.invisibles.space'
        title: "Nem nyomtatható szóköz"
        desc: "Sor elején vagy végén álló szóközök karakteres megjelenítése,
               ha a <code>Nem nyomtatható karakterek mutatása</code> opció engedélyezve van."
      }
      {
        _id: 'editor.invisibles.tab'
        title: "Nem nyomtatható Tab"
        desc: "Karakter (\\t) használata a kemény tabok megjelenítésre, ha a
               <code>Nem nyomtatható karakterek mutatása</code> opció engedélyezve van."
      }
      {
        _id: 'editor.lineHeight'
        title: "Sormagasság"
        desc: "A szerkesztő sorainak magassága, a betűmérethez viszonyítva."
      }
      {
        _id: 'editor.maxScreenLineLength'
        title: "Sorok maximális hossza a képernyőn"
        desc: "A szerkesztőablak légy sortörés kikényszerítése előtti maximális szélességének beállítása,
              karakter-számban megadva."
      }
      {
        _id: 'editor.nonWordCharacters'
        title: "Nem szóépítő karakterek"
        desc: "A szavak határait kijelölő nem szóépítő karakterek."
      }
      {
        _id: 'editor.preferredLineLength'
        title: "Preferált sorhosszúság"
        desc: "Identifies the length of a line which is used when wrapping text
               with the <code>Lágy sortörés a beállított sorhosszúságnál</code> setting
               enabled, in number of characters."
      }
      {
        _id: 'editor.scrollPastEnd'
        title: "Scroll Past End"
        desc: "Allow the editor to be scrolled past the end of the last line."
      }
      {
        _id: 'editor.scrollSensitivity'
        title: "Scroll Sensitivity"
        desc: "Determines how fast the editor scrolls when using a mouse or
               trackpad."
      }
      {
        _id: 'editor.showCursorOnSelection'
        title: "Kurzor mutatása a kijelölésben"
        desc: "Kurzor mutatása, amíg ka van jelölve."
      }
      {
        _id: 'editor.showIndentGuide'
        title: "Behúzás megjelenítése"
        desc: "Behúzás mértékének szemléltetése vezetővonalak segítségével."
      }
      {
        _id: 'editor.showInvisibles'
        title: "Nem nyomtatható karakterek mutatása"
        desc: "Nem nyomtatható (helyőrző) karakterek megjelenítése a képernyőn(tabulátorok, szóközök és új sor karakterek)."
      }
      {
        _id: 'editor.showLineNumbers'
        title: "Sorok számozása"
        desc: "A sorok számozásának megjelenítése a szerkesztőben."
      }
      {
        _id: 'editor.softTabs'
        title: "Lágy tabulátorok"
        desc: "Ha a <code>Tabulátor típusa</code> beállítás értéke \"automatikus\"
               és nem sikerül meghatározni a betöltött dokumentum tabulátor típusát, akkor
               mind a lágy, mind a kemény tabok használatát a tab billenytű lenyomásával."
      }
      {
        _id: 'editor.softWrap'
        title: "Lágy sortörés"
        desc: "A képernyő szélessét meghaladó sorok darabolása. Hogyha a
               <code>Lágy sortörés a beállított sorhosszúságnál</code> be van állítva, akkor
               a <code>Preferált sorhosszúság</code> beállításban megadott karakterszámnál leszenk a sortörések."
      }
      {
        _id: 'editor.softWrapAtPreferredLineLength'
        title: "Lágy sortörés a beállított sorhosszúságnál"
        desc: "Instead of wrapping lines to the window's width, wrap lines to
               the number of characters defined by the <code>Preferred Line
               Length</code> setting. This will only take effect when the soft
               wrap config setting is enabled globally or for the current
               language. <strong>Note:</strong> If you want to hide the wrap
               guide (the vertical line) you can disable the
               <code>wrap-guide</code> package."
      }
      {
        _id: 'editor.softWrapHangingIndent'
        title: "Behúzástól függő lágy sortörés"
        desc: "When soft wrap is enabled, defines length of additional
               indentation applied to wrapped lines, in number of characters."
      }
      {
        _id: 'editor.tabLength'
        title: "Tabulátor hossza"
        desc: "Egy tab hosszúsága szóközökben megadva."
      }
      {
        _id: 'editor.tabType'
        title: "Tabulátor típusa"
        desc: "A Tab billentyű lenyomására beszúrandó karakterek megatározása. Lehetséges
               értékek: \"automatikus\", \"lágy\" és \"kemény\". Ha a kiválasztott érték a \"lágy\" vagy a
               \"kemény\", akkor lágy (szóköz) vagy kemény (tab karakterek) tabulátorok lesznek alkalmazva.
               Ha az \"automatikus\" értékre esne a választás, akkor a szerkesztő maga határozza meg a betöltött
               dokumentumban eddig alkalmazott tabulátorok típusát. Ha ez nem sikerülne, akkor a 
               <code>Lágy sortörés</code> beállításban szereplő értéket alkalmazza."
      }
      {
        _id: 'editor.undoGroupingInterval'
        title: "Undo Grouping Interval"
        desc: "Time interval in milliseconds within which text editing
               operations will be grouped together in the undo history."
      }
      {
        _id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Betűméret növelése Ctrl+görgetés hatására"
        desc: "Változtassa meg a betűk méretét, a Ctrl billentyű lenyomása és az egérgörgő egyidejű fel/le görgetése hatására."
      }
      {
        _id: 'system.windows.file-handler'
        title: "Beállítás fájlkezelőként"
        desc: "Az Atom megjelenítése a \"Megnyitás ezzel\" alkalmazás listában, hogy könnyen hozzá lehessen társítani bizonyos fájlitípusokhoz."
      }
      {
        _id: 'system.windows.shell-menu-files'
        title: "Show in file context menus"
        desc: "Add \"Open with Atom\" to the File Explorer context menu for files."
      }
      {
        _id: 'system.windows.shell-menu-folders'
        title: "Show in folder context menus"
        desc: "Add \"Open with Atom\" to the File Explorer context menu for folders."
      }
    ]
  }
  system: {
    notes: "Ezek a beállítások határozzák meg az Atom integrációját az Ön operációs rendszerébe."
  }
  keymaps: {
    notes: {
      text1: "Lehetséges felülírni ezeket a gyorsbillentyűket, kimásolva "
      text2: "és beillesztve ezeket a "
      text3: "keymap.cson fájlba"
      text4: ""   # optional
      _template: "${text1} <icon /> ${text2} <a>${text3}</a> ${text4}"
    }
    "search-bar-placeholder": "Gyorsbillentyűk keresése"
    "table-header-keystroke": "Billentyű-kombináció"
    "table-header-command": "Parancs"
    "table-header-source": "Forrás"
    "table-header-selector": "Kijelölő"
  }
  packages: {
    searchBarText: 'Csomagok szűrése név szerint'
  }
  themes: {
    notes: {
      text1: "Itt lehetséges megváltoztatni az Atom kinézetét "
      text2: "a saját stíluslap módosításával"
      text3: ""   # optional
      _template: "${text1} <a>${text2}</a> ${text3}"
    }
    title1: "Felhasználói felület"
    description1: "A lapok, állapotsorok, panelek és lenyíló menük stílusa"
    title2: "Kód"
    description2: "Az Atomban szerkesztett kódok, szövegek stílusa"
    searchBarText: 'Sablonok szűrése név szerint'
  }
  updates: {
    "check-updates": "Frissítések keresése"
    "update-all": "Frissítse mindet"
    "checking-updates": "Frissítések keresése..."
    "all-updated-message": "Az összes telepített csomag frissítve!"
  }
  install: {
    notes: {
      text1: "Az "
      text2: " webhelyen publikált csomagok telepítése ide: "
      text3: ""   # optional
      _template: "${text1}<a>atom.io</a>${text2} /path/to/pkg ${text3}"
    }
    "searchbar-placeholder": "Csomagok keresése"
    "btn-packages": "Csomagok"
    "btn-themes": "Sablonok"
  }
  "control-btns":{
    install: "Telepítés"
    update: "Frissítés erre: "
    setting: "Beállítások"
    uninstall: "Eltávolítás"
    disable: "Tiltás"
    enable: "Engedélyezés"
  }
